### Series

In [1]:
import pandas as pd
data = [1,2,3,4,5]
series = pd.Series(data)
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [2]:
# Series is for 1D
data2 = [[1,2,3,4],[5,6,7,4]]
sr = pd.Series(data2)
sr

0    [1, 2, 3, 4]
1    [5, 6, 7, 4]
dtype: object

In [3]:
type(sr)

pandas.core.series.Series

In [4]:
# Changing index
ser = pd.Series(data, index=['a','b','c','d','e'])
ser

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
ser['a':'d']

a    1
b    2
c    3
d    4
dtype: int64

### DataFrame

In [6]:
df = pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4
4  5

In [9]:
df2 = pd.DataFrame(data2)
df2

   0  1  2  3
0  1  2  3  4
1  5  6  7  4

In [10]:
data3 = [[1,3,2,4,5,2],[4,6,5,3,2,4,5,6,4,3,7,8,9]]
df3 = pd.DataFrame(data3)
df3

   0  1  2  3  4  5    6    7    8    9   10   11   12
0  1  3  2  4  5  2  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  4  6  5  3  2  4  5.0  6.0  4.0  3.0  7.0  8.0  9.0

In [13]:
dict = {'a':[1,2,3,4],'b':[3,4,6,5]}
dfr = pd.DataFrame(dict)
dfr

   a  b
0  1  3
1  2  4
2  3  6
3  4  5

In [14]:
dict1 = {'fruit':["Mango", 'banana'], 'd':[1,2]}
df9= pd.DataFrame(dict1)
df9

    fruit  d
0   Mango  1
1  banana  2

In [24]:
import numpy as np
data = np.array([[[3,4,50],['a','g','f'],[[1,3,2],[4,7,5]]]])
df = pd.DataFrame({'A':data[:,0], 'B':data[:,1]})

In [25]:
df

            A          B
0  [3, 4, 50]  [a, g, f]

In [35]:
array = np.array([[1,2,3,4],['A','B','C','D']])
df4 = pd.DataFrame({'position':array[0],'grade':array[1]})
df4

  position grade
0        1     A
1        2     B
2        3     C
3        4     D

In [31]:
df4.rename(index = {0:"a",1:"b"}, inplace=True)

In [32]:
df4

  position grade
a        1     A
b        2     B
2        3     C
3        4     D

In [36]:
df4.rename(index = str, columns = {0:"A"}, inplace=True)
df4

  position grade
0        1     A
1        2     B
2        3     C
3        4     D

In [37]:
df4.columns

Index(['position', 'grade'], dtype='object')

In [40]:
df4.columns=['a','b']

In [41]:
df4

   a  b
0  1  A
1  2  B
2  3  C
3  4  D

In [47]:
colList = []
for col in df4.columns:
    if col=="a":
        col="b"
    colList.append(col)
df.columns=colList

In [48]:
df4

   a  b
0  1  A
1  2  B
2  3  C
3  4  D

In [57]:
info = pd.DataFrame({"Name":["Solo","Kimunyu","Joshua"],"Age":[10,34,23]})
info

      Name  Age
0     Solo   10
1  Kimunyu   34
2   Joshua   23

In [58]:
info2 = pd.DataFrame({"Name":["Moses","David","Solo"], "Major":["Physics","Geograpy",'Mathematics']})
info2

    Name        Major
0  Moses      Physics
1  David     Geograpy
2   Solo  Mathematics

###  Concatenation, Merge, Join
Concat is outer join

In [59]:
concat = pd.concat([info,info2]) #
concat

/root/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

    Age        Major     Name
0  10.0          NaN     Solo
1  34.0          NaN  Kimunyu
2  23.0          NaN   Joshua
0   NaN      Physics    Moses
1   NaN     Geograpy    David
2   NaN  Mathematics     Solo

In [63]:
pd.concat([info, info2], axis=1, join='outer')

      Name  Age   Name        Major
0     Solo   10  Moses      Physics
1  Kimunyu   34  David     Geograpy
2   Joshua   23   Solo  Mathematics

In [64]:
pd.concat([info, info2], axis=0, join='outer')

/root/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

    Age        Major     Name
0  10.0          NaN     Solo
1  34.0          NaN  Kimunyu
2  23.0          NaN   Joshua
0   NaN      Physics    Moses
1   NaN     Geograpy    David
2   NaN  Mathematics     Solo

In [65]:
pd.concat([info,info2], axis=1, join='inner')

      Name  Age   Name        Major
0     Solo   10  Moses      Physics
1  Kimunyu   34  David     Geograpy
2   Joshua   23   Solo  Mathematics

In [66]:
pd.concat([info,info2], axis=0, join='inner')

      Name
0     Solo
1  Kimunyu
2   Joshua
0    Moses
1    David
2     Solo

pd.concat([info, info2], axis=1, join='right')

In [78]:
print(pd.merge(info, info2, on=["Name"], how="inner"))

   Name  Age        Major
0  Solo   10  Mathematics

In [73]:
pd.merge(info, info2, how="right")

    Name   Age        Major
0   Solo  10.0  Mathematics
1  Moses   NaN      Physics
2  David   NaN     Geograpy

In [74]:
pd.merge(info, info2, how="left")

      Name  Age        Major
0     Solo   10  Mathematics
1  Kimunyu   34          NaN
2   Joshua   23          NaN

In [76]:
pd.merge(info, info2, how='outer')

      Name   Age        Major
0     Solo  10.0  Mathematics
1  Kimunyu  34.0          NaN
2   Joshua  23.0          NaN
3    Moses   NaN      Physics
4    David   NaN     Geograpy

In [77]:
pd.merge(info, info2)

   Name  Age        Major
0  Solo   10  Mathematics

## Data Analysis

In [2]:
titanic = pd.read_csv('/root/data/titanic/train.csv')

In [3]:
titanic.T

,0,1,2,3,4,5,6,7,8,9,...,881,882,883,884,885,886,887,888,889,890
PassengerId,1,2,3,4,5,6,7,8,9,10,...,882,883,884,885,886,887,888,889,890,891
Survived,0,1,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,1,0,1,0
Pclass,3,1,3,1,3,3,1,3,3,2,...,3,3,2,3,3,2,1,3,1,3
Name,"Braund, Mr. Owen Harris","Cumings, Mrs. John Bradley (Florence Briggs Th...","Heikkinen, Miss. Laina","Futrelle, Mrs. Jacques Heath (Lily May Peel)","Allen, Mr. William Henry","Moran, Mr. James","McCarthy, Mr. Timothy J","Palsson, Master. Gosta Leonard","Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)","Nasser, Mrs. Nicholas (Adele Achem)",...,"Markun, Mr. Johann","Dahlberg, Miss. Gerda Ulrika","Banfield, Mr. Frederick James","Sutehall, Mr. Henry Jr","Rice, Mrs. William (Margaret Norton)","Montvila, Rev. Juozas","Graham, Miss. Margaret Edith","Johnston, Miss. Catherine Helen ""Carrie""","Behr, Mr. Karl Howell","Dooley, Mr. Patrick"
Sex,male,female,female,female,male,male,male,male,female,female,...,male,female,male,male,female,male,female,female,male,male
Age,22,38,26,35,35,NaN,54,2,27,14,...,33,22,28,25,39,27,19,NaN,26,32
SibSp,1,1,0,1,0,0,0,3,0,1,...,0,0,0,0,0,0,0,1,0,0
Parch,0,0,0,0,0,0,0,1,2,0,...,0,0,0,0,5,0,0,2,0,0
Ticket,A/5 21171,PC 17599,STON/O2. 3101282,113803,373450,330877,17463,349909,347742,237736,...,349257,7552,C.A./SOTON 34068,SOTON/OQ 392076,382652,211536,112053,W./C. 6607,111369,370376
Fare,7.25,71.2833,7.925,53.1,8.05,8.4583,51.8625,21.075,11.1333,30.0708,...,7.8958,10.5167,10.5,7.05,29.125,13,30,23.45,30,7.75
Cabin,NaN,C85,NaN,C123,NaN,NaN,E46,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,B42,NaN,C148,NaN
Embarked,S,C,S,S,S,Q,S,S,S,C,...,S,S,S,S,Q,S,S,S,C,Q

In [94]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [81]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [82]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [84]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [88]:
titan = titanic.drop(['Cabin','Age'], axis=1)

In [90]:
titan.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Embarked'],
      dtype='object')

In [91]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [97]:
train = titanic.drop(['Cabin'], axis=1)

In [99]:
type(titanic)

pandas.core.frame.DataFrame

In [100]:
type(titanic.Cabin)

pandas.core.series.Series

In [101]:
titanic.shape

(891, 12)

In [102]:
titanic.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [103]:
titanic.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [105]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [107]:
titanic.mean()

PassengerId    446.000000
Survived         0.383838
Pclass           2.308642
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
dtype: float64

In [108]:
titanic.mode()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3.0,"Abbing, Mr. Anthony",male,24.0,0.0,0.0,1601,8.05,B96 B98,S
1,2,NaN,NaN,"Abbott, Mr. Rossmore Edward",NaN,NaN,NaN,NaN,347082,NaN,C23 C25 C27,NaN
2,3,NaN,NaN,"Abbott, Mrs. Stanton (Rosa Hunt)",NaN,NaN,NaN,NaN,CA. 2343,NaN,G6,NaN
3,4,NaN,NaN,"Abelson, Mr. Samuel",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,"Abelson, Mrs. Samuel (Hannah Wizosky)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,NaN,NaN,"de Mulder, Mr. Theodore",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
887,888,NaN,NaN,"de Pelsmaeker, Mr. Alfons",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
888,889,NaN,NaN,"del Carlo, Mr. Sebastiano",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
889,890,NaN,NaN,"van Billiard, Mr. Austin Blyler",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
890,891,NaN,NaN,"van Melkebeke, Mr. Philemon",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
titanic.median()

PassengerId    446.0000
Survived         0.0000
Pclass           3.0000
Age             28.0000
SibSp            0.0000
Parch            0.0000
Fare            14.4542
dtype: float64

In [111]:
titanic.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

### Cleaning

In [121]:
titanic2  = titanic.rename(columns={'sex': 'Gender'})

In [122]:
titanic2.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [123]:
titanic.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [126]:
titanic.Age = titanic.Age.fillna(titanic.Age.mean())

In [127]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [129]:
titanic = titanic.drop(['Cabin'], axis=1)

In [130]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked'],
      dtype='object')

In [131]:
titanic.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.033207,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.069809,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.331339,0.083081,0.018443,-0.549500
Age,0.033207,-0.069809,-0.331339,1.000000,-0.232625,-0.179191,0.091566
SibSp,-0.057527,-0.035322,0.083081,-0.232625,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.179191,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.091566,0.159651,0.216225,1.000000

In [133]:
df = titanic[['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked']].corr()

In [134]:
df

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.033207,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.069809,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.331339,0.083081,0.018443,-0.549500
Age,0.033207,-0.069809,-0.331339,1.000000,-0.232625,-0.179191,0.091566
SibSp,-0.057527,-0.035322,0.083081,-0.232625,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.179191,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.091566,0.159651,0.216225,1.000000

In [199]:
cars = pd.read_csv('/root/data/auto-mpg.csv')

In [136]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [137]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null float64
horsepower      398 non-null object
weight          398 non-null int64
acceleration    398 non-null float64
model year      398 non-null int64
origin          398 non-null int64
car name        398 non-null object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [138]:
diabetes = pd.read_csv('/root/data/diabetes.csv')

In [139]:
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [140]:
cars.mpg = cars.mpg.astype(float)

In [141]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null float64
horsepower      398 non-null object
weight          398 non-null int64
acceleration    398 non-null float64
model year      398 non-null int64
origin          398 non-null int64
car name        398 non-null object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

### Manipulation
#### Indexing

In [142]:
titanic.iloc[:,4]

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object

In [143]:
titanic.iloc[0:5,5]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [145]:
titanic.iloc[:,:]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,Q

In [146]:
titanic.iloc[0:,4:]

        Sex        Age  SibSp  Parch            Ticket     Fare Embarked
0      male  22.000000      1      0         A/5 21171   7.2500        S
1    female  38.000000      1      0          PC 17599  71.2833        C
2    female  26.000000      0      0  STON/O2. 3101282   7.9250        S
3    female  35.000000      1      0            113803  53.1000        S
4      male  35.000000      0      0            373450   8.0500        S
..      ...        ...    ...    ...               ...      ...      ...
886    male  27.000000      0      0            211536  13.0000        S
887  female  19.000000      0      0            112053  30.0000        S
888  female  29.699118      1      2        W./C. 6607  23.4500        S
889    male  26.000000      0      0            111369  30.0000        C
890    male  32.000000      0      0            370376   7.7500        Q

[891 rows x 7 columns]

In [147]:
titanic.iloc[0:,:]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,Q

In [148]:
titanic.iloc[0:,0:]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,Q

### Indexing by label

In [150]:
cars.loc[:,'mpg']

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [151]:
cars.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [152]:
cars.loc[:5,'weight':'car name']

   weight  acceleration  model year  origin                   car name
0    3504          12.0          70       1  chevrolet chevelle malibu
1    3693          11.5          70       1          buick skylark 320
2    3436          11.0          70       1         plymouth satellite
3    3433          12.0          70       1              amc rebel sst
4    3449          10.5          70       1                ford torino
5    4341          10.0          70       1           ford galaxie 500

In [153]:
cars.loc[10:,'mpg':'weight']

      mpg  cylinders  displacement horsepower  weight
10   15.0          8         383.0        170    3563
11   14.0          8         340.0        160    3609
12   15.0          8         400.0        150    3761
13   14.0          8         455.0        225    3086
14   24.0          4         113.0         95    2372
..    ...        ...           ...        ...     ...
393  27.0          4         140.0         86    2790
394  44.0          4          97.0         52    2130
395  32.0          4         135.0         84    2295
396  28.0          4         120.0         79    2625
397  31.0          4         119.0         82    2720

[388 rows x 5 columns]

### Sorting and Filtering

In [155]:
cars['cylinders'] = 1

In [156]:
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,1,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,1,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,1,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,1,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,1,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,1,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,1,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,1,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,1,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,1,119.0,82,2720,19.4,82,1,chevy s-10

In [157]:
# Double up records in cylinders using lamda dxn
f = lambda x: x*2
cars['cylinders'] = cars['cylinders'].apply(f)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,2,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,2,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,2,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,2,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,2,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,2,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,2,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,2,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,2,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,2,119.0,82,2720,19.4,82,1,chevy s-10

In [159]:
cars[cars['model year'] == 70]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,2,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,2,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,2,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,2,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,2,302.0,140,3449,10.5,70,1,ford torino
5,15.0,2,429.0,198,4341,10.0,70,1,ford galaxie 500
6,14.0,2,454.0,220,4354,9.0,70,1,chevrolet impala
7,14.0,2,440.0,215,4312,8.5,70,1,plymouth fury iii
8,14.0,2,455.0,225,4425,10.0,70,1,pontiac catalina
9,15.0,2,390.0,190,3850,8.5,70,1,amc ambassador dpl
10,15.0,2,383.0,170,3563,10.0,70,1,dodge challenger se
11,14.0,2,340.0,160,3609,8.0,70,1,plymouth 'cuda 340
12,15.0,2,400.0,150,3761,9.5,70,1,chevrolet monte carlo
13,14.0,2,455.0,225,3086,10.0,70,1,buick estate wagon (sw)
14,24.0,2,113.0,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,2,198.0,95,2833,15.5,70,1,plymouth duster
16,18.0,2,199.0,97,2774,15.5,70,1,amc hornet
17,21.0,2,200.0,85,2587,16.0,70,1,ford maverick
18,27.0,2,97.0,88,2130,14.5,70,3,datsun pl510
19,26.0,2,97.0,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,2,110.0,87,2672,17.5,70,2,peugeot 504
21,24.0,2,107.0,90,2430,14.5,70,2,audi 100 ls
22,25.0,2,104.0,95,2375,17.5,70,2,saab 99e
23,26.0,2,121.0,113,2234,12.5,70,2,bmw 2002
24,21.0,2,199.0,90,2648,15.0,70,1,amc gremlin
25,10.0,2,360.0,215,4615,14.0,70,1,ford f250
26,10.0,2,307.0,200,4376,15.0,70,1,chevy c20
27,11.0,2,318.0,210,4382,13.5,70,1,dodge d200
28,9.0,2,304.0,193,4732,18.5,70,1,hi 1200d

In [161]:
cars.sort_values(by='displacement')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
117,29.0,2,68.0,49,1867,19.5,73,2,fiat 128
71,19.0,2,70.0,97,2330,13.5,72,3,mazda rx2 coupe
111,18.0,2,70.0,90,2124,13.5,73,3,maxda rx3
334,23.7,2,70.0,100,2420,12.5,80,3,mazda rx-7 gs
131,32.0,2,71.0,65,1836,21.0,74,3,toyota corolla 1200
...,...,...,...,...,...,...,...,...,...
94,13.0,2,440.0,215,4735,11.0,73,1,chrysler new yorker brougham
6,14.0,2,454.0,220,4354,9.0,70,1,chevrolet impala
95,12.0,2,455.0,225,4951,11.0,73,1,buick electra 225 custom
8,14.0,2,455.0,225,4425,10.0,70,1,pontiac catalina
13,14.0,2,455.0,225,3086,10.0,70,1,buick estate wagon (sw)

In [162]:
cars['model year'] >73

0      False
1      False
2      False
3      False
4      False
       ...
393     True
394     True
395     True
396     True
397     True
Name: model year, Length: 398, dtype: bool

In [179]:
filter1 = cars['acceleration'] >19.5
# Apply filter to dataframe
filtered_row = cars[filter1]
filtered_row

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
19,26.0,2,97.0,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
56,26.0,2,91.0,70,1955,20.5,71,1,plymouth cricket
59,23.0,2,97.0,54,2254,23.5,72,2,volkswagen type 3
102,26.0,2,97.0,46,1950,21.0,73,2,volkswagen super beetle
131,32.0,2,71.0,65,1836,21.0,74,3,toyota corolla 1200
154,15.0,2,250.0,72,3432,21.0,75,1,mercury monarch
160,17.0,2,231.0,110,3907,21.0,75,1,buick century
195,29.0,2,85.0,52,2035,22.2,76,1,chevrolet chevette
196,24.5,2,98.0,60,2164,22.1,76,1,chevrolet woody
200,18.0,2,250.0,78,3574,21.0,76,1,ford granada ghia
209,19.0,2,120.0,88,3270,21.9,76,2,peugeot 504
244,43.1,2,90.0,48,1985,21.5,78,2,volkswagen rabbit custom diesel
297,25.4,2,183.0,77,3530,20.1,79,2,mercedes benz 300d
299,27.2,2,141.0,71,3190,24.8,79,2,peugeot 504
300,23.9,2,260.0,90,3420,22.2,79,1,oldsmobile cutlass salon brougham
315,24.3,2,151.0,90,3003,20.1,80,1,amc concord
325,44.3,2,90.0,48,2085,21.7,80,2,vw rabbit c (diesel)
326,43.4,2,90.0,48,2335,23.7,80,2,vw dasher (diesel)
327,36.4,2,121.0,67,2950,19.9,80,2,audi 5000s (diesel)
328,30.0,2,146.0,67,3250,21.8,80,2,mercedes-benz 240d
352,29.9,2,98.0,65,2380,20.7,81,1,ford escort 2h
359,28.1,2,141.0,80,3230,20.4,81,2,peugeot 505s turbo diesel
360,30.7,2,145.0,76,3160,19.6,81,2,volvo diesel
367,28.0,2,112.0,88,2605,19.6,82,1,chevrolet cavalier
374,23.0,2,151.0,?,3035,20.5,82,1,amc concord dl
394,44.0,2,97.0,52,2130,24.6,82,2,vw pickup

In [164]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,Q

In [168]:
titanic = titanic.drop(['PassengerId','Name'], axis=1)

In [169]:
titanic

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,0,3,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,211536,13.0000,NaN,S
887,1,1,female,19.0,0,0,112053,30.0000,B42,S
888,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,male,26.0,0,0,111369,30.0000,C148,C
890,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [171]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(4)
memory usage: 69.7+ KB

In [173]:
#titanic['Sex'] = titanic.Sex.astype('float64')

In [175]:
filter2 = (titanic['Age'] > 28) & (titanic['Fare'] < 9)
titanic_filter = titanic[filter2]
titanic_filter

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
4,0,3,male,35.0,0,0,373450,8.0500,NaN,S
57,0,3,male,28.5,0,0,2697,7.2292,NaN,C
90,0,3,male,29.0,0,0,343276,8.0500,NaN,S
94,0,3,male,59.0,0,0,364500,7.2500,NaN,S
103,0,3,male,33.0,0,0,7540,8.6542,NaN,S
...,...,...,...,...,...,...,...,...,...,...
847,0,3,male,35.0,0,0,349213,7.8958,NaN,C
851,0,3,male,74.0,0,0,347060,7.7750,NaN,S
872,0,1,male,33.0,0,0,695,5.0000,B51 B53 B55,S
881,0,3,male,33.0,0,0,349257,7.8958,NaN,S
890,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

df = pd.read_csv('pokeman.csv', delimeter='\t')

In [186]:
cars[['mpg','cylinders']][0:10]

    mpg  cylinders
0  18.0          2
1  15.0          2
2  18.0          2
3  16.0          2
4  17.0          2
5  15.0          2
6  14.0          2
7  14.0          2
8  14.0          2
9  15.0          2

In [187]:
cars.iloc[1]

mpg                            15
cylinders                       2
displacement                  350
horsepower                    165
weight                       3693
acceleration                 11.5
model year                     70
origin                          1
car name        buick skylark 320
Name: 1, dtype: object

In [188]:
cars.iloc[0:5]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,2,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,2,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,2,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,2,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,2,302.0,140,3449,10.5,70,1,ford torino

In [190]:
cars.iloc[2,4] # read specific location

3436

In [192]:
for index, row in cars.iterrows():
    print(index,row)

0 mpg                                    18
cylinders                               2
displacement                          307
horsepower                            130
weight                               3504
acceleration                           12
model year                             70
origin                                  1
car name        chevrolet chevelle malibu
Name: 0, dtype: object
1 mpg                            15
cylinders                       2
displacement                  350
horsepower                    165
weight                       3693
acceleration                 11.5
model year                     70
origin                          1
car name        buick skylark 320
Name: 1, dtype: object
2 mpg                             18
cylinders                        2
displacement                   318
horsepower                     150
weight                        3436
acceleration                    11
model year                      70
origin                           1
car name        plymouth satellite
Name: 2, dtype: object
3 mpg                        16
cylinders                   2
displacement              304
horsepower                150
weight                   3433
acceleration               12
model year                 70
origin                      1
car name        amc rebel sst
Name: 3, dtype: object
4 mpg                      17
cylinders                 2
displacement            302
horsepower              140
weight                 3449
acceleration           10.5
model year               70
origin                    1
car name        ford torino
Name: 4, dtype: object
5 mpg                           15
cylinders                      2
displacement                 429
horsepower                   198
weight                      4341
acceleration                  10
model year                    70
origin                         1
car name        ford galaxie 500
Name: 5, dtype: object
6 mpg                           14
cylinders                      2
displacement                 454
horsepower                   220
weight                      4354
acceleration                   9
model year                    70
origin                         1
car name        chevrolet impala
Name: 6, dtype: object
7 mpg                            14
cylinders                       2
displacement                  440
horsepower                    215
weight                       4312
acceleration                  8.5
model year                     70
origin                          1
car name        plymouth fury iii
Name: 7, dtype: object
8 mpg                           14
cylinders                      2
displacement                 455
horsepower                   225
weight                      4425
acceleration                  10
model year                    70
origin                         1
car name        pontiac catalina
Name: 8, dtype: object
9 mpg                             15
cylinders                        2
displacement                   390
horsepower                     190
weight                        3850
acceleration                   8.5
model year                      70
origin                           1
car name        amc ambassador dpl
Name: 9, dtype: object
10 mpg                              15
cylinders                         2
displacement                    383
horsepower                      170
weight                         3563
acceleration                     10
model year                       70
origin                            1
car name        dodge challenger se
Name: 10, dtype: object
11 mpg                             14
cylinders                        2
displacement                   340
horsepower                     160
weight                        3609
acceleration                     8
model year                      70
origin                           1
car name        plymouth 'cuda 340
Name: 11, dtype: object
12 mpg                                15
cylinders                           2
displacement                      400
horsepower                        150
weight                           3761
acceleration                      9.5
model year                         70
origin                              1
car name        chevrolet monte carlo
Name: 12, dtype: object
13 mpg                                  14
cylinders                             2
displacement                        455
horsepower                          225
weight                             3086
acceleration                         10
model year                           70
origin                                1
car name        buick estate wagon (sw)
Name: 13, dtype: object
14 mpg                                24
cylinders                           2
displacement                      113
horsepower                         95
weight                           2372
acceleration                       15
model year                         70
origin                              3
car name        toyota corona mark ii
Name: 14, dtype: object
15 mpg                          22
cylinders                     2
displacement                198
horsepower                   95
weight                     2833
acceleration               15.5
model year                   70
origin                        1
car name        plymouth duster
Name: 15, dtype: object
16 mpg                     18
cylinders                2
displacement           199
horsepower              97
weight                2774
acceleration          15.5
model year              70
origin                   1
car name        amc hornet
Name: 16, dtype: object
17 mpg                        21
cylinders                   2
displacement              200
horsepower                 85
weight                   2587
acceleration               16
model year                 70
origin                      1
car name        ford maverick
Name: 17, dtype: object
18 mpg                       27
cylinders                  2
displacement              97
horsepower                88
weight                  2130
acceleration            14.5
model year                70
origin                     3
car name        datsun pl510
Name: 18, dtype: object
19 mpg                                       26
cylinders                                  2
displacement                              97
horsepower                                46
weight                                  1835
acceleration                            20.5
model year                                70
origin                                     2
car name        volkswagen 1131 deluxe sedan
Name: 19, dtype: object
20 mpg                      25
cylinders                 2
displacement            110
horsepower               87
weight                 2672
acceleration           17.5
model year               70
origin                    2
car name        peugeot 504
Name: 20, dtype: object
21 mpg                      24
cylinders                 2
displacement            107
horsepower               90
weight                 2430
acceleration           14.5
model year               70
origin                    2
car name        audi 100 ls
Name: 21, dtype: object
22 mpg                   25
cylinders              2
displacement         104
horsepower            95
weight              2375
acceleration        17.5
model year            70
origin                 2
car name        saab 99e
Name: 22, dtype: object
23 mpg                   26
cylinders              2
displacement         121
horsepower           113
weight              2234
acceleration        12.5
model year            70
origin                 2
car name        bmw 2002
Name: 23, dtype: object
24 mpg                      21
cylinders                 2
displacement            199
horsepower               90
weight                 2648
acceleration             15
model year               70
origin                    1
car name        amc gremlin
Name: 24, dtype: object
25 mpg                    10
cylinders               2
displacement          360
horsepower            215
weight               4615
acceleration           14
model year             70
origin                  1
car name        ford f250
Name: 25, dtype: object
26 mpg                    10
cylinders               2
displacement          307
horsepower            200
weight               4376
acceleration           15
model year             70
origin                  1
car name        chevy c20
Name: 26, dtype: object
27 mpg                     11
cylinders                2
displacement           318
horsepower             210
weight                4382
acceleration          13.5
model year              70
origin                   1
car name        dodge d200
Name: 27, dtype: object
28 mpg                    9
cylinders              2
displacement         304
horsepower           193
weight              4732
acceleration        18.5
model year            70
origin                 1
car name        hi 1200d
Name: 28, dtype: object
29 mpg                       27
cylinders                  2
displacement              97
horsepower                88
weight                  2130
acceleration            14.5
model year                71
origin                     3
car name        datsun pl510
Name: 29, dtype: object
30 mpg                              28
cylinders                         2
displacement                    140
horsepower                       90
weight                         2264
acceleration                   15.5
model year                       71
origin                            1
car name        chevrolet vega 2300
Name: 30, dtype: object
31 mpg                        25
cylinders                   2
displacement              113
horsepower                 95
weight                   2228
acceleration               14
model year                 71
origin                      3
car name        toyota corona
Name: 31, dtype: object
32 mpg                     25
cylinders                2
displacement            98
horsepower               ?
weight                2046
acceleration            19
model year              71
origin                   1
car name        ford pinto
Name: 32, dtype: object
33 mpg                      19
cylinders                 2
displacement            232
horsepower              100
weight                 2634
acceleration             13
model year               71
origin                    1
car name        amc gremlin
Name: 33, dtype: object
34 mpg                                    16
cylinders                               2
displacement                          225
horsepower                            105
weight                               3439
acceleration                         15.5
model year                             71
origin                                  1
car name        plymouth satellite custom
Name: 34, dtype: object
35 mpg                                    17
cylinders                               2
displacement                          250
horsepower                            100
weight                               3329
acceleration                         15.5
model year                             71
origin                                  1
car name        chevrolet chevelle malibu
Name: 35, dtype: object
36 mpg                          19
cylinders                     2
displacement                250
horsepower                   88
weight                     3302
acceleration               15.5
model year                   71
origin                        1
car name        ford torino 500
Name: 36, dtype: object
37 mpg                      18
cylinders                 2
displacement            232
horsepower              100
weight                 3288
acceleration           15.5
model year               71
origin                    1
car name        amc matador
Name: 37, dtype: object
38 mpg                           14
cylinders                      2
displacement                 350
horsepower                   165
weight                      4209
acceleration                  12
model year                    71
origin                         1
car name        chevrolet impala
Name: 38, dtype: object
39 mpg                                    14
cylinders                               2
displacement                          400
horsepower                            175
weight                               4464
acceleration                         11.5
model year                             71
origin                                  1
car name        pontiac catalina brougham
Name: 39, dtype: object
40 mpg                           14
cylinders                      2
displacement                 351
horsepower                   153
weight                      4154
acceleration                13.5
model year                    71
origin                         1
car name        ford galaxie 500
Name: 40, dtype: object
41 mpg                            14
cylinders                       2
displacement                  318
horsepower                    150
weight                       4096
acceleration                   13
model year                     71
origin                          1
car name        plymouth fury iii
Name: 41, dtype: object
42 mpg                            12
cylinders                       2
displacement                  383
horsepower                    180
weight                       4955
acceleration                 11.5
model year                     71
origin                          1
car name        dodge monaco (sw)
Name: 42, dtype: object
43 mpg                                   13
cylinders                              2
displacement                         400
horsepower                           170
weight                              4746
acceleration                          12
model year                            71
origin                                 1
car name        ford country squire (sw)
Name: 43, dtype: object
44 mpg                              13
cylinders                         2
displacement                    400
horsepower                      175
weight                         5140
acceleration                     12
model year                       71
origin                            1
car name        pontiac safari (sw)
Name: 44, dtype: object
45 mpg                                     18
cylinders                                2
displacement                           258
horsepower                             110
weight                                2962
acceleration                          13.5
model year                              71
origin                                   1
car name        amc hornet sportabout (sw)
Name: 45, dtype: object
46 mpg                              22
cylinders                         2
displacement                    140
horsepower                       72
weight                         2408
acceleration                     19
model year                       71
origin                            1
car name        chevrolet vega (sw)
Name: 46, dtype: object
47 mpg                           19
cylinders                      2
displacement                 250
horsepower                   100
weight                      3282
acceleration                  15
model year                    71
origin                         1
car name        pontiac firebird
Name: 47, dtype: object
48 mpg                       18
cylinders                  2
displacement             250
horsepower                88
weight                  3139
acceleration            14.5
model year                71
origin                     1
car name        ford mustang
Name: 48, dtype: object
49 mpg                             23
cylinders                        2
displacement                   122
horsepower                      86
weight                        2220
acceleration                    14
model year                      71
origin                           1
car name        mercury capri 2000
Name: 49, dtype: object
50 mpg                    28
cylinders               2
displacement          116
horsepower             90
weight               2123
acceleration           14
model year             71
origin                  2
car name        opel 1900
Name: 50, dtype: object
51 mpg                      30
cylinders                 2
displacement             79
horsepower               70
weight                 2074
acceleration           19.5
model year               71
origin                    2
car name        peugeot 304
Name: 51, dtype: object
52 mpg                    30
cylinders               2
displacement           88
horsepower             76
weight               2065
acceleration         14.5
model year             71
origin                  2
car name        fiat 124b
Name: 52, dtype: object
53 mpg                              31
cylinders                         2
displacement                     71
horsepower                       65
weight                         1773
acceleration                     19
model year                       71
origin                            3
car name        toyota corolla 1200
Name: 53, dtype: object
54 mpg                      35
cylinders                 2
displacement             72
horsepower               69
weight                 1613
acceleration             18
model year               71
origin                    3
car name        datsun 1200
Name: 54, dtype: object
55 mpg                               27
cylinders                          2
displacement                      97
horsepower                        60
weight                          1834
acceleration                      19
model year                        71
origin                             2
car name        volkswagen model 111
Name: 55, dtype: object
56 mpg                           26
cylinders                      2
displacement                  91
horsepower                    70
weight                      1955
acceleration                20.5
model year                    71
origin                         1
car name        plymouth cricket
Name: 56, dtype: object

57 mpg                                24
cylinders                           2
displacement                      113
horsepower                         95
weight                           2278
acceleration                     15.5
model year                         72
origin                              3
car name        toyota corona hardtop
Name: 57, dtype: object
58 mpg                             25
cylinders                        2
displacement                  97.5
horsepower                      80
weight                        2126
acceleration                    17
model year                      72
origin                           1
car name        dodge colt hardtop
Name: 58, dtype: object
59 mpg                            23
cylinders                       2
displacement                   97
horsepower                     54
weight                       2254
acceleration                 23.5
model year                     72
origin                          2
car name        volkswagen type 3
Name: 59, dtype: object
60 mpg                         20
cylinders                    2
displacement               140
horsepower                  90
weight                    2408
acceleration              19.5
model year                  72
origin                       1
car name        chevrolet vega
Name: 60, dtype: object
61 mpg                              21
cylinders                         2
displacement                    122
horsepower                       86
weight                         2226
acceleration                   16.5
model year                       72
origin                            1
car name        ford pinto runabout
Name: 61, dtype: object
62 mpg                           13
cylinders                      2
displacement                 350
horsepower                   165
weight                      4274
acceleration                  12
model year                    72
origin                         1
car name        chevrolet impala
Name: 62, dtype: object
63 mpg                           14
cylinders                      2
displacement                 400
horsepower                   175
weight                      4385
acceleration                  12
model year                    72
origin                         1
car name        pontiac catalina
Name: 63, dtype: object
64 mpg                            15
cylinders                       2
displacement                  318
horsepower                    150
weight                       4135
acceleration                 13.5
model year                     72
origin                          1
car name        plymouth fury iii
Name: 64, dtype: object
65 mpg                           14
cylinders                      2
displacement                 351
horsepower                   153
weight                      4129
acceleration                  13
model year                    72
origin                         1
car name        ford galaxie 500
Name: 65, dtype: object
66 mpg                             17
cylinders                        2
displacement                   304
horsepower                     150
weight                        3672
acceleration                  11.5
model year                      72
origin                           1
car name        amc ambassador sst
Name: 66, dtype: object
67 mpg                          11
cylinders                     2
displacement                429
horsepower                  208
weight                     4633
acceleration                 11
model year                   72
origin                        1
car name        mercury marquis
Name: 67, dtype: object
68 mpg                               13
cylinders                          2
displacement                     350
horsepower                       155
weight                          4502
acceleration                    13.5
model year                        72
origin                             1
car name        buick lesabre custom
Name: 68, dtype: object
69 mpg                                     12
cylinders                                2
displacement                           350
horsepower                             160
weight                                4456
acceleration                          13.5
model year                              72
origin                                   1
car name        oldsmobile delta 88 royale
Name: 69, dtype: object
70 mpg                                 13
cylinders                            2
displacement                       400
horsepower                         190
weight                            4422
acceleration                      12.5
model year                          72
origin                               1
car name        chrysler newport royal
Name: 70, dtype: object
71 mpg                          19
cylinders                     2
displacement                 70
horsepower                   97
weight                     2330
acceleration               13.5
model year                   72
origin                        3
car name        mazda rx2 coupe
Name: 71, dtype: object
72 mpg                           15
cylinders                      2
displacement                 304
horsepower                   150
weight                      3892
acceleration                12.5
model year                    72
origin                         1
car name        amc matador (sw)
Name: 72, dtype: object
73 mpg                                           13
cylinders                                      2
displacement                                 307
horsepower                                   130
weight                                      4098
acceleration                                  14
model year                                    72
origin                                         1
car name        chevrolet chevelle concours (sw)
Name: 73, dtype: object
74 mpg                                13
cylinders                           2
displacement                      302
horsepower                        140
weight                           4294
acceleration                       16
model year                         72
origin                              1
car name        ford gran torino (sw)
Name: 74, dtype: object
75 mpg                                         14
cylinders                                    2
displacement                               318
horsepower                                 150
weight                                    4077
acceleration                                14
model year                                  72
origin                                       1
car name        plymouth satellite custom (sw)
Name: 75, dtype: object
76 mpg                          18
cylinders                     2
displacement                121
horsepower                  112
weight                     2933
acceleration               14.5
model year                   72
origin                        2
car name        volvo 145e (sw)
Name: 76, dtype: object
77 mpg                              22
cylinders                         2
displacement                    121
horsepower                       76
weight                         2511
acceleration                     18
model year                       72
origin                            2
car name        volkswagen 411 (sw)
Name: 77, dtype: object
78 mpg                           21
cylinders                      2
displacement                 120
horsepower                    87
weight                      2979
acceleration                19.5
model year                    72
origin                         2
car name        peugeot 504 (sw)
Name: 78, dtype: object
79 mpg                          26
cylinders                     2
displacement                 96
horsepower                   69
weight                     2189
acceleration                 18
model year                   72
origin                        2
car name        renault 12 (sw)
Name: 79, dtype: object
80 mpg                          22
cylinders                     2
displacement                122
horsepower                   86
weight                     2395
acceleration                 16
model year                   72
origin                        1
car name        ford pinto (sw)
Name: 80, dtype: object
81 mpg                          28
cylinders                     2
displacement                 97
horsepower                   92
weight                     2288
acceleration                 17
model year                   72
origin                        3
car name        datsun 510 (sw)
Name: 81, dtype: object
82 mpg                                      23
cylinders                                 2
displacement                            120
horsepower                               97
weight                                 2506
acceleration                           14.5
model year                               72
origin                                    3
car name        toyouta corona mark ii (sw)
Name: 82, dtype: object
83 mpg                          28
cylinders                     2
displacement                 98
horsepower                   80
weight                     2164
acceleration                 15
model year                   72
origin                        1
car name        dodge colt (sw)
Name: 83, dtype: object
84 mpg                                   27
cylinders                              2
displacement                          97
horsepower                            88
weight                              2100
acceleration                        16.5
model year                            72
origin                                 3
car name        toyota corolla 1600 (sw)
Name: 84, dtype: object
85 mpg                            13
cylinders                       2
displacement                  350
horsepower                    175
weight                       4100
acceleration                   13
model year                     73
origin                          1
car name        buick century 350
Name: 85, dtype: object
86 mpg                      14
cylinders                 2
displacement            304
horsepower              150
weight                 3672
acceleration           11.5
model year               73
origin                    1
car name        amc matador
Name: 86, dtype: object
87 mpg                           13
cylinders                      2
displacement                 350
horsepower                   145
weight                      3988
acceleration                  13
model year                    73
origin                         1
car name        chevrolet malibu
Name: 87, dtype: object
88 mpg                           14
cylinders                      2
displacement                 302
horsepower                   137
weight                      4042
acceleration                14.5
model year                    73
origin                         1
car name        ford gran torino
Name: 88, dtype: object
89 mpg                               15
cylinders                          2
displacement                     318
horsepower                       150
weight                          3777
acceleration                    12.5
model year                        73
origin                             1
car name        dodge coronet custom
Name: 89, dtype: object
90 mpg                                   12
cylinders                              2
displacement                         429
horsepower                           198
weight                              4952
acceleration                        11.5
model year                            73
origin                                 1
car name        mercury marquis brougham
Name: 90, dtype: object
91 mpg                                    13
cylinders                               2
displacement                          400
horsepower                            150
weight                               4464
acceleration                           12
model year                             73
origin                                  1
car name        chevrolet caprice classic
Name: 91, dtype: object
92 mpg                   13
cylinders              2
displacement         351
horsepower           158
weight              4363
acceleration          13
model year            73
origin                 1
car name        ford ltd
Name: 92, dtype: object
93 mpg                                   14
cylinders                              2
displacement                         318
horsepower                           150
weight                              4237
acceleration                        14.5
model year                            73
origin                                 1
car name        plymouth fury gran sedan
Name: 93, dtype: object
94 mpg                                       13
cylinders                                  2
displacement                             440
horsepower                               215
weight                                  4735
acceleration                              11
model year                                73
origin                                     1
car name        chrysler new yorker brougham
Name: 94, dtype: object
95 mpg                                   12
cylinders                              2
displacement                         455
horsepower                           225
weight                              4951
acceleration                          11
model year                            73
origin                                 1
car name        buick electra 225 custom
Name: 95, dtype: object
96 mpg                                  13
cylinders                             2
displacement                        360
horsepower                          175
weight                             3821
acceleration                         11
model year                           73
origin                                1
car name        amc ambassador brougham
Name: 96, dtype: object
97 mpg                           18
cylinders                      2
displacement                 225
horsepower                   105
weight                      3121
acceleration                16.5
model year                    73
origin                         1
car name        plymouth valiant
Name: 97, dtype: object
98 mpg                                16
cylinders                           2
displacement                      250
horsepower                        100
weight                           3278
acceleration                       18
model year                         73
origin                              1
car name        chevrolet nova custom
Name: 98, dtype: object
99 mpg                     18
cylinders                2
displacement           232
horsepower             100
weight                2945
acceleration            16
model year              73
origin                   1
car name        amc hornet
Name: 99, dtype: object
100 mpg                        18
cylinders                   2
displacement              250
horsepower                 88
weight                   3021
acceleration             16.5
model year                 73
origin                      1
car name        ford maverick
Name: 100, dtype: object
101 mpg                          23
cylinders                     2
displacement                198
horsepower                   95
weight                     2904
acceleration                 16
model year                   73
origin                        1
car name        plymouth duster
Name: 101, dtype: object
102 mpg                                  26
cylinders                             2
displacement                         97
horsepower                           46
weight                             1950
acceleration                         21
model year                           73
origin                                2
car name        volkswagen super beetle
Name: 102, dtype: object
103 mpg                           11
cylinders                      2
displacement                 400
horsepower                   150
weight                      4997
acceleration                  14
model year                    73
origin                         1
car name        chevrolet impala
Name: 103, dtype: object
104 mpg                       12
cylinders                  2
displacement             400
horsepower               167
weight                  4906
acceleration            12.5
model year                73
origin                     1
car name        ford country
Name: 104, dtype: object
105 mpg                                 13
cylinders                            2
displacement                       360
horsepower                         170
weight                            4654
acceleration                        13
model year                          73
origin                               1
car name        plymouth custom suburb
Name: 105, dtype: object
106 mpg                                   12
cylinders                              2
displacement                         350
horsepower                           180
weight                              4499
acceleration                        12.5
model year                            73
origin                                 1
car name        oldsmobile vista cruiser
Name: 106, dtype: object
107 mpg                      18
cylinders                 2
displacement            232
horsepower              100
weight                 2789
acceleration             15
model year               73
origin                    1
car name        amc gremlin
Name: 107, dtype: object
108 mpg                        20
cylinders                   2
displacement               97
horsepower                 88
weight                   2279
acceleration               19
model year                 73
origin                      3
car name        toyota carina
Name: 108, dtype: object
109 mpg                         21
cylinders                    2
displacement               140
horsepower                  72
weight                    2401
acceleration              19.5
model year                  73
origin                       1
car name        chevrolet vega
Name: 109, dtype: object
110 mpg                     22
cylinders                2
displacement           108
horsepower              94
weight                2379
acceleration          16.5
model year              73
origin                   3
car name        datsun 610

Name: 110, dtype: object
111 mpg                    18
cylinders               2
displacement           70
horsepower             90
weight               2124
acceleration         13.5
model year             73
origin                  3
car name        maxda rx3
Name: 111, dtype: object
112 mpg                     19
cylinders                2
displacement           122
horsepower              85
weight                2310
acceleration          18.5
model year              73
origin                   1
car name        ford pinto
Name: 112, dtype: object
113 mpg                           21
cylinders                      2
displacement                 155
horsepower                   107
weight                      2472
acceleration                  14
model year                    73
origin                         1
car name        mercury capri v6
Name: 113, dtype: object
114 mpg                               26
cylinders                          2
displacement                      98
horsepower                        90
weight                          2265
acceleration                    15.5
model year                        73
origin                             2
car name        fiat 124 sport coupe
Name: 114, dtype: object
115 mpg                                  15
cylinders                             2
displacement                        350
horsepower                          145
weight                             4082
acceleration                         13
model year                           73
origin                                1
car name        chevrolet monte carlo s
Name: 115, dtype: object
116 mpg                             16
cylinders                        2
displacement                   400
horsepower                     230
weight                        4278
acceleration                   9.5
model year                      73
origin                           1
car name        pontiac grand prix
Name: 116, dtype: object
117 mpg                   29
cylinders              2
displacement          68
horsepower            49
weight              1867
acceleration        19.5
model year            73
origin                 2
car name        fiat 128
Name: 117, dtype: object
118 mpg                     24
cylinders                2
displacement           116
horsepower              75
weight                2158
acceleration          15.5
model year              73
origin                   2
car name        opel manta
Name: 118, dtype: object
119 mpg                     20
cylinders                2
displacement           114
horsepower              91
weight                2582
acceleration            14
model year              73
origin                   2
car name        audi 100ls
Name: 119, dtype: object
120 mpg                      19
cylinders                 2
displacement            121
horsepower              112
weight                 2868
acceleration           15.5
model year               73
origin                    2
car name        volvo 144ea
Name: 120, dtype: object
121 mpg                            15
cylinders                       2
displacement                  318
horsepower                    150
weight                       3399
acceleration                   11
model year                     73
origin                          1
car name        dodge dart custom
Name: 121, dtype: object
122 mpg                    24
cylinders               2
displacement          121
horsepower            110
weight               2660
acceleration           14
model year             73
origin                  2
car name        saab 99le
Name: 122, dtype: object
123 mpg                         20
cylinders                    2
displacement               156
horsepower                 122
weight                    2807
acceleration              13.5
model year                  73
origin                       3
car name        toyota mark ii
Name: 123, dtype: object
124 mpg                           11
cylinders                      2
displacement                 350
horsepower                   180
weight                      3664
acceleration                  11
model year                    73
origin                         1
car name        oldsmobile omega
Name: 124, dtype: object
125 mpg                          20
cylinders                     2
displacement                198
horsepower                   95
weight                     3102
acceleration               16.5
model year                   74
origin                        1
car name        plymouth duster
Name: 125, dtype: object
126 mpg                        21
cylinders                   2
displacement              200
horsepower                  ?
weight                   2875
acceleration               17
model year                 74
origin                      1
car name        ford maverick
Name: 126, dtype: object
127 mpg                     19
cylinders                2
displacement           232
horsepower             100
weight                2901
acceleration            16
model year              74
origin                   1
car name        amc hornet
Name: 127, dtype: object
128 mpg                         15
cylinders                    2
displacement               250
horsepower                 100
weight                    3336
acceleration                17
model year                  74
origin                       1
car name        chevrolet nova
Name: 128, dtype: object
129 mpg                      31
cylinders                 2
displacement             79
horsepower               67
weight                 1950
acceleration             19
model year               74
origin                    3
car name        datsun b210
Name: 129, dtype: object
130 mpg                     26
cylinders                2
displacement           122
horsepower              80
weight                2451
acceleration          16.5
model year              74
origin                   1
car name        ford pinto
Name: 130, dtype: object
131 mpg                              32
cylinders                         2
displacement                     71
horsepower                       65
weight                         1836
acceleration                     21
model year                       74
origin                            3
car name        toyota corolla 1200
Name: 131, dtype: object
132 mpg                         25
cylinders                    2
displacement               140
horsepower                  75
weight                    2542
acceleration                17
model year                  74
origin                       1
car name        chevrolet vega
Name: 132, dtype: object
133 mpg                                            16
cylinders                                       2
displacement                                  250
horsepower                                    100
weight                                       3781
acceleration                                   17
model year                                     74
origin                                          1
car name        chevrolet chevelle malibu classic
Name: 133, dtype: object
134 mpg                      16
cylinders                 2
displacement            258
horsepower              110
weight                 3632
acceleration             18
model year               74
origin                    1
car name        amc matador
Name: 134, dtype: object
135 mpg                                     18
cylinders                                2
displacement                           225
horsepower                             105
weight                                3613
acceleration                          16.5
model year                              74
origin                                   1
car name        plymouth satellite sebring
Name: 135, dtype: object
136 mpg                           16
cylinders                      2
displacement                 302
horsepower                   140
weight                      4141
acceleration                  14
model year                    74
origin                         1
car name        ford gran torino
Name: 136, dtype: object
137 mpg                                   13
cylinders                              2
displacement                         350
horsepower                           150
weight                              4699
acceleration                        14.5
model year                            74
origin                                 1
car name        buick century luxus (sw)
Name: 137, dtype: object
138 mpg                                    14
cylinders                               2
displacement                          318
horsepower                            150
weight                               4457
acceleration                         13.5
model year                             74
origin                                  1
car name        dodge coronet custom (sw)
Name: 138, dtype: object
139 mpg                                14
cylinders                           2
displacement                      302
horsepower                        140
weight                           4638
acceleration                       16
model year                         74
origin                              1
car name        ford gran torino (sw)
Name: 139, dtype: object
140 mpg                           14
cylinders                      2
displacement                 304
horsepower                   150
weight                      4257
acceleration                15.5
model year                    74
origin                         1
car name        amc matador (sw)
Name: 140, dtype: object
141 mpg                   29
cylinders              2
displacement          98
horsepower            83
weight              2219
acceleration        16.5
model year            74
origin                 2
car name        audi fox
Name: 141, dtype: object
142 mpg                            26
cylinders                       2
displacement                   79
horsepower                     67
weight                       1963
acceleration                 15.5
model year                     74
origin                          2
car name        volkswagen dasher
Name: 142, dtype: object
143 mpg                     26
cylinders                2
displacement            97
horsepower              78
weight                2300
acceleration          14.5
model year              74
origin                   2
car name        opel manta
Name: 143, dtype: object
144 mpg                        31
cylinders                   2
displacement               76
horsepower                 52
weight                   1649
acceleration             16.5
model year                 74
origin                      3
car name        toyota corona
Name: 144, dtype: object
145 mpg                     32
cylinders                2
displacement            83
horsepower              61
weight                2003
acceleration            19
model year              74
origin                   3
car name        datsun 710
Name: 145, dtype: object
146 mpg                     28
cylinders                2
displacement            90
horsepower              75
weight                2125
acceleration          14.5
model year              74
origin                   1
car name        dodge colt
Name: 146, dtype: object
147 mpg                   24
cylinders              2
displacement          90
horsepower            75
weight              2108
acceleration        15.5
model year            74
origin                 2
car name        fiat 128
Name: 147, dtype: object
148 mpg                      26
cylinders                 2
displacement            116
horsepower               75
weight                 2246
acceleration             14
model year               74
origin                    2
car name        fiat 124 tc
Name: 148, dtype: object
149 mpg                      24
cylinders                 2
displacement            120
horsepower               97
weight                 2489
acceleration             15
model year               74
origin                    3
car name        honda civic
Name: 149, dtype: object
150 mpg                 26
cylinders            2
displacement       108
horsepower          93
weight            2391
acceleration      15.5
model year          74
origin               3
car name        subaru
Name: 150, dtype: object
151 mpg                    31
cylinders               2
displacement           79
horsepower             67
weight               2000
acceleration           16
model year             74
origin                  2
car name        fiat x1.9
Name: 151, dtype: object
152 mpg                                  19
cylinders                             2
displacement                        225
horsepower                           95
weight                             3264
acceleration                         16
model year                           75
origin                                1
car name        plymouth valiant custom
Name: 152, dtype: object
153 mpg                         18
cylinders                    2
displacement               250
horsepower                 105
weight                    3459
acceleration                16
model year                  75
origin                       1
car name        chevrolet nova
Name: 153, dtype: object
154 mpg                          15
cylinders                     2
displacement                250
horsepower                   72
weight                     3432
acceleration                 21
model year                   75
origin                        1
car name        mercury monarch
Name: 154, dtype: object
155 mpg                        15
cylinders                   2
displacement              250
horsepower                 72
weight                   3158
acceleration             19.5
model year                 75
origin                      1
car name        ford maverick
Name: 155, dtype: object
156 mpg                           16
cylinders                      2
displacement                 400
horsepower                   170
weight                      4668
acceleration                11.5
model year                    75
origin                         1
car name        pontiac catalina
Name: 156, dtype: object
157 mpg                            15
cylinders                       2
displacement                  350
horsepower                    145
weight                       4440
acceleration                   14
model year                     75
origin                          1
car name        chevrolet bel air
Name: 157, dtype: object
158 mpg                              16
cylinders                         2
displacement                    318
horsepower                      150
weight                         4498
acceleration                   14.5
model year                       75
origin                            1
car name        plymouth grand fury
Name: 158, dtype: object
159 mpg                   14
cylinders              2
displacement         351
horsepower           148
weight              4657
acceleration        13.5
model year            75
origin                 1
car name        ford ltd
Name: 159, dtype: object
160 mpg                        17
cylinders                   2
displacement              231
horsepower                110
weight                   3907
acceleration               21
model year                 75
origin                      1
car name        buick century
Name: 160, dtype: object
161 mpg                                    16
cylinders                               2
displacement                          250
horsepower                            105
weight                               3897
acceleration                         18.5
model year                             75
origin                                  1
car name        chevroelt chevelle malibu
Name: 161, dtype: object

162 mpg                      15
cylinders                 2
displacement            258
horsepower              110
weight                 3730
acceleration             19
model year               75
origin                    1
car name        amc matador
Name: 162, dtype: object
163 mpg                        18
cylinders                   2
displacement              225
horsepower                 95
weight                   3785
acceleration               19
model year                 75
origin                      1
car name        plymouth fury
Name: 163, dtype: object
164 mpg                        21
cylinders                   2
displacement              231
horsepower                110
weight                   3039
acceleration               15
model year                 75
origin                      1
car name        buick skyhawk
Name: 164, dtype: object
165 mpg                              20
cylinders                         2
displacement                    262
horsepower                      110
weight                         3221
acceleration                   13.5
model year                       75
origin                            1
car name        chevrolet monza 2+2
Name: 165, dtype: object
166 mpg                          13
cylinders                     2
displacement                302
horsepower                  129
weight                     3169
acceleration                 12
model year                   75
origin                        1
car name        ford mustang ii
Name: 166, dtype: object
167 mpg                         29
cylinders                    2
displacement                97
horsepower                  75
weight                    2171
acceleration                16
model year                  75
origin                       3
car name        toyota corolla
Name: 167, dtype: object
168 mpg                     23
cylinders                2
displacement           140
horsepower              83
weight                2639
acceleration            17
model year              75
origin                   1
car name        ford pinto
Name: 168, dtype: object
169 mpg                      20
cylinders                 2
displacement            232
horsepower              100
weight                 2914
acceleration             16
model year               75
origin                    1
car name        amc gremlin
Name: 169, dtype: object
170 mpg                        23
cylinders                   2
displacement              140
horsepower                 78
weight                   2592
acceleration             18.5
model year                 75
origin                      1
car name        pontiac astro
Name: 170, dtype: object
171 mpg                        24
cylinders                   2
displacement              134
horsepower                 96
weight                   2702
acceleration             13.5
model year                 75
origin                      3
car name        toyota corona
Name: 171, dtype: object
172 mpg                            25
cylinders                       2
displacement                   90
horsepower                     71
weight                       2223
acceleration                 16.5
model year                     75
origin                          2
car name        volkswagen dasher
Name: 172, dtype: object
173 mpg                     24
cylinders                2
displacement           119
horsepower              97
weight                2545
acceleration            17
model year              75
origin                   3
car name        datsun 710
Name: 173, dtype: object
174 mpg                     18
cylinders                2
displacement           171
horsepower              97
weight                2984
acceleration          14.5
model year              75
origin                   1
car name        ford pinto
Name: 174, dtype: object
175 mpg                            29
cylinders                       2
displacement                   90
horsepower                     70
weight                       1937
acceleration                   14
model year                     75
origin                          2
car name        volkswagen rabbit
Name: 175, dtype: object
176 mpg                    19
cylinders               2
displacement          232
horsepower             90
weight               3211
acceleration           17
model year             75
origin                  1
car name        amc pacer
Name: 176, dtype: object
177 mpg                     23
cylinders                2
displacement           115
horsepower              95
weight                2694
acceleration            15
model year              75
origin                   2
car name        audi 100ls
Name: 177, dtype: object
178 mpg                      23
cylinders                 2
displacement            120
horsepower               88
weight                 2957
acceleration             17
model year               75
origin                    2
car name        peugeot 504
Name: 178, dtype: object
179 mpg                      22
cylinders                 2
displacement            121
horsepower               98
weight                 2945
acceleration           14.5
model year               75
origin                    2
car name        volvo 244dl
Name: 179, dtype: object
180 mpg                    25
cylinders               2
displacement          121
horsepower            115
weight               2671
acceleration         13.5
model year             75
origin                  2
car name        saab 99le
Name: 180, dtype: object
181 mpg                           33
cylinders                      2
displacement                  91
horsepower                    53
weight                      1795
acceleration                17.5
model year                    75
origin                         3
car name        honda civic cvcc
Name: 181, dtype: object
182 mpg                   28
cylinders              2
displacement         107
horsepower            86
weight              2464
acceleration        15.5
model year            76
origin                 2
car name        fiat 131
Name: 182, dtype: object
183 mpg                    25
cylinders               2
displacement          116
horsepower             81
weight               2220
acceleration         16.9
model year             76
origin                  2
car name        opel 1900
Name: 183, dtype: object
184 mpg                   25
cylinders              2
displacement         140
horsepower            92
weight              2572
acceleration        14.9
model year            76
origin                 1
car name        capri ii
Name: 184, dtype: object
185 mpg                     26
cylinders                2
displacement            98
horsepower              79
weight                2255
acceleration          17.7
model year              76
origin                   1
car name        dodge colt
Name: 185, dtype: object
186 mpg                       27
cylinders                  2
displacement             101
horsepower                83
weight                  2202
acceleration            15.3
model year                76
origin                     2
car name        renault 12tl
Name: 186, dtype: object
187 mpg                                          17.5
cylinders                                       2
displacement                                  305
horsepower                                    140
weight                                       4215
acceleration                                   13
model year                                     76
origin                                          1
car name        chevrolet chevelle malibu classic
Name: 187, dtype: object
188 mpg                                 16
cylinders                            2
displacement                       318
horsepower                         150
weight                            4190
acceleration                        13
model year                          76
origin                               1
car name        dodge coronet brougham
Name: 188, dtype: object
189 mpg                    15.5
cylinders                 2
displacement            304
horsepower              120
weight                 3962
acceleration           13.9
model year               76
origin                    1
car name        amc matador
Name: 189, dtype: object
190 mpg                         14.5
cylinders                      2
displacement                 351
horsepower                   152
weight                      4215
acceleration                12.8
model year                    76
origin                         1
car name        ford gran torino
Name: 190, dtype: object
191 mpg                           22
cylinders                      2
displacement                 225
horsepower                   100
weight                      3233
acceleration                15.4
model year                    76
origin                         1
car name        plymouth valiant
Name: 191, dtype: object
192 mpg                         22
cylinders                    2
displacement               250
horsepower                 105
weight                    3353
acceleration              14.5
model year                  76
origin                       1
car name        chevrolet nova
Name: 192, dtype: object
193 mpg                        24
cylinders                   2
displacement              200
horsepower                 81
weight                   3012
acceleration             17.6
model year                 76
origin                      1
car name        ford maverick
Name: 193, dtype: object
194 mpg                   22.5
cylinders                2
displacement           232
horsepower              90
weight                3085
acceleration          17.6
model year              76
origin                   1
car name        amc hornet
Name: 194, dtype: object
195 mpg                             29
cylinders                        2
displacement                    85
horsepower                      52
weight                        2035
acceleration                  22.2
model year                      76
origin                           1
car name        chevrolet chevette
Name: 195, dtype: object
196 mpg                        24.5
cylinders                     2
displacement                 98
horsepower                   60
weight                     2164
acceleration               22.1
model year                   76
origin                        1
car name        chevrolet woody

Name: 196, dtype: object
197 mpg                    29
cylinders               2
displacement           90
horsepower             70
weight               1937
acceleration         14.2
model year             76
origin                  2
car name        vw rabbit
Name: 197, dtype: object
198 mpg                      33
cylinders                 2
displacement             91
horsepower               53
weight                 1795
acceleration           17.4
model year               76
origin                    3
car name        honda civic
Name: 198, dtype: object
199 mpg                         20
cylinders                    2
displacement               225
horsepower                 100
weight                    3651
acceleration              17.7
model year                  76
origin                       1
car name        dodge aspen se
Name: 199, dtype: object
200 mpg                            18
cylinders                       2
displacement                  250
horsepower                     78
weight                       3574
acceleration                   21
model year                     76
origin                          1
car name        ford granada ghia
Name: 200, dtype: object
201 mpg                           18.5
cylinders                        2
displacement                   250
horsepower                     110
weight                        3645
acceleration                  16.2
model year                      76
origin                           1
car name        pontiac ventura sj
Name: 201, dtype: object
202 mpg                      17.5
cylinders                   2
displacement              258
horsepower                 95
weight                   3193
acceleration             17.8
model year                 76
origin                      1
car name        amc pacer d/l
Name: 202, dtype: object
203 mpg                          29.5
cylinders                       2
displacement                   97
horsepower                     71
weight                       1825
acceleration                 12.2
model year                     76
origin                          2
car name        volkswagen rabbit
Name: 203, dtype: object
204 mpg                       32
cylinders                  2
displacement              85
horsepower                70
weight                  1990
acceleration              17
model year                76
origin                     3
car name        datsun b-210
Name: 204, dtype: object
205 mpg                         28
cylinders                    2
displacement                97
horsepower                  75
weight                    2155
acceleration              16.4
model year                  76
origin                       3
car name        toyota corolla
Name: 205, dtype: object
206 mpg                   26.5
cylinders                2
displacement           140
horsepower              72
weight                2565
acceleration          13.6
model year              76
origin                   1
car name        ford pinto
Name: 206, dtype: object
207 mpg                    20
cylinders               2
displacement          130
horsepower            102
weight               3150
acceleration         15.7
model year             76
origin                  2
car name        volvo 245
Name: 207, dtype: object
208 mpg                                     13
cylinders                                2
displacement                           318
horsepower                             150
weight                                3940
acceleration                          13.2
model year                              76
origin                                   1
car name        plymouth volare premier v8
Name: 208, dtype: object
209 mpg                      19
cylinders                 2
displacement            120
horsepower               88
weight                 3270
acceleration           21.9
model year               76
origin                    2
car name        peugeot 504
Name: 209, dtype: object
210 mpg                         19
cylinders                    2
displacement               156
horsepower                 108
weight                    2930
acceleration              15.5
model year                  76
origin                       3
car name        toyota mark ii
Name: 210, dtype: object
211 mpg                           16.5
cylinders                        2
displacement                   168
horsepower                     120
weight                        3820
acceleration                  16.7
model year                      76
origin                           2
car name        mercedes-benz 280s
Name: 211, dtype: object
212 mpg                         16.5
cylinders                      2
displacement                 350
horsepower                   180
weight                      4380
acceleration                12.1
model year                    76
origin                         1
car name        cadillac seville
Name: 212, dtype: object
213 mpg                    13
cylinders               2
displacement          350
horsepower            145
weight               4055
acceleration           12
model year             76
origin                  1
car name        chevy c10
Name: 213, dtype: object
214 mpg                    13
cylinders               2
displacement          302
horsepower            130
weight               3870
acceleration           15
model year             76
origin                  1
car name        ford f108
Name: 214, dtype: object
215 mpg                     13
cylinders                2
displacement           318
horsepower             150
weight                3755
acceleration            14
model year              76
origin                   1
car name        dodge d100
Name: 215, dtype: object
216 mpg                          31.5
cylinders                       2
displacement                   98
horsepower                     68
weight                       2045
acceleration                 18.5
model year                     77
origin                          3
car name        honda accord cvcc
Name: 216, dtype: object
217 mpg                                  30
cylinders                             2
displacement                        111
horsepower                           80
weight                             2155
acceleration                       14.8
model year                           77
origin                                1
car name        buick opel isuzu deluxe
Name: 217, dtype: object
218 mpg                        36
cylinders                   2
displacement               79
horsepower                 58
weight                   1825
acceleration             18.6
model year                 77
origin                      2
car name        renault 5 gtl
Name: 218, dtype: object
219 mpg                          25.5
cylinders                       2
displacement                  122
horsepower                     96
weight                       2300
acceleration                 15.5
model year                     77
origin                          1
car name        plymouth arrow gs
Name: 219, dtype: object
220 mpg                              33.5
cylinders                           2
displacement                       85
horsepower                         70
weight                           1945
acceleration                     16.8
model year                         77
origin                              3
car name        datsun f-10 hatchback
Name: 220, dtype: object
221 mpg                                  17.5
cylinders                               2
displacement                          305
horsepower                            145
weight                               3880
acceleration                         12.5
model year                             77
origin                                  1
car name        chevrolet caprice classic
Name: 221, dtype: object
222 mpg                                     17
cylinders                                2
displacement                           260
horsepower                             110
weight                                4060
acceleration                            19
model year                              77
origin                                   1
car name        oldsmobile cutlass supreme
Name: 222, dtype: object
223 mpg                              15.5
cylinders                           2
displacement                      318
horsepower                        145
weight                           4140
acceleration                     13.7
model year                         77
origin                              1
car name        dodge monaco brougham
Name: 223, dtype: object
224 mpg                                  15
cylinders                             2
displacement                        302
horsepower                          130
weight                             4295
acceleration                       14.9
model year                           77
origin                                1
car name        mercury cougar brougham
Name: 224, dtype: object
225 mpg                           17.5
cylinders                        2
displacement                   250
horsepower                     110
weight                        3520
acceleration                  16.4
model year                      77
origin                           1
car name        chevrolet concours
Name: 225, dtype: object
226 mpg                      20.5
cylinders                   2
displacement              231
horsepower                105
weight                   3425
acceleration             16.9
model year                 77
origin                      1
car name        buick skylark
Name: 226, dtype: object
227 mpg                                 19
cylinders                            2
displacement                       225
horsepower                         100
weight                            3630
acceleration                      17.7
model year                          77
origin                               1
car name        plymouth volare custom
Name: 227, dtype: object
228 mpg                     18.5
cylinders                  2
displacement             250
horsepower                98
weight                  3525
acceleration              19
model year                77
origin                     1
car name        ford granada
Name: 228, dtype: object
229 mpg                                16
cylinders                           2
displacement                      400
horsepower                        180
weight                           4220
acceleration                     11.1
model year                         77
origin                              1
car name        pontiac grand prix lj
Name: 229, dtype: object
230 mpg                                     15.5
cylinders                                  2
displacement                             350
horsepower                               170
weight                                  4165
acceleration                            11.4
model year                                77
origin                                     1
car name        chevrolet monte carlo landau
Name: 230, dtype: object
231 mpg                         15.5
cylinders                      2
displacement                 400
horsepower                   190
weight                      4325
acceleration                12.2
model year                    77
origin                         1
car name        chrysler cordoba
Name: 231, dtype: object
232 mpg                           16
cylinders                      2
displacement                 351
horsepower                   149
weight                      4335
acceleration                14.5
model year                    77
origin                         1
car name        ford thunderbird
Name: 232, dtype: object
233 mpg                                   29
cylinders                              2
displacement                          97
horsepower                            78
weight                              1940
acceleration                        14.5
model year                            77
origin                                 2
car name        volkswagen rabbit custom
Name: 233, dtype: object
234 mpg                              24.5
cylinders                           2
displacement                      151
horsepower                         88
weight                           2740
acceleration                       16
model year                         77
origin                              1
car name        pontiac sunbird coupe
Name: 234, dtype: object
235 mpg                                  26
cylinders                             2
displacement                         97
horsepower                           75
weight                             2265
acceleration                       18.2
model year                           77
origin                                3
car name        toyota corolla liftback
Name: 235, dtype: object
236 mpg                            25.5
cylinders                         2
displacement                    140
horsepower                       89
weight                         2755
acceleration                   15.8
model year                       77
origin                            1
car name        ford mustang ii 2+2
Name: 236, dtype: object
237 mpg                           30.5
cylinders                        2
displacement                    98
horsepower                      63
weight                        2051
acceleration                    17
model year                      77
origin                           1
car name        chevrolet chevette
Name: 237, dtype: object
238 mpg                       33.5
cylinders                    2
displacement                98
horsepower                  83
weight                    2075
acceleration              15.9
model year                  77
origin                       1
car name        dodge colt m/m
Name: 238, dtype: object
239 mpg                    30
cylinders               2
displacement           97
horsepower             67
weight               1985
acceleration         16.4
model year             77
origin                  3
car name        subaru dl
Name: 239, dtype: object
240 mpg                          30.5
cylinders                       2
displacement                   97
horsepower                     78
weight                       2190
acceleration                 14.1
model year                     77
origin                          2
car name        volkswagen dasher
Name: 240, dtype: object
241 mpg                     22
cylinders                2
displacement           146
horsepower              97
weight                2815
acceleration          14.5
model year              77
origin                   3
car name        datsun 810
Name: 241, dtype: object
242 mpg                 21.5
cylinders              2
displacement         121
horsepower           110
weight              2600
acceleration        12.8
model year            77
origin                 2
car name        bmw 320i
Name: 242, dtype: object
243 mpg                   21.5
cylinders                2
displacement            80
horsepower             110
weight                2720
acceleration          13.5
model year              77
origin                   3
car name        mazda rx-4
Name: 243, dtype: object
244 mpg                                        43.1
cylinders                                     2
displacement                                 90
horsepower                                   48
weight                                     1985
acceleration                               21.5
model year                                   78
origin                                        2
car name        volkswagen rabbit custom diesel
Name: 244, dtype: object
245 mpg                    36.1
cylinders                 2
displacement             98
horsepower               66
weight                 1800
acceleration           14.4
model year               78
origin                    1
car name        ford fiesta
Name: 245, dtype: object
246 mpg                         32.8
cylinders                      2
displacement                  78
horsepower                    52
weight                      1985
acceleration                19.4
model year                    78
origin                         3
car name        mazda glc deluxe
Name: 246, dtype: object
247 mpg                       39.4
cylinders                    2
displacement                85
horsepower                  70
weight                    2070
acceleration              18.6
model year                  78
origin                       3
car name        datsun b210 gx
Name: 247, dtype: object
248 mpg                         36.1
cylinders                      2
displacement                  91
horsepower                    60
weight                      1800
acceleration                16.4
model year                    78
origin                         3
car name        honda civic cvcc
Name: 248, dtype: object
249 mpg                                          19.9
cylinders                                       2
displacement                                  260
horsepower                                    110
weight                                       3365
acceleration                                 15.5
model year                                     78
origin                                          1
car name        oldsmobile cutlass salon brougham
Name: 249, dtype: object
250 mpg                       19.4
cylinders                    2
displacement               318
horsepower                 140
weight                    3735
acceleration              13.2
model year                  78
origin                       1
car name        dodge diplomat
Name: 250, dtype: object
251 mpg                             20.2
cylinders                          2
displacement                     302
horsepower                       139
weight                          3570
acceleration                    12.8
model year                        78
origin                             1
car name        mercury monarch ghia

Name: 251, dtype: object
252 mpg                           19.2
cylinders                        2
displacement                   231
horsepower                     105
weight                        3535
acceleration                  19.2
model year                      78
origin                           1
car name        pontiac phoenix lj
Name: 252, dtype: object
253 mpg                         20.5
cylinders                      2
displacement                 200
horsepower                    95
weight                      3155
acceleration                18.2
model year                    78
origin                         1
car name        chevrolet malibu
Name: 253, dtype: object
254 mpg                             20.2
cylinders                          2
displacement                     200
horsepower                        85
weight                          2965
acceleration                    15.8
model year                        78
origin                             1
car name        ford fairmont (auto)
Name: 254, dtype: object
255 mpg                            25.1
cylinders                         2
displacement                    140
horsepower                       88
weight                         2720
acceleration                   15.4
model year                       78
origin                            1
car name        ford fairmont (man)
Name: 255, dtype: object
256 mpg                        20.5
cylinders                     2
displacement                225
horsepower                  100
weight                     3430
acceleration               17.2
model year                   78
origin                        1
car name        plymouth volare
Name: 256, dtype: object
257 mpg                    19.4
cylinders                 2
displacement            232
horsepower               90
weight                 3210
acceleration           17.2
model year               78
origin                    1
car name        amc concord
Name: 257, dtype: object
258 mpg                              20.6
cylinders                           2
displacement                      231
horsepower                        105
weight                           3380
acceleration                     15.8
model year                         78
origin                              1
car name        buick century special
Name: 258, dtype: object
259 mpg                       20.8
cylinders                    2
displacement               200
horsepower                  85
weight                    3070
acceleration              16.7
model year                  78
origin                       1
car name        mercury zephyr
Name: 259, dtype: object
260 mpg                    18.6
cylinders                 2
displacement            225
horsepower              110
weight                 3620
acceleration           18.7
model year               78
origin                    1
car name        dodge aspen
Name: 260, dtype: object
261 mpg                        18.1
cylinders                     2
displacement                258
horsepower                  120
weight                     3410
acceleration               15.1
model year                   78
origin                        1
car name        amc concord d/l
Name: 261, dtype: object
262 mpg                                     19.2
cylinders                                  2
displacement                             305
horsepower                               145
weight                                  3425
acceleration                            13.2
model year                                78
origin                                     1
car name        chevrolet monte carlo landau
Name: 262, dtype: object
263 mpg                                        17.7
cylinders                                     2
displacement                                231
horsepower                                  165
weight                                     3445
acceleration                               13.4
model year                                   78
origin                                        1
car name        buick regal sport coupe (turbo)
Name: 263, dtype: object
264 mpg                    18.1
cylinders                 2
displacement            302
horsepower              139
weight                 3205
acceleration           11.2
model year               78
origin                    1
car name        ford futura
Name: 264, dtype: object
265 mpg                        17.5
cylinders                     2
displacement                318
horsepower                  140
weight                     4080
acceleration               13.7
model year                   78
origin                        1
car name        dodge magnum xe
Name: 265, dtype: object
266 mpg                             30
cylinders                        2
displacement                    98
horsepower                      68
weight                        2155
acceleration                  16.5
model year                      78
origin                           1
car name        chevrolet chevette
Name: 266, dtype: object
267 mpg                      27.5
cylinders                   2
displacement              134
horsepower                 95
weight                   2560
acceleration             14.2
model year                 78
origin                      3
car name        toyota corona
Name: 267, dtype: object
268 mpg                   27.2
cylinders                2
displacement           119
horsepower              97
weight                2300
acceleration          14.7
model year              78
origin                   3
car name        datsun 510
Name: 268, dtype: object
269 mpg                   30.9
cylinders                2
displacement           105
horsepower              75
weight                2230
acceleration          14.5
model year              78
origin                   1
car name        dodge omni
Name: 269, dtype: object
270 mpg                                  21.1
cylinders                               2
displacement                          134
horsepower                             95
weight                               2515
acceleration                         14.8
model year                             78
origin                                  3
car name        toyota celica gt liftback
Name: 270, dtype: object
271 mpg                         23.2
cylinders                      2
displacement                 156
horsepower                   105
weight                      2745
acceleration                16.7
model year                    78
origin                         1
car name        plymouth sapporo
Name: 271, dtype: object
272 mpg                               23.8
cylinders                            2
displacement                       151
horsepower                          85
weight                            2855
acceleration                      17.6
model year                          78
origin                               1
car name        oldsmobile starfire sx
Name: 272, dtype: object
273 mpg                      23.9
cylinders                   2
displacement              119
horsepower                 97
weight                   2405
acceleration             14.9
model year                 78
origin                      3
car name        datsun 200-sx
Name: 273, dtype: object
274 mpg                  20.3
cylinders               2
displacement          131
horsepower            103
weight               2830
acceleration         15.9
model year             78
origin                  2
car name        audi 5000
Name: 274, dtype: object
275 mpg                      17
cylinders                 2
displacement            163
horsepower              125
weight                 3140
acceleration           13.6
model year               78
origin                    2
car name        volvo 264gl
Name: 275, dtype: object
276 mpg                   21.6
cylinders                2
displacement           121
horsepower             115
weight                2795
acceleration          15.7
model year              78
origin                   2
car name        saab 99gle
Name: 276, dtype: object
277 mpg                      16.2
cylinders                   2
displacement              163
horsepower                133
weight                   3410
acceleration             15.8
model year                 78
origin                      2
car name        peugeot 604sl
Name: 277, dtype: object
278 mpg                            31.5
cylinders                         2
displacement                     89
horsepower                       71
weight                         1990
acceleration                   14.9
model year                       78
origin                            2
car name        volkswagen scirocco
Name: 278, dtype: object
279 mpg                        29.5
cylinders                     2
displacement                 98
horsepower                   68
weight                     2135
acceleration               16.6
model year                   78
origin                        3
car name        honda accord lx
Name: 279, dtype: object
280 mpg                          21.5
cylinders                       2
displacement                  231
horsepower                    115
weight                       3245
acceleration                 15.4
model year                     79
origin                          1
car name        pontiac lemans v6
Name: 280, dtype: object
281 mpg                         19.8
cylinders                      2
displacement                 200
horsepower                    85
weight                      2990
acceleration                18.2
model year                    79
origin                         1
car name        mercury zephyr 6
Name: 281, dtype: object
282 mpg                        22.3
cylinders                     2
displacement                140
horsepower                   88
weight                     2890
acceleration               17.3
model year                   79
origin                        1
car name        ford fairmont 4
Name: 282, dtype: object
283 mpg                         20.2
cylinders                      2
displacement                 232
horsepower                    90
weight                      3265
acceleration                18.2
model year                    79
origin                         1
car name        amc concord dl 6
Name: 283, dtype: object
284 mpg                      20.6
cylinders                   2
displacement              225
horsepower                110
weight                   3360
acceleration             16.6
model year                 79
origin                      1
car name        dodge aspen 6
Name: 284, dtype: object
285 mpg                                    17
cylinders                               2
displacement                          305
horsepower                            130
weight                               3840
acceleration                         15.4
model year                             79
origin                                  1
car name        chevrolet caprice classic
Name: 285, dtype: object
286 mpg                        17.6
cylinders                     2
displacement                302
horsepower                  129
weight                     3725
acceleration               13.4
model year                   79
origin                        1
car name        ford ltd landau
Name: 286, dtype: object
287 mpg                              16.5
cylinders                           2
displacement                      351
horsepower                        138
weight                           3955
acceleration                     13.2
model year                         79
origin                              1
car name        mercury grand marquis
Name: 287, dtype: object
288 mpg                        18.2
cylinders                     2
displacement                318
horsepower                  135
weight                     3830
acceleration               15.2
model year                   79
origin                        1
car name        dodge st. regis
Name: 288, dtype: object
289 mpg                                16.9
cylinders                             2
displacement                        350
horsepower                          155
weight                             4360
acceleration                       14.9
model year                           79
origin                                1
car name        buick estate wagon (sw)
Name: 289, dtype: object
290 mpg                                 15.5
cylinders                              2
displacement                         351
horsepower                           142
weight                              4054
acceleration                        14.3
model year                            79
origin                                 1
car name        ford country squire (sw)
Name: 290, dtype: object
291 mpg                                      19.2
cylinders                                   2
displacement                              267
horsepower                                125
weight                                   3605
acceleration                               15
model year                                 79
origin                                      1
car name        chevrolet malibu classic (sw)
Name: 291, dtype: object
292 mpg                                             18.5
cylinders                                          2
displacement                                     360
horsepower                                       150
weight                                          3940
acceleration                                      13
model year                                        79
origin                                             1
car name        chrysler lebaron town @ country (sw)
Name: 292, dtype: object
293 mpg                         31.9
cylinders                      2
displacement                  89
horsepower                    71
weight                      1925
acceleration                  14
model year                    79
origin                         2
car name        vw rabbit custom
Name: 293, dtype: object
294 mpg                         34.1
cylinders                      2
displacement                  86
horsepower                    65
weight                      1975
acceleration                15.2
model year                    79
origin                         3
car name        maxda glc deluxe
Name: 294, dtype: object
295 mpg                                    35.7
cylinders                                 2
displacement                             98
horsepower                               80
weight                                 1915
acceleration                           14.4
model year                               79
origin                                    1
car name        dodge colt hatchback custom
Name: 295, dtype: object
296 mpg                      27.4
cylinders                   2
displacement              121
horsepower                 80
weight                   2670
acceleration               15
model year                 79
origin                      1
car name        amc spirit dl
Name: 296, dtype: object
297 mpg                           25.4
cylinders                        2
displacement                   183
horsepower                      77
weight                        3530
acceleration                  20.1
model year                      79
origin                           2
car name        mercedes benz 300d
Name: 297, dtype: object
298 mpg                            23
cylinders                       2
displacement                  350
horsepower                    125
weight                       3900
acceleration                 17.4
model year                     79
origin                          1
car name        cadillac eldorado
Name: 298, dtype: object
299 mpg                    27.2
cylinders                 2
displacement            141
horsepower               71
weight                 3190
acceleration           24.8
model year               79
origin                    2
car name        peugeot 504
Name: 299, dtype: object
300 mpg                                          23.9
cylinders                                       2
displacement                                  260
horsepower                                     90
weight                                       3420
acceleration                                 22.2
model year                                     79
origin                                          1
car name        oldsmobile cutlass salon brougham
Name: 300, dtype: object
301 mpg                         34.2
cylinders                      2
displacement                 105
horsepower                    70
weight                      2200
acceleration                13.2
model year                    79
origin                         1
car name        plymouth horizon
Name: 301, dtype: object
302 mpg                             34.5
cylinders                          2
displacement                     105
horsepower                        70
weight                          2150
acceleration                    14.9
model year                        79
origin                             1
car name        plymouth horizon tc3
Name: 302, dtype: object
303 mpg                   31.8
cylinders                2
displacement            85
horsepower              65
weight                2020
acceleration          19.2
model year              79
origin                   3
car name        datsun 210
Name: 303, dtype: object
304 mpg                           37.3
cylinders                        2
displacement                    91
horsepower                      69
weight                        2130
acceleration                  14.7
model year                      79
origin                           2
car name        fiat strada custom

Name: 304, dtype: object
305 mpg                              28.4
cylinders                           2
displacement                      151
horsepower                         90
weight                           2670
acceleration                       16
model year                         79
origin                              1
car name        buick skylark limited
Name: 305, dtype: object
306 mpg                           28.8
cylinders                        2
displacement                   173
horsepower                     115
weight                        2595
acceleration                  11.3
model year                      79
origin                           1
car name        chevrolet citation
Name: 306, dtype: object
307 mpg                                  26.8
cylinders                               2
displacement                          173
horsepower                            115
weight                               2700
acceleration                         12.9
model year                             79
origin                                  1
car name        oldsmobile omega brougham
Name: 307, dtype: object
308 mpg                        33.5
cylinders                     2
displacement                151
horsepower                   90
weight                     2556
acceleration               13.2
model year                   79
origin                        1
car name        pontiac phoenix
Name: 308, dtype: object
309 mpg                  41.5
cylinders               2
displacement           98
horsepower             76
weight               2144
acceleration         14.7
model year             80
origin                  2
car name        vw rabbit
Name: 309, dtype: object
310 mpg                              38.1
cylinders                           2
displacement                       89
horsepower                         60
weight                           1968
acceleration                     18.8
model year                         80
origin                              3
car name        toyota corolla tercel
Name: 310, dtype: object
311 mpg                           32.1
cylinders                        2
displacement                    98
horsepower                      70
weight                        2120
acceleration                  15.5
model year                      80
origin                           1
car name        chevrolet chevette
Name: 311, dtype: object
312 mpg                   37.2
cylinders                2
displacement            86
horsepower              65
weight                2019
acceleration          16.4
model year              80
origin                   3
car name        datsun 310
Name: 312, dtype: object
313 mpg                             28
cylinders                        2
displacement                   151
horsepower                      90
weight                        2678
acceleration                  16.5
model year                      80
origin                           1
car name        chevrolet citation
Name: 313, dtype: object
314 mpg                      26.4
cylinders                   2
displacement              140
horsepower                 88
weight                   2870
acceleration             18.1
model year                 80
origin                      1
car name        ford fairmont
Name: 314, dtype: object
315 mpg                    24.3
cylinders                 2
displacement            151
horsepower               90
weight                 3003
acceleration           20.1
model year               80
origin                    1
car name        amc concord
Name: 315, dtype: object
316 mpg                    19.1
cylinders                 2
displacement            225
horsepower               90
weight                 3381
acceleration           18.7
model year               80
origin                    1
car name        dodge aspen
Name: 316, dtype: object
317 mpg                  34.3
cylinders               2
displacement           97
horsepower             78
weight               2188
acceleration         15.8
model year             80
origin                  2
car name        audi 4000
Name: 317, dtype: object
318 mpg                               29.8
cylinders                            2
displacement                       134
horsepower                          90
weight                            2711
acceleration                      15.5
model year                          80
origin                               3
car name        toyota corona liftback
Name: 318, dtype: object
319 mpg                  31.3
cylinders               2
displacement          120
horsepower             75
weight               2542
acceleration         17.5
model year             80
origin                  3
car name        mazda 626
Name: 319, dtype: object
320 mpg                               37
cylinders                          2
displacement                     119
horsepower                        92
weight                          2434
acceleration                      15
model year                        80
origin                             3
car name        datsun 510 hatchback
Name: 320, dtype: object
321 mpg                       32.2
cylinders                    2
displacement               108
horsepower                  75
weight                    2265
acceleration              15.2
model year                  80
origin                       3
car name        toyota corolla
Name: 321, dtype: object
322 mpg                  46.6
cylinders               2
displacement           86
horsepower             65
weight               2110
acceleration         17.9
model year             80
origin                  3
car name        mazda glc
Name: 322, dtype: object
323 mpg                   27.9
cylinders                2
displacement           156
horsepower             105
weight                2800
acceleration          14.4
model year              80
origin                   1
car name        dodge colt
Name: 323, dtype: object
324 mpg                   40.8
cylinders                2
displacement            85
horsepower              65
weight                2110
acceleration          19.2
model year              80
origin                   3
car name        datsun 210
Name: 324, dtype: object
325 mpg                             44.3
cylinders                          2
displacement                      90
horsepower                        48
weight                          2085
acceleration                    21.7
model year                        80
origin                             2
car name        vw rabbit c (diesel)
Name: 325, dtype: object
326 mpg                           43.4
cylinders                        2
displacement                    90
horsepower                      48
weight                        2335
acceleration                  23.7
model year                      80
origin                           2
car name        vw dasher (diesel)
Name: 326, dtype: object
327 mpg                            36.4
cylinders                         2
displacement                    121
horsepower                       67
weight                         2950
acceleration                   19.9
model year                       80
origin                            2
car name        audi 5000s (diesel)
Name: 327, dtype: object
328 mpg                             30
cylinders                        2
displacement                   146
horsepower                      67
weight                        3250
acceleration                  21.8
model year                      80
origin                           2
car name        mercedes-benz 240d
Name: 328, dtype: object
329 mpg                            44.6
cylinders                         2
displacement                     91
horsepower                       67
weight                         1850
acceleration                   13.8
model year                       80
origin                            3
car name        honda civic 1500 gl
Name: 329, dtype: object
330 mpg                             40.9
cylinders                          2
displacement                      85
horsepower                         ?
weight                          1835
acceleration                    17.3
model year                        80
origin                             2
car name        renault lecar deluxe
Name: 330, dtype: object
331 mpg                  33.8
cylinders               2
displacement           97
horsepower             67
weight               2145
acceleration           18
model year             80
origin                  3
car name        subaru dl
Name: 331, dtype: object
332 mpg                         29.8
cylinders                      2
displacement                  89
horsepower                    62
weight                      1845
acceleration                15.3
model year                    80
origin                         2
car name        vokswagen rabbit
Name: 332, dtype: object
333 mpg                      32.7
cylinders                   2
displacement              168
horsepower                132
weight                   2910
acceleration             11.4
model year                 80
origin                      3
car name        datsun 280-zx
Name: 333, dtype: object
334 mpg                      23.7
cylinders                   2
displacement               70
horsepower                100
weight                   2420
acceleration             12.5
model year                 80
origin                      3
car name        mazda rx-7 gs
Name: 334, dtype: object
335 mpg                            35
cylinders                       2
displacement                  122
horsepower                     88
weight                       2500
acceleration                 15.1
model year                     80
origin                          2
car name        triumph tr7 coupe
Name: 335, dtype: object
336 mpg                           23.6
cylinders                        2
displacement                   140
horsepower                       ?
weight                        2905
acceleration                  14.3
model year                      80
origin                           1
car name        ford mustang cobra
Name: 336, dtype: object
337 mpg                     32.4
cylinders                  2
displacement             107
horsepower                72
weight                  2290
acceleration              17
model year                80
origin                     3
car name        honda accord
Name: 337, dtype: object
338 mpg                         27.2
cylinders                      2
displacement                 135
horsepower                    84
weight                      2490
acceleration                15.7
model year                    81
origin                         1
car name        plymouth reliant
Name: 338, dtype: object
339 mpg                      26.6
cylinders                   2
displacement              151
horsepower                 84
weight                   2635
acceleration             16.4
model year                 81
origin                      1
car name        buick skylark

Name: 339, dtype: object
340 mpg                               25.8
cylinders                            2
displacement                       156
horsepower                          92
weight                            2620
acceleration                      14.4
model year                          81
origin                               1
car name        dodge aries wagon (sw)
Name: 340, dtype: object
341 mpg                           23.5
cylinders                        2
displacement                   173
horsepower                     110
weight                        2725
acceleration                  12.6
model year                      81
origin                           1
car name        chevrolet citation
Name: 341, dtype: object
342 mpg                           30
cylinders                      2
displacement                 135
horsepower                    84
weight                      2385
acceleration                12.9
model year                    81
origin                         1
car name        plymouth reliant
Name: 342, dtype: object
343 mpg                       39.1
cylinders                    2
displacement                79
horsepower                  58
weight                    1755
acceleration              16.9
model year                  81
origin                       3
car name        toyota starlet
Name: 343, dtype: object
344 mpg                         39
cylinders                    2
displacement                86
horsepower                  64
weight                    1875
acceleration              16.4
model year                  81
origin                       1
car name        plymouth champ
Name: 344, dtype: object
345 mpg                         35.1
cylinders                      2
displacement                  81
horsepower                    60
weight                      1760
acceleration                16.1
model year                    81
origin                         3
car name        honda civic 1300
Name: 345, dtype: object
346 mpg               32.3
cylinders            2
displacement        97
horsepower          67
weight            2065
acceleration      17.8
model year          81
origin               3
car name        subaru
Name: 346, dtype: object
347 mpg                         37
cylinders                    2
displacement                85
horsepower                  65
weight                    1975
acceleration              19.4
model year                  81
origin                       3
car name        datsun 210 mpg
Name: 347, dtype: object
348 mpg                      37.7
cylinders                   2
displacement               89
horsepower                 62
weight                   2050
acceleration             17.3
model year                 81
origin                      3
car name        toyota tercel
Name: 348, dtype: object
349 mpg                    34.1
cylinders                 2
displacement             91
horsepower               68
weight                 1985
acceleration             16
model year               81
origin                    3
car name        mazda glc 4
Name: 349, dtype: object
350 mpg                           34.7
cylinders                        2
displacement                   105
horsepower                      63
weight                        2215
acceleration                  14.9
model year                      81
origin                           1
car name        plymouth horizon 4
Name: 350, dtype: object
351 mpg                       34.4
cylinders                    2
displacement                98
horsepower                  65
weight                    2045
acceleration              16.2
model year                  81
origin                       1
car name        ford escort 4w
Name: 351, dtype: object
352 mpg                       29.9
cylinders                    2
displacement                98
horsepower                  65
weight                    2380
acceleration              20.7
model year                  81
origin                       1
car name        ford escort 2h
Name: 352, dtype: object
353 mpg                           33
cylinders                      2
displacement                 105
horsepower                    74
weight                      2190
acceleration                14.2
model year                    81
origin                         2
car name        volkswagen jetta
Name: 353, dtype: object
354 mpg                    34.5
cylinders                 2
displacement            100
horsepower                ?
weight                 2320
acceleration           15.8
model year               81
origin                    2
car name        renault 18i
Name: 354, dtype: object
355 mpg                      33.7
cylinders                   2
displacement              107
horsepower                 75
weight                   2210
acceleration             14.4
model year                 81
origin                      3
car name        honda prelude
Name: 355, dtype: object
356 mpg                       32.4
cylinders                    2
displacement               108
horsepower                  75
weight                    2350
acceleration              16.8
model year                  81
origin                       3
car name        toyota corolla
Name: 356, dtype: object
357 mpg                     32.9
cylinders                  2
displacement             119
horsepower               100
weight                  2615
acceleration            14.8
model year                81
origin                     3
car name        datsun 200sx
Name: 357, dtype: object
358 mpg                  31.6
cylinders               2
displacement          120
horsepower             74
weight               2635
acceleration         18.3
model year             81
origin                  3
car name        mazda 626
Name: 358, dtype: object
359 mpg                                  28.1
cylinders                               2
displacement                          141
horsepower                             80
weight                               3230
acceleration                         20.4
model year                             81
origin                                  2
car name        peugeot 505s turbo diesel
Name: 359, dtype: object
360 mpg                     30.7
cylinders                  2
displacement             145
horsepower                76
weight                  3160
acceleration            19.6
model year                81
origin                     2
car name        volvo diesel
Name: 360, dtype: object
361 mpg                        25.4
cylinders                     2
displacement                168
horsepower                  116
weight                     2900
acceleration               12.6
model year                   81
origin                        3
car name        toyota cressida
Name: 361, dtype: object
362 mpg                          24.2
cylinders                       2
displacement                  146
horsepower                    120
weight                       2930
acceleration                 13.8
model year                     81
origin                          3
car name        datsun 810 maxima
Name: 362, dtype: object
363 mpg                      22.4
cylinders                   2
displacement              231
horsepower                110
weight                   3415
acceleration             15.8
model year                 81
origin                      1
car name        buick century
Name: 363, dtype: object
364 mpg                              26.6
cylinders                           2
displacement                      350
horsepower                        105
weight                           3725
acceleration                       19
model year                         81
origin                              1
car name        oldsmobile cutlass ls
Name: 364, dtype: object
365 mpg                        20.2
cylinders                     2
displacement                200
horsepower                   88
weight                     3060
acceleration               17.1
model year                   81
origin                        1
car name        ford granada gl
Name: 365, dtype: object
366 mpg                               17.6
cylinders                            2
displacement                       225
horsepower                          85
weight                            3465
acceleration                      16.6
model year                          81
origin                               1
car name        chrysler lebaron salon
Name: 366, dtype: object
367 mpg                             28
cylinders                        2
displacement                   112
horsepower                      88
weight                        2605
acceleration                  19.6
model year                      82
origin                           1
car name        chevrolet cavalier
Name: 367, dtype: object
368 mpg                                   27
cylinders                              2
displacement                         112
horsepower                            88
weight                              2640
acceleration                        18.6
model year                            82
origin                                 1
car name        chevrolet cavalier wagon
Name: 368, dtype: object
369 mpg                                    34
cylinders                               2
displacement                          112
horsepower                             88
weight                               2395
acceleration                           18
model year                             82
origin                                  1
car name        chevrolet cavalier 2-door
Name: 369, dtype: object
370 mpg                                     31
cylinders                                2
displacement                           112
horsepower                              85
weight                                2575
acceleration                          16.2
model year                              82
origin                                   1
car name        pontiac j2000 se hatchback

Name: 370, dtype: object
371 mpg                         29
cylinders                    2
displacement               135
horsepower                  84
weight                    2525
acceleration                16
model year                  82
origin                       1
car name        dodge aries se
Name: 371, dtype: object
372 mpg                          27
cylinders                     2
displacement                151
horsepower                   90
weight                     2735
acceleration                 18
model year                   82
origin                        1
car name        pontiac phoenix
Name: 372, dtype: object
373 mpg                               24
cylinders                          2
displacement                     140
horsepower                        92
weight                          2865
acceleration                    16.4
model year                        82
origin                             1
car name        ford fairmont futura
Name: 373, dtype: object
374 mpg                         23
cylinders                    2
displacement               151
horsepower                   ?
weight                    3035
acceleration              20.5
model year                  82
origin                       1
car name        amc concord dl
Name: 374, dtype: object
375 mpg                              36
cylinders                         2
displacement                    105
horsepower                       74
weight                         1980
acceleration                   15.3
model year                       82
origin                            2
car name        volkswagen rabbit l
Name: 375, dtype: object
376 mpg                             37
cylinders                        2
displacement                    91
horsepower                      68
weight                        2025
acceleration                  18.2
model year                      82
origin                           3
car name        mazda glc custom l
Name: 376, dtype: object
377 mpg                           31
cylinders                      2
displacement                  91
horsepower                    68
weight                      1970
acceleration                17.6
model year                    82
origin                         3
car name        mazda glc custom
Name: 377, dtype: object
378 mpg                                 38
cylinders                            2
displacement                       105
horsepower                          63
weight                            2125
acceleration                      14.7
model year                          82
origin                               1
car name        plymouth horizon miser
Name: 378, dtype: object
379 mpg                         36
cylinders                    2
displacement                98
horsepower                  70
weight                    2125
acceleration              17.3
model year                  82
origin                       1
car name        mercury lynx l
Name: 379, dtype: object
380 mpg                           36
cylinders                      2
displacement                 120
horsepower                    88
weight                      2160
acceleration                14.5
model year                    82
origin                         3
car name        nissan stanza xe
Name: 380, dtype: object
381 mpg                       36
cylinders                  2
displacement             107
horsepower                75
weight                  2205
acceleration            14.5
model year                82
origin                     3
car name        honda accord
Name: 381, dtype: object
382 mpg                         34
cylinders                    2
displacement               108
horsepower                  70
weight                    2245
acceleration              16.9
model year                  82
origin                       3
car name        toyota corolla
Name: 382, dtype: object
383 mpg                      38
cylinders                 2
displacement             91
horsepower               67
weight                 1965
acceleration             15
model year               82
origin                    3
car name        honda civic
Name: 383, dtype: object
384 mpg                             32
cylinders                        2
displacement                    91
horsepower                      67
weight                        1965
acceleration                  15.7
model year                      82
origin                           3
car name        honda civic (auto)
Name: 384, dtype: object
385 mpg                        38
cylinders                   2
displacement               91
horsepower                 67
weight                   1995
acceleration             16.2
model year                 82
origin                      3
car name        datsun 310 gx
Name: 385, dtype: object
386 mpg                                25
cylinders                           2
displacement                      181
horsepower                        110
weight                           2945
acceleration                     16.4
model year                         82
origin                              1
car name        buick century limited
Name: 386, dtype: object
387 mpg                                            38
cylinders                                       2
displacement                                  262
horsepower                                     85
weight                                       3015
acceleration                                   17
model year                                     82
origin                                          1
car name        oldsmobile cutlass ciera (diesel)
Name: 387, dtype: object
388 mpg                                     26
cylinders                                2
displacement                           156
horsepower                              92
weight                                2585
acceleration                          14.5
model year                              82
origin                                   1
car name        chrysler lebaron medallion
Name: 388, dtype: object
389 mpg                         22
cylinders                    2
displacement               232
horsepower                 112
weight                    2835
acceleration              14.7
model year                  82
origin                       1
car name        ford granada l
Name: 389, dtype: object
390 mpg                           32
cylinders                      2
displacement                 144
horsepower                    96
weight                      2665
acceleration                13.9
model year                    82
origin                         3
car name        toyota celica gt
Name: 390, dtype: object
391 mpg                            36
cylinders                       2
displacement                  135
horsepower                     84
weight                       2370
acceleration                   13
model year                     82
origin                          1
car name        dodge charger 2.2
Name: 391, dtype: object
392 mpg                           27
cylinders                      2
displacement                 151
horsepower                    90
weight                      2950
acceleration                17.3
model year                    82
origin                         1
car name        chevrolet camaro
Name: 392, dtype: object
393 mpg                          27
cylinders                     2
displacement                140
horsepower                   86
weight                     2790
acceleration               15.6
model year                   82
origin                        1
car name        ford mustang gl
Name: 393, dtype: object
394 mpg                    44
cylinders               2
displacement           97
horsepower             52
weight               2130
acceleration         24.6
model year             82
origin                  2
car name        vw pickup
Name: 394, dtype: object
395 mpg                        32
cylinders                   2
displacement              135
horsepower                 84
weight                   2295
acceleration             11.6
model year                 82
origin                      1
car name        dodge rampage
Name: 395, dtype: object
396 mpg                      28
cylinders                 2
displacement            120
horsepower               79
weight                 2625
acceleration           18.6
model year               82
origin                    1
car name        ford ranger
Name: 396, dtype: object
397 mpg                     31
cylinders                2
displacement           119
horsepower              82
weight                2720
acceleration          19.4
model year              82
origin                   1
car name        chevy s-10
Name: 397, dtype: object

In [193]:
for index, row in cars.iterrows():
    print(index,row['mpg'])

0 18.0
1 15.0
2 18.0
3 16.0
4 17.0
5 15.0
6 14.0
7 14.0
8 14.0
9 15.0
10 15.0
11 14.0
12 15.0
13 14.0
14 24.0
15 22.0
16 18.0
17 21.0
18 27.0
19 26.0
20 25.0
21 24.0
22 25.0
23 26.0
24 21.0
25 10.0
26 10.0
27 11.0
28 9.0
29 27.0
30 28.0
31 25.0
32 25.0
33 19.0
34 16.0
35 17.0
36 19.0
37 18.0
38 14.0
39 14.0
40 14.0
41 14.0
42 12.0
43 13.0
44 13.0
45 18.0
46 22.0
47 19.0
48 18.0
49 23.0
50 28.0
51 30.0
52 30.0
53 31.0
54 35.0
55 27.0
56 26.0
57 24.0
58 25.0
59 23.0
60 20.0
61 21.0
62 13.0
63 14.0
64 15.0
65 14.0
66 17.0
67 11.0
68 13.0
69 12.0
70 13.0
71 19.0
72 15.0
73 13.0
74 13.0
75 14.0
76 18.0
77 22.0
78 21.0
79 26.0
80 22.0
81 28.0
82 23.0
83 28.0
84 27.0
85 13.0
86 14.0
87 13.0
88 14.0
89 15.0
90 12.0
91 13.0
92 13.0
93 14.0
94 13.0
95 12.0
96 13.0
97 18.0
98 16.0
99 18.0
100 18.0
101 23.0
102 26.0
103 11.0
104 12.0
105 13.0
106 12.0
107 18.0
108 20.0
109 21.0
110 22.0
111 18.0
112 19.0
113 21.0
114 26.0
115 15.0
116 16.0
117 29.0
118 24.0
119 20.0
120 19.0
121 15.0
122 24.0
123 20.0
124 11.0
125 20.0
126 21.0
127 19.0
128 15.0
129 31.0
130 26.0
131 32.0
132 25.0
133 16.0
134 16.0
135 18.0
136 16.0
137 13.0
138 14.0
139 14.0
140 14.0
141 29.0
142 26.0
143 26.0
144 31.0
145 32.0
146 28.0
147 24.0
148 26.0
149 24.0
150 26.0
151 31.0
152 19.0
153 18.0
154 15.0
155 15.0
156 16.0
157 15.0
158 16.0
159 14.0
160 17.0
161 16.0
162 15.0
163 18.0
164 21.0
165 20.0
166 13.0
167 29.0
168 23.0
169 20.0
170 23.0
171 24.0
172 25.0
173 24.0
174 18.0
175 29.0
176 19.0
177 23.0
178 23.0
179 22.0
180 25.0
181 33.0
182 28.0
183 25.0
184 25.0
185 26.0
186 27.0
187 17.5
188 16.0
189 15.5
190 14.5
191 22.0
192 22.0
193 24.0
194 22.5
195 29.0
196 24.5
197 29.0
198 33.0
199 20.0
200 18.0
201 18.5
202 17.5
203 29.5
204 32.0
205 28.0
206 26.5
207 20.0
208 13.0
209 19.0
210 19.0
211 16.5
212 16.5
213 13.0
214 13.0
215 13.0
216 31.5
217 30.0
218 36.0
219 25.5
220 33.5
221 17.5
222 17.0
223 15.5
224 15.0
225 17.5
226 20.5
227 19.0
228 18.5
229 16.0
230 15.5
231 15.5
232 16.0
233 29.0
234 24.5
235 26.0
236 25.5
237 30.5
238 33.5
239 30.0
240 30.5
241 22.0
242 21.5
243 21.5
244 43.1
245 36.1
246 32.8
247 39.4
248 36.1
249 19.9
250 19.4
251 20.2
252 19.2
253 20.5
254 20.2
255 25.1
256 20.5
257 19.4
258 20.6
259 20.8
260 18.6
261 18.1
262 19.2
263 17.7
264 18.1
265 17.5
266 30.0
267 27.5
268 27.2
269 30.9
270 21.1
271 23.2
272 23.8
273 23.9
274 20.3
275 17.0
276 21.6
277 16.2
278 31.5
279 29.5
280 21.5
281 19.8
282 22.3
283 20.2
284 20.6
285 17.0
286 17.6
287 16.5
288 18.2
289 16.9
290 15.5
291 19.2
292 18.5
293 31.9
294 34.1
295 35.7
296 27.4
297 25.4
298 23.0
299 27.2
300 23.9
301 34.2
302 34.5
303 31.8
304 37.3
305 28.4
306 28.8
307 26.8
308 33.5
309 41.5
310 38.1
311 32.1
312 37.2
313 28.0
314 26.4
315 24.3
316 19.1
317 34.3
318 29.8
319 31.3
320 37.0
321 32.2
322 46.6
323 27.9
324 40.8
325 44.3
326 43.4
327 36.4
328 30.0
329 44.6
330 40.9
331 33.8
332 29.8
333 32.7
334 23.7
335 35.0
336 23.6
337 32.4
338 27.2
339 26.6
340 25.8
341 23.5
342 30.0
343 39.1
344 39.0
345 35.1
346 32.3
347 37.0
348 37.7
349 34.1
350 34.7
351 34.4
352 29.9
353 33.0
354 34.5
355 33.7
356 32.4
357 32.9
358 31.6
359 28.1
360 30.7
361 25.4
362 24.2
363 22.4
364 26.6
365 20.2
366 17.6
367 28.0
368 27.0
369 34.0
370 31.0
371 29.0
372 27.0
373 24.0
374 23.0
375 36.0
376 37.0
377 31.0
378 38.0
379 36.0
380 36.0
381 36.0
382 34.0
383 38.0
384 32.0
385 38.0
386 25.0
387 38.0
388 26.0
389 22.0
390 32.0
391 36.0
392 27.0
393 27.0
394 44.0
395 32.0
396 28.0
397 31.0

In [195]:
cars.loc[cars['mpg'] == 18]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,2,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
2,18.0,2,318.0,150,3436,11.0,70,1,plymouth satellite
16,18.0,2,199.0,97,2774,15.5,70,1,amc hornet
37,18.0,2,232.0,100,3288,15.5,71,1,amc matador
45,18.0,2,258.0,110,2962,13.5,71,1,amc hornet sportabout (sw)
48,18.0,2,250.0,88,3139,14.5,71,1,ford mustang
76,18.0,2,121.0,112,2933,14.5,72,2,volvo 145e (sw)
97,18.0,2,225.0,105,3121,16.5,73,1,plymouth valiant
99,18.0,2,232.0,100,2945,16.0,73,1,amc hornet
100,18.0,2,250.0,88,3021,16.5,73,1,ford maverick
107,18.0,2,232.0,100,2789,15.0,73,1,amc gremlin
111,18.0,2,70.0,90,2124,13.5,73,3,maxda rx3
135,18.0,2,225.0,105,3613,16.5,74,1,plymouth satellite sebring
153,18.0,2,250.0,105,3459,16.0,75,1,chevrolet nova
163,18.0,2,225.0,95,3785,19.0,75,1,plymouth fury
174,18.0,2,171.0,97,2984,14.5,75,1,ford pinto
200,18.0,2,250.0,78,3574,21.0,76,1,ford granada ghia

In [200]:
cars.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [201]:
cars.sort_values(['mpg', 'cylinders'], ascending=True)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
28,9.0,8,304.0,193,4732,18.5,70,1,hi 1200d
25,10.0,8,360.0,215,4615,14.0,70,1,ford f250
26,10.0,8,307.0,200,4376,15.0,70,1,chevy c20
27,11.0,8,318.0,210,4382,13.5,70,1,dodge d200
67,11.0,8,429.0,208,4633,11.0,72,1,mercury marquis
...,...,...,...,...,...,...,...,...,...
326,43.4,4,90.0,48,2335,23.7,80,2,vw dasher (diesel)
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
325,44.3,4,90.0,48,2085,21.7,80,2,vw rabbit c (diesel)
329,44.6,4,91.0,67,1850,13.8,80,3,honda civic 1500 gl
322,46.6,4,86.0,65,2110,17.9,80,3,mazda glc

In [203]:
cars.sort_values(['mpg', 'cylinders'], ascending=[1,1])

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
28,9.0,8,304.0,193,4732,18.5,70,1,hi 1200d
25,10.0,8,360.0,215,4615,14.0,70,1,ford f250
26,10.0,8,307.0,200,4376,15.0,70,1,chevy c20
27,11.0,8,318.0,210,4382,13.5,70,1,dodge d200
67,11.0,8,429.0,208,4633,11.0,72,1,mercury marquis
...,...,...,...,...,...,...,...,...,...
326,43.4,4,90.0,48,2335,23.7,80,2,vw dasher (diesel)
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
325,44.3,4,90.0,48,2085,21.7,80,2,vw rabbit c (diesel)
329,44.6,4,91.0,67,1850,13.8,80,3,honda civic 1500 gl
322,46.6,4,86.0,65,2110,17.9,80,3,mazda glc

### Making changes to the data

In [207]:
cars['Total'] = cars['mpg'] + cars['cylinders']

In [208]:
cars.head(4)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,Total
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,26.0
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,23.0
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,26.0
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,24.0

In [211]:
cars = cars.drop(columns=['Total'])

In [218]:
cars['Total'] = cars.iloc[:,0:8].sum(axis=1)

In [219]:
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,Total
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,3920.0
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,4148.5
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,3862.0
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,3844.0
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,3857.5
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,3059.6
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,2383.6
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,2560.6
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,2878.6
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,2976.4

In [220]:
cars.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name', 'Total'],
      dtype='object')

In [222]:
cars = cars[['Total','mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name']]

In [223]:
cars

,Total,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,3920.0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,4148.5,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,3862.0,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,3844.0,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,3857.5,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...,...
393,3059.6,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,2383.6,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,2560.6,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,2878.6,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,2976.4,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [227]:
col = list(cars.columns)
cars = cars[col[0:4] + [col[-1]]+col[4:10]]

In [228]:
cars

,Total,mpg,cylinders,displacement,car name,horsepower,weight,acceleration,model year,origin,car name
0,3920.0,18.0,8,307.0,chevrolet chevelle malibu,130,3504,12.0,70,1,chevrolet chevelle malibu
1,4148.5,15.0,8,350.0,buick skylark 320,165,3693,11.5,70,1,buick skylark 320
2,3862.0,18.0,8,318.0,plymouth satellite,150,3436,11.0,70,1,plymouth satellite
3,3844.0,16.0,8,304.0,amc rebel sst,150,3433,12.0,70,1,amc rebel sst
4,3857.5,17.0,8,302.0,ford torino,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...,...,...
393,3059.6,27.0,4,140.0,ford mustang gl,86,2790,15.6,82,1,ford mustang gl
394,2383.6,44.0,4,97.0,vw pickup,52,2130,24.6,82,2,vw pickup
395,2560.6,32.0,4,135.0,dodge rampage,84,2295,11.6,82,1,dodge rampage
396,2878.6,28.0,4,120.0,ford ranger,79,2625,18.6,82,1,ford ranger
397,2976.4,31.0,4,119.0,chevy s-10,82,2720,19.4,82,1,chevy s-10

### Saving the new data

In [230]:
cars.to_csv('new cars.csv', index=False)

In [231]:
cars.to_excel('cars.xlsx', index=False)

In [232]:
cars.to_csv('cars.txt', index=False)

In [234]:
cars.to_csv('new cars.txt', index=False, sep='\t')

In [236]:
new_cars = pd.read_csv('new cars.txt')

In [237]:
new_cars

    Total\tmpg\tcylinders\tdisplacement\tcar name\thorsepower\tweight\tacceleration\tmodel year\torigin\tcar name
0    3920.0\t18.0\t8\t307.0\tchevrolet chevelle mal...
1    4148.5\t15.0\t8\t350.0\tbuick skylark 320\t165...
2    3862.0\t18.0\t8\t318.0\tplymouth satellite\t15...
3    3844.0\t16.0\t8\t304.0\tamc rebel sst\t150\t34...
4    3857.5\t17.0\t8\t302.0\tford torino\t140\t3449...
..                                                 ...
393  3059.6\t27.0\t4\t140.0\tford mustang gl\t86\t2...
394  2383.6\t44.0\t4\t97.0\tvw pickup\t52\t2130\t24...
395  2560.6\t32.0\t4\t135.0\tdodge rampage\t84\t229...
396  2878.6\t28.0\t4\t120.0\tford ranger\t79\t2625\...
397  2976.4\t31.0\t4\t119.0\tchevy s-10\t82\t2720\t...

[398 rows x 1 columns]

In [238]:
old_cars = pd.read_csv('cars.txt')

In [239]:
old_cars

,Total,mpg,cylinders,displacement,car name,horsepower,weight,acceleration,model year,origin,car name.1
0,3920.0,18.0,8,307.0,chevrolet chevelle malibu,130,3504,12.0,70,1,chevrolet chevelle malibu
1,4148.5,15.0,8,350.0,buick skylark 320,165,3693,11.5,70,1,buick skylark 320
2,3862.0,18.0,8,318.0,plymouth satellite,150,3436,11.0,70,1,plymouth satellite
3,3844.0,16.0,8,304.0,amc rebel sst,150,3433,12.0,70,1,amc rebel sst
4,3857.5,17.0,8,302.0,ford torino,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...,...,...
393,3059.6,27.0,4,140.0,ford mustang gl,86,2790,15.6,82,1,ford mustang gl
394,2383.6,44.0,4,97.0,vw pickup,52,2130,24.6,82,2,vw pickup
395,2560.6,32.0,4,135.0,dodge rampage,84,2295,11.6,82,1,dodge rampage
396,2878.6,28.0,4,120.0,ford ranger,79,2625,18.6,82,1,ford ranger
397,2976.4,31.0,4,119.0,chevy s-10,82,2720,19.4,82,1,chevy s-10

In [244]:
better_cars = pd.read_csv('new cars.csv', delimiter=',')
#better_cars = pd.read_csv('new cars.csv', delimiter='\t')

In [245]:
better_cars

,Total,mpg,cylinders,displacement,car name,horsepower,weight,acceleration,model year,origin,car name.1
0,3920.0,18.0,8,307.0,chevrolet chevelle malibu,130,3504,12.0,70,1,chevrolet chevelle malibu
1,4148.5,15.0,8,350.0,buick skylark 320,165,3693,11.5,70,1,buick skylark 320
2,3862.0,18.0,8,318.0,plymouth satellite,150,3436,11.0,70,1,plymouth satellite
3,3844.0,16.0,8,304.0,amc rebel sst,150,3433,12.0,70,1,amc rebel sst
4,3857.5,17.0,8,302.0,ford torino,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...,...,...
393,3059.6,27.0,4,140.0,ford mustang gl,86,2790,15.6,82,1,ford mustang gl
394,2383.6,44.0,4,97.0,vw pickup,52,2130,24.6,82,2,vw pickup
395,2560.6,32.0,4,135.0,dodge rampage,84,2295,11.6,82,1,dodge rampage
396,2878.6,28.0,4,120.0,ford ranger,79,2625,18.6,82,1,ford ranger
397,2976.4,31.0,4,119.0,chevy s-10,82,2720,19.4,82,1,chevy s-10

### Filtering the data

In [248]:
cars.loc[:,'mpg']

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [250]:
cars.loc[(cars['mpg'] == 20)]

,Total,mpg,cylinders,displacement,car name,horsepower,weight,acceleration,model year,origin,car name
60,2664.5,20.0,4,140.0,chevrolet vega,90,2408,19.5,72,1,chevrolet vega
108,2495.0,20.0,4,97.0,toyota carina,88,2279,19.0,73,3,toyota carina
119,2809.0,20.0,4,114.0,audi 100ls,91,2582,14.0,73,2,audi 100ls
123,3078.5,20.0,6,156.0,toyota mark ii,122,2807,13.5,73,3,toyota mark ii
125,3417.5,20.0,6,198.0,plymouth duster,95,3102,16.5,74,1,plymouth duster
165,3600.5,20.0,8,262.0,chevrolet monza 2+2,110,3221,13.5,75,1,chevrolet monza 2+2
169,3264.0,20.0,6,232.0,amc gremlin,100,2914,16.0,75,1,amc gremlin
199,3996.7,20.0,6,225.0,dodge aspen se,100,3651,17.7,76,1,dodge aspen se
207,3397.7,20.0,4,130.0,volvo 245,102,3150,15.7,76,2,volvo 245

In [269]:
new_cars = cars.loc[(cars['cylinders'] == 4) & (cars['displacement'] >=100)]
new_cars

,Total,mpg,cylinders,displacement,car name,horsepower,weight,acceleration,model year,origin,car name
14,2601.0,24.0,4,113.0,toyota corona mark ii,95,2372,15.0,70,3,toyota corona mark ii
20,2900.5,25.0,4,110.0,peugeot 504,87,2672,17.5,70,2,peugeot 504
21,2651.5,24.0,4,107.0,audi 100 ls,90,2430,14.5,70,2,audi 100 ls
22,2597.5,25.0,4,104.0,saab 99e,95,2375,17.5,70,2,saab 99e
23,2469.5,26.0,4,121.0,bmw 2002,113,2234,12.5,70,2,bmw 2002
...,...,...,...,...,...,...,...,...,...,...,...
392,3232.3,27.0,4,151.0,chevrolet camaro,90,2950,17.3,82,1,chevrolet camaro
393,3059.6,27.0,4,140.0,ford mustang gl,86,2790,15.6,82,1,ford mustang gl
395,2560.6,32.0,4,135.0,dodge rampage,84,2295,11.6,82,1,dodge rampage
396,2878.6,28.0,4,120.0,ford ranger,79,2625,18.6,82,1,ford ranger
397,2976.4,31.0,4,119.0,chevy s-10,82,2720,19.4,82,1,chevy s-10

In [266]:
new_cars.to_csv('news_cars.csv')

In [267]:
new = new_cars.reset_index(drop=True, inplace=True)

In [270]:
new_cars

,Total,mpg,cylinders,displacement,car name,horsepower,weight,acceleration,model year,origin,car name
14,2601.0,24.0,4,113.0,toyota corona mark ii,95,2372,15.0,70,3,toyota corona mark ii
20,2900.5,25.0,4,110.0,peugeot 504,87,2672,17.5,70,2,peugeot 504
21,2651.5,24.0,4,107.0,audi 100 ls,90,2430,14.5,70,2,audi 100 ls
22,2597.5,25.0,4,104.0,saab 99e,95,2375,17.5,70,2,saab 99e
23,2469.5,26.0,4,121.0,bmw 2002,113,2234,12.5,70,2,bmw 2002
...,...,...,...,...,...,...,...,...,...,...,...
392,3232.3,27.0,4,151.0,chevrolet camaro,90,2950,17.3,82,1,chevrolet camaro
393,3059.6,27.0,4,140.0,ford mustang gl,86,2790,15.6,82,1,ford mustang gl
395,2560.6,32.0,4,135.0,dodge rampage,84,2295,11.6,82,1,dodge rampage
396,2878.6,28.0,4,120.0,ford ranger,79,2625,18.6,82,1,ford ranger
397,2976.4,31.0,4,119.0,chevy s-10,82,2720,19.4,82,1,chevy s-10

In [271]:
new_cars.reset_index(drop=True, inplace=True)

In [272]:
cars.loc[(cars['cylinders'] != 4) & (cars['displacement'] >=100)]

,Total,mpg,cylinders,displacement,car name,horsepower,weight,acceleration,model year,origin,car name
0,3920.0,18.0,8,307.0,chevrolet chevelle malibu,130,3504,12.0,70,1,chevrolet chevelle malibu
1,4148.5,15.0,8,350.0,buick skylark 320,165,3693,11.5,70,1,buick skylark 320
2,3862.0,18.0,8,318.0,plymouth satellite,150,3436,11.0,70,1,plymouth satellite
3,3844.0,16.0,8,304.0,amc rebel sst,150,3433,12.0,70,1,amc rebel sst
4,3857.5,17.0,8,302.0,ford torino,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...,...,...
365,3385.3,20.2,6,200.0,ford granada gl,88,3060,17.1,81,1,ford granada gl
366,3812.2,17.6,6,225.0,chrysler lebaron salon,85,3465,16.6,81,1,chrysler lebaron salon
386,3256.4,25.0,6,181.0,buick century limited,110,2945,16.4,82,1,buick century limited
387,3421.0,38.0,6,262.0,oldsmobile cutlass ciera (diesel),85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
389,3192.7,22.0,6,232.0,ford granada l,112,2835,14.7,82,1,ford granada l

In [ ]:
cars.loc[cars['car name'].str.contains('ford')]

In [284]:
import re
cars.loc[cars['car name']].str.contains('ford', flags=re.I, regex=True)

ValueError: Cannot index with multidimensional key

In [279]:
titanic

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,0,3,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,211536,13.0000,NaN,S
887,1,1,female,19.0,0,0,112053,30.0000,B42,S
888,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,male,26.0,0,0,111369,30.0000,C148,C
890,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [285]:
import re
cars.loc[cars['car name']].str.contains('pi[a-z]*', flags=re.I, regex=True)

ValueError: Cannot index with multidimensional key

In [295]:
loans = pd.read_csv('/root/data/loansData.csv')

In [296]:
loans.head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
81174,20000,20000.0,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
99592,19200,19200.0,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
80059,35000,35000.0,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
15825,10000,9975.0,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
33182,12000,12000.0,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [299]:
import re
loans.loc[loans['Loan.Purpose']].str.contains('debt_consolidation', flags=re.I, regex=True)

KeyError: "None of [Index(['debt_consolidation', 'debt_consolidation', 'debt_consolidation',\n       'debt_consolidation', 'credit_card', 'other', 'debt_consolidation',\n       'credit_card', 'credit_card', 'credit_card',\n       ...\n       'debt_consolidation', 'debt_consolidation', 'debt_consolidation',\n       'other', 'debt_consolidation', 'debt_consolidation', 'home_improvement',\n       'debt_consolidation', 'major_purchase', 'debt_consolidation'],\n      dtype='object', length=2500)] are in the [index]"

In [300]:
loans.loc[loans['Loan.Purpose'].str.contains('debt')]

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
81174,20000,20000.00,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
99592,19200,19200.00,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
80059,35000,35000.00,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
15825,10000,9975.00,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
48808,10000,10000.00,7.90%,36 months,debt_consolidation,26.09%,MA,RENT,2916.67,720-724,10.0,15957.0,0.0,10+ years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
925,6400,6350.00,10.08%,36 months,debt_consolidation,8.11%,NJ,MORTGAGE,5166.67,710-714,5.0,5815.0,2.0,10+ years
49957,24000,23975.00,14.65%,36 months,debt_consolidation,15.29%,WA,MORTGAGE,6666.67,685-689,13.0,17521.0,0.0,5 years
23735,30000,29950.00,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15.0,45880.0,1.0,8 years
55610,10000,10000.00,13.99%,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4.0,4544.0,0.0,10+ years
3116,9000,5242.75,13.79%,36 months,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7.0,7589.0,0.0,10+ years

In [301]:
loans.loc[loans['Home.Ownership'].str.contains('RENT')]

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
33182,12000,12000.00,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years
48808,10000,10000.00,7.90%,36 months,debt_consolidation,26.09%,MA,RENT,2916.67,720-724,10.0,15957.0,0.0,10+ years
76404,14675,14675.00,14.33%,36 months,credit_card,26.92%,CA,RENT,3150.00,685-689,9.0,7246.0,1.0,8 years
15867,7000,7000.00,6.91%,36 months,credit_card,7.10%,CA,RENT,5000.00,715-719,8.0,7612.0,0.0,3 years
94971,2000,2000.00,19.72%,36 months,moving,10.29%,FL,RENT,3575.00,670-674,10.0,12036.0,0.0,6 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63256,19075,19075.00,18.75%,36 months,debt_consolidation,15.23%,NY,RENT,5166.67,670-674,17.0,13749.0,3.0,10+ years
42124,10000,10000.00,11.71%,36 months,debt_consolidation,8.40%,CA,RENT,4500.00,710-714,8.0,8404.0,1.0,3 years
78043,8475,8475.00,7.62%,36 months,debt_consolidation,15.88%,CA,RENT,3983.33,720-724,9.0,6882.0,0.0,NaN
38576,6000,6000.00,12.42%,36 months,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8.0,7753.0,0.0,5 years
3116,9000,5242.75,13.79%,36 months,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7.0,7589.0,0.0,10+ years

In [307]:
loans.loc[loans['Home.Ownership'].str.contains('M')]

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
81174,20000,20000.0,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
99592,19200,19200.0,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
80059,35000,35000.0,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
15825,10000,9975.0,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
22090,33500,33450.0,17.14%,60 months,credit_card,14.70%,LA,MORTGAGE,13863.42,705-709,12.0,27874.0,0.0,10+ years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
925,6400,6350.0,10.08%,36 months,debt_consolidation,8.11%,NJ,MORTGAGE,5166.67,710-714,5.0,5815.0,2.0,10+ years
74047,30000,30000.0,23.28%,60 months,other,12.10%,IL,MORTGAGE,7083.33,675-679,16.0,17969.0,1.0,10+ years
49957,24000,23975.0,14.65%,36 months,debt_consolidation,15.29%,WA,MORTGAGE,6666.67,685-689,13.0,17521.0,0.0,5 years
23735,30000,29950.0,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15.0,45880.0,1.0,8 years
55610,10000,10000.0,13.99%,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4.0,4544.0,0.0,10+ years

### Conditional changes

In [288]:
cars.loc[cars['cylinders'] ==5]

,Total,mpg,cylinders,displacement,car name,horsepower,weight,acceleration,model year,origin,car name
274,3082.2,20.3,5,131.0,audi 5000,103,2830,15.9,78,2,audi 5000
297,3844.5,25.4,5,183.0,mercedes benz 300d,77,3530,20.1,79,2,mercedes benz 300d
327,3214.3,36.4,5,121.0,audi 5000s (diesel),67,2950,19.9,80,2,audi 5000s (diesel)

In [316]:
loans.loc[loans['Home.Ownership'] == 'True','Home.Ownership'] = 'Pesa'

In [317]:
loans

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
81174,20000,20000,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14,14272,2,< 1 year
99592,19200,19200,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12,11140,1,2 years
80059,35000,35000,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500,690-694,14,21977,1,2 years
15825,10000,9975,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10,9346,0,5 years
33182,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23735,30000,29950,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250,705-709,15,45880,1,8 years
65882,16000,16000,14.09%,60 months,home_improvement,21.54%,MD,OWN,8903.25,740-744,18,18898,1,10+ years
55610,10000,10000,13.99%,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4,4544,0,10+ years
38576,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3116,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [322]:
loans.loc[loans['Amount.Requested'] > 15000, ['Home.Ownership','Loan.Purpose']] =['Good','Great']

In [323]:
loans

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
81174,20000,20000,8.90%,36 months,Great,14.90%,SC,Good,6541.67,735-739,14,14272,2,< 1 year
99592,19200,19200,12.12%,36 months,Great,28.36%,TX,Good,4583.33,715-719,12,11140,1,2 years
80059,35000,35000,21.98%,60 months,Great,23.81%,CA,Good,11500,690-694,14,21977,1,2 years
15825,10000,9975,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10,9346,0,5 years
33182,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23735,30000,29950,16.77%,60 months,Great,19.23%,NY,Good,9250,705-709,15,45880,1,8 years
65882,16000,16000,14.09%,60 months,Great,21.54%,MD,Good,8903.25,740-744,18,18898,1,10+ years
55610,10000,10000,13.99%,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4,4544,0,10+ years
38576,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3116,True,True,True,True,True,True,True,True,True,True,True,True,True,True

### Aggregate Statistics (Groupby)

In [324]:
loans = pd.read_csv('/root/data/loansData.csv')

In [327]:
loans.groupby(['Loan.Purpose']).mean().sort_values('Amount.Requested', ascending=False)

,Amount.Requested,Amount.Funded.By.Investors,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months
Loan.Purpose,,,,,,
debt_consolidation,13832.096404,13504.712334,5724.002173,10.468248,15737.888294,0.896710
small_business,13137.931034,12123.474598,5736.500460,8.850575,11795.000000,1.000000
home_improvement,13029.605263,11773.935921,6789.797500,9.559211,14768.375000,1.111842
house,12888.750000,12553.492500,6143.987000,8.400000,11536.250000,1.100000
credit_card,12251.520270,11912.458694,5344.379820,10.815315,19140.756757,0.781532
wedding,11020.512821,10635.755128,5723.081282,9.256410,11363.358974,0.717949
medical,8710.000000,8611.313667,5046.561000,8.700000,12868.500000,0.966667
other,8540.298507,8169.220746,5199.014950,8.804020,12495.487437,1.050251
major_purchase,8187.128713,7973.150891,6505.119802,8.554455,9940.554455,0.920792
car,8167.500000,7846.180200,5568.632000,9.220000,8459.400000,0.600000
moving,7672.413793,7553.576207,5360.492414,8.068966,12002.827586,1.068966
vacation,7314.285714,7294.944286,6242.261905,10.000000,14661.285714,0.809524
educational,5305.000000,4389.999333,4145.705333,8.666667,6865.000000,1.866667
renewable_energy,4525.000000,4462.500000,2470.835000,5.250000,2393.250000,0.500000

In [328]:
loans.groupby(['Home.Ownership']).sum()

,Amount.Requested,Amount.Funded.By.Investors,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months
Home.Ownership,,,,,,
MORTGAGE,15760550,15169856.36,7610889.68,12446.0,21839625.0,1178.0
NONE,5000,4525.00,0.00,0.0,0.0,0.0
OTHER,48125,41616.41,27849.67,72.0,149460.0,7.0
OWN,2282475,2176386.84,954363.47,1981.0,2844935.0,160.0
RENT,12920100,12611548.48,5623536.55,10670.0,13246890.0,919.0

In [329]:
loans.groupby(['Home.Ownership']).count()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
Home.Ownership,,,,,,,,,,,,,
MORTGAGE,1148,1148,1148,1148,1148,1148,1148,1148,1148,1148,1148,1148,1113
NONE,1,1,1,1,1,1,1,0,1,0,0,0,1
OTHER,5,5,5,5,5,5,5,5,5,5,5,5,5
OWN,200,200,200,200,200,200,200,200,200,200,200,200,189
RENT,1146,1146,1146,1146,1146,1146,1146,1146,1146,1145,1145,1145,1115

In [332]:
loans.groupby(['Home.Ownership']).sum().sort_values('Amount.Funded.By.Investors')

,Amount.Requested,Amount.Funded.By.Investors,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months
Home.Ownership,,,,,,
NONE,5000,4525.00,0.00,0.0,0.0,0.0
OTHER,48125,41616.41,27849.67,72.0,149460.0,7.0
OWN,2282475,2176386.84,954363.47,1981.0,2844935.0,160.0
RENT,12920100,12611548.48,5623536.55,10670.0,13246890.0,919.0
MORTGAGE,15760550,15169856.36,7610889.68,12446.0,21839625.0,1178.0

In [334]:
loans.groupby(['Home.Ownership']).count(['count'])

TypeError: count() takes 1 positional argument but 2 were given

In [335]:
loans.groupby(['Home.Ownership','Loan.Purpose']).sum()

                                   Amount.Requested  \
Home.Ownership Loan.Purpose
MORTGAGE       car                           172375
               credit_card                  2542625
               debt_consolidation           9356900
               educational                    29800
               home_improvement             1496375
               house                          80075
               major_purchase                373950
               medical                       142800
               moving                         74500
               other                         680075
               renewable_energy                1000
               small_business                604025
               vacation                       51400
               wedding                       154650
NONE           other                           5000
OTHER          credit_card                    24575
               debt_consolidation             20050
               medical                         3500
OWN            car                            18450
               credit_card                   439925
               debt_consolidation           1109300
               educational                     9000
               home_improvement              285050
               house                          28850
               major_purchase                121350
               medical                         7000
               moving                          1000
               other                         176850
               small_business                 56200
               vacation                       16500
               wedding                        13000
RENT           car                           217550
               credit_card                  2432550
               debt_consolidation           7592300
               educational                    40775
               home_improvement              199075
               house                         148850
               major_purchase                331600
               medical                       108000
               moving                        147000
               other                         854675
               renewable_energy               17100
               small_business                482775
               vacation                       85700
               wedding                       262150

                                   Amount.Funded.By.Investors  Monthly.Income  \
Home.Ownership Loan.Purpose
MORTGAGE       car                                  162700.00       138290.68
               credit_card                         2438823.70      1175491.31
               debt_consolidation                  9147208.63      4108061.74
               educational                           22249.99        27338.75
               home_improvement                    1359881.69       782180.29
               house                                 80075.00        25916.66
               major_purchase                       355870.11       352857.34
               medical                              142725.00        71520.16
               moving                                72199.90        31208.34
               other                                647285.42       506404.55
               renewable_energy                        750.00         1800.00
               small_business                       537056.58       260409.11
               vacation                              51043.83        49683.33
               wedding                              151986.51        79727.42
NONE           other                                  4525.00            0.00
OTHER          credit_card                           24575.00        12250.00
               debt_consolidation                    16351.07        11849.67
               medical                                 690.34         3750.00
OWN            car                                   18425.00        20333.33
               credit_card                          439875.00       150573.34
               debt_consolidation                  1076121.83       415599.92
               educational                            8175.00         9338.50
               home_improvement                     230856.57       131856.58
               house                                 28800.00        15100.00
               major_purchase                       121325.00        87742.43
               medical                                7000.00         2300.00
               moving                                 1000.00         3176.00
               other                                165993.04        63960.03
               small_business                        49315.40        33050.00
               vacation                              16500.00        14666.67
               wedding                               13000.00         6666.67
RENT           car                                  211184.01       119807.59
               credit_card                         2385857.96      1034589.99
               debt_consolidation                  7410977.49      2945759.51
               educational                           35425.00        25508.33
               home_improvement                     198900.00       118012.35
               house                                142194.85        81863.08
               major_purchase                       328093.13       216417.33
               medical                              107924.07        73826.67
               moving                               145853.81       121069.94
               other                                824209.91       469438.41
               renewable_energy                      17100.00         8083.34
               small_business                       468370.31       205616.43
               vacation                              85650.00        66737.50
               wedding                              249807.94       136806.08

                                   Open.CREDIT.Lines  \
Home.Ownership Loan.Purpose
MORTGAGE       car                             195.0
               credit_card                    2142.0
               debt_consolidation             6965.0
               educational                      53.0
               home_improvement               1133.0
               house                            53.0
               major_purchase                  422.0
               medical                         124.0
               moving                           30.0
               other                           741.0
               renewable_energy                  2.0
               small_business                  387.0
               vacation                         61.0
               wedding                         138.0
NONE           other                             0.0
OTHER          credit_card                      40.0
               debt_consolidation               24.0
               medical                           8.0
OWN            car                              56.0
               credit_card                     426.0
               debt_consolidation              842.0
               educational                      31.0
               home_improvement                210.0
               house                            15.0
               major_purchase                  135.0
               medical                           4.0
               moving                            6.0
               other                           141.0
               small_business                   60.0
               vacation                         41.0
               wedding                          14.0
RENT           car                             210.0
               credit_card                    2194.0
               debt_consolidation             5851.0
               educational                      46.0
               home_improvement                110.0
               house                           100.0
               major_purchase                  307.0
               medical                         125.0
               moving                          198.0
               other                           870.0
               renewable_energy                 19.0
               small_business                  323.0
               vacation                        108.0
               wedding                         209.0

                                   Revolving.CREDIT.Balance  \
Home.Ownership Loan.Purpose
MORTGAGE       car                                 221620.0
               credit_card                        4938181.0
               debt_consolidation                11833526.0
               educational                          47832.0
               home_improvement                   1561420.0
               house                                73901.0
               major_purchase                      563262.0
               medical                             222397.0
               moving                               84140.0
               other                              1420207.0
               renewable_energy                         0.0
               small_business                      648830.0
               vacation                             99864.0
               wedding                             124445.0
NONE           other                                    0.0
OTHER          credit_card                          96701.0
               debt_consolidation                   42988.0
               medical                               9771.0
OWN            car                                  40601.0
               credit_card                         484280.0
               debt_consolidation                 1294548.0
               educational                          22214.0
               home_improvement                    516324.0
               house                                 1212.0
               major_purchase                      216395.0
               medical                                  0.0
               moving                               10982.0
               other                               140696.0
               small_business                       66599.0
               vacation                             35384.0
               wedding                              15700.0
RENT           car                                 160749.0
               credit_card                        2979334.0
               debt_consolidation                 7398358.0
               educational                          32929.0
               home_improvement                    167049.0
               house                               155612.0
               major_purchase                      224339.0
               medical                             153887.0
               moving                              252960.0
               other                               925699.0
               renewable_energy                      9573.0
               small_business                      310736.0
               vacation                            172639.0
               wedding                             303026.0

                                   Inquiries.in.the.Last.6.Months
Home.Ownership Loan.Purpose
MORTGAGE       car                                           14.0
               credit_card                                  172.0
               debt_consolidation                           643.0
               educational                                   15.0
               home_improvement                             119.0
               house                                          5.0
               major_purchase                                39.0
               medical                                       10.0
               moving                                         3.0
               other                                         90.0
               renewable_energy                               1.0
               small_business                                47.0
               vacation                                       3.0
               wedding                                       17.0
NONE           other                                          0.0
OTHER          credit_card                                    2.0
               debt_consolidation                             1.0
               medical                                        4.0
OWN            car                                            2.0
               credit_card                                   27.0
               debt_consolidation                            62.0
               educational                                    1.0
               home_improvement                              23.0
               house                                          0.0
               major_purchase                                14.0
               medical                                        0.0
               moving                                         2.0
               other                                         10.0
               small_business                                 9.0
               vacation                                       7.0
               wedding                                        3.0
RENT           car                                           14.0
               credit_card                                  146.0
               debt_consolidation                           466.0
               educational                                   12.0
               home_improvement                              27.0
               house                                         17.0
               major_purchase                                40.0
               medical                                       15.0
               moving                                        26.0
               other                                        109.0
               renewable_energy                               1.0
               small_business                                31.0
               vacation                                       7.0
               wedding                                        8.0

### Working with large amounts of data

In [341]:
for df in pd.read_csv('/root/data/loansData.csv', chunksize=5):
    print('CHUNK DF')
    print(df)

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
81174             20000                       20000         8.90%   36 months
99592             19200                       19200        12.12%   36 months
80059             35000                       35000        21.98%   60 months
15825             10000                        9975         9.99%   36 months
33182             12000                       12000        11.71%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
81174  debt_consolidation               14.90%    SC       MORTGAGE
99592  debt_consolidation               28.36%    TX       MORTGAGE
80059  debt_consolidation               23.81%    CA       MORTGAGE
15825  debt_consolidation               14.30%    KS       MORTGAGE
33182         credit_card               18.78%    NJ           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
81174         6541.67    735-739                 14                     14272
99592         4583.33    715-719                 12                     11140
80059        11500.00    690-694                 14                     21977
15825         3833.33    695-699                 10                      9346
33182         3195.00    695-699                 11                     14469

       Inquiries.in.the.Last.6.Months Employment.Length
81174                               2          < 1 year
99592                               1           2 years
80059                               1           2 years
15825                               0           5 years
33182                               0           9 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
62403              6000                        6000        15.31%   36 months
48808             10000                       10000         7.90%   36 months
22090             33500                       33450        17.14%   60 months
76404             14675                       14675        14.33%   36 months
15867              7000                        7000         6.91%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
62403               other               20.05%    CT            OWN
48808  debt_consolidation               26.09%    MA           RENT
22090         credit_card               14.70%    LA       MORTGAGE
76404         credit_card               26.92%    CA           RENT
15867         credit_card                7.10%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
62403         4891.67    670-674                 17                     10391
48808         2916.67    720-724                 10                     15957
22090        13863.42    705-709                 12                     27874
76404         3150.00    685-689                  9                      7246
15867         5000.00    715-719                  8                      7612

       Inquiries.in.the.Last.6.Months Employment.Length
62403                               2           3 years
48808                               0         10+ years
22090                               0         10+ years
76404                               1           8 years
15867                               0           3 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
94971              2000                        2000        19.72%   36 months
36911             10625                       10625        14.27%   36 months
41200             28000                       27975        21.67%   60 months
83869             35000                       34950         8.90%   36 months
53853              9600                        9600         7.62%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
94971              moving               10.29%    FL           RENT
36911  debt_consolidation               12.54%    CA       MORTGAGE
41200  debt_consolidation               13.07%    CT       MORTGAGE
83869  debt_consolidation               20.46%    CT           RENT
53853  debt_consolidation                3.45%    DC           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
94971         3575.00    670-674                 10                     12036
36911         4250.00    665-669                 14                     10767
41200        14166.67    670-674                 12                     10311
83869         9166.67    735-739                 19                     21536
53853        11250.00    725-729                 13                      4606

       Inquiries.in.the.Last.6.Months Employment.Length
94971                               0           6 years
36911                               0          < 1 year
41200                               0            1 year
83869                               0            1 year
53853                               0          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
21399             25000                    24975.00        15.65%   60 months
62127             10000                    10000.00        12.12%   36 months
23446             14000                    13900.25        10.37%   60 months
44987             10000                    10000.00         9.76%   36 months
17977              5200                     5175.00         9.99%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
21399  debt_consolidation               21.99%    CA           RENT
62127  debt_consolidation               17.72%    CA           RENT
23446  debt_consolidation               11.95%    OH           RENT
44987         credit_card                7.13%    FL           RENT
17977  debt_consolidation               10.29%    AL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
21399         5416.67    730-734                  6                     13929
62127         9000.00    695-699                 18                     20317
23446         4333.33    740-744                  6                      7419
44987         2733.33    730-734                  7                      6112
17977         3750.00    760-764                 10                     16094

       Inquiries.in.the.Last.6.Months Employment.Length
21399                               0           9 years
62127                               0           7 years
23446                               0           9 years
44987                               2           3 years
17977                               0          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
86099             22000                       21975        21.98%   36 months
99483             30000                       30000        19.05%   60 months
28798              6500                        6500        17.99%   60 months
24168             17400                       17400        11.99%   36 months
10356              4000                        4000        16.82%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
86099  debt_consolidation               11.19%    TX       MORTGAGE
99483         credit_card               21.25%    FL       MORTGAGE
28798                 car               19.63%    FL           RENT
24168         credit_card               12.47%    AZ           RENT
10356            vacation               13.71%    GA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
86099         6666.67    665-669                  9                     23124
99483         6250.00    695-699                 12                     34927
28798         4100.00    665-669                 11                     11697
24168         6833.33    695-699                  7                     26587
10356         4500.00    670-674                  5                     20804

       Inquiries.in.the.Last.6.Months Employment.Length
86099                               0         10+ years
99483                               0           6 years
28798                               1           2 years
24168                               0           7 years
10356                               0           3 years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
46027              7200                        7200         7.90%   36 months
2238               8000                        8000        14.42%   36 months
65278              8000                        8000        15.31%   36 months
4227               3000                        3000         8.59%   36 months
50182             14500                       14500         7.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
46027  debt_consolidation               24.82%    TX           RENT
2238   debt_consolidation               24.63%    MA           RENT
65278  debt_consolidation               15.46%    CA       MORTGAGE
4227                other                3.72%    MA       MORTGAGE
50182  debt_consolidation                4.85%    GA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
46027         5416.67    705-709                  8                     12017
2238          2964.17    675-679                  9                      8928
65278         2916.67    675-679                 13                      7152
4227          4167.00    765-769                  4                      7074
50182         3958.33    760-764                  4                      9598

       Inquiries.in.the.Last.6.Months Employment.Length
46027                               0           7 years
2238                                2           6 years
65278                               1           5 years
4227                                0           5 years
50182                               0           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
87023             23850                    23850.00        21.00%   60 months
46120             14000                    14000.00        12.12%   36 months
30756             35000                    34975.00        16.49%   60 months
94582             16000                    16000.00        15.80%   60 months
457               17350                     7019.25        13.55%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
87023  debt_consolidation               28.81%    LA       MORTGAGE
46120  debt_consolidation               14.93%    CA       MORTGAGE
30756  debt_consolidation                7.45%    GA       MORTGAGE
94582                 car               11.94%    WV           RENT
457    debt_consolidation               18.52%    NH            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
87023         5833.33    685-689                 19                     25968
46120        10583.33    685-689                  9                     35457
30756        10416.67    720-724                  7                     31414
94582         5250.00    685-689                 14                       154
457           3666.67    675-679                  8                     18966

       Inquiries.in.the.Last.6.Months Employment.Length
87023                               3           9 years
46120                               0           2 years
30756                               0           8 years
94582                               1           3 years
457                                 2           6 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
96536               8000                        7975         7.90%
39591               7200                        7200         7.90%
78862              20125                       20125         7.62%
54619              12000                       11875         8.90%
101798              2400                        1850        12.49%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
96536    36 months                 car               29.62%    AL
39591    36 months  debt_consolidation                7.98%    GA
78862    36 months    home_improvement                4.29%    VA
54619    36 months  debt_consolidation               12.06%    NY
101798   36 months    home_improvement               20.56%    MD

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
96536        MORTGAGE         5583.33    780-784                  9
39591            RENT         5666.67    720-724                  5
78862        MORTGAGE         3750.00    830-834                 13
54619            RENT         5000.00    715-719                 11
101798       MORTGAGE         3448.33    660-664                 10

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
96536                       6065                               1
39591                       8783                               0
78862                      73952                               0
54619                      14717                               0
101798                     18749                               5

       Employment.Length
96536          10+ years
39591            3 years
78862             1 year
54619            4 years
101798          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
98029              3200                        3200        17.27%   36 months
95579             12725                       12725        11.14%   36 months
4868               5500                        5500        19.13%   36 months
26822             15650                       15650        21.74%   36 months
98445              9000                        9000        17.27%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
98029    home_improvement                8.36%    HI       MORTGAGE
95579  debt_consolidation               22.15%    TX           RENT
4868          credit_card                3.58%    DC           RENT
26822               house               13.86%    MD           RENT
98445         credit_card               25.22%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
98029         2500.00    670-674                  7                      6619
95579         4416.67    720-724                 23                      4079
4868         12000.00    660-664                  2                         0
26822         3700.00    660-664                  5                     10605
98445         5166.67    675-679                 14                      5852

       Inquiries.in.the.Last.6.Months Employment.Length
98029                               1           3 years
95579                               0           3 years
4868                                1           8 years
26822                               1           4 years
98445                               1         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
14958              5000                        5000        11.86%   36 months
14754              3000                        3000        10.38%   36 months
34501             20000                       19975        23.91%   60 months
26888              5450                        5450         7.49%   60 months
81759             14000                       14000        12.12%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
14958      major_purchase                   4%    TX           RENT
14754  debt_consolidation               15.21%    PA           RENT
34501  debt_consolidation                9.47%    CA       MORTGAGE
26888               other                2.48%    WA       MORTGAGE
81759  debt_consolidation               11.38%    NY       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
14958         5577.00    715-719                  3                      1069
14754         3083.33    710-714                 11                      3098
34501        11250.00    670-674                  5                     11168
26888         4600.00    785-789                 14                      4326
81759         4500.00    705-709                 22                     18583

       Inquiries.in.the.Last.6.Months Employment.Length
14958                               0            1 year
14754                               0           2 years
34501                               0          < 1 year
26888                               0         10+ years
81759                               0           5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
10825              8800                     8799.04        10.38%   60 months
16667              3000                     3000.00        17.44%   36 months
92046             32000                    32000.00        17.27%   60 months
88279             22250                    22250.00        21.49%   60 months
17218              7325                     7300.00        17.80%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
10825         credit_card               21.59%    IL           RENT
16667               other               15.79%    MD           RENT
92046  debt_consolidation               15.61%    IL           RENT
88279  debt_consolidation               28.87%    HI           RENT
17218  debt_consolidation               20.37%    NY            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
10825         3750.00    750-754                 11                     18694
16667         7952.00    660-664                  4                     12578
92046         9250.00    700-704                 15                     32566
88279         4166.67    665-669                 15                     14107
17218         3000.00    680-684                  6                     13583

       Inquiries.in.the.Last.6.Months Employment.Length
10825                               1           2 years
16667                               0           8 years
92046                               1           2 years
88279                               0           9 years
17218                               0           5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
82406             16450                       16450        11.14%   36 months
17143              2500                        2500        12.98%   36 months
27486              6000                        6000         9.99%   36 months
96613             27575                       27575        14.33%   36 months
6263               1000                        1000         8.59%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
82406  debt_consolidation                7.57%    NC           RENT
17143  debt_consolidation               16.45%    WI           RENT
27486               other                7.50%    FL       MORTGAGE
96613  debt_consolidation               19.63%    CA       MORTGAGE
6263          educational               10.69%    NY            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
82406         7500.00    725-729                  5                      2928
17143         1100.00    670-674                  6                      5019
27486         2625.00    715-719                  4                      5167
96613         5166.67    690-694                  6                      8720
6263          4583.33    755-759                 22                     17069

       Inquiries.in.the.Last.6.Months Employment.Length
82406                               0            1 year
17143                               1           4 years
27486                               0         10+ years
96613                               0         10+ years
6263                                1          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
29283             12000                       12000        11.49%   36 months
99766             30000                       30000        10.16%   36 months
85893             13500                       13500        14.33%   36 months
98972              9000                        9000        15.80%   36 months
44054             15000                       15000         9.91%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
29283  debt_consolidation               12.85%    IL           RENT
99766  debt_consolidation               22.21%    SD       MORTGAGE
85893  debt_consolidation               31.70%    WV           RENT
98972  debt_consolidation               22.65%    OH       MORTGAGE
44054  debt_consolidation                9.16%    AK       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
29283         2708.33    705-709                  8                     12150
99766         8000.00    715-719                 14                     33218
85893         4166.67    680-684                 11                     31168
98972         3250.00    665-669                  9                     16480
44054         4250.00    730-734                 11                     11615

       Inquiries.in.the.Last.6.Months Employment.Length
29283                               1          < 1 year
99766                               0         10+ years
85893                               0            1 year
98972                               0           3 years
44054                               1         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
51948              5300                     5300.00         7.90%   36 months
48676              7000                     7000.00        13.11%   36 months
82294             20000                    19975.00        16.29%   36 months
20328             15000                    14993.57        18.25%   60 months
71489              8000                     8000.00        14.09%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
51948             medical               12.82%    CA           RENT
48676  debt_consolidation               16.76%    NJ           RENT
82294  debt_consolidation               11.85%    CA           RENT
20328  debt_consolidation               13.65%    CA           RENT
71489    home_improvement               12.06%    HI           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
51948         5500.00    725-729                  8                      9996
48676         3650.00    685-689                 12                      6444
82294         9166.67    685-689                 10                     12421
20328         2916.67    705-709                  4                     12786
71489         5000.00    695-699                 10                     15360

       Inquiries.in.the.Last.6.Months Employment.Length
51948                               2            1 year
48676                               1           5 years
82294                               3          < 1 year
20328                               0          < 1 year
71489                               1           6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
43203             24000                    23947.48        19.03%   60 months
48319              7500                     7500.00         8.90%   36 months
5367              17000                    16875.00        11.83%   36 months
83768             12000                    12000.00        17.27%   36 months
88084              6000                     6000.00        15.31%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
43203  debt_consolidation                3.63%    CA           RENT
48319  debt_consolidation               10.02%    DE           RENT
5367   debt_consolidation               12.70%    GA           RENT
83768         credit_card               14.86%    NJ            OWN
88084               other               15.91%    MN           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
43203         7500.00    695-699                  6                      8568
48319         5500.00    715-719                  9                      2382
5367          4583.33    735-739                  5                      3644
83768         4583.33    665-669                 12                      9145
88084         3833.33    670-674                 11                      5760

       Inquiries.in.the.Last.6.Months Employment.Length
43203                               1         10+ years
48319                               0           6 years
5367                                1           6 years
83768                               1         10+ years
88084                               1         10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
101540              6725                         825        13.12%
9664                4500                        4500         6.76%
1494                1600                        1600        10.83%
61703              10000                       10000        17.77%
61576              18550                       18525         7.90%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
101540   36 months  debt_consolidation               13.16%    MO
9664     36 months  debt_consolidation               14.74%    WV
1494     36 months               other                5.36%    RI
61703    36 months             wedding               30.40%    NY
61576    36 months  debt_consolidation               16.93%    GA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
101540       MORTGAGE         5000.00    670-674                 10
9664         MORTGAGE         2666.67    790-794                  7
1494             RENT         2427.00    700-704                  5
61703             OWN         2500.00    665-669                  5
61576        MORTGAGE         5416.67    725-729                 10

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
101540                      5513                               9
9664                        2705                               0
1494                        7020                               0
61703                       8379                               0
61576                      28877                               0

       Employment.Length
101540         10+ years
9664             7 years
1494             3 years
61703            8 years
61576            3 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
21993              7450                        7450        13.06%   36 months
58359              3225                        3225         7.62%   36 months
67335             23675                       23675        17.77%   36 months
57080             12000                       12000        12.12%   36 months
30035             25000                       25000        16.49%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
21993  debt_consolidation                3.30%    WA       MORTGAGE
58359  debt_consolidation               17.79%    CA       MORTGAGE
67335         credit_card               29.94%    PA            OWN
57080  debt_consolidation               18.62%    VA           RENT
30035  debt_consolidation               18.18%    MA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
21993         5883.33    710-714                  2                      6416
58359         5833.33    760-764                  5                     70323

CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
103948             16000                       15850        11.12%
96659               4200                        4175         8.90%
67158              10000                       10000        14.09%
33777               6000                        6000         7.51%
59724               6000                        6000        13.11%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
103948   36 months         credit_card               17.86%    CA
96659    36 months                 car               10.16%    NC
67158    36 months  debt_consolidation               21.45%    CO
33777    36 months    home_improvement                2.52%    NJ
59724    36 months  debt_consolidation               15.33%    KS

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
103948       MORTGAGE         6666.67    725-729                  7
96659        MORTGAGE         3041.67    810-814                  4
67158            RENT         4583.33    675-679                 11
33777        MORTGAGE         4800.00    750-754                  4
59724            RENT         3333.33    685-689                  7

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
103948                     18659                               4
96659                       1548                               0
67158                       8548                               0
33777                       1442                               0
59724                      12503                               2

       Employment.Length
103948           5 years
96659          10+ years
67158            6 years
33777          10+ years
59724            2 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
95096               7925                        7925        16.29%
67629              16000                       15925         7.62%
51929               9525                        9500        15.81%
13216               6000                        6000        14.35%
103405             10000                        9975        14.96%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
95096    36 months  debt_consolidation               21.25%    GA
67629    36 months  debt_consolidation                6.48%    IL
51929    36 months      small_business               11.35%    CA
13216    36 months  debt_consolidation               14.08%    IL
103405   36 months  debt_consolidation               11.50%    FL

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
95096            RENT         2000.00    665-669                  6
67629        MORTGAGE         6000.00    765-769                  8
51929            RENT         2666.67    670-674                 15
13216        MORTGAGE         2500.00    675-679                  9
103405       MORTGAGE         5250.00    675-679                  4

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
95096                       7840                               0
67629                      19539                               0
51929                       5610                               1
13216                       3621                               3
103405                      3035                               5

       Employment.Length
95096            6 years
67629                NaN
51929                NaN
13216           < 1 year
103405           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
53271              7000                        7000         6.62%   36 months
25380              4500                        4500         5.99%   36 months
6987              12000                       12000        11.14%   36 months
96413             10375                       10375        19.72%   36 months
88273              4800                        4800        18.75%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
53271      major_purchase                8.03%    NM       MORTGAGE
25380  debt_consolidation               18.48%    CA       MORTGAGE
6987   debt_consolidation                2.37%    MD       MORTGAGE
96413  debt_consolidation                4.99%    CT           RENT
88273               other               10.89%    NM       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
53271        10000.00    750-754                  9                      6761
25380        10000.00    765-769                 18                     17863
6987         12500.00    735-739                 13                     10944
96413         4166.67    665-669                  9                      6122
88273         5833.33    670-674                  8                     17943

       Inquiries.in.the.Last.6.Months Employment.Length
53271                               1           6 years
25380                               3           6 years
6987                                0           5 years
96413                               1           5 years
88273                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
48519              6400                     6400.00        13.11%   36 months
69456              5000                     5000.00         7.90%   36 months
41198             12000                    12000.00         6.62%   36 months
44282             23850                    23820.25        21.48%   60 months
34122             15000                    15000.00        10.65%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
48519         credit_card               11.46%    LA       MORTGAGE
69456  debt_consolidation               17.22%    CA            OWN
41198         credit_card               21.66%    NC           RENT
44282               other               18.75%    NY       MORTGAGE
34122      small_business               16.15%    OH       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
48519         4666.67    700-704                  7                      8942
69456         4000.00    705-709                 10                      6023
41198         5250.00    740-744                 11                     20639
44282         4250.00    690-694                 23                     37251
34122         7083.33    720-724                 14                       338

       Inquiries.in.the.Last.6.Months Employment.Length
48519                               1         10+ years
69456                               0         10+ years
41198                               0          < 1 year
44282                               0           4 years
34122                               2           9 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
84563              8000                        8000         7.62%   36 months
98634             20000                       20000         6.03%   36 months
73526             20000                       19975        13.11%   36 months
82476             10000                       10000        14.09%   36 months
67263             18825                       18825        14.09%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
84563               other                   0%    NC       MORTGAGE
98634         credit_card               18.67%    FL       MORTGAGE
73526  debt_consolidation               15.09%    NC           RENT
82476  debt_consolidation               10.59%    CA           RENT
67263         credit_card               13.08%    MI           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
84563         3500.00    765-769                  7                         0
98634        14583.33    715-719                  9                     29044
73526         8233.33    710-714                 17                     29756
82476         2916.67    690-694                  9                     10390
67263         4000.00    710-714                  6                     20694

       Inquiries.in.the.Last.6.Months Employment.Length
84563                               1               NaN
98634                               0           7 years
73526                               2          < 1 year
82476                               3          < 1 year
67263                               1           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
41267             35000                       34975         7.90%   36 months
64884              9000                        9000         6.03%   36 months
18452              4000                        4000         6.17%   36 months
57866              5750                        5750        13.99%   36 months
77151             20950                       20950        15.80%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
41267      small_business                1.59%    IL           RENT
64884            vacation                5.58%    NJ       MORTGAGE
18452    home_improvement                  15%    CT           RENT
57866         credit_card               12.44%    CA           RENT
77151  debt_consolidation               15.71%    MA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
41267        18333.33    775-779                 10                      1992
64884         9583.33    815-819                 11                       675
18452         4234.00    745-749                  5                       587
57866         5000.00    660-664                 13                     12465
77151        12916.67    690-694                  8                     30188

       Inquiries.in.the.Last.6.Months Employment.Length
41267                               0            1 year
64884                               0               NaN
18452                               1           2 years
57866                               0         10+ years
77151                               1           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
25405              8000                        8000        10.99%   36 months
85644             10000                       10000        10.16%   36 months
85686             10000                       10000        14.09%   36 months
54649             14000                       14000         6.03%   36 months
19069              5000                        5000         7.66%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
25405         credit_card               14.76%    NY           RENT
85644  debt_consolidation                9.30%    TX       MORTGAGE
85686      small_business               14.76%    NY           RENT
54649         credit_card               19.53%    CT       MORTGAGE
19069         credit_card                3.33%    RI           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
25405         7500.00    710-714                  9                      7120
85644         3333.33    725-729                  8                      8940
85686         5000.00    675-679                  7                      4762
54649         6000.00    765-769                 13                      4140
19069         9000.00    735-739                  3                     12297

       Inquiries.in.the.Last.6.Months Employment.Length
25405                               2          < 1 year
85644                               2               NaN
85686                               0           4 years
54649                               0           8 years
19069                               0         10+ years
CHUNK DF

       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
74479             25000                       25000        19.05%   60 months
76693             35000                       35000         8.90%   36 months
63266              7200                        7175        11.14%   36 months
32008             14000                       14000         8.49%   60 months
13996             15000                       14975        15.21%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
74479  debt_consolidation               10.53%    IL       MORTGAGE
76693  debt_consolidation               14.62%    CA           RENT
63266  debt_consolidation               27.89%    OK       MORTGAGE
32008  debt_consolidation                9.89%    CA       MORTGAGE
13996  debt_consolidation               19.10%    TX           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
74479         6250.00    700-704                  8                     15159
76693        10416.67    735-739                  9                     21321
63266         3750.00    690-694                  8                     20342
32008         9000.00    760-764                 17                     23773
13996         5132.00    680-684                  4                     34044

       Inquiries.in.the.Last.6.Months Employment.Length
74479                               1           9 years
76693                               0         10+ years
63266                               0         10+ years
32008                               0           4 years
13996                               1           3 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
80638              25000                       25000        19.72%
36889              10800                       10800        14.65%
72169              20000                       20000        14.33%
19548               4000                        4000        10.74%
103357             16000                       15950        15.70%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
80638    60 months  debt_consolidation               32.10%    NY
36889    36 months  debt_consolidation                7.89%    CA
72169    36 months         credit_card               21.44%    GA
19548    36 months  debt_consolidation                1.97%    KS
103357   36 months  debt_consolidation               23.51%    OH

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
80638             OWN         4916.67    695-699                 21
36889            RENT         9583.33    675-679                  6
72169        MORTGAGE         6250.00    700-704                  9
19548            RENT         2900.00    695-699                 13
103357       MORTGAGE         9333.33    675-679                 20

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
80638                      35208                               1
36889                       6487                               1
72169                      14268                               1
19548                       1869                               1
103357                     12721                               5

       Employment.Length
80638            7 years
36889           < 1 year
72169            9 years
19548                NaN
103357         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
59117              1400                     1400.00         9.76%   36 months
15427              7500                     7500.00        16.32%   36 months
224               24625                      917.28        14.07%   36 months
85618              5000                     5000.00        14.09%   36 months
43436             25000                    24975.00         9.91%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
59117            vacation               27.14%    NV       MORTGAGE
15427  debt_consolidation               12.54%    CA       MORTGAGE
224           credit_card               12.81%    NY       MORTGAGE
85618  debt_consolidation               29.02%    FL       MORTGAGE
43436  debt_consolidation               20.49%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
59117         4683.33    730-734                  6                      6466
15427         4600.00    665-669                  3                      6120
224          10000.00    675-679                 14                     33698
85618         5416.67    680-684                 11                      3977
43436         7916.67    725-729                 14                     27203

       Inquiries.in.the.Last.6.Months Employment.Length
59117                               0           2 years
15427                               0           2 years
224                                 0           8 years
85618                               1          < 1 year
43436                               0            1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
19328              7500                        7500        16.40%   36 months
65134             34500                       34450         6.62%   36 months
20263             10000                       10000         5.79%   36 months
9194               3200                        3200         9.88%   36 months
27520              5500                        5500        15.99%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
19328  debt_consolidation               13.34%    CA           RENT
65134      small_business               16.46%    CA       MORTGAGE
20263  debt_consolidation                6.49%    GA       MORTGAGE
9194   debt_consolidation                6.51%    MA           RENT
27520  debt_consolidation               17.95%    RI           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
19328         4166.67    660-664                  8                      7430
65134        10000.00    805-809                  8                      5317
20263        12500.00    745-749                 17                     75629
9194          4500.00    740-744                  7                      3198
27520         4250.00    700-704                 16                     13256

       Inquiries.in.the.Last.6.Months Employment.Length
19328                               0          < 1 year
65134                               0           9 years
20263                               0            1 year
9194                                0           5 years
27520                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
45941              3000                        3000         9.76%   36 months
69242             18000                       18000        23.28%   60 months
2633              10000                        9700         9.63%   36 months
48662              8800                        8800        13.11%   36 months
65775              7000                        7000        11.14%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
45941  debt_consolidation               21.82%    VA            OWN
69242  debt_consolidation                9.05%    WI           RENT
2633   debt_consolidation               13.77%    OK       MORTGAGE
48662         credit_card               16.73%    WI           RENT
65775  debt_consolidation               23.02%    TX       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
45941         1100.00    720-724                  4                      2413
69242         7083.33    660-664                  6                     13106
2633          4190.00    735-739                  6                      1251
48662         3150.25    700-704                 13                     14266
65775         6000.00    705-709                 17                     19634

       Inquiries.in.the.Last.6.Months Employment.Length
45941                               0               NaN
69242                               0         10+ years
2633                                1          < 1 year
48662                               1           4 years
65775                               2           6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
92773              8000                        8000        13.11%   36 months
33161              3000                        3000        17.27%   36 months
37985             12000                       11975         7.51%   36 months
2791               3600                        3575        14.11%   36 months
81950             11625                       11625        14.33%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
92773  debt_consolidation               19.01%    AK           RENT
33161         credit_card               16.62%    SC           RENT
37985  debt_consolidation               11.91%    MD           RENT
2791       small_business                0.04%    WI           RENT
81950  debt_consolidation               22.84%    NY       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
92773         2625.00    725-729                  8                      7554
33161         3833.33    660-664                  4                      4136
37985         7500.00    735-739                 18                     33702
2791          2500.00    725-729                  4                         1
81950         2833.33    705-709                  6                     27411

       Inquiries.in.the.Last.6.Months Employment.Length
92773                               1           5 years
33161                               0               NaN
37985                               1         10+ years
2791                                0           3 years
81950                               2           8 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
84215              30000                    30000.00        21.49%
93352              16000                    16000.00         8.90%
10474              10800                    10700.00        10.75%
15717              25000                    23655.48        16.69%
103874             10000                    10000.00        13.98%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
84215    36 months         credit_card               16.70%    MD
93352    36 months  debt_consolidation               19.71%    CO
10474    36 months      major_purchase               15.32%    FL
15717    60 months  debt_consolidation               14.11%    CO
103874   60 months               other               14.86%    MO

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
84215        MORTGAGE        12500.00    670-674                 14
93352            RENT         7083.33    720-724                 11
10474        MORTGAGE         8400.00    715-719                  6
15717        MORTGAGE         7666.67    705-709                 15
103874           RENT         3916.67    710-714                  9

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
84215                      19096                               2
93352                       6185                               1
10474                      24675                               0
15717                      28748                               3
103874                      5188                               4

       Employment.Length
84215            9 years
93352            4 years
10474          10+ years
15717            8 years
103874           4 years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
132               12375                         275        10.91%   36 months
5169               6000                        6000        11.48%   36 months
29812              8000                        8000        13.49%   36 months
56991             15000                       15000        18.25%   36 months
62537              7000                        7000        17.77%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
132        small_business               16.39%    VA       MORTGAGE
5169          credit_card               18.20%    NY       MORTGAGE
29812  debt_consolidation               14.92%    CO           RENT
56991         credit_card                9.73%    GA       MORTGAGE
62537               other               32.25%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
132           3892.75    690-694                 11                      8332
5169          5031.67    705-709                  9                     50935
29812         5000.00    685-689                 18                      4786
56991         5000.00    660-664                 11                     14596
62537         3333.33    665-669                 12                     35604

       Inquiries.in.the.Last.6.Months Employment.Length
132                                 2           3 years
5169                                0         10+ years
29812                               1           2 years
56991                               0           8 years
62537                               3           7 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
22858              8400                        8400         6.92%   36 months
78602             15000                       15000         7.90%   36 months
93778             15000                       14925        14.33%   36 months
87504              2800                        2800        10.16%   36 months
92105              7750                        7750        16.29%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
22858    renewable_energy               13.30%    MD           RENT
78602  debt_consolidation               18.62%    PA       MORTGAGE
93778  debt_consolidation               13.30%    TX           RENT
87504      major_purchase                  12%    NY           RENT
92105  debt_consolidation               26.74%    FL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
22858         3000.00    745-749                  9                      6998
78602         4500.00    740-744                 10                     17212
93778         5000.00    665-669                  7                     11368
87504         2083.33    695-699                  7                      7261
92105         2916.67    680-684                 18                     17102

       Inquiries.in.the.Last.6.Months Employment.Length
22858                               1            1 year
78602                               0           7 years
93778                               1          < 1 year
87504                               0          < 1 year
92105                               0           5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
59387              4500                        4500         8.90%   36 months
6067              17500                       17375        12.53%   36 months
62445             18000                       18000        15.31%   60 months
35834             15000                       14975        15.27%   60 months
24320              6000                        6000        15.23%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
59387         credit_card               18.18%    UT           RENT
6067   debt_consolidation               21.63%    CO           RENT
62445  debt_consolidation                4.93%    CA           RENT
35834  debt_consolidation               17.90%    PA       MORTGAGE
24320         credit_card               19.57%    KS            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
59387         2166.67    700-704                  8                      5361
6067          3666.67    715-719                  7                     20010
62445         5258.50    710-714                  6                     11596
35834         2748.00    720-724                 14                      7956
24320         4583.33    665-669                 13                      8077

       Inquiries.in.the.Last.6.Months Employment.Length
59387                               0           4 years
6067                                0           6 years
62445                               0         10+ years
35834                               1           6 years
24320                               1            1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
68821             11500                       11475        11.14%   36 months
96988             10000                       10000        13.11%   36 months
47002             12000                       12000         8.90%   36 months
53897             10000                       10000        12.12%   36 months
40136             35000                       34975        21.28%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
68821         credit_card               28.25%    CA           RENT
96988         credit_card                7.56%    PA           RENT
47002         credit_card               12.46%    MD           RENT
53897  debt_consolidation               18.40%    CA       MORTGAGE
40136  debt_consolidation               18.21%    AL           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
68821         2750.00    700-704                  6                      9079
96988         2500.00    685-689                  8                     10906
47002         5000.00    725-729                  5                     13940
53897         5000.00    685-689                  7                     13202
40136         7916.67    680-684                  8                     19789

       Inquiries.in.the.Last.6.Months Employment.Length
68821                               0           5 years
96988                               0           7 years
47002                               0         10+ years
53897                               0         10+ years
40136                               2         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
14952              7200                        7100        10.38%   60 months
40856              4000                        3975         7.90%   60 months
4938               5300                        5200        11.14%   36 months
59272              1200                        1200         7.62%   36 months
80512              2500                        2500        11.14%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
14952      major_purchase               17.97%    PA           RENT
40856                 car                4.48%    TX            OWN
4938   debt_consolidation                8.47%    UT       MORTGAGE
59272               other                8.69%    NY       MORTGAGE
80512      major_purchase               10.08%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
14952         3000.00    750-754                  7                      2753
40856         4000.00    800-804                 16                      6696
4938          8333.33    740-744                  5                     73258
59272         3833.33    730-734                 14                       350
80512         4333.33    720-724                  4                      4922

       Inquiries.in.the.Last.6.Months Employment.Length
14952                               1           2 years
40856                               0          < 1 year
4938                                1           3 years
59272                               1           7 years
80512                               0           3 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
82071             17000                       16975        14.33%   36 months
90748             16000                       16000         7.90%   36 months
42319             10000                        9950        12.69%   36 months
81914              5000                        5000        10.16%   36 months
97954              4375                        4375        19.05%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
82071  debt_consolidation               26.35%    MN            OWN
90748         credit_card               12.30%    CA       MORTGAGE
42319  debt_consolidation                3.80%    CA       MORTGAGE
81914  debt_consolidation               24.50%    AL       MORTGAGE
97954         credit_card                9.09%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
82071         7500.00    700-704                 21                     39130
90748         8416.67    695-699                 14                     21913
42319         6666.67    695-699                  8                      7967
81914         6250.00    700-704                  9                     33705
97954         2916.67    670-674                  9                      6944

       Inquiries.in.the.Last.6.Months Employment.Length
82071                               3         10+ years
90748                               1           5 years
42319                               1           3 years
81914                               0           6 years
97954                               2           6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
41074              8500                        8475         6.03%   36 months
30600             12000                       12000        16.89%   60 months
4909               6200                        6100         8.59%   36 months
63340              7000                        7000        18.49%   36 months
35313             20800                       20800        12.69%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
41074    home_improvement               12.33%    MO       MORTGAGE
30600      small_business               15.24%    OH       MORTGAGE
4909                other               19.10%    WI           RENT
63340  debt_consolidation               18.90%    AR       MORTGAGE
35313  debt_consolidation                7.08%    GA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
41074         6100.00    745-749                 17                      6370
30600         7500.00    675-679                 14                     28589
4909          5000.00    740-744                 17                      9367
63340         2000.00    660-664                 10                      7315
35313         6541.67    730-734                  9                     13197

       Inquiries.in.the.Last.6.Months Employment.Length
41074                               0         10+ years
30600                               2           3 years
4909                                0            1 year
63340                               2            1 year
35313                               0            1 year
CHUNK DF

       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
45225             19200                     19200.0        13.11%   60 months
98090             22000                     22000.0        15.80%   60 months
71142             15000                     15000.0        19.05%   36 months
5282               7000                      6965.1        19.47%   36 months
52333             20000                     20000.0         8.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
45225               other                3.45%    IL       MORTGAGE
98090  debt_consolidation               21.32%    KY       MORTGAGE
71142  debt_consolidation               24.88%    AZ           RENT
5282   debt_consolidation               17.08%    NJ           RENT
52333         credit_card               17.08%    CO           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
45225         8333.33    745-749                 14                     50625
98090         5416.67    700-704                  9                     10267
71142         6000.00    675-679                 12                     12162
5282          5000.00    665-669                 11                     13859
52333         4916.67    730-734                 10                     14952

       Inquiries.in.the.Last.6.Months Employment.Length
45225                               3           2 years
98090                               1         10+ years
71142                               0            1 year
5282                                0           3 years
52333                               2           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
15274              2000                     2000.00         6.17%   36 months
32037             18000                    17738.58        10.59%   60 months
6528              20800                    20775.00        11.48%   36 months
10487              9000                     8875.00         7.88%   36 months
64690              6000                     6000.00        14.09%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
15274              moving               18.35%    WA           RENT
32037      major_purchase               15.03%    OH       MORTGAGE
6528     home_improvement               21.77%    CA            OWN
10487  debt_consolidation               14.51%    MA       MORTGAGE
64690         credit_card               22.50%    UT           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
15274         5733.58    745-749                  9                     21998
32037         4000.00    755-759                  9                      6718
6528         11666.67    790-794                  6                       682
10487         5708.33    725-729                  9                     12217
64690         2666.67    670-674                 18                      5955

       Inquiries.in.the.Last.6.Months Employment.Length
15274                               0           3 years
32037                               0         10+ years
6528                                1         10+ years
10487                               0           7 years
64690                               0         10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
66605               5000                        5000        15.80%
18512              12000                       11975        14.83%
1173                7000                        1998         8.00%
22150               6000                        5950        10.00%
104008             17000                       16975        13.98%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
66605    36 months  debt_consolidation               34.20%    CA
18512    60 months         credit_card               22.31%    CA
1173     36 months         credit_card                6.36%    AZ
22150    36 months      major_purchase                8.74%    FL
104008   36 months  debt_consolidation               17.65%    TX

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
66605            RENT         3750.00    665-669                 18
18512            RENT         4186.00    685-689                  9
1173         MORTGAGE         7583.33    750-754                  9
22150        MORTGAGE        15416.67    715-719                  9
104008       MORTGAGE         9166.67    700-704                 14

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
66605                       5414                               3
18512                       9398                               0
1173                       21135                               0
22150                     105730                               1
104008                     16230                               4

       Employment.Length
66605            3 years
18512            3 years
1173           10+ years
22150          10+ years
104008           3 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
4665              12000                       11975         8.94%   36 months
43053             16350                       16350         7.90%   36 months
59192             20000                       20000         7.90%   36 months
80538             12300                       12300        12.12%   36 months
78519              4800                        4800        13.11%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
4665          credit_card               18.99%    TX           RENT
43053         credit_card               25.03%    MN            OWN
59192  debt_consolidation               20.04%    TX       MORTGAGE
80538  debt_consolidation               10.01%    CA           RENT
78519              moving                4.61%    TX           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
4665          4750.00    750-754                 13                     25577
43053         4541.67    730-734                  7                     25731
59192         4625.00    755-759                 14                     31335
80538         6583.33    690-694                 15                     12450
78519         2666.67    690-694                  3                      7911

       Inquiries.in.the.Last.6.Months Employment.Length
4665                                1           4 years
43053                               0           9 years
59192                               1         10+ years
80538                               0            1 year
78519                               0          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
48236             14500                       14500         7.90%   36 months
51833              4200                        4200         8.90%   36 months
69446             22250                       22250        14.09%   36 months
18161              8000                        8000        14.09%   36 months
78856              8325                        8325        17.77%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
48236         credit_card               11.96%    IL           RENT
51833  debt_consolidation               10.43%    CA       MORTGAGE
69446         credit_card               32.10%    MN       MORTGAGE
18161    home_improvement                7.68%    IL           RENT
78856  debt_consolidation               20.75%    MO           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
48236         4500.00    735-739                  8                     16398
51833         2254.00    700-704                  7                      4490
69446         6583.33    690-694                 18                     44868
18161        25000.00    675-679                  6                     28579
78856         2000.00    665-669                  7                      7676

       Inquiries.in.the.Last.6.Months Employment.Length
48236                               0           6 years
51833                               0               NaN
69446                               0         10+ years
18161                               1           8 years
78856                               0          < 1 year
CHUNK DF

        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
48412              14000                    14000.00        13.11%
60192               9000                     9000.00        10.16%
97275              16000                    16000.00        13.11%
103218             15200                    13694.22        11.14%
39722              24000                    24000.00        10.65%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
48412    36 months  debt_consolidation                8.12%    CA
60192    36 months  debt_consolidation                3.98%    MD
97275    36 months         credit_card               17.61%    GA
103218   36 months         credit_card               14.50%    AZ
39722    36 months  debt_consolidation               14.80%    CA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
48412             OWN        10416.67    730-734                  4
60192        MORTGAGE         6000.00    705-709                  6
97275        MORTGAGE         6083.33    680-684                 13
103218       MORTGAGE         7916.67    760-764                  7
39722            RENT         3750.00    725-729                  5

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
48412                       4776                               0
60192                       5659                               0
97275                      15148                               0
103218                    217827                               2
39722                      24708                               0

       Employment.Length
48412            7 years
60192            7 years
97275            2 years
103218           6 years
39722          10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
54880              16450                       16450        15.31%
81508               7500                        7500        12.12%
98671               4750                        4750        22.47%
80765               6500                        6500         7.90%
103835              5500                        5450        18.67%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
54880    36 months  debt_consolidation               11.66%    OH
81508    36 months    home_improvement               26.56%    NH
98671    36 months  debt_consolidation               24.45%    UT
80765    36 months  debt_consolidation               12.56%    AR
103835   60 months  debt_consolidation               17.71%    NY

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
54880        MORTGAGE         6666.67    685-689                  8
81508        MORTGAGE         5000.00    710-714                  8
98671            RENT         1333.33    665-669                  9
80765            RENT         6750.00    720-724                 17
103835           RENT         1750.00    660-664                  6

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
54880                      12697                               3
81508                       9047                               1
98671                       4752                               2
80765                      33229                               0
103835                      4492                               6

       Employment.Length
54880            9 years
81508          10+ years
98671           < 1 year
80765            8 years
103835           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
59041              9600                        9600         6.03%   36 months
62747             12000                       11975        12.12%   36 months
34051              2000                        2000         7.51%   36 months
99360             18000                       18000        24.89%   60 months
79126              5825                        5825        12.12%   36 months

           Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
59041  home_improvement                7.52%    AL       MORTGAGE
62747    major_purchase               31.34%    NY            OWN
34051             other               16.73%    CA           RENT
99360            moving               14.88%    VT           RENT
79126  home_improvement                   4%    AR            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
59041         6250.00    750-754                  7                       765
62747         4166.67    710-714                 21                     28703
34051         1500.00    730-734                  5                      2925
99360         4000.00    665-669                 10                      7377
79126         3750.00    690-694                  4                      5643

       Inquiries.in.the.Last.6.Months Employment.Length
59041                               0          < 1 year
62747                               2           3 years
34051                               0           4 years
99360                               3           8 years
79126                               0            1 year
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
103249              2500                        2500        15.31%
43700               7200                        7200        19.91%
83155               8000                        8000        14.33%
16446              25000                       24675        20.77%
84110               2500                        2500        14.09%

       Loan.Length      Loan.Purpose Debt.To.Income.Ratio State  \
103249   36 months  home_improvement               22.81%    VA
43700    60 months             other                   2%    NY
83155    36 months             other               11.85%    MD
16446    60 months  home_improvement               19.12%    TX
84110    36 months           medical               20.95%    NY

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
103249           RENT         2530.00    670-674                  7
43700            RENT         5500.00    660-664                 13
83155            RENT         3941.58    670-674                 15
16446        MORTGAGE         6000.00    665-669                 17
84110            RENT         2666.67    665-669                  9

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
103249                      5276                               6
43700                       2130                               0
83155                       9660                               0
16446                      12757                               2
84110                      15787                               0

       Employment.Length
103249          < 1 year
43700            9 years
83155            2 years
16446          10+ years
84110                NaN
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
2807              20000                        2050        12.84%   36 months
94386              6250                        6250        13.11%   36 months
49074             12375                       12375        13.67%   36 months
88558             18000                       18000        10.16%   36 months
31714              3300                        3300         6.99%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
2807     home_improvement                1.49%    MI       MORTGAGE
94386  debt_consolidation               28.61%    CT           RENT
49074  debt_consolidation               22.42%    KS       MORTGAGE
88558  debt_consolidation               16.71%    NY       MORTGAGE
31714               other               20.04%    IL           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
2807          3500.00    750-754                  6                      1954
94386         1779.17    720-724                 19                      7455
49074         2083.33    680-684                  8                     12226
88558         6666.67    685-689                 16                     19850
31714         3333.33    760-764                 10                         0

       Inquiries.in.the.Last.6.Months Employment.Length
2807                                5           2 years
94386                               1           3 years
49074                               0           3 years
88558                               1           6 years
31714                               2            1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
68991             21000                       21000        18.49%   60 months
75034             24575                       24575        16.29%   36 months
4532               5000                        4900         7.74%   36 months
67649             20000                       20000        16.29%   36 months
34983             13250                       13250         6.62%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
68991               other               16.40%    TX       MORTGAGE
75034  debt_consolidation               19.60%    GA       MORTGAGE
4532                other               14.40%    OH           RENT
67649  debt_consolidation               23.59%    MI       MORTGAGE
34983  debt_consolidation               28.64%    IL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
68991         8833.33    700-704                 11                     29293
75034         5250.00    695-699                  8                     20858
4532          5166.67    750-754                  8                     15489
67649         5833.33    680-684                 14                     12696
34983         5750.00    750-754                 12                      7174

       Inquiries.in.the.Last.6.Months Employment.Length
68991                               0            1 year
75034                               2         10+ years
4532                                1         10+ years
67649                               1          < 1 year
34983                               3           8 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
4168              10000                        9975         8.59%   36 months
13020             20000                       19950        10.75%   36 months
28402             10000                       10000         8.49%   36 months
82112             12000                       12000        12.12%   36 months
74368              8000                        7950         7.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
4168       major_purchase                2.85%    PA       MORTGAGE
13020  debt_consolidation               11.37%    NY           RENT
28402  debt_consolidation               13.58%    FL       MORTGAGE
82112  debt_consolidation               14.66%    FL       MORTGAGE
74368    home_improvement               12.54%    IL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
4168         10167.00    790-794                  9                        16
13020         8416.67    740-744                 10                     12283
28402         4166.67    715-719                  8                      8455
82112         5000.00    710-714                 11                     13235
74368         3500.00    725-729                  8                      6834

       Inquiries.in.the.Last.6.Months Employment.Length
4168                                3         10+ years
13020                               0           3 years
28402                               0         10+ years
82112                               2           2 years
74368                               2           5 years

CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
5838               11000                       10950         8.94%
24085              12500                       12425         7.49%
102519              7500                           0        11.03%
85220               4825                        4825        10.16%
29422               7550                        7550        16.89%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
5838     36 months         credit_card               22.38%    AK
24085    36 months  debt_consolidation               14.07%    MD
102519   36 months         credit_card               11.41%    AL
85220    36 months  debt_consolidation               14.89%    UT
29422    36 months               other               21.94%    AL

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
5838         MORTGAGE          4200.0    760-764                  6
24085            RENT          8237.5    730-734                 15
102519       MORTGAGE          3750.0    685-689                 15
85220            RENT          2400.0    705-709                 14
29422            RENT          2880.0    670-674                  2

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
5838                        8694                               4
24085                      13261                               0
102519                      5148                               7
85220                       6109                               1
29422                       1989                               1

       Employment.Length
5838             7 years
24085            6 years
102519           6 years
85220             1 year
29422            8 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
12751               8000                     7827.03        14.35%
96028               6000                     6000.00        14.09%
104202              8000                     8000.00        15.57%
10096               3000                     3000.00        14.59%
51445               8000                     7997.79        16.29%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
12751    36 months               other               20.35%    NY
96028    36 months  debt_consolidation               15.72%    KS
104202   60 months      major_purchase                2.38%    IL
10096    36 months  debt_consolidation               24.20%    IL
51445    36 months  debt_consolidation               15.76%    NY

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
12751            RENT         4000.00    675-679                  7
96028            RENT         5083.33    670-674                 11
104202           RENT         5291.67    700-704                  4
10096        MORTGAGE         5000.00    665-669                  6
51445            RENT         3750.00    665-669                  8

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
12751                       2082                               0
96028                      10373                               0
104202                      1252                               6
10096                       5527                               1
51445                       7374                               1

       Employment.Length
12751            4 years
96028            4 years
104202           5 years
10096            5 years
51445            6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
30184              8400                     8400.00         5.99%   36 months
48402             35000                    35000.00        14.65%   36 months
50781             15000                    15000.00         7.90%   36 months
8378               7500                     7475.00        10.99%   36 months
16672             24000                    23665.54         9.62%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
30184         credit_card                8.70%    TX            OWN
48402             medical               12.20%    MA       MORTGAGE
50781         credit_card               21.54%    NY            OWN
8378     home_improvement                7.51%    TX       MORTGAGE
16672  debt_consolidation               17.41%    DC           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
30184         3000.00    750-754                  6                      6215
48402        14166.67    720-724                  7                    103354
50781         5000.00    730-734                  8                     21555
8378          7083.33    800-804                  9                      2245
16672         7695.08    805-809                  6                      1502

       Inquiries.in.the.Last.6.Months Employment.Length
30184                               0           2 years
48402                               0           8 years
50781                               0           2 years
8378                                7           8 years
16672                               0           9 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
56643             21000                       20975        20.50%   60 months
65889              6000                        6000         7.62%   36 months
18439              4500                        4500         6.91%   36 months
79217             29000                       29000        17.77%   36 months
83672             20000                       20000        15.31%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
56643  debt_consolidation               18.42%    NY       MORTGAGE
65889  debt_consolidation                9.33%    CA           RENT
18439      major_purchase                0.58%    MD       MORTGAGE
79217  debt_consolidation               15.70%    MA           RENT
83672  debt_consolidation               27.35%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
56643         8083.33    680-684                 11                     31080
65889         8315.67    730-734                  8                      6239
18439        65000.00    725-729                  7                      3015
79217         7666.67    695-699                 11                     23319
83672         5250.00    690-694                 11                     11343

       Inquiries.in.the.Last.6.Months Employment.Length
56643                               2           5 years
65889                               0           2 years
18439                               4           7 years
79217                               0           2 years
83672                               1           6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
97016              7000                        7000        10.16%   36 months
16867              5000                        4950        10.36%   36 months
73664              6000                        6000        17.27%   36 months
42222             10000                       10000        15.27%   36 months
24026              3200                        3200        17.49%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
97016  debt_consolidation               10.76%    IL       MORTGAGE
16867               other                0.51%    NJ           RENT
73664  debt_consolidation                6.91%    IL       MORTGAGE
42222             wedding                4.02%    IL           RENT
24026               other                1.37%    AR           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
97016         4341.67    695-699                 11                     13638
16867         2916.67    715-719                  2                       165
73664         4025.67    665-669                  6                      6652
42222         4480.00    670-674                  9                      7614
24026         2917.00    665-669                  4                      1427

       Inquiries.in.the.Last.6.Months Employment.Length
97016                               0           7 years
16867                               2           3 years
73664                               2           5 years
42222                               2            1 year
24026                               1          < 1 year
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
68139              23000                    23000.00        17.77%
101715              5000                     1750.04        11.54%
32974               3000                     3000.00        12.69%
19091              12000                    11975.00        10.74%
57072              20000                    19975.00        13.99%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
68139    36 months  debt_consolidation               25.84%    MD
101715   36 months               other               10.36%    NY
32974    36 months  debt_consolidation                3.12%    CA
19091    60 months  debt_consolidation               17.63%    VA
57072    60 months  debt_consolidation               31.20%    NY

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
68139        MORTGAGE         6625.00    685-689                 17
101715           RENT         3416.67    670-674                 17
32974            RENT         2083.33    715-719                  3
19091            RENT         3500.00    715-719                 11
57072            RENT         4166.67    720-724                  9

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
68139                      19870                               1
101715                     15301                               7
32974                        844                               0
19091                      18808                               0
57072                       8810                               0

       Employment.Length
68139            3 years
101715            1 year
32974            3 years
19091            5 years
57072            6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
82788              1200                        1200        15.80%   36 months
33093              8000                        8000         6.62%   36 months
28534             10000                        9975        16.49%   60 months
22444             11000                       11000        13.06%   36 months
95117             18000                       18000        16.29%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
82788  debt_consolidation               27.14%    MI           RENT
33093         credit_card                4.90%    FL       MORTGAGE
28534         credit_card               17.70%    IL       MORTGAGE
22444               other               22.42%    NC       MORTGAGE
95117         credit_card               17.62%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
82788         2166.67    665-669                  9                      9076
33093         3000.00    780-784                  5                      6084
28534         5416.67    705-709                 10                     41329
22444         7916.67    690-694                  9                     34314
95117         5250.00    670-674                 11                      9379

       Inquiries.in.the.Last.6.Months Employment.Length
82788                               1           3 years
33093                               1               NaN
28534                               0         10+ years
22444                               1          < 1 year
95117                               1           5 years
CHUNK DF

       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
30817             24000                       23975        17.49%   60 months
84180              8000                        7925        18.75%   60 months
35299              6000                        6000        11.71%   36 months
99867             35000                       34950        17.27%   36 months
16487              1000                         750        10.36%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
30817      small_business                8.96%    OR           RENT
84180               other                9.92%    WA       MORTGAGE
35299               other               21.45%    MI           RENT
99867  debt_consolidation               22.74%    CA           RENT
16487    renewable_energy                   0%    GA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
30817         5000.00    705-709                  4                       323
84180         5002.33    675-679                  7                      8421
35299         3100.00    685-689                 18                     10426
99867         6750.00    675-679                 15                     24626
16487         1800.00    730-734                  2                         0

       Inquiries.in.the.Last.6.Months Employment.Length
30817                               1         10+ years
84180                               1         10+ years
35299                               0           2 years
99867                               1         10+ years
16487                               1          < 1 year
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
84283              10000                    10000.00        15.31%
83786               6000                     6000.00        15.80%
85172               4000                     4000.00         6.03%
41190              20000                    20000.00        11.71%
102580              3500                      690.34        14.12%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
84283    36 months         credit_card               27.71%    CA
83786    36 months             medical                7.94%    NY
85172    36 months                 car               13.03%    CA
41190    60 months  debt_consolidation               10.98%    IL
102580   36 months             medical               10.19%    IA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
84283            RENT         3750.00    680-684                 19
83786            RENT         5000.00    670-674                  7
85172            RENT         2916.67    750-754                  7
41190        MORTGAGE         5416.67    745-749                 10
102580          OTHER         3750.00    655-659                  8

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
84283                      19385                               1
83786                      14784                               1
85172                       2860                               0
41190                      20836                               0
102580                      9771                               4

       Employment.Length
84283            3 years
83786          10+ years
85172            5 years
41190          10+ years
102580         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
57127             24000                    24000.00        19.99%   60 months
70843              8000                     8000.00        14.09%   36 months
73060             12000                    12000.00         6.62%   36 months
88845             17600                    17600.00         8.90%   36 months
1031               5000                      512.46        12.92%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
57127  debt_consolidation                3.48%    AZ           RENT
70843  debt_consolidation               14.31%    CA           RENT
73060         credit_card               13.88%    MA       MORTGAGE
88845  debt_consolidation               16.58%    CO       MORTGAGE
1031   debt_consolidation               16.29%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
57127         8333.33    690-694                  8                      8224
70843         3500.00    690-694                  7                      5074
73060         7125.00    775-779                 15                     20639
88845         4166.67    750-754                  8                       235
1031          3333.00    665-669                 11                     14244

       Inquiries.in.the.Last.6.Months Employment.Length
57127                               1           5 years
70843                               2           4 years
73060                               1           5 years
88845                               1           8 years
1031                                2           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
14556              8000                        8000        18.67%   60 months
8549              10000                        9850         9.88%   36 months
61042             16800                       16800         6.62%   36 months
13096              6500                        6450        10.38%   60 months
70987             35000                       35000         7.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
14556         educational                5.56%    CA           RENT
8549   debt_consolidation               17.04%    KY       MORTGAGE
61042  debt_consolidation                3.87%    SC            OWN
13096    home_improvement                6.86%    KY       MORTGAGE
70987    home_improvement               20.70%    TX       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
14556         2500.00    660-664                  5                      5770
8549          4500.00    730-734                  8                      6948
61042        16083.33    800-804                  5                     13470
13096         2738.67    755-759                 10                      2345
70987        12083.33    790-794                 10                     28864

       Inquiries.in.the.Last.6.Months Employment.Length
14556                               2           6 years
8549                                2           4 years
61042                               1           8 years
13096                               1           8 years
70987                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
70752              9950                        9950        14.33%   36 months
35935              5000                        5000         9.91%   36 months
68413             10000                       10000        19.05%   60 months
74613              6000                        6000        13.11%   36 months
82673             35000                       35000         7.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
70752  debt_consolidation                4.19%    NJ       MORTGAGE
35935  debt_consolidation               28.77%    OH           RENT
68413  debt_consolidation               28.39%    FL           RENT
74613  debt_consolidation               19.97%    PA       MORTGAGE
82673  debt_consolidation               20.27%    VA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
70752         4800.00    685-689                  9                      5038
35935         3166.67    750-754                  3                         0
68413         3726.67    695-699                 23                     10067
74613         5833.33    685-689                  6                      5523
82673        12083.33    770-774                 15                     35242

       Inquiries.in.the.Last.6.Months Employment.Length
70752                               1           5 years
35935                               1               NaN
68413                               2           5 years
74613                               1            1 year
82673                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
56341              5600                        5600         7.90%   36 months
32601             17000                       17000         7.90%   36 months
25674             15000                       15000        12.99%   60 months
73376              3000                        3000        11.14%   36 months
89741             12000                       12000        17.77%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
56341  debt_consolidation               16.54%    FL           RENT
32601      small_business                6.43%    NJ           RENT
25674  debt_consolidation               17.45%    NY           RENT
73376      small_business                1.70%    NY       MORTGAGE
89741         credit_card                9.86%    MA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
56341         1916.67    705-709                  8                      3373
32601         6250.00    795-799                  4                      1352
25674         5666.67    715-719                 13                     10855
73376         7750.00    685-689                  7                       874
89741         3083.33    665-669                 10                      4390

       Inquiries.in.the.Last.6.Months Employment.Length
56341                               0           5 years
32601                               3           6 years
25674                               0           3 years
73376                               0         10+ years
89741                               0           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
33667             25000                       25000        14.27%   36 months
88438             31075                       31050        20.49%   36 months
77788              4750                        4750        14.33%   60 months
40131              6400                        6375        11.71%   36 months
36163             25000                       25000         9.91%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
33667  debt_consolidation               14.59%    MA       MORTGAGE
88438         credit_card               26.18%    MA            OWN
77788  debt_consolidation               23.48%    SC           RENT
40131         credit_card               14.88%    VA           RENT
36163  debt_consolidation               15.38%    FL           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
33667         9000.00    705-709                 11                     22364
88438         6000.00    660-664                 20                     27221
77788         1500.00    740-744                 11                      1687
40131         4166.67    680-684                  7                     15055
36163         5500.00    730-734                  9                     11395

       Inquiries.in.the.Last.6.Months Employment.Length
33667                               3           7 years
88438                               2         10+ years
77788                               3          < 1 year
40131                               0            1 year
36163                               0           3 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
52543              5000                        4975         6.03%   36 months
27201             12000                       12000        11.99%   60 months
60064             20000                       20000        19.72%   36 months
39439             10000                       10000        15.96%   36 months
98321              9750                        9750        20.49%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
52543      major_purchase                6.43%    PA       MORTGAGE
27201    home_improvement                4.30%    GA       MORTGAGE
60064  debt_consolidation               13.74%    VA       MORTGAGE
39439  debt_consolidation               13.09%    CA           RENT
98321               other               10.55%    WA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
52543        12083.33    785-789                 10                       792
27201         3583.33    755-759                  5                      3942
60064         7965.00    665-669                 18                     18809
39439         4416.67    665-669                  9                     23870
98321         3033.33    660-664                 13                      8688

       Inquiries.in.the.Last.6.Months Employment.Length
52543                               0           5 years
27201                               2           2 years
60064                               1           7 years
39439                               1         10+ years
98321                               1           4 years

CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
61683              10000                    10000.00        14.09%
101987              3000                     2057.84        10.46%
81939              25000                    25000.00        19.72%
9885                5000                     5000.00        14.22%
19235               6500                     6500.00         5.79%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
61683    36 months  debt_consolidation               15.02%    RI
101987   36 months      small_business                4.34%    IL
81939    60 months  debt_consolidation                1.31%    MN
9885     36 months               other               18.73%    CA
19235    36 months         credit_card               22.84%    TX

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
61683        MORTGAGE         6000.00    685-689                 13
101987            OWN         4350.00    680-684                  3
81939        MORTGAGE         5666.67    700-704                  6
9885         MORTGAGE         8583.00    670-674                  9
19235        MORTGAGE         6400.00    730-734                 11

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
61683                       8178                               0
101987                      8414                               4
81939                         92                               0
9885                        8097                               1
19235                       7435                               0

       Employment.Length
61683            8 years
101987         10+ years
81939          10+ years
9885              1 year
19235            8 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
73893              8325                     8325.00        15.31%   36 months
65788             20000                    20000.00        15.31%   60 months
70001             12000                    12000.00        12.12%   36 months
14243              9500                     9475.00        10.38%   60 months
16597             12000                    11862.38         5.79%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
73893  debt_consolidation               15.22%    NY           RENT
65788      small_business               13.94%    FL       MORTGAGE
70001         credit_card               20.32%    AL       MORTGAGE
14243      small_business               13.64%    NM       MORTGAGE
16597  debt_consolidation               22.13%    WI       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
73893         2916.67    670-674                 13                      7171
65788         8333.33    710-714                 15                     22246
70001         5166.67    710-714                  9                     10054
14243         5000.00    755-759                 10                     46358
16597         4166.67    780-784                 12                     14464

       Inquiries.in.the.Last.6.Months Employment.Length
73893                               0           4 years
65788                               0         10+ years
70001                               1           4 years
14243                               0         10+ years
16597                               1         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
14355              7200                        7200        11.49%   60 months
85461              8500                        8500        10.16%   36 months
76503             17475                       17475        19.05%   60 months
71743             10000                       10000        12.12%   36 months
66429             18000                       17975        22.47%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
14355  debt_consolidation               16.78%    CA           RENT
85461         credit_card               11.23%    NV       MORTGAGE
76503  debt_consolidation               22.95%    IL       MORTGAGE
71743    home_improvement               13.49%    TX       MORTGAGE
66429               house                1.92%    FL           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
14355         2944.00    715-719                 11                      5459
85461         6091.83    710-714                 18                     10568
76503         4583.33    685-689                 13                     15852
71743         3113.83    690-694                  9                      6634
66429         4583.33    660-664                  6                      4243

       Inquiries.in.the.Last.6.Months Employment.Length
14355                               0           6 years
85461                               0           3 years
76503                               3         10+ years
71743                               0           4 years
66429                               3           7 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
18916              4800                        4775         5.42%   36 months
40840              5000                        5000         7.90%   36 months
49985             20000                       19925        12.12%   36 months
91018             12300                       12300        15.31%   36 months
46016             28000                       27950        22.78%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
18916             medical               20.17%    NH       MORTGAGE
40840             wedding               16.44%    NC       MORTGAGE
49985         credit_card               10.32%    TX           RENT
91018  debt_consolidation               19.26%    OH       MORTGAGE
46016  debt_consolidation               10.29%    LA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
18916         7466.83    785-789                 19                     13461
40840         2298.75    720-724                 10                     12346
49985         3750.00    720-724                  6                     15762
91018         5000.00    710-714                 13                      4460
46016         6125.00    675-679                 11                     18101

       Inquiries.in.the.Last.6.Months Employment.Length
18916                               2           4 years
40840                               0         10+ years
49985                               0           2 years
91018                               2         10+ years
46016                               2           5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
20772              1675                        1675        11.11%   36 months
7006               7500                        7500        17.04%   36 months
17832              9200                        9200        12.61%   36 months
82746              8000                        8000        15.80%   36 months
28147              5000                        5000        10.99%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
20772  debt_consolidation                4.81%    CA           RENT
7006                  car                4.92%    CA           RENT
17832  debt_consolidation               15.42%    WI       MORTGAGE
82746         credit_card               10.76%    OK       MORTGAGE
28147              moving               23.25%    NJ           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
20772         2080.00    690-694                  4                      1466
7006          4000.00    685-689                  3                      8398
17832        12833.33    675-679                 12                     17391
82746         4583.33    675-679                 13                      4084
28147         2000.00    690-694                  8                      8339

       Inquiries.in.the.Last.6.Months Employment.Length
20772                               0           3 years
7006                                0           7 years
17832                               0           2 years
82746                               3           2 years
28147                               0          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
46059             19125                       19125        18.25%   60 months
29858              5075                        5050         5.99%   36 months
18553              7000                        6975         9.62%   36 months
72582              5000                        5000        12.12%   36 months
30718             35000                       33500        13.49%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
46059               other               15.69%    CA            OWN
29858  debt_consolidation               20.10%    PA       MORTGAGE
18553  debt_consolidation               22.69%    IL       MORTGAGE
72582  debt_consolidation               16.97%    WA       MORTGAGE
30718      small_business               10.63%    AZ       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
46059         3333.33    690-694                  8                      7858
29858         5000.00    790-794                  9                       269
18553         3275.00    710-714                  8                     14075
72582         6800.00    675-679                 16                     25524
30718        15583.33    760-764                 10                         9

       Inquiries.in.the.Last.6.Months Employment.Length
46059                               0           5 years
29858                               3           3 years
18553                               1           9 years
72582                               0         10+ years
30718                               1           6 years
CHUNK DF

       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
50460              2225                        2225        14.65%   36 months
66149              4000                        4000        10.16%   36 months
41523             16000                       16000         7.90%   36 months
76858             15500                       15500        17.77%   36 months
91738             16000                       16000        13.11%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
50460         credit_card               24.09%    WV       MORTGAGE
66149      major_purchase                4.58%    IL           RENT
41523  debt_consolidation                2.23%    CA       MORTGAGE
76858  debt_consolidation               27.60%    VA            OWN
91738  debt_consolidation               14.88%    OK       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
50460         3250.00    670-674                  9                     26854
66149         3168.00    715-719                  5                      6916
41523         7083.33    740-744                 11                      3076
76858         3333.33    675-679                 10                      8692
91738         7916.67    695-699                  9                     22918

       Inquiries.in.the.Last.6.Months Employment.Length
50460                               1               NaN
66149                               2          < 1 year
41523                               0           5 years
76858                               0           4 years
91738                               2         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
21508              9000                        9000        13.06%   60 months
29999             20000                       18275        16.49%   60 months
17924             20000                       19900        18.17%   60 months
46748             30000                       30000        22.78%   60 months
25426             10000                       10000        10.59%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
21508  debt_consolidation                5.74%    CA           RENT
29999             wedding               24.58%    TX       MORTGAGE
17924         credit_card                9.72%    CA       MORTGAGE
46748  debt_consolidation               24.71%    CA           RENT
25426  debt_consolidation                7.43%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
21508         3678.08    710-714                  8                      7556
29999         6000.00    710-714                 14                     12231
17924        10000.00    685-689                  8                    106527
46748         6041.67    690-694                 12                     39144
25426         3833.33    735-739                  3                     10187

       Inquiries.in.the.Last.6.Months Employment.Length
21508                               2           4 years
29999                               3           3 years
17924                               0         10+ years
46748                               0            1 year
25426                               0         10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
76810              14000                       14000        19.05%
101596              5000                        4525         7.43%
76324              18000                       18000        15.31%
48235              10000                       10000         6.62%
50533              25975                       25975        13.11%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
76810    36 months         credit_card               31.02%    IL
101596   36 months               other                   1%    NY
76324    60 months               other               22.93%    FL
48235    36 months  debt_consolidation               19.05%    WA
50533    60 months               house               15.51%    WA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
76810        MORTGAGE         5000.00    660-664               15.0
101596           NONE             NaN    800-804                NaN
76324            RENT         5734.08    710-714               13.0
48235        MORTGAGE         5208.33    740-744                8.0
50533        MORTGAGE         4583.33    735-739                6.0

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
76810                    12728.0                             3.0
101596                       NaN                             NaN
76324                     2819.0                             0.0
48235                    28302.0                             0.0
50533                     3607.0                             0.0

       Employment.Length
76810            7 years
101596          < 1 year
76324            4 years
48235          10+ years
50533            9 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
79478             10350                    10350.00        14.09%   36 months
88920             10850                    10850.00        17.77%   36 months
28663              4075                     4075.00         5.42%   36 months
10761             14500                    10168.89        10.75%   60 months
71249             12000                    12000.00        10.16%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
79478                 car               20.46%    NY           RENT
88920  debt_consolidation               33.90%    PA            OWN
28663    home_improvement               23.41%    NC       MORTGAGE
10761         credit_card               14.26%    CA       MORTGAGE
71249  debt_consolidation               27.48%    VA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
79478         3333.33    690-694                 10                     10841
88920         2708.33    660-664                  7                      9577
28663         3750.00    770-774                  6                     34103
10761         3584.62    755-759                  6                     18555
71249         5000.00    710-714                 12                     10490

       Inquiries.in.the.Last.6.Months Employment.Length
79478                               1            1 year
88920                               0           8 years
28663                               1           6 years
10761                               0         10+ years
71249                               0           7 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
97462               1000                        1000        22.95%
101208              5900                        5900        13.11%
74097               9950                        9925        13.11%
81822               7200                        7200         6.03%
38540              14750                       14750        16.77%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
97462    36 months               other               19.78%    NY
101208   36 months  debt_consolidation               14.19%    FL
74097    36 months  debt_consolidation               24.21%    MI
81822    36 months  debt_consolidation               17.27%    NY
38540    60 months  debt_consolidation               17.32%    NM

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
97462            RENT          884.90    665-669                  4
101208       MORTGAGE         3010.00    700-704                  8
74097        MORTGAGE         2500.00    705-709                 17
81822        MORTGAGE         3416.67    790-794                 14
38540        MORTGAGE         2500.00    685-689                  8

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
97462                       5561                               0
101208                      5921                               0
74097                      16618                               1
81822                       4838                               0
38540                      11003                               1

       Employment.Length
97462                NaN
101208         10+ years
74097          10+ years
81822          10+ years
38540            8 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
103250              5000                     4975.00        16.70%
20785              20000                    20000.00        14.91%
32636              18400                    18375.00        19.42%
2834                7200                     4167.97        14.11%
45427              18000                    17994.17        13.99%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
103250   36 months               other                2.67%    FL
20785    36 months  debt_consolidation               19.43%    VA
32636    60 months  debt_consolidation               22.53%    VA
2834     36 months               other               13.62%    PA
45427    60 months  debt_consolidation                2.13%    PA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
103250           RENT         3000.00    690-694                  4
20785        MORTGAGE         6250.00    715-719                 12
32636        MORTGAGE         7400.00    705-709                 14
2834              OWN         3583.00    700-704                  3
45427        MORTGAGE         4364.58    725-729                  9

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
103250                      2474                               8
20785                      14308                               1
32636                      10439                               2
2834                        1621                               1
45427                       1721                               3

       Employment.Length
103250            1 year
20785            5 years
32636          10+ years
2834              1 year
45427            3 years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
83841              8000                        8000        12.12%   36 months
38903              4000                        4000         8.90%   36 months
90332              6000                        6000        13.11%   36 months
8382               6250                        6100        10.25%   36 months
77035              5375                        5375        14.09%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
83841  debt_consolidation               24.98%    MA           RENT
38903      small_business               13.16%    CA       MORTGAGE
90332  debt_consolidation               18.10%    NY           RENT
8382   debt_consolidation               18.04%    FL       MORTGAGE
77035                 car               15.05%    TX       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
83841         3166.67    690-694                 10                      5428
38903         5166.67    720-724                  9                      7171
90332         3750.00    690-694                 18                     14468
8382          2400.00    720-724                  5                     14863
77035         5416.67    685-689                 13                      4087

       Inquiries.in.the.Last.6.Months Employment.Length
83841                               0         10+ years
38903                               2           3 years
90332                               3           7 years
8382                                0         10+ years
77035                               2            1 year
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
100469              8875                        8875        15.31%
39792               7000                        7000        10.65%
80904              12000                       12000        15.31%
60688              21250                       21250        18.75%
68301               3600                        3600        19.72%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
100469   36 months  debt_consolidation               14.90%    SC
39792    36 months  debt_consolidation                7.38%    CA
80904    36 months  debt_consolidation               21.83%    VA
60688    36 months         credit_card               26.53%    LA
68301    60 months                 car               22.22%    KS

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
100469           RENT         2302.00    665-669                  8
39792            RENT         3333.33    700-704                  7
80904            RENT         6416.67    680-684                 20
60688             OWN         4500.00    670-674                 15
68301        MORTGAGE         3200.00    680-684                 13

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
100469                     10008                               0
39792                      12168                               0
80904                      11583                               2
60688                      25287                               2
68301                      11702                               0

       Employment.Length
100469               NaN
39792           < 1 year
80904            2 years
60688          10+ years
68301           < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
82419             12000                       12000        14.33%   36 months
71540             10050                       10050        14.33%   36 months
67109              4025                        4025         8.90%   36 months
48352              5000                        5000         6.62%   36 months
36706             16500                       16400        11.71%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
82419  debt_consolidation               28.20%    KY       MORTGAGE
71540         credit_card               16.48%    CA           RENT
67109         credit_card               15.32%    CA       MORTGAGE
48352  debt_consolidation                1.20%    GA           RENT
36706      small_business               12.07%    OH       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
82419         3333.33    670-674                 11                     10727
71540         2500.00    690-694                  7                     13337
67109         5000.00    700-704                 12                     15943
48352         5000.00    780-784                  8                       531
36706         2750.00    775-779                 11                      2316

       Inquiries.in.the.Last.6.Months Employment.Length
82419                               0         10+ years
71540                               2          < 1 year
67109                               0           8 years
48352                               1           2 years
36706                               1           4 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
22993              10000                    10000.00         7.29%
102441              7500                       -0.01        12.29%
50602              10000                    10000.00         6.03%
52285              10000                    10000.00         8.90%
77559              18000                    18000.00         7.90%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
22993    36 months    home_improvement                7.94%    CA
102441   36 months         educational               21.34%    CA
50602    36 months  debt_consolidation               24.66%    OH
52285    36 months         credit_card               22.66%    MN
77559    36 months         credit_card               18.36%    GA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
22993        MORTGAGE         5833.33    735-739                 12
102441       MORTGAGE         8750.00    685-689                 14
50602        MORTGAGE         2940.25    755-759                  8
52285            RENT         2083.33    715-719                  8
77559            RENT         5833.33    730-734                 16

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
22993                       3181                               0
102441                     20947                               7
50602                       5904                               0
52285                      12724                               0
77559                      12522                               0

       Employment.Length
22993            8 years
102441           5 years
50602          10+ years
52285            9 years
77559           < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
98980              7000                        7000        16.29%   36 months
92488             22000                       21975        22.47%   60 months
53808              6000                        6000        13.11%   36 months
32517              5600                        5600         6.62%   36 months
82160              9500                        9500        12.12%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
98980         credit_card               24.93%    TX       MORTGAGE
92488  debt_consolidation               33.93%    WV       MORTGAGE
53808  debt_consolidation               12.40%    WA           RENT
32517             wedding                7.23%    NC       MORTGAGE
82160  debt_consolidation               24.06%    MO       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
98980         3833.33    680-684                 20                     18792
92488         5083.33    670-674                 14                     31152
53808         1000.00    685-689                 18                      3622
32517         5833.33    750-754                  8                      8125
82160         2519.17    705-709                  7                      8673

       Inquiries.in.the.Last.6.Months Employment.Length
98980                               3           3 years
92488                               2         10+ years
53808                               2            1 year
32517                               1           2 years
82160                               1         10+ years
CHUNK DF

       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
47059             12000                    12000.00        13.11%   36 months
19661              7200                     7200.00        10.37%   36 months
89012              5000                     5000.00        15.80%   36 months
39468              8250                     8086.75        15.96%   60 months
83422             30000                    30000.00        22.47%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
47059  debt_consolidation               17.51%    SC       MORTGAGE
19661  debt_consolidation                8.92%    FL       MORTGAGE
89012  debt_consolidation               25.53%    NC           RENT
39468    home_improvement               15.60%    NY       MORTGAGE
83422  debt_consolidation               20.07%    NY       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
47059         9666.67    680-684                 12                     17226
19661         4416.67    675-679                 10                      4137
89012         6612.00    665-669                  6                     14283
39468         2917.00    695-699                 13                      4479
83422         7916.67    690-694                  9                      4202

       Inquiries.in.the.Last.6.Months Employment.Length
47059                               0           5 years
19661                               0           2 years
89012                               0         10+ years
39468                               1           2 years
83422                               3               NaN
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
55690             10075                    10075.00        15.81%   60 months
66424              9050                     9050.00        13.11%   36 months
98930             17500                    17500.00        10.16%   36 months
16158             10000                     5334.01         6.91%   36 months
66360             10000                    10000.00         8.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
55690  debt_consolidation               23.80%    DE       MORTGAGE
66424         credit_card               20.58%    MI       MORTGAGE
98930         credit_card               23.64%    CA       MORTGAGE
16158                 car                8.83%    TX           RENT
66360               other               20.10%    MO           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
55690         6583.33    700-704                 15                     13259
66424         5166.67    700-704                  9                      7571
98930         3333.33    700-704                 10                     21483
16158         4166.67    730-734                  5                      6381
66360         2870.42    715-719                 11                     18802

       Inquiries.in.the.Last.6.Months Employment.Length
55690                               1            1 year
66424                               1           7 years
98930                               0           8 years
16158                               0            1 year
66360                               0           3 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
63941              8500                     8500.00        15.80%   36 months
57456             16000                    15975.00        14.65%   36 months
79611              2350                     2350.00        14.09%   36 months
20467             10000                     9924.07         7.29%   36 months
96157             25000                    24975.00        15.80%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
63941  debt_consolidation               17.40%    MI           RENT
57456  debt_consolidation               20.15%    NC           RENT
79611         credit_card               11.18%    WA       MORTGAGE
20467             medical                4.70%    NY           RENT
96157  debt_consolidation               21.18%    MA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
63941         2500.00    690-694                  6                      6491
57456         3666.67    675-679                 15                      6875
79611         1833.33    725-729                  3                      7463
20467         6083.33    730-734                 10                      7337
96157         5458.33    735-739                 26                     27327

       Inquiries.in.the.Last.6.Months Employment.Length
63941                               1            1 year
57456                               0           4 years
79611                               1               NaN
20467                               1           3 years
96157                               1           6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
76957              8000                        8000        14.33%   36 months
78827              6000                        6000        13.11%   36 months
65280              4000                        4000        13.11%   36 months
79531             11500                       11500        11.14%   36 months
42255             12000                       12000         9.91%   36 months

      Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  Monthly.Income  \
76957  credit_card               27.34%    CA           RENT         3500.00
78827  credit_card               16.75%    OH       MORTGAGE         4166.67
65280  credit_card               11.80%    NY           RENT         5416.67
79531  credit_card                  18%    WA           RENT         2916.67
42255      wedding                4.10%    WA           RENT        12500.00

      FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
76957    685-689                 19                     16395
78827    670-674                  9                      4500
65280    685-689                 12                      6616
79531    715-719                 14                     13851
42255    705-709                  9                     22889

       Inquiries.in.the.Last.6.Months Employment.Length
76957                               2           7 years
78827                               0          < 1 year
65280                               1            1 year
79531                               1           5 years
42255                               0           9 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
28871             15250                    13914.17        16.49%   60 months
21867              5000                     5000.00        12.68%   36 months
73473              6000                     6000.00         7.90%   36 months
56778             18225                    18225.00        16.29%   60 months
10642             15000                    15000.00        10.38%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
28871  debt_consolidation               20.57%    FL           RENT
21867  debt_consolidation                9.20%    FL           RENT
73473             wedding               20.75%    IL           RENT
56778         credit_card               22.61%    PA           RENT
10642  debt_consolidation               16.87%    IL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
28871         2916.67    690-694                 10                     17931
21867         3500.00    695-699                  6                      3555
73473         3750.00    715-719                 12                      4318
56778         3166.67    710-714                  7                     12233
10642         6312.00    735-739                 17                     14339

       Inquiries.in.the.Last.6.Months Employment.Length
28871                               0          < 1 year
21867                               0            1 year
73473                               0         10+ years
56778                               2           4 years
10642                               2           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
15899              4000                     3882.78         5.79%   36 months
92357             27000                    27000.00        12.12%   60 months
9468              15000                    14925.00        13.85%   36 months
77964              4950                     4950.00        10.16%   36 months
23437             21000                    20925.00        10.00%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
15899              moving               23.94%    OH           RENT
92357  debt_consolidation               17.82%    TX       MORTGAGE
9468                other                5.10%    NY           RENT
77964               other               16.75%    CA           RENT
23437         credit_card               14.08%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
15899         4666.67    760-764                  7                      2889
92357         7083.33    715-719                 13                     25137
9468          3000.00    705-709                  4                      5936
77964         1403.33    725-729                  4                      2738
23437         6250.00    730-734                  8                     21102

       Inquiries.in.the.Last.6.Months Employment.Length
15899                               2           9 years
92357                               0           8 years
9468                                1           3 years
77964                               1           2 years
23437                               0           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
57704              9000                     9000.00        15.31%   36 months
86747             21000                    21000.00        18.75%   60 months
61261              8000                     8000.00        19.05%   36 months
15383             23000                    21457.14         6.91%   60 months
56401             10000                    10000.00        14.65%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
57704         credit_card               15.88%    NY           RENT
86747  debt_consolidation               31.71%    NM       MORTGAGE
61261  debt_consolidation                2.83%    NY           RENT
15383  debt_consolidation               12.39%    NH       MORTGAGE
56401  debt_consolidation               16.68%    OH       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
57704         5000.00    675-679                  7                      4532
86747         9583.33    695-699                 19                     30589
61261         3333.33    660-664                  4                      2832
15383         4583.33    760-764                  6                     17695
56401         8333.33    680-684                 18                     39461

       Inquiries.in.the.Last.6.Months Employment.Length
57704                               1         10+ years
86747                               1         10+ years
61261                               0               NaN
15383                               2           4 years
56401                               2           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
16924              5000                     4947.35         9.99%   60 months
88301              5350                     5350.00        10.16%   36 months
40727             10000                    10000.00        12.42%   36 months
59413             24000                    23975.00        10.16%   36 months
91853             24000                    24000.00         7.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
16924         credit_card               10.80%    CA           RENT
88301    home_improvement               16.45%    NJ       MORTGAGE
40727         credit_card                9.77%    CA           RENT
59413  debt_consolidation               15.53%    OH       MORTGAGE
91853  debt_consolidation               13.55%    GA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
16924         6400.00    730-734                  8                      5783
88301        11250.00    730-734                 11                     19184
40727         3500.00    705-709                  9                     10912
59413         5416.67    720-724                 11                     17882
91853         7233.33    705-709                  6                     26039

       Inquiries.in.the.Last.6.Months Employment.Length
16924                               0          < 1 year
88301                               3           8 years
40727                               1           2 years
59413                               0         10+ years
91853                               0          < 1 year

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
71008             15475                       15450        14.09%   36 months
59890             25000                       25000        21.00%   36 months
42306             13000                       12975         9.91%   36 months
47168              7550                        7550         7.62%   36 months
77588              9600                        9600        15.31%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
71008  debt_consolidation               26.98%    SC       MORTGAGE
59890  debt_consolidation                9.52%    NY           RENT
42306         credit_card               15.60%    CA           RENT
47168             wedding               14.61%    AZ       MORTGAGE
77588         credit_card               33.24%    AR           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
71008         3750.00    685-689                 14                     19670
59890         8333.33    670-674                 11                      8575
42306         2333.33    730-734                 12                      4487
47168         2512.00    730-734                  7                      2814
77588         3166.67    685-689                  8                     14774

       Inquiries.in.the.Last.6.Months Employment.Length
71008                               0         10+ years
59890                               1         10+ years
42306                               3           5 years
47168                               0           5 years
77588                               3           2 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
14407              15000                    14950.00        15.21%
102902              7000                     6975.00        14.11%
71247               1000                     1000.00        15.31%
6611               25000                    24798.43        12.87%
80041              24000                    24000.00        14.33%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
14407    60 months  debt_consolidation               14.65%    CA
102902   36 months  debt_consolidation               21.67%    NJ
71247    36 months  debt_consolidation               29.45%    TX
6611     36 months  debt_consolidation               18.81%    MA
80041    36 months         credit_card               25.49%    GA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
14407            RENT         5416.67    700-704                 11
102902           RENT         4166.67    675-679                  7
71247        MORTGAGE         2166.67    665-669                  9
6611             RENT         6666.67    720-724                 13
80041        MORTGAGE        11208.33    725-729                 23

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
14407                       9171                               2
102902                     60550                               3
71247                       1748                               0
6611                       31890                               1
80041                      19428                               2

       Employment.Length
14407          10+ years
102902         10+ years
71247            6 years
6611              1 year
80041          10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
78104             21000                       21000        18.49%   60 months
59886              1000                        1000        13.11%   36 months
22323             16000                       16000         9.63%   60 months
40094             24400                       24400        17.27%   60 months
75168             14675                       14675         7.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
78104  debt_consolidation               21.73%    CO           RENT
59886  debt_consolidation               30.71%    AZ           RENT
22323               other               16.58%    SC            OWN
40094      small_business               15.98%    CA           RENT
75168  debt_consolidation               17.40%    NY       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
78104        16416.67    700-704                 21                     62549
59886         1833.33    670-674                  7                      6283
22323         5000.00    780-784                  6                      2300
40094         6000.00    725-729                  7                     13879
75168         3166.67    720-724                  7                     22549

       Inquiries.in.the.Last.6.Months Employment.Length
78104                               1            1 year
59886                               0           3 years
22323                               0         10+ years
40094                               1           3 years
75168                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
79248             12000                       12000        19.05%   36 months
73010              8000                        8000        13.11%   36 months
47048             12000                       12000        13.11%   36 months
10006             16800                       10075        10.99%   60 months
75518             14500                       14500        14.33%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
79248         credit_card               19.61%    KS       MORTGAGE
73010         credit_card               21.35%    TX            OWN
47048         credit_card                8.05%    FL       MORTGAGE
10006  debt_consolidation               13.42%    MN       MORTGAGE
75518  debt_consolidation               17.97%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
79248         4583.33    660-664                  8                      8970
73010         3541.67    700-704                 13                      6885
47048         3416.67    685-689                  6                      7708
10006         5416.67    730-734                 10                      7258
75518         3500.00    680-684                  7                     10846

       Inquiries.in.the.Last.6.Months Employment.Length
79248                               0         10+ years
73010                               2               NaN
47048                               0           4 years
10006                               3           3 years
75518                               0           6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
2823              25000                        3925        16.63%   36 months
54131             28625                       28625        13.11%   60 months
70334             21000                       21000        22.95%   60 months
55717              7500                        7500         9.76%   60 months
12368             11875                       11775        10.38%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
2823   debt_consolidation               18.46%    NJ           RENT
54131  debt_consolidation               21.31%    TX       MORTGAGE
70334    home_improvement                6.52%    NJ       MORTGAGE
55717               other               14.96%    IL       MORTGAGE
12368  debt_consolidation               22.52%    OR       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
2823          8000.00    680-684                 11                     39502
54131         4833.33    740-744                  9                     35863
70334        20833.33    670-674                  5                      1240
55717         7083.33    780-784                 11                     16449
12368         6000.00    730-734                 11                     28210

       Inquiries.in.the.Last.6.Months Employment.Length
2823                                0         10+ years
54131                               0           5 years
70334                               3         10+ years
55717                               1         10+ years
12368                               2         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
47011              3600                        3600        13.67%   36 months
86309             16000                       16000        15.31%   36 months
74257             20500                       20500        23.28%   60 months
39713             10000                       10000        18.25%   36 months
31573             15000                       15000        17.49%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
47011               other               16.41%    CA       MORTGAGE
86309  debt_consolidation               20.10%    TX           RENT
74257  debt_consolidation               24.85%    CA           RENT
39713         credit_card               24.14%    CA           RENT
31573  debt_consolidation               11.22%    CT           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
47011         5113.00    690-694                 10                       715
86309         5924.50    695-699                 11                      9365
74257         4333.33    660-664                 13                      4699
39713         6250.00    665-669                  9                     22828
31573         3333.33    695-699                  4                      6147

       Inquiries.in.the.Last.6.Months Employment.Length
47011                               1               NaN
86309                               1         10+ years
74257                               0           5 years
39713                               0            1 year
31573                               2               NaN

CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
26493              10000                       10000        11.99%
32982              11000                       11000        11.71%
101403             25000                       25000        19.05%
99661              15000                       15000        10.16%
67222               5600                        5600        14.09%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
26493    36 months               other               21.89%    CA
32982    36 months  debt_consolidation                7.80%    TX
101403   60 months         credit_card               28.46%    VA
99661    36 months  debt_consolidation               26.75%    IL
67222    36 months  debt_consolidation               26.35%    SC

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
26493        MORTGAGE         3417.00    680-684                 13
32982             OWN         3820.27    685-689                  7
101403           RENT         5833.33    690-694                 20
99661        MORTGAGE         7666.67    675-679                 16
67222            RENT         3833.33    665-669                 19

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
26493                      18069                               0
32982                       6844                               0
101403                     33127                               0
99661                      71879                               1
67222                      16163                               0

       Employment.Length
26493            4 years
32982            2 years
101403            1 year
99661            5 years
67222            5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
41977             20000                       20000        11.71%   36 months
91765             25450                       25450        19.72%   60 months
11648              7000                        7000        11.12%   36 months
51810             10400                       10400        12.12%   36 months
14108             25000                       24975        14.84%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
41977  debt_consolidation               15.20%    CA           RENT
91765         credit_card               33.75%    FL            OWN
11648  debt_consolidation                9.06%    TX           RENT
51810         credit_card               18.92%    MA           RENT
14108         credit_card               15.88%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
41977         4583.33    720-724                 15                     16575
91765         4750.00    665-669                 20                     14435
11648         6333.33    715-719                  6                       349
51810         3333.33    690-694                 11                     11964
14108         7250.00    705-709                  6                     10770

       Inquiries.in.the.Last.6.Months Employment.Length
41977                               2           5 years
91765                               1         10+ years
11648                               0         10+ years
51810                               0         10+ years
14108                               2         10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
102270             20000                       13000        11.97%
16300              16000                       15800        17.43%
82744              15000                       15000         7.90%
94041              24625                       24625        19.72%
99568              21850                       21850        13.11%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
102270   36 months               other               18.96%    KS
16300    60 months         credit_card               13.07%    FL
82744    36 months      major_purchase               22.39%    CA
94041    60 months  debt_consolidation               20.96%    NY
99568    36 months         credit_card               28.08%    MN

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
102270       MORTGAGE         7501.00    705-709                 17
16300        MORTGAGE         4583.33    675-679                  7
82744        MORTGAGE         7500.00    725-729                 10
94041            RENT         5166.67    675-679                 14
99568            RENT         4166.67    690-694                 12

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
102270                     17212                               7
16300                       5729                               0
82744                      18756                               0
94041                      20694                               0
99568                      20497                               0

       Employment.Length
102270            1 year
16300          10+ years
82744          10+ years
94041            8 years
99568           < 1 year
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
66550               6000                     6000.00        15.31%
102756              6700                     6636.91        16.00%
3962               10000                     9225.43        12.21%
83847               5775                     5775.00        15.31%
33997              14475                    14475.00        15.27%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
66550    36 months  debt_consolidation               15.68%    NC
102756   36 months  debt_consolidation               21.53%    GA
3962     36 months              moving               10.45%    MA
83847    36 months  debt_consolidation                4.08%    SC
33997    36 months         credit_card               23.69%    NJ

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
66550        MORTGAGE         7500.00    670-674                 10
102756       MORTGAGE         4700.00    725-729                 11
3962             RENT         7667.00    700-704                  9
83847            RENT         5000.00    670-674                  8
33997            RENT         4166.67    680-684                 12

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
66550                       5263                               1
102756                      9007                               9
3962                       17328                               0
83847                      10088                               2
33997                      13294                               1

       Employment.Length
66550            3 years
102756           2 years
3962             2 years
83847          10+ years
33997            3 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
72499              8000                        8000        17.27%   36 months
92186             15000                       15000        12.12%   36 months
80094             10000                       10000        17.77%   36 months
32684              5600                        5600        13.49%   36 months
14595             10000                       10000        16.32%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
72499  debt_consolidation               27.88%    IL           RENT
92186  debt_consolidation               14.22%    FL       MORTGAGE
80094  debt_consolidation               12.41%    PA       MORTGAGE
32684  debt_consolidation               18.33%    NY           RENT
14595    home_improvement               14.80%    WV           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
72499         2833.33    670-674                 10                      9926
92186         5416.67    700-704                 10                      9237
80094         4166.67    680-684                  6                     31212
32684         2870.33    690-694                  6                      5033
14595         2290.00    685-689                  5                       394

       Inquiries.in.the.Last.6.Months Employment.Length
72499                               3           6 years
92186                               0          < 1 year
80094                               0           8 years
32684                               2           5 years
14595                               2               NaN
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
96564             13000                       13000        14.09%   36 months
17157             15000                       10825         9.99%   60 months
79363              2100                        2100        12.12%   36 months
70571             12000                       12000        12.12%   36 months
3660               1000                        1000        13.16%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
96564  debt_consolidation               32.64%    PA       MORTGAGE
17157  debt_consolidation               11.95%    AZ       MORTGAGE
79363         credit_card               25.77%    MN           RENT
70571  debt_consolidation               20.48%    NV       MORTGAGE
3660                other               19.63%    MI           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
96564         5000.00    675-679                  8                     15208
17157         1958.33    745-749                  8                      3584
79363         2555.16    680-684                  8                     21190
70571         7666.67    685-689                 10                      5832
3660          3500.00    670-674                  9                     11189

       Inquiries.in.the.Last.6.Months Employment.Length
96564                               0         10+ years
17157                               1           2 years
79363                               0         10+ years
70571                               0           2 years
3660                                2           2 years
CHUNK DF

        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
65335              16000                    16000.00        14.09%
36283              14000                    14000.00         7.90%
100086             14000                    14000.00        10.16%
3406               20000                     3850.00        12.21%
4799               17000                    15865.55        11.14%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
65335    60 months      small_business                7.78%    PA
36283    36 months         credit_card               21.69%    IL
100086   36 months  debt_consolidation               13.44%    CA
3406     36 months  debt_consolidation               14.63%    NY
4799     36 months  debt_consolidation                6.65%    AZ

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
65335            RENT         4166.67    735-739                  6
36283            RENT         3162.25    730-734                 12
100086           RENT         7916.67    690-694                 16
3406             RENT         6000.00    725-729                  8
4799         MORTGAGE         6333.33    760-764                  7

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
65335                       4240                               3
36283                      13579                               0
100086                     19621                               0
3406                       28585                               0
4799                        6542                               1

       Employment.Length
65335            2 years
36283            9 years
100086               NaN
3406           10+ years
4799             7 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
21789              7350                     7350.00        10.74%   60 months
9281              10000                     9500.00        10.25%   36 months
8424              20000                    19796.41        11.36%   36 months
7967               7000                     7000.00         7.14%   36 months
76489              6000                     6000.00        12.12%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
21789  debt_consolidation               29.82%    WA       MORTGAGE
9281       major_purchase               12.93%    NY           RENT
8424   debt_consolidation                8.34%    PA       MORTGAGE
7967          credit_card                5.44%    MN       MORTGAGE
76489               other                9.31%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
21789         5000.00    745-749                 15                     15093
9281          4841.67    775-779                  4                         0
8424         15416.67    710-714                 10                     46501
7967          3807.64    760-764                  7                      7196
76489         9583.33    715-719                 12                     27756

       Inquiries.in.the.Last.6.Months Employment.Length
21789                               1           4 years
9281                                1           4 years
8424                                0         10+ years
7967                                0           5 years
76489                               0           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
19321             12000                    12000.00        10.00%   36 months
73614              4225                     4225.00         6.03%   36 months
599               14700                     1973.77        12.29%   36 months
11084              2500                     2500.00         6.76%   36 months
15135              4800                     4775.00        14.84%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
19321  debt_consolidation               12.32%    WI       MORTGAGE
73614      small_business               14.52%    NY       MORTGAGE
599    debt_consolidation               21.94%    CT           RENT
11084  debt_consolidation                6.99%    WI       MORTGAGE
15135              moving                   0%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
19321         5000.00    715-719                  6                      4515
73614         2583.33    750-754                 17                      3907
599           3100.00    700-704                 14                     14694
11084         4750.00    755-759                 15                      4658
15135         2500.00    670-674                  4                         0

       Inquiries.in.the.Last.6.Months Employment.Length
19321                               1           7 years
73614                               0           4 years
599                                 2           8 years
11084                               2           4 years
15135                               0           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
43572              6000                        6000        15.96%   36 months
62900              6000                        6000         6.03%   36 months
85201              1800                        1800        15.31%   36 months
69401              7200                        7200        15.80%   36 months
52823              6000                        6000        12.12%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
43572         credit_card               22.10%    MI           RENT
62900         credit_card                5.65%    AL       MORTGAGE
85201               other                6.79%    OK       MORTGAGE
69401  debt_consolidation               25.32%    FL       MORTGAGE
52823    home_improvement               23.89%    TX       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
43572         5583.33    665-669                  9                     36748
62900         7083.33    750-754                 15                      5747
85201         6416.67    670-674                  6                      3394
69401         3333.33    675-679                 13                      8903
52823         8000.00    680-684                  8                     16139

       Inquiries.in.the.Last.6.Months Employment.Length
43572                               3           5 years
62900                               0           4 years
85201                               2           7 years
69401                               1           6 years
52823                               0           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
93551             15300                       14850        11.14%   36 months
2645               5000                        5000         9.32%   36 months
62663             10500                       10500        17.77%   36 months
79948              6625                        6625        17.77%   36 months
71685             16000                       16000        22.47%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
93551  debt_consolidation               11.31%    OH       MORTGAGE
2645     home_improvement                3.89%    MN       MORTGAGE
62663         credit_card               12.33%    PA       MORTGAGE
79948  debt_consolidation               11.68%    CA           RENT
71685         credit_card               11.27%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
93551         6833.33    670-674                 11                      7106
2645          2083.33    775-779                  4                      3901
62663         4583.33    665-669                  9                     18936
79948        10268.25    660-664                  9                      3563
71685         4791.67    665-669                  5                      8474

       Inquiries.in.the.Last.6.Months Employment.Length
93551                               2         10+ years
2645                                2           4 years
62663                               1           5 years
79948                               0           2 years
71685                               0           2 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
100140             22000                       22000        16.29%
11304               5000                        5000        15.21%
89582              20000                       20000         8.90%
23686               1500                        1500        13.06%
28812               8000                        8000         7.49%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
100140   60 months  debt_consolidation               26.33%    WI
11304    60 months               house               10.38%    CA
89582    36 months         credit_card               10.79%    IL
23686    36 months      major_purchase               20.82%    TX
28812    36 months                 car                2.86%    CT

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
100140           RENT         4166.67    675-679                 10
11304            RENT         6833.33    680-684                 11
89582            RENT        12083.33    680-684                  8
23686        MORTGAGE         7083.33    670-674                  8
28812        MORTGAGE         5666.67    730-734                  7

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
100140                     25245                               0
11304                       5045                               1
89582                      25672                               0
23686                       4665                               1
28812                       5964                               0

       Employment.Length
100140           5 years
11304            8 years
89582             1 year
23686            6 years
28812          10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
57235              18225                       18225        16.29%
73371               5000                        5000         7.62%
53062              10000                       10000        13.99%
65567               8000                        8000        17.77%
104040              6000                        6000        10.75%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
57235    60 months  debt_consolidation               32.19%    AL
73371    36 months  debt_consolidation                8.43%    OH
53062    36 months  debt_consolidation               10.73%    NC
65567    36 months      small_business               28.56%    MN
104040   36 months  debt_consolidation               12.05%    NJ

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
57235        MORTGAGE         7166.67    705-709                 19
73371        MORTGAGE         2916.67    740-744                  6
53062            RENT         2629.00    685-689                  5
65567            RENT         2083.33    670-674                  4
104040           RENT         6000.00    720-724                 14

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
57235                      29219                               2
73371                      12444                               1
53062                      10029                               0
65567                       9059                               0
104040                     25090                               4

       Employment.Length
57235            4 years
73371          10+ years
53062                NaN
65567            6 years
104040         10+ years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
18942             24250                       24225        18.62%   60 months
42555              8700                        8700        12.69%   36 months
34403             20400                       20375        14.65%   60 months
47998              9000                        9000         6.62%   36 months
70942             16100                       16100        11.14%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
18942  debt_consolidation               22.74%    RI           RENT
42555    home_improvement                5.02%    NY           RENT
34403  debt_consolidation               10.38%    VA           RENT
47998               other               16.14%    MT           RENT
70942  debt_consolidation               25.36%    MO       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
18942         5000.00    685-689                 13                     14392
42555        14166.67    675-679                 11                     19036
34403         6733.33    725-729                  8                     11149
47998         3333.33    740-744                 10                      8689
70942         6250.00    715-719                 14                      9737

       Inquiries.in.the.Last.6.Months Employment.Length
18942                               1           2 years
42555                               0          < 1 year
34403                               2           6 years
47998                               0           6 years
70942                               0         10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
75067              35000                       35000        21.00%
21036               4600                        4600         7.66%
102309             14400                        5325        14.18%
81788               5000                        5000        11.14%
60201               5500                        5500        19.05%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
75067    36 months  debt_consolidation               11.05%    LA
21036    36 months  debt_consolidation                9.14%    MO
102309   36 months         credit_card               23.04%    MO
81788    36 months               other               13.61%    NY
60201    36 months    home_improvement                2.33%    GA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
75067        MORTGAGE         7702.00    670-674                  8
21036        MORTGAGE         6500.00    700-704                  9
102309       MORTGAGE         4583.33    685-689                 13
81788            RENT         3333.33    685-689                 10
60201             OWN         7500.00    660-664                  3

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
75067                      11346                               0
21036                      12942                               0
102309                     17568                               4
81788                       8436                               0
60201                       2530                               1

       Employment.Length
75067          10+ years
21036            7 years
102309         10+ years
81788                NaN
60201            7 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
11835             25000                       15800        13.98%   60 months
72655              5000                        5000        14.09%   36 months
51070             10000                       10000        14.65%   36 months
3532              20000                       13975        11.89%   36 months
19831             10000                       10000        17.14%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
11835  debt_consolidation               20.23%    PA       MORTGAGE
72655  debt_consolidation               11.18%    AZ           RENT
51070  debt_consolidation               12.04%    CA           RENT
3532     home_improvement                2.89%    AL       MORTGAGE
19831  debt_consolidation                9.59%    MA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
11835         5416.67    720-724                 13                     21168
72655        10625.00    670-674                  8                      8054
51070         2791.67    710-714                  6                     12139
3532          5050.00    740-744                  6                      6863
19831         1658.00    680-684                  3                      4902

       Inquiries.in.the.Last.6.Months Employment.Length
11835                               2         10+ years
72655                               0            1 year
51070                               1           3 years
3532                                4         10+ years
19831                               0          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
56446             17000                       17000         9.76%   36 months
92839             25000                       25000        22.47%   60 months
74939              5000                        5000         7.90%   36 months
59190              6000                        6000        13.11%   36 months
56692              8000                        8000        17.27%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
56446  debt_consolidation               23.60%    NJ           RENT
92839         credit_card               23.62%    TX       MORTGAGE
74939  debt_consolidation                7.28%    NY           RENT
59190         credit_card               21.34%    RI       MORTGAGE
56692         credit_card                7.32%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
56446         5416.67    740-744                 16                      5992
92839         5000.00    665-669                 16                     25348
74939         8666.67    710-714                  9                      4572
59190         5416.67    685-689                 19                     15107
56692         5833.33    670-674                  8                      5350

       Inquiries.in.the.Last.6.Months Employment.Length
56446                               4         10+ years
92839                               1           3 years
74939                               0            1 year
59190                               2         10+ years
56692                               2           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
84593             12000                       12000        14.09%   36 months
5724               3000                        3000         8.94%   36 months
15351              5000                        5000         6.17%   60 months
70412              3200                        3200        10.16%   36 months
77240              7625                        7625        18.49%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
84593             wedding               15.33%    CA           RENT
5724                other               13.42%    NY           RENT
15351      major_purchase               11.52%    NY           RENT
70412  debt_consolidation               16.17%    CA       MORTGAGE
77240         credit_card               15.79%    NC           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
84593         8666.67    695-699                 10                      9624
5724          4500.00    720-724                  9                      2541
15351         1667.00    770-774                  6                      1108
70412         3750.00    705-709                  9                      4283
77240         3166.67    670-674                  4                      8030

       Inquiries.in.the.Last.6.Months Employment.Length
84593                               1            1 year
5724                                2          < 1 year
15351                               0           3 years
70412                               1           6 years
77240                               0           5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
27710              3000                        3000        22.11%   60 months
25655              5000                        5000        11.49%   36 months
27832             18500                       18500        12.99%   36 months
80208             18000                       18000        14.09%   36 months
27425              4200                        4200        10.59%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
27710               other                   0%    MN            OWN
25655    home_improvement                6.62%    NC       MORTGAGE
27832  debt_consolidation                7.96%    NY           RENT
80208  debt_consolidation               15.45%    OR       MORTGAGE
27425                 car               11.53%    GA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
27710            1471    690-694                  3                         0
25655            3125    730-734                  4                      7187
27832            5000    685-689                  6                     13490
80208            4000    690-694                 11                     13877
27425            3000    695-699                 11                     10067

       Inquiries.in.the.Last.6.Months Employment.Length
27710                               0           6 years
25655                               1            1 year
27832                               0         10+ years
80208                               0           5 years
27425                               0           7 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
21033              5000                        4975         7.29%   36 months
34961             19000                       19000        11.71%   60 months
38145             15000                       15000        16.77%   36 months
77673             18625                       18625        19.72%   60 months
51812              6075                        6075         7.62%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
21033            vacation                2.33%    GA       MORTGAGE
34961         credit_card               13.79%    NJ       MORTGAGE
38145  debt_consolidation                7.29%    MD           RENT
77673         credit_card               22.98%    AL           RENT
51812  debt_consolidation               28.25%    OR           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
21033         5416.67    725-729                  8                      2937
34961         4791.67    730-734                  9                     16348
38145         7916.67    675-679                  5                      5355
77673         4000.00    680-684                 15                     26050
51812         1083.33    720-724                  8                     11539

       Inquiries.in.the.Last.6.Months Employment.Length
21033                               1         10+ years
34961                               0           5 years
38145                               1           6 years
77673                               2           9 years
51812                               0               NaN
CHUNK DF

       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
94947             12500                       12500        15.31%   36 months
49573              5000                        5000        15.31%   36 months
61720             10000                       10000        12.12%   36 months
42743              8000                        8000        16.77%   36 months
50398             20000                       19975        15.81%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
94947  debt_consolidation               17.67%    TX       MORTGAGE
49573  debt_consolidation                4.91%    CA           RENT
61720         credit_card               23.06%    MA           RENT
42743         credit_card               20.99%    TX           RENT
50398  debt_consolidation               21.42%    CO           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
94947         3916.67    690-694                  7                      8221
49573         7083.33    665-669                 12                      8225
61720         3083.33    690-694                 14                     13638
42743         3750.00    660-664                  6                      4010
50398         5000.00    680-684                 12                     24352

       Inquiries.in.the.Last.6.Months Employment.Length
94947                               3         10+ years
49573                               1           5 years
61720                               0           3 years
42743                               0           5 years
50398                               1          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
40343              9600                        9600        13.49%   36 months
52548              3600                        3600         9.76%   36 months
96704             14075                       14075        18.75%   36 months
10059              3000                        3000         7.51%   36 months
82534             35000                       34975        10.16%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
40343         credit_card               15.04%    PA           RENT
52548         credit_card               11.34%    MI           RENT
96704               other               12.96%    NY           RENT
10059      major_purchase               11.31%    CT           RENT
82534  debt_consolidation               25.56%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
40343         4250.00    685-689                 17                      7713
52548         2108.33    695-699                 14                      4467
96704         3033.33    690-694                  6                     13036
10059         3500.00    735-739                  9                         0
82534         9220.00    760-764                 12                     40782

       Inquiries.in.the.Last.6.Months Employment.Length
40343                               1            1 year
52548                               0               NaN
96704                               0           8 years
10059                               2           3 years
82534                               1         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
25767              1700                     1700.00         6.99%   36 months
9244               8800                     8800.00         7.51%   36 months
6045              24250                    23985.41        12.18%   36 months
5073              10750                    10166.42        11.14%   36 months
38378              6000                     6000.00        15.96%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
25767                 car                5.20%    VA           RENT
9244                other               20.73%    PA       MORTGAGE
6045   debt_consolidation               17.65%    CA       MORTGAGE
5073          credit_card               11.91%    MA       MORTGAGE
38378  debt_consolidation               24.85%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
25767         2250.00    750-754                  4                      4527
9244          4833.00    790-794                  6                       306
6045          8910.42    740-744                 16                     81940
5073          4416.67    720-724                  9                     12619
38378         3264.00    660-664                 13                      6347

       Inquiries.in.the.Last.6.Months Employment.Length
25767                               0           5 years
9244                                4           5 years
6045                                0         10+ years
5073                                1           2 years
38378                               1         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
99189             15000                       15000        10.16%   36 months
66604             15000                       15000        14.33%   36 months
87649             10000                       10000        13.11%   36 months
58739              5950                        5950        12.12%   36 months
28808             10000                       10000        10.99%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
99189         credit_card               18.57%    CA       MORTGAGE
66604         credit_card               16.38%    MD       MORTGAGE
87649         credit_card               14.12%    CA           RENT
58739         credit_card               21.54%    FL       MORTGAGE
28808  debt_consolidation                8.23%    NY            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
99189         5000.00    700-704                 13                     33389
66604         5500.00    700-704                 10                     12413
87649         7500.00    680-684                 12                      3235
58739         5000.00    690-694                  9                     47746
28808         5833.33    700-704                 15                     11620

       Inquiries.in.the.Last.6.Months Employment.Length
99189                               0         10+ years
66604                               2           3 years
87649                               0           6 years
58739                               0         10+ years
28808                               0          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
26877              4000                        4000        15.23%   36 months
13309             15000                       14675         7.88%   36 months
6128              10000                        9850        15.31%   36 months
70785              8875                        8875        13.11%   36 months
44672              2400                        2400        10.74%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
26877               other               10.73%    MA           RENT
13309    home_improvement                0.53%    VA       MORTGAGE
6128   debt_consolidation               18.60%    NY           RENT
70785               other               30.46%    TX            OWN
44672         credit_card               11.20%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
26877         2916.67    670-674                  6                      1651
13309        10417.00    780-784                  8                      1343
6128          2500.00    665-669                  8                      9092
70785         2166.67    700-704                  9                      6797
44672         2000.00    705-709                  4                      3055

       Inquiries.in.the.Last.6.Months Employment.Length
26877                               1           6 years
13309                               1          < 1 year
6128                                1          < 1 year
70785                               1           2 years
44672                               0         10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
13054              25000                       24950        20.53%
103426              5500                        5500        16.07%
4545                6000                        6000        12.53%
82722              18000                       18000        19.05%
40489              28000                       27975         7.90%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
13054    60 months  debt_consolidation               18.50%    NJ
103426   36 months               other               19.35%    FL
4545     36 months         credit_card               23.07%    PA
82722    60 months  debt_consolidation                6.28%    MD
40489    36 months      small_business                5.81%    WA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
13054            RENT         8000.00    675-679                  9
103426       MORTGAGE         3937.08    685-689                  6
4545             RENT         2916.67    685-689                 11
82722        MORTGAGE         7500.00    690-694                  8
40489        MORTGAGE         7000.00    800-804                  8

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
13054                      19548                               0
103426                       689                               8
4545                        3334                               0
82722                      20675                               1
40489                        771                               2

       Employment.Length
13054            3 years
103426         10+ years
4545             2 years
82722          10+ years
40489            9 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
49956             32000                       32000        16.29%   60 months
69741              6000                        6000        13.11%   36 months
65248              7200                        7200         8.90%   60 months
75785             11500                       11500        11.14%   36 months
27764              4800                        4800         5.42%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
49956  debt_consolidation               15.14%    AZ           RENT
69741         credit_card                4.53%    NY           RENT
65248  debt_consolidation               25.16%    LA       MORTGAGE
75785  debt_consolidation               10.47%    AL           RENT
27764      major_purchase               10.23%    FL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
49956         7055.00    725-729                  8                     16174
69741         2625.00    690-694                  5                      4299
65248         3750.00    750-754                 13                      7283
75785         2916.67    700-704                  6                      9562
27764         6333.33    790-794                 13                     10704

       Inquiries.in.the.Last.6.Months Employment.Length
49956                               1           6 years
69741                               1         10+ years
65248                               0           6 years
75785                               0          < 1 year
27764                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
43707              4000                        4000        10.65%   36 months
35025             15000                       15000        10.65%   36 months
28518             15000                       15000        17.99%   36 months
42228             25000                       25000        12.42%   36 months
81620              4800                        4800        18.75%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
43707  debt_consolidation               23.40%    NC       MORTGAGE
35025               other               14.36%    CA           RENT
28518  debt_consolidation               21.04%    TX       MORTGAGE
42228  debt_consolidation                1.05%    CA       MORTGAGE
81620               other               27.69%    TX           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
43707         2333.33    685-689                 21                      3522
35025         9083.33    720-724                 11                     26902
28518         5319.17    675-679                 13                      5613
42228        16666.67    705-709                  7                      2839
81620         1560.00    680-684                  9                      6563

       Inquiries.in.the.Last.6.Months Employment.Length
43707                               0           7 years
35025                               0           3 years
28518                               3           2 years
42228                               0         10+ years
81620                               0          < 1 year

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
37389              9500                        9500         6.62%   36 months
3204              15000                        6200        12.53%   36 months
10554              6000                        6000        13.98%   36 months
94092             12300                       12300         6.03%   36 months
43387             24000                       23950         7.51%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
37389  debt_consolidation               19.28%    GA       MORTGAGE
3204     home_improvement               13.78%    MO       MORTGAGE
10554  debt_consolidation                7.73%    CO           RENT
94092  debt_consolidation                7.15%    VA           RENT
43387               other               17.95%    PA            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
37389         3583.33    735-739                  8                      5240
3204          8750.00    705-709                  8                     21702
10554         6250.00    675-679                  6                      3507
94092         6666.67    740-744                 10                     10976
43387         4250.00    755-759                  6                     19509

       Inquiries.in.the.Last.6.Months Employment.Length
37389                               0         10+ years
3204                                3            1 year
10554                               0           4 years
94092                               0         10+ years
43387                               0           2 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
103784              2000                     1975.00        11.12%
54576              14000                    14000.00         9.76%
47468              10000                    10000.00        12.12%
2578               13000                     8113.74         9.63%
73765               5000                     5000.00        16.29%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
103784   36 months               other               20.50%    NY
54576    36 months  debt_consolidation               22.55%    NJ
47468    36 months  debt_consolidation                5.95%    NJ
2578     36 months      small_business               16.14%    TX
73765    60 months               other               11.80%    VA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
103784       MORTGAGE         6833.33    705-709                 19
54576        MORTGAGE         8750.00    710-714                  8
47468             OWN         5000.00    700-704                  5
2578         MORTGAGE         3500.00    785-789                  6
73765            RENT         5416.67    690-694                  7

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
103784                     20653                               5
54576                      25026                               0
47468                      10752                               0
2578                           0                               1
73765                       8745                               1

       Employment.Length
103784           5 years
54576          10+ years
47468            4 years
2578              1 year
73765            4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
36519              6000                        5994        12.42%   36 months
90239             10050                       10050        14.33%   36 months
45980              4800                        4800         7.90%   36 months
55803             14400                       14400        10.74%   36 months
98051             11625                       11625        15.31%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
36519         credit_card               11.68%    VA           RENT
90239  debt_consolidation                6.07%    CA           RENT
45980  debt_consolidation               19.07%    OH           RENT
55803  debt_consolidation                5.90%    CA       MORTGAGE
98051  debt_consolidation               16.73%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
36519         2500.00    670-674                  6                      9482
90239         2916.67    710-714                  9                      7413
45980         1500.00    720-724                 12                      6813
55803         6833.33    700-704                 15                     10017
98051         2833.33    695-699                  8                     17469

       Inquiries.in.the.Last.6.Months Employment.Length
36519                               0           2 years
90239                               1           6 years
45980                               3          < 1 year
55803                               0         10+ years
98051                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
62884             18200                       18200        10.16%   36 months
16406             20000                       19875        13.35%   36 months
37065              9600                        9575        17.27%   60 months
4644               9000                        9000        11.83%   36 months
57169             35000                       35000        18.25%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
62884         credit_card                7.95%    NY           RENT
16406  debt_consolidation               15.68%    TX       MORTGAGE
37065         credit_card               12.90%    NY           RENT
4644                  car                0.48%    MD           RENT
57169  debt_consolidation               27.69%    MD           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
62884         4750.00    720-724                 13                     16184
16406         9160.00    710-714                  9                     32392
37065         3333.33    695-699                  7                     13648
4644          4833.00    715-719                  6                         0
57169         8083.33    725-729                 15                     29300

       Inquiries.in.the.Last.6.Months Employment.Length
62884                               2           3 years
16406                               1         10+ years
37065                               1         10+ years
4644                                1           4 years
57169                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
33050              1900                     1900.00         7.51%   36 months
46324             20000                    19896.51        13.67%   36 months
20367              2400                     2400.00        10.37%   36 months
36837              4500                     4500.00        11.71%   36 months
68829             12000                    12000.00        12.12%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
33050  debt_consolidation               19.27%    PA       MORTGAGE
46324  debt_consolidation               15.34%    FL           RENT
20367             wedding                9.54%    MN       MORTGAGE
36837  debt_consolidation               15.87%    CA       MORTGAGE
68829  debt_consolidation               19.41%    TX       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
33050         6000.00    735-739                 12                     18397
46324         5166.67    710-714                  8                     12394
20367         3166.67    675-679                  6                      2174
36837         3333.33    675-679                 15                     11963
68829         8750.00    710-714                 10                     32028

       Inquiries.in.the.Last.6.Months Employment.Length
33050                               2         10+ years
46324                               1           6 years
20367                               0            1 year
36837                               0           6 years
68829                               1           4 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
694                10000                     8175.26         8.63%
61873              11575                    11575.00         7.90%
94081              20000                    20000.00         6.62%
101622              6000                     3475.00        14.70%
21900               2800                     2800.00        10.00%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
694      36 months  debt_consolidation                5.91%    GA
61873    36 months  debt_consolidation               17.47%    TX
94081    36 months         credit_card               21.61%    DC
101622   36 months  debt_consolidation               10.23%    MD
21900    36 months  debt_consolidation               20.32%    CA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
694          MORTGAGE         7500.00    730-734                 16
61873        MORTGAGE         2833.33    730-734                  8
94081        MORTGAGE         8161.33    720-724                 14
101622           RENT         6500.00    640-644                  6
21900            RENT         3250.00    700-704                  4

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
694                        18343                               0
61873                       5654                               0
94081                      27904                               1
101622                      4103                               0
21900                       8717                               0

       Employment.Length
694              7 years
61873          10+ years
94081            8 years
101622            1 year
21900            5 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
70285               6000                        6000        14.09%
16069              20000                       14750         6.91%
57923              22000                       22000        13.99%
99914              10000                       10000        13.11%
100662              9450                        9450        12.12%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
70285    36 months         credit_card                9.93%    CA
16069    36 months  debt_consolidation               15.16%    CO
57923    60 months  debt_consolidation               18.28%    MI
99914    36 months  debt_consolidation               20.34%    MI
100662   36 months         credit_card               11.74%    IL

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
70285            RENT         4250.00    680-684                  6
16069            RENT         9208.00    735-739                 10
57923        MORTGAGE         6083.33    720-724                  9
99914            RENT         5416.67    675-679                  9
100662       MORTGAGE         4666.67    690-694                 13

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
70285                       5815                               1
16069                      20965                               0
57923                      20181                               0
99914                       8066                               0
100662                     17639                               2

       Employment.Length
70285            3 years
16069            3 years
57923            8 years
99914          10+ years
100662         10+ years
CHUNK DF

       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
20530             10400                    10325.00         7.66%   36 months
20329             15875                    15818.07        15.28%   60 months
53424             18000                    18000.00        12.12%   60 months
47764              8000                     8000.00         8.90%   36 months
94950             12000                    12000.00        14.33%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
20530  debt_consolidation               13.02%    CA       MORTGAGE
20329  debt_consolidation               22.10%    CA           RENT
53424               other               14.89%    VA       MORTGAGE
47764               other                2.93%    NY           RENT
94950              moving               20.06%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
20530         6354.00    725-729                 10                     19656
20329         3000.00    720-724                  5                     14289
53424         8333.33    730-734                  7                      4038
47764         5000.00    710-714                  8                      5540
94950         4166.67    760-764                  8                     14163

       Inquiries.in.the.Last.6.Months Employment.Length
20530                               3         10+ years
20329                               2           2 years
53424                               0           5 years
47764                               0           2 years
94950                               0           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
15213             20000                       12150         6.54%   60 months
38976             10000                       10000        16.77%   36 months
40113             24500                       23475        19.03%   60 months
71538             10000                       10000        12.12%   36 months
48972              3600                        3600         7.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
15213  debt_consolidation               12.36%    NY            OWN
38976  debt_consolidation               18.55%    CA           RENT
40113  debt_consolidation               23.02%    MD           RENT
71538  debt_consolidation               19.58%    CA           RENT
48972         credit_card               26.21%    OH       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
15213         5000.00    795-799                  9                      7960
38976         2916.67    660-664                  9                      7565
40113         4497.00    680-684                 13                     18906
71538         6250.00    695-699                 17                     16348
48972         4166.67    735-739                 19                        25

       Inquiries.in.the.Last.6.Months Employment.Length
15213                               2         10+ years
38976                               3           4 years
40113                               0         10+ years
71538                               0           5 years
48972                               2           3 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
31876             12000                       12000        17.49%   60 months
48894              6950                        6950        10.74%   36 months
74320              8525                        8525        10.16%   36 months
65600              5000                        5000        14.33%   36 months
38529              4800                        4800        18.25%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
31876  debt_consolidation                6.94%    OR       MORTGAGE
48894         credit_card               20.71%    IL            OWN
74320  debt_consolidation               26.14%    MT       MORTGAGE
65600         credit_card               28.51%    CO           RENT
38529  debt_consolidation               13.81%    OR           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
31876         5445.00    670-674                  8                      4904
48894         4583.33    685-689                  7                     18814
74320         4583.33    705-709                  8                     31398
65600         2750.00    690-694                 14                      5957
38529         3750.00    695-699                 13                     16302

       Inquiries.in.the.Last.6.Months Employment.Length
31876                               0           9 years
48894                               0         10+ years
74320                               0         10+ years
65600                               2           3 years
38529                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
18088              6000                        6000        13.35%   36 months
47960              4000                        4000        19.22%   60 months
48295             14000                       14000         6.03%   36 months
46245             23500                       23450        14.65%   36 months
13454              2500                        2500        15.95%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
18088  debt_consolidation               21.36%    NV       MORTGAGE
47960      small_business                9.03%    VA           RENT
48295  debt_consolidation               14.67%    CA           RENT
46245  debt_consolidation               19.48%    CA           RENT
13454      major_purchase               24.07%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
18088            5000    665-669                 11                      4363
47960            3700    680-684                 19                      2177
48295            7500    745-749                 12                     16648
46245            4000    685-689                  7                     20542
13454            1500    665-669                 10                      2684

       Inquiries.in.the.Last.6.Months Employment.Length
18088                               3         10+ years
47960                               2           2 years
48295                               0         10+ years
46245                               0               NaN
13454                               3            1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
16524              2000                        2000         6.17%   36 months
92631             24000                       23925        16.29%   60 months
14193             12800                       12800        11.49%   60 months
51829              8000                        8000         7.90%   36 months
31000              3000                        3000         9.99%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
16524      major_purchase                2.63%    CA           RENT
92631         credit_card               11.77%    NJ       MORTGAGE
14193  debt_consolidation                6.72%    CT       MORTGAGE
51829             wedding               21.58%    CA           RENT
31000         credit_card               21.30%    MO            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
16524         1600.00    745-749                  9                       736
92631         7800.00    675-679                 11                     20676
14193         4166.67    725-729                  7                     11992
51829         5166.67    725-729                  5                         0
31000         2333.33    710-714                 10                      3168

       Inquiries.in.the.Last.6.Months Employment.Length
16524                               0           3 years
92631                               3           2 years
14193                               1            1 year
51829                               0            1 year
31000                               1            1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
86532              7000                        7000         7.90%   36 months
8102              18000                       17975        13.48%   36 months
3112               9000                        5975        14.11%   36 months
31448             11000                       11000        10.99%   36 months
51408              6000                        6000         7.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
86532         credit_card                1.41%    FL           RENT
8102          credit_card                6.24%    IL       MORTGAGE
3112   debt_consolidation                8.21%    CA       MORTGAGE
31448  debt_consolidation                4.26%    SC       MORTGAGE
51408      major_purchase               14.99%    IL           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
86532        12500.00    725-729                  4                      5093
8102          8333.33    690-694                 13                     14838
3112          4167.00    670-674                  7                     19696
31448         6666.67    695-699                 11                      4124
51408         4416.67    720-724                 10                      2928

       Inquiries.in.the.Last.6.Months Employment.Length
86532                               0           7 years
8102                                0         10+ years
3112                                1           3 years
31448                               0           4 years
51408                               0           2 years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
6646               6500                        6475         7.74%   36 months
87572             19500                       19500        18.49%   36 months
33225             16000                       16000        17.27%   60 months
93794             18000                       17950        14.33%   60 months
54455             30000                       29975        23.33%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
6646   debt_consolidation                  18%    NH           RENT
87572         credit_card                9.79%    MD           RENT
33225      major_purchase               19.26%    MD           RENT
93794  debt_consolidation               13.98%    KS       MORTGAGE
54455  debt_consolidation               17.39%    FL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
6646          1500.00    785-789                  5                      2816
87572        10000.00    675-679                 16                     14957
33225         7000.00    695-699                  7                      5231
93794        12916.67    685-689                 11                     14890
54455         7083.33    665-669                 21                     56145

       Inquiries.in.the.Last.6.Months Employment.Length
6646                                0           2 years
87572                               1           2 years
33225                               1         10+ years
93794                               2         10+ years
54455                               1         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
93742             10000                       10000        14.09%   36 months
12860             16000                       15900        15.58%   60 months
41993             35000                       35000        17.58%   36 months
18447              8000                        8000        13.72%   36 months
71782             14500                       14500        13.11%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
93742  debt_consolidation                5.82%    LA           RENT
12860  debt_consolidation               12.86%    WA       MORTGAGE
41993  debt_consolidation               11.80%    MA       MORTGAGE
18447             wedding                9.67%    TX           RENT
71782  debt_consolidation               28.29%    WA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
93742         8750.00    660-664                 14                     11394
12860         5427.42    700-704                 11                     19407
41993        13333.33    690-694                 12                     21393
18447         7758.33    665-669                  6                     12110
71782         5988.67    700-704                 12                     18020

       Inquiries.in.the.Last.6.Months Employment.Length
93742                               0           3 years
12860                               1           5 years
41993                               1         10+ years
18447                               1           2 years
71782                               2         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
7789              12000                       11925        10.62%   36 months
19675              4500                        4500        13.43%   36 months
5858              16500                       16350        11.83%   36 months
43307             10000                       10000         9.91%   36 months
88490             35000                       35000        19.05%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
7789                other               19.02%    VA           RENT
19675                 car                1.23%    CA           RENT
5858   debt_consolidation               17.44%    TX           RENT
43307  debt_consolidation               14.32%    MN       MORTGAGE
88490         credit_card               13.40%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
7789          5000.00    720-724                  9                     11779
19675        11500.00    670-674                  5                      1847
5858          4810.08    725-729                  7                     24351
43307         3666.67    705-709                  9                     17161
88490         9166.67    690-694                  7                     26633

       Inquiries.in.the.Last.6.Months Employment.Length
7789                                0            1 year
19675                               1            1 year
5858                                1           3 years
43307                               0            1 year
88490                               0            1 year
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
101891             21000                     6165.31        11.09%
102234              8400                     6725.00        15.45%
65443               6000                     6000.00         7.90%
47597              12000                    12000.00        19.22%
30397              12100                    12100.00        16.89%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
101891   36 months    home_improvement               21.28%    CA
102234   36 months  debt_consolidation               15.71%    MD
65443    36 months         credit_card                9.31%    TX
47597    36 months  debt_consolidation               14.62%    CT
30397    36 months      small_business               11.16%    TX

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
101891            OWN        18333.33    745-749                 31
102234           RENT         7083.33    640-644                  7
65443             OWN         1750.00    705-709                 14
47597             OWN         4166.67    665-669                  3
30397        MORTGAGE         6166.67    665-669                  5

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
101891                    270800                               5
102234                     14578                               3
65443                       5056                               0
47597                       6309                               0
30397                       2081                               0

       Employment.Length
101891           2 years
102234          < 1 year
65443            6 years
47597            6 years
30397            4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
92868             25000                       25000        14.09%   36 months
89683             16000                       15925         6.03%   36 months
48006             27000                       27000        18.25%   36 months
66892             12250                       12250        18.75%   36 months
79618             10000                       10000        17.77%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
92868    home_improvement                4.79%    MD       MORTGAGE
89683  debt_consolidation               14.48%    CA       MORTGAGE
48006    home_improvement               22.32%    SC       MORTGAGE
66892  debt_consolidation               17.21%    LA            OWN
79618  debt_consolidation               22.60%    AZ           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
92868         6833.33    675-679                  5                      8811
89683         7333.33    780-784                 11                     71838
48006         8583.33    690-694                  9                      6658
66892         2916.67    665-669                  7                     10523
79618         2500.00    665-669                 12                     12938

       Inquiries.in.the.Last.6.Months Employment.Length
92868                               0           8 years
89683                               1         10+ years
48006                               1           8 years
66892                               0           7 years
79618                               2           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
55180              9175                        9175        13.67%   36 months
75159             14075                       14075        15.31%   36 months
48624             13100                       13100        18.55%   36 months
75022             14675                       14675         8.90%   36 months
5733               5000                        4900        11.14%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
55180         credit_card               19.43%    IL       MORTGAGE
75159  debt_consolidation               25.70%    VA            OWN
48624  debt_consolidation               23.24%    NY           RENT
75022  debt_consolidation               14.95%    NY       MORTGAGE
5733       major_purchase                2.84%    FL           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
55180         7083.33    675-679                  8                     25639
75159         4000.00    680-684                 13                     11907
48624         7968.75    660-664                 19                     19607
75022         4000.00    715-719                  6                     12764
5733          3200.00    710-714                  6                      2650

       Inquiries.in.the.Last.6.Months Employment.Length
55180                               0           8 years
75159                               2           5 years
48624                               1         10+ years
75022                               0           7 years
5733                                2           3 years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
92795             18000                       18000        13.11%   36 months
94514             12000                       12000         7.62%   36 months
83906             19400                       19400        14.33%   36 months
93318             18000                       18000        12.12%   36 months
62203             12000                       12000        17.77%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
92795  debt_consolidation               26.54%    OR       MORTGAGE
94514  debt_consolidation               15.10%    CO           RENT
83906  debt_consolidation               16.15%    MA       MORTGAGE
93318  debt_consolidation               19.29%    IL           RENT
62203  debt_consolidation                9.84%    NY       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
92795         4166.67    670-674                 11                     16680
94514         5666.67    775-779                  7                     12094
83906         4583.33    680-684                 12                     12434
93318         3333.33    665-669                 15                     26573
62203         7500.00    665-669                 11                     15866

       Inquiries.in.the.Last.6.Months Employment.Length
92795                               0         10+ years
94514                               0         10+ years
83906                               0           7 years
93318                               0         10+ years
62203                               0           7 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
60969              8000                        8000        13.11%   36 months
94593             23750                       23750        19.72%   60 months
12932              7500                        7475        15.58%   36 months
37813              5500                        5500        12.69%   36 months
70028             16950                       16950        17.27%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
60969  debt_consolidation               26.11%    MN       MORTGAGE
94593  debt_consolidation               14.22%    CT           RENT
12932  debt_consolidation               10.74%    VA       MORTGAGE
37813  debt_consolidation               21.24%    OH           RENT
70028  debt_consolidation               26.62%    OK       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
60969         4166.67    675-679                 15                     11500
94593         8333.33    710-714                 12                     10549
12932         5000.00    695-699                  8                      8257
37813         1666.67    680-684                  7                      5056
70028         3583.33    710-714                  7                     12588

       Inquiries.in.the.Last.6.Months Employment.Length
60969                               0          < 1 year
94593                               3           2 years
12932                               0           2 years
37813                               1          < 1 year
70028                               3         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
80138              3000                        2950        11.14%   36 months
26033              1600                        1600        13.49%   36 months
26950              6000                        6000         7.49%   36 months
86660              7350                        7350        12.12%   36 months
97487             12825                       12825        17.77%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
80138      major_purchase               27.74%    VA       MORTGAGE
26033  debt_consolidation               12.10%    CA           RENT
26950    home_improvement               14.66%    NC       MORTGAGE
86660  debt_consolidation               19.85%    CA            OWN
97487  debt_consolidation               24.41%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
80138         4333.33    715-719                  6                      6346
26033         3200.00    670-674                  5                      1214
26950         5833.33    715-719                 12                      7961
86660         3355.05    695-699                 19                     11626
97487         3416.67    670-674                 15                      8539

       Inquiries.in.the.Last.6.Months Employment.Length
80138                               0           5 years
26033                               0           6 years
26950                               0           9 years
86660                               3         10+ years
97487                               1         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
88522             24000                       23975        21.00%   60 months
64166             10000                       10000        18.49%   60 months
68487              5500                        5500        14.33%   36 months
15014             17500                       17500        14.72%   36 months
98373             10000                       10000        13.11%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
88522  debt_consolidation               23.69%    OK       MORTGAGE
64166  debt_consolidation               16.47%    FL           RENT
68487  debt_consolidation               27.83%    WV            OWN
15014  debt_consolidation                9.30%    CA           RENT
98373         credit_card               19.01%    OH       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
88522         6500.00    685-689                 17                     36555
64166         4104.67    695-699                  5                      7597
68487         1541.67    675-679                  5                     10481
15014         9519.75    695-699                  9                     31279
98373         7500.00    680-684                 11                     14426

       Inquiries.in.the.Last.6.Months Employment.Length
88522                               3           6 years
64166                               0           5 years
68487                               1               NaN
15014                               0         10+ years
98373                               1           9 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
17664             20000                     16275.0         6.17%   36 months
31943             11600                     11600.0         6.99%   36 months
29365             12000                     12000.0        13.99%   60 months
1800              13000                      6770.1        11.26%   36 months
57003              8575                      8550.0        17.27%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
17664  debt_consolidation               12.27%    MD       MORTGAGE
31943  debt_consolidation                8.62%    CA           RENT
29365  debt_consolidation               12.98%    CT           RENT
1800       small_business               14.05%    CA       MORTGAGE
57003  debt_consolidation                9.84%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
17664         8083.33    770-774                 13                     29813
31943         5833.33    735-739                  8                      2671
29365         4166.67    715-719                  8                      2316
1800          7666.67    720-724                  8                      9551
57003         2500.00    665-669                  6                      8807

       Inquiries.in.the.Last.6.Months Employment.Length
17664                               1         10+ years
31943                               1          < 1 year
29365                               1           3 years
1800                                0           9 years
57003                               2           7 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
66296              6100                        6100        14.09%   36 months
49473             14000                       14000        15.31%   36 months
92016             10500                       10500        14.33%   36 months
82922             19600                       19525        21.49%   60 months
98272             15000                       15000        15.80%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
66296         credit_card                9.51%    LA           RENT
49473         credit_card               14.26%    PA       MORTGAGE
92016  debt_consolidation               19.55%    FL       MORTGAGE
82922      small_business                9.76%    CA           RENT
98272         credit_card               10.27%    NV           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
66296         6666.67    685-689                 10                      5665
49473         5000.00    680-684                  5                     11249
92016         5666.67    670-674                  7                     11301
82922         4170.00    675-679                  8                     11669
98272         3333.33    670-674                 11                     10108

       Inquiries.in.the.Last.6.Months Employment.Length
66296                               2           2 years
49473                               2         10+ years
92016                               0         10+ years
82922                               0           4 years
98272                               0           4 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
94925               8000                     8000.00        17.27%
70905              20000                    20000.00        21.49%
6723               11000                    10969.64        12.53%
102775              6000                     5905.66        17.90%
84633              12000                    12000.00        11.14%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
94925    36 months               other                5.28%    AZ
70905    36 months  debt_consolidation               27.47%    TX
6723     36 months  debt_consolidation               18.89%    IL
102775   36 months         credit_card                6.60%    MI
84633    36 months  debt_consolidation                3.11%    CA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
94925        MORTGAGE         5833.33    725-729                 11
70905        MORTGAGE         7750.00    660-664                 15
6723             RENT         3500.00    700-704                  6
102775           RENT         4166.67    675-679                  5
84633        MORTGAGE        10833.33    705-709                 12

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
94925                      12484                               1
70905                      26976                               0
6723                        6811                               1
102775                      3433                               1
84633                      11941                               0

       Employment.Length
94925          10+ years
70905            2 years
6723             2 years
102775           2 years
84633            2 years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
58263             17000                     17000.0        13.11%   36 months
69300              6250                      6250.0         7.90%   36 months
76916             27825                     27825.0        23.76%   60 months
97076             30000                     30000.0        15.31%   36 months
2746               4200                      3969.9        14.11%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
58263  debt_consolidation               16.92%    CA           RENT
69300  debt_consolidation                8.45%    IL           RENT
76916  debt_consolidation               12.86%    CA           RENT
97076  debt_consolidation               15.42%    NJ           RENT
2746     home_improvement                4.62%    OH       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
58263         5083.33    690-694                 10                      8890
69300         1916.67    720-724                  6                      3295
76916         6250.00    665-669                 16                     27093
97076         8333.33    680-684                 21                     29060
2746          1558.42    675-679                  6                      2255

       Inquiries.in.the.Last.6.Months Employment.Length
58263                               0           7 years
69300                               0            1 year
76916                               1           4 years
97076                               1           8 years
2746                                1          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
95637              3800                        3800        21.98%   36 months
53567              2000                        2000        15.31%   36 months
77867              6000                        6000        14.09%   36 months
65121             21000                       21000        19.05%   60 months
41900              2500                        2500        13.49%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
95637      small_business                8.31%    CA           RENT
53567              moving               21.43%    NC           RENT
77867  debt_consolidation               24.25%    AZ           RENT
65121  debt_consolidation               16.24%    TX           RENT
41900         credit_card                6.24%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
95637         4333.33    680-684                  6                      4843
53567         2766.67    670-674                  5                      2162
77867         4000.00    680-684                 12                     24934
65121         8416.67    685-689                  8                      8764
41900         5416.67    680-684                  8                     15373

       Inquiries.in.the.Last.6.Months Employment.Length
95637                               2           7 years
53567                               3          < 1 year
77867                               1         10+ years
65121                               2           5 years
41900                               0           6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
33269              2400                        2400        16.77%   36 months
48581             13000                       13000        10.74%   36 months
52893              4800                        4800        14.65%   36 months
36929             17475                       17475         9.91%   36 months
57431             16450                       16400        21.97%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
33269               other                  17%    WA           RENT
48581         credit_card               15.46%    CA           RENT
52893         credit_card               13.90%    HI           RENT
36929         credit_card               17.76%    NJ           RENT
57431  debt_consolidation               25.59%    PA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
33269         2700.00    690-694                  3                      3418
48581         2166.67    720-724                  4                     11101
52893         5000.00    665-669                  8                      7391
36929         3333.33    730-734                 15                     17261
57431         2833.33    670-674                 23                     12670

       Inquiries.in.the.Last.6.Months Employment.Length
33269                               1           3 years
48581                               0           3 years
52893                               0           2 years
36929                               1           2 years
57431                               2           5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
40879             14000                       14000        14.65%   36 months
57586              2500                        2500        17.27%   36 months
62177              8000                        8000        18.49%   36 months
6020               5000                        5000        12.53%   36 months
73741             15000                       15000        13.11%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
40879  debt_consolidation                3.47%    CA       MORTGAGE
57586               other               11.34%    OH       MORTGAGE
62177  debt_consolidation               14.45%    VA           RENT
6020   debt_consolidation               21.49%    FL           RENT
73741  debt_consolidation               12.78%    MA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
40879         8750.00    680-684                  6                      9035
57586         5833.33    665-669                  8                     14122
62177         4166.67    660-664                 10                      9425
6020          3108.33    705-709                  8                         0
73741         9000.00    690-694                 19                     11016

       Inquiries.in.the.Last.6.Months Employment.Length
40879                               1         10+ years
57586                               0           8 years
62177                               2           4 years
6020                                0           2 years
73741                               0          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
32694             25000                    24814.89        12.69%   60 months
71766              3000                     2975.00         8.90%   36 months
83373              6000                     6000.00         7.90%   36 months
37504              7800                     7800.00        10.65%   36 months
95455             25000                    25000.00         7.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
32694             wedding                3.83%    NY       MORTGAGE
71766  debt_consolidation                  32%    FL           RENT
83373         credit_card               33.64%    WI           RENT
37504  debt_consolidation                7.15%    CO       MORTGAGE
95455  debt_consolidation               18.66%    MI       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
32694        22916.67    720-724                 13                     34069
71766         1000.00    700-704                  7                      9730
83373         4116.67    705-709                 16                     33746
37504         4000.00    720-724                  6                     11063
95455         7083.33    710-714                 17                     47504

       Inquiries.in.the.Last.6.Months Employment.Length
32694                               0         10+ years
71766                               0               NaN
83373                               0            1 year
37504                               2           9 years
95455                               0           9 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
63                18500                        3100        15.33%   36 months
26789             12000                       12000        12.99%   60 months
28032              5000                        5000        15.99%   36 months
24454              2500                        2500        10.59%   60 months
44163             16000                       16000        16.29%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
63            credit_card                5.24%    NY           RENT
26789    home_improvement               16.67%    GA       MORTGAGE
28032  debt_consolidation                5.26%    AL       MORTGAGE
24454               other                2.15%    MD            OWN
44163  debt_consolidation                5.76%    NC       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
63            7500.00    660-664                  8                     22379
26789         9166.67    710-714                 11                     25165
28032         2416.67    665-669                  5                      1620
24454         3958.00    745-749                  4                      3417
44163         5083.33    710-714                  7                      8729

       Inquiries.in.the.Last.6.Months Employment.Length
63                                  0            1 year
26789                               0           2 years
28032                               0           6 years
24454                               0           2 years
44163                               1         10+ years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
89884             25000                       25000        15.31%   60 months
28601              2000                        2000        16.89%   36 months
99913              2200                        2200        10.16%   36 months
7880              14000                       13825        10.25%   36 months
64020              3000                        3000        13.11%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
89884  debt_consolidation                3.98%    NY           RENT
28601               other               11.91%    AR           RENT
99913      major_purchase               24.15%    GA       MORTGAGE
7880   debt_consolidation                9.26%    GA       MORTGAGE
64020  debt_consolidation               32.21%    SD       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
89884         5666.67    745-749                  6                     11079
28601         3400.00    660-664                  3                       747
99913         3400.00    730-734                  6                      1453
7880          8333.33    730-734                  8                     40267
64020         2583.33    670-674                 13                      6683

       Inquiries.in.the.Last.6.Months Employment.Length
89884                               0           3 years
28601                               3         10+ years
99913                               0           5 years
7880                                1         10+ years
64020                               0            1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
36527             11425                       11400         9.91%   36 months
72604             17325                       17325        17.27%   60 months
29547              5425                        5425         8.49%   36 months
49950             20000                       20000        22.78%   60 months
34331              3300                        3300        11.71%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
36527  debt_consolidation               19.47%    FL       MORTGAGE
72604  debt_consolidation               30.24%    CA           RENT
29547  debt_consolidation               21.16%    WV       MORTGAGE
49950  debt_consolidation                1.63%    CA           RENT
34331                 car                4.16%    FL           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
36527         4750.00    730-734                  9                      6359
72604         3750.00    705-709                 13                     31362
29547         6333.33    730-734                 21                     25996
49950        12500.00    665-669                  5                      5407
34331         3730.00    700-704                  7                      3675

       Inquiries.in.the.Last.6.Months Employment.Length
36527                               3           8 years
72604                               1           9 years
29547                               3         10+ years
49950                               0           5 years
34331                               1            1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
94232              2000                     2000.00        17.27%   36 months
98787             26500                    26500.00        13.11%   36 months
52440             17975                    17975.00        18.55%   36 months
2443              15000                    14925.21        13.47%   36 months
52407             16400                    16350.00        13.99%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
94232    home_improvement               20.51%    GA       MORTGAGE
98787    home_improvement               13.99%    CA           RENT
52440  debt_consolidation               18.55%    FL           RENT
2443   debt_consolidation               14.06%    NY           RENT
52407  debt_consolidation               23.60%    FL           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
94232         3750.00    670-674                 10                      1371
98787         5833.33    745-749                  8                     64504
52440         4833.33    670-674                 10                     17448
2443          4458.33    700-704                 15                      7701
52407         3500.00    725-729                 11                     16693

       Inquiries.in.the.Last.6.Months Employment.Length
94232                               1           7 years
98787                               2           5 years
52440                               0           7 years
2443                                1           6 years
52407                               1           5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
46391             13500                       13500        13.99%   60 months
32183             12000                       12000        15.27%   36 months
52061             16750                       16750        21.48%   60 months
5531               8000                        8000        12.18%   36 months
51087             10000                       10000         9.76%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
46391  debt_consolidation               12.59%    OR       MORTGAGE
32183  debt_consolidation                3.90%    AZ           RENT
52061  debt_consolidation               21.88%    HI           RENT
5531       major_purchase                1.24%    MA           RENT
51087  debt_consolidation               14.08%    LA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
46391         8833.33    700-704                 11                     18978
32183         7083.33    670-674                  7                      6040
52061         2833.33    665-669                 12                      7903
5531          1125.00    745-749                  2                       707
51087         5416.67    710-714                  8                     10560

       Inquiries.in.the.Last.6.Months Employment.Length
46391                               0           2 years
32183                               1           2 years
52061                               0           3 years
5531                                0           2 years
51087                               0           3 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
11132             10000                       10000        15.21%   36 months
7752               5525                        5525        13.85%   36 months
30788             17200                       17200        19.69%   60 months
77919             19600                       19575        16.29%   36 months
4841               4000                        4000        11.48%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
11132  debt_consolidation               10.93%    CA           RENT
7752          credit_card               21.03%    CA       MORTGAGE
30788    home_improvement                9.95%    CO           RENT
77919               other               29.38%    NY           RENT
4841   debt_consolidation               22.93%    TX       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
11132         7083.00    670-674                 13                     11890
7752          6620.00    720-724                  8                     37573
30788         3666.67    705-709                  4                      2117
77919         4166.67    680-684                 17                     22053
4841          3833.33    715-719                  9                         0

       Inquiries.in.the.Last.6.Months Employment.Length
11132                               0           3 years
7752                                2         10+ years
30788                               3           2 years
77919                               1           3 years
4841                                0           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
48151             13000                     13000.0        13.11%   36 months
2885               8000                      7850.0         9.63%   36 months
647               25000                      5640.7        10.08%   36 months
9495              20000                     19900.0        10.25%   36 months
92367             27575                     27575.0        17.27%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
48151  debt_consolidation               10.58%    NH           RENT
2885                house                0.24%    KS           RENT
647      home_improvement               10.42%    MA       MORTGAGE
9495              wedding               11.35%    NY           RENT
92367  debt_consolidation               18.28%    WA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
48151         5000.00    735-739                  3                     11090
2885          4250.00    790-794                  4                       132
647           7916.67    755-759                 23                     16386
9495          7083.33    750-754                 14                     18196
92367         7833.33    680-684                 20                     28055

       Inquiries.in.the.Last.6.Months Employment.Length
48151                               1            1 year
2885                                3           5 years
647                                 0           4 years
9495                                0           3 years
92367                               2           7 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
100674             24000                       24000        14.33%
62867               7000                        7000        18.49%
32444              12000                       11975        16.77%
33119              14000                       14000        19.03%
4730               10000                        9975        11.14%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
100674   36 months  debt_consolidation               15.86%    CA
62867    36 months             wedding               15.92%    IL
32444    60 months  debt_consolidation               10.71%    MD
33119    60 months  debt_consolidation               13.52%    CA
4730     36 months  debt_consolidation               12.92%    CA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
100674       MORTGAGE            7500    670-674                  5
62867            RENT            5000    660-664                 11
32444        MORTGAGE            3500    685-689                  6
33119        MORTGAGE            3616    670-674                  9
4730             RENT            2500    725-729                  8

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
100674                      2426                               0
62867                      13665                               1
32444                      26874                               0
33119                      13923                               0
4730                       14257                               0

       Employment.Length
100674         10+ years
62867            5 years
32444          10+ years
33119            2 years
4730             3 years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
84738              7750                        7750         6.03%   36 months
58490             15000                       11550        13.67%   36 months
12015             15000                       14950        11.86%   36 months
71758             25000                       25000        15.31%   36 months
19344             15000                       14975        14.91%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
84738  debt_consolidation               22.01%    CO           RENT
58490  debt_consolidation               17.19%    TX            OWN
12015  debt_consolidation               12.20%    AR       MORTGAGE
71758  debt_consolidation                  13%    CA           RENT
19344  debt_consolidation                8.08%    NC       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
84738         4766.67    780-784                 14                      4667
58490         3333.33    690-694                  8                     10820
12015         5000.00    705-709                  9                      3470
71758         5416.67    685-689                 10                     22824
19344         4407.00    720-724                  8                     15818

       Inquiries.in.the.Last.6.Months Employment.Length
84738                               3           6 years
58490                               0           5 years
12015                               3         10+ years
71758                               0           6 years
19344                               1               NaN
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
56528              5000                        5000        16.29%   36 months
17236              5000                        5000        12.98%   36 months
99541             35000                       35000        15.31%   36 months
1977               7500                        6025        15.37%   36 months
15197             25000                       15675        10.36%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
56528  debt_consolidation               16.06%    CT       MORTGAGE
17236             wedding               17.29%    PA       MORTGAGE
99541  debt_consolidation                  15%    NJ           RENT
1977   debt_consolidation               17.50%    CA            OWN
15197    home_improvement               16.26%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
56528         8750.00    660-664                 12                     19598
17236         3250.00    665-669                 18                      4656
99541         6666.67    680-684                 22                     33472
1977          5000.00    675-679                 11                     16422
15197         3333.33    765-769                  6                     22713

       Inquiries.in.the.Last.6.Months Employment.Length
56528                               1           2 years
17236                               0           3 years
99541                               0         10+ years
1977                                0          < 1 year
15197                               1         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
11620              3800                     3800.00        11.12%   36 months
73232              2800                     2800.00         8.90%   36 months
27317              6250                     6250.00         7.49%   36 months
38774             18000                    17994.46         9.91%   36 months
73956              6000                     6000.00        17.27%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
11620      major_purchase               15.45%    PA       MORTGAGE
73232               other               27.76%    VA           RENT
27317         credit_card               23.97%    AR       MORTGAGE
38774  debt_consolidation               11.85%    WA       MORTGAGE
73956  debt_consolidation               29.13%    WV           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
11620         5416.67    700-704                 11                      9266
73232         3250.00    700-704                 13                     22401
27317         2900.00    730-734                 13                     21536
38774         3333.33    725-729                 13                     10416
73956         2752.92    660-664                 12                      4569

       Inquiries.in.the.Last.6.Months Employment.Length
11620                               0         10+ years
73232                               0         10+ years
27317                               0           2 years
38774                               2           5 years
73956                               2          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
77363             20000                       20000        14.09%   36 months
71926              8000                        8000        11.14%   36 months
46024             12000                       12000         6.62%   36 months
11376             24000                        7100        11.12%   60 months
13393              3000                        2925        11.49%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
77363  debt_consolidation               34.91%    TX       MORTGAGE
71926  debt_consolidation               23.93%    KY           RENT
46024    home_improvement                4.81%    NY       MORTGAGE
11376    home_improvement               11.99%    CO            OWN
13393  debt_consolidation                9.22%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
77363         4583.33    710-714                  8                      6510
71926         2666.67    700-704                 11                     10128
46024         9833.33    790-794                 15                      5584
11376         5686.67    775-779                  6                      1726
13393         4900.00    690-694                  6                      3996

       Inquiries.in.the.Last.6.Months Employment.Length
77363                               1           2 years
71926                               0           5 years
46024                               2         10+ years
11376                               2           2 years
13393                               1         10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
26533               5000                     5000.00         6.99%
48955              21850                    21800.00        13.99%
95456              21850                    21850.00        23.28%
102846             10000                     7586.93        13.47%
2074               15000                    10150.07        15.68%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
26533    36 months      major_purchase                8.51%    AL
48955    60 months  debt_consolidation               17.95%    NY
95456    60 months             medical               26.95%    IL
102846   36 months         credit_card               14.20%    CA
2074     36 months               other                2.68%    IL

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
26533        MORTGAGE         3750.00    745-749                 12
48955            RENT         3750.00    730-734                  5
95456        MORTGAGE         5833.33    675-679                 21
102846       MORTGAGE         6666.67    690-694                  8
2074              OWN         2500.00    680-684                  6

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
26533                       3998                               0
48955                       7102                               0
95456                      29643                               2
102846                    126402                               2
2074                        3004                               2

       Employment.Length
26533            6 years
48955            3 years
95456            3 years
102846           9 years
2074              1 year

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
23197              9600                     9600.00         7.29%   36 months
44626             25000                    24975.00        20.50%   36 months
10262             25000                    14401.65        11.49%   60 months
37041             30000                    29950.00         7.90%   36 months
24376             20000                    20000.00        16.89%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
23197               other                9.66%    RI           RENT
44626         credit_card               14.72%    FL           RENT
10262    home_improvement                4.95%    FL       MORTGAGE
37041    home_improvement                0.34%    MA           RENT
24376  debt_consolidation                6.83%    WA            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
23197         6048.00    740-744                  7                     15700
44626         7301.58    670-674                 18                     21675
10262         3333.33    780-784                  9                      3367
37041        13416.67    810-814                  9                      2174
24376         4000.00    700-704                  6                      5845

       Inquiries.in.the.Last.6.Months Employment.Length
23197                               0           7 years
44626                               0           4 years
10262                               3           2 years
37041                               3         10+ years
24376                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
57260             14825                       14825        13.67%   36 months
81130              8000                        8000        17.27%   36 months
38892             20000                       20000        11.71%   36 months
35468              7000                        7000         7.90%   36 months
7173              20000                       19900        10.62%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
57260      small_business                9.55%    CA           RENT
81130  debt_consolidation                1.98%    NY       MORTGAGE
38892  debt_consolidation               14.95%    TX       MORTGAGE
35468             medical               20.96%    TX            OWN
7173   debt_consolidation               12.58%    AL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
57260         2500.00    695-699                  8                      8073
81130         6000.00    670-674                  5                      5032
38892        10416.67    720-724                 12                     26179
35468         2300.00    765-769                  4                         0
7173          2416.67    760-764                  5                      6011

       Inquiries.in.the.Last.6.Months Employment.Length
57260                               1           2 years
81130                               2         10+ years
38892                               2            1 year
35468                               0         10+ years
7173                                0            1 year
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
102295              5000                        4500        11.03%
99065              17625                       17600        13.11%
53234               7150                        7150        13.11%
16215              25000                       24775        10.36%
77494              15000                       15000        14.33%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
102295   36 months      major_purchase                0.47%    PA
99065    36 months         credit_card               14.88%    OH
53234    36 months  debt_consolidation               12.33%    IL
16215    36 months  debt_consolidation                0.94%    HI
77494    36 months  debt_consolidation               33.42%    AZ

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
102295           RENT         3166.67    680-684                  5
99065            RENT         3333.33    675-679                  6
53234            RENT         3666.67    685-689                 11
16215            RENT         8533.33    720-724                  9
77494            RENT         4500.00    675-679                 20

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
102295                      4254                               5
99065                      20266                               0
53234                      10561                               1
16215                      28038                               0
77494                      13369                               0

       Employment.Length
102295          < 1 year
99065            2 years
53234           < 1 year
16215          10+ years
77494           < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
66072              9000                        9000         6.62%   36 months
6976              17600                       17600        16.35%   36 months
22259             10000                       10000        12.68%   36 months
15470             11200                       11000        15.20%   60 months
84805             13225                       13225        15.31%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
66072  debt_consolidation               13.85%    MA           RENT
6976   debt_consolidation               17.35%    PA       MORTGAGE
22259  debt_consolidation               13.96%    IL           RENT
15470    home_improvement               16.47%    VA       MORTGAGE
84805  debt_consolidation               27.07%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
66072         4166.67    765-769                  5                      7853
6976          7500.00    665-669                 16                     14555
22259         2500.00    690-694                  6                     10481
15470         6750.00    675-679                 15                     19051
84805         5833.33    680-684                 11                     18569

       Inquiries.in.the.Last.6.Months Employment.Length
66072                               0            1 year
6976                                0           7 years
22259                               1          < 1 year
15470                               0           4 years
84805                               1         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
69014              4000                        4000        11.14%   36 months
26886             12000                       11975        10.99%   36 months
71550             35000                       35000        19.05%   36 months
8051              25000                       17250        14.59%   36 months
56595              9000                        9000         6.03%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
69014               other               33.80%    FL       MORTGAGE
26886         credit_card                9.46%    NC       MORTGAGE
71550  debt_consolidation               21.12%    CT       MORTGAGE
8051   debt_consolidation               24.64%    FL           RENT
56595  debt_consolidation               12.23%    VA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
69014         3333.33    700-704                 12                     12922
26886        12083.33    720-724                  7                     43299
71550        13750.00    735-739                 38                     99549
8051          8750.00    705-709                 11                     20798
56595         5000.00    750-754                 13                      5224

       Inquiries.in.the.Last.6.Months Employment.Length
69014                               0           4 years
26886                               2           3 years
71550                               2         10+ years
8051                                1          < 1 year
56595                               0           7 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
48498             18225                       18225        12.12%   36 months
10737              4750                        4750        14.72%   36 months
48798             14400                       14400         6.62%   36 months
94440             30000                       30000        23.76%   60 months
46421             13475                       13475        12.12%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
48498  debt_consolidation               20.87%    MN       MORTGAGE
10737      small_business                   3%    CO            OWN
48798    home_improvement                6.71%    FL       MORTGAGE
94440  debt_consolidation               14.25%    WI           RENT
46421         credit_card               19.46%    MA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
48498         4850.00    700-704                  7                     37592
10737          866.67    660-664                  6                       740
48798        12500.00    770-774                  6                      1280
94440         6928.13    660-664                  6                     28665
46421         2250.00    715-719                  3                     11674

       Inquiries.in.the.Last.6.Months Employment.Length
48498                               0           3 years
10737                               0               NaN
48798                               0         10+ years
94440                               1         10+ years
46421                               0          < 1 year
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
90531              10000                       10000        19.05%
51302              12000                       12000         6.62%
28257               6000                        6000        16.89%
104101              9500                        6500         6.54%
12958              12000                       11875        10.38%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
90531    36 months               other               17.95%    SC
51302    36 months         credit_card                9.46%    CA
28257    60 months  debt_consolidation               18.39%    CA
104101   36 months         credit_card               14.43%    NH
12958    60 months         credit_card               16.98%    FL

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
90531        MORTGAGE         3750.00    675-679                 10
51302        MORTGAGE         5833.33    740-744                  9
28257            RENT         3083.00    695-699                  3
104101       MORTGAGE         7500.00    725-729                 13
12958        MORTGAGE         3791.67    780-784                 10

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
90531                       7034                               1
51302                      12028                               0
28257                       1181                               0
104101                    100233                               0
12958                      59495                               1

       Employment.Length
90531            6 years
51302            8 years
28257            3 years
104101         10+ years
12958          10+ years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
49872              5000                     5000.00         8.90%   36 months
26290              3600                     3600.00         8.90%   36 months
43703             27000                    26993.89        14.27%   60 months
32985             10000                    10000.00        14.27%   36 months
80200              5450                     5450.00        13.11%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
49872         credit_card               15.93%    PA       MORTGAGE
26290  debt_consolidation                3.27%    NV           RENT
43703    home_improvement               18.28%    FL            OWN
32985  debt_consolidation               10.97%    IL           RENT
80200             medical               25.91%    AL           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
49872         6666.67    705-709                 10                     12307
26290         1558.33    745-749                  4                      1594
43703         4833.33    735-739                 18                     12588
32985         7500.00    665-669                  6                      7778
80200         3500.00    670-674                  9                      7619

       Inquiries.in.the.Last.6.Months Employment.Length
49872                               0           7 years
26290                               0           3 years
43703                               1           7 years
32985                               0           7 years
80200                               0            1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
22130             16000                    13613.86        15.28%   60 months
74163              9750                     9750.00        17.27%   36 months
35740             30000                    30000.00         7.51%   36 months
74713             14000                    13975.00        12.12%   36 months
52405              8500                     8500.00         6.62%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
22130  debt_consolidation               15.33%    KY       MORTGAGE
74163  debt_consolidation               21.93%    FL           RENT
35740      major_purchase                1.08%    NY            OWN
74713               other                3.25%    NY       MORTGAGE
52405  debt_consolidation                4.90%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
22130         3006.44    700-704                 10                     11011
74163         2817.50    670-674                 12                      6324
35740        10416.67    785-789                  6                       740
74713         6250.00    705-709                 14                      7085
52405         4166.67    740-744                  8                      7114

       Inquiries.in.the.Last.6.Months Employment.Length
22130                               0         10+ years
74163                               1            1 year
35740                               0           5 years
74713                               1         10+ years
52405                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
54513             14400                       14400         7.90%   36 months
10293              8000                        8000         7.14%   36 months
66880             12000                       12000        13.11%   36 months
96709             10400                       10350        13.11%   36 months
84273             21000                       21000        18.75%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
54513             wedding               17.89%    FL           RENT
10293  debt_consolidation                1.73%    CA           RENT
66880  debt_consolidation                6.46%    NY           RENT
96709  debt_consolidation                7.59%    NY            OWN
84273    home_improvement               11.31%    NY       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
54513        13100.00    745-749                 11                     14550
10293         3750.00    765-769                  6                      3381
66880        13166.67    680-684                  8                      8426
96709         6166.67    695-699                 10                     14193
84273        10250.00    695-699                 12                     38820

       Inquiries.in.the.Last.6.Months Employment.Length
54513                               0           4 years
10293                               0          < 1 year
66880                               0           5 years
96709                               0           7 years
84273                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
6120               6000                        5925        11.83%   36 months
48166             10800                       10800        13.67%   60 months
67265              2100                        2100        14.33%   36 months
41102              4000                        4000         6.03%   36 months
47422              3500                        3500         7.62%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
6120   debt_consolidation                3.44%    CA           RENT
48166                 car                0.94%    IL           RENT
67265      major_purchase                3.50%    LA            OWN
41102               other               15.13%    FL       MORTGAGE
47422  debt_consolidation               20.93%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
6120          6333.33    705-709                 13                      7269
48166         7500.00    730-734                  4                      1577
67265         1000.00    690-694                 13                       893
41102         6583.33    770-774                  6                     63294
47422         4333.33    725-729                  9                     11538

       Inquiries.in.the.Last.6.Months Employment.Length
6120                                0           4 years
48166                               0          < 1 year
67265                               1          < 1 year
41102                               0         10+ years
47422                               0           6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
6039              24250                    23811.24        12.53%   36 months
62856             19000                    19000.00        14.33%   60 months
7020              10500                    10477.85        15.33%   36 months
92641              2500                     2500.00        18.49%   36 months
7953              16000                    16000.00        14.59%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
6039     home_improvement               12.70%    NY            OWN
62856         credit_card               16.06%    IL       MORTGAGE
7020          credit_card               14.30%    NY           RENT
92641  debt_consolidation               22.49%    PA       MORTGAGE
7953   debt_consolidation                9.47%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
6039         18750.00    725-729                 10                    121563
62856         5000.00    715-719                  8                     20918
7020          3083.33    670-674                  8                     14726
92641         3916.67    670-674                  7                     14892
7953          5416.67    690-694                  9                     15518

       Inquiries.in.the.Last.6.Months Employment.Length
6039                                1         10+ years
62856                               0         10+ years
7020                                0         10+ years
92641                               2           6 years
7953                                0         10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
101568              3000                        1300        13.75%
27693              10000                       10000         5.42%
70029               7100                        7100        14.09%
3492               12500                       12425         9.32%
45115               1700                        1700        13.99%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
101568   36 months  debt_consolidation               19.30%    FL
27693    36 months         credit_card               10.41%    GA
70029    36 months         credit_card               19.22%    OH
3492     36 months    home_improvement               11.71%    TX
45115    36 months                 car               20.67%    NY

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
101568           RENT         1000.00    665-669                 12
27693        MORTGAGE         7500.00    780-784                 11
70029            RENT         4166.67    685-689                 13
3492         MORTGAGE         4166.67    780-784                  7
45115             OWN         1200.00    675-679                 10

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
101568                      2545                               4
27693                      11532                               0
70029                       6788                               2
3492                        1052                               0
45115                       7382                               0

       Employment.Length
101568          < 1 year
27693            9 years
70029            2 years
3492             2 years
45115            4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
96928              4000                        4000        11.14%   36 months
51257             18225                       18225        17.99%   36 months
92820             30000                       30000        16.29%   60 months
17826             10000                       10000         6.54%   36 months
66186              6000                        6000         7.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
96928  debt_consolidation               12.20%    WA       MORTGAGE
51257  debt_consolidation               23.35%    VA           RENT
92820      major_purchase               20.28%    NY           RENT
17826    home_improvement               17.05%    FL           RENT
66186         credit_card                2.51%    GA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
96928         6666.67    670-674                  7                      7153
51257         3083.33    675-679                  6                     17128
92820        13666.67    735-739                 14                     39059
17826         6916.67    730-734                  6                     10302
66186         7500.00    720-724                  5                      6394

       Inquiries.in.the.Last.6.Months Employment.Length
96928                               0           5 years
51257                               1           3 years
92820                               1            1 year
17826                               0           3 years
66186                               0           2 years
CHUNK DF

       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
73450              6000                        6000        12.12%   36 months
96780              6000                        6000        15.80%   36 months
62089              7000                        7000        17.77%   36 months
60963             10000                       10000        15.31%   36 months
8291               3250                        3250        12.73%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
73450      major_purchase                7.40%    PA       MORTGAGE
96780  debt_consolidation               19.56%    WA            OWN
62089  debt_consolidation               18.15%    WV           RENT
60963         credit_card                9.55%    TX            OWN
8291   debt_consolidation               21.44%    FL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
73450         5000.00    675-679                  6                     14045
96780         1666.67    675-679                  7                      5291
62089         4750.00    665-669                 11                     12307
60963         4166.67    670-674                 11                     11551
8291          5000.00    675-679                 12                     20564

       Inquiries.in.the.Last.6.Months Employment.Length
73450                               0           2 years
96780                               0          < 1 year
62089                               1          < 1 year
60963                               0           4 years
8291                                0           3 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
100221             30000                       29950        19.72%
22790              21000                       21000        11.11%
93403              11000                       11000         7.62%
7687                5500                        5400         7.14%
59279              15000                       15000         7.90%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
100221   60 months  debt_consolidation               21.92%    CT
22790    36 months      small_business               16.53%    NY
93403    36 months  debt_consolidation               12.35%    NY
7687     36 months         credit_card               19.86%    MO
59279    36 months  debt_consolidation                5.59%    MO

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
100221           RENT        10416.67    685-689                 11
22790        MORTGAGE        18750.00    700-704                 13
93403             OWN         7666.67    735-739                  6
7687         MORTGAGE         3916.67    750-754                 15
59279            RENT         2916.67    770-774                 13

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
100221                     61661                               1
22790                     120538                               0
93403                      12461                               1
7687                       10254                               1
59279                      14290                               1

       Employment.Length
100221           7 years
22790          10+ years
93403            7 years
7687            < 1 year
59279            9 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
32146             20000                     17890.7        19.91%   60 months
311                7200                      6250.0         8.07%   36 months
38432              4000                      4000.0        18.64%   60 months
59266             20000                     20000.0         8.90%   36 months
75012             15000                     15000.0        12.12%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
32146  debt_consolidation               17.49%    CA       MORTGAGE
311    debt_consolidation                  17%    MA       MORTGAGE
38432  debt_consolidation               19.15%    MN           RENT
59266  debt_consolidation               11.01%    MD       MORTGAGE
75012         credit_card               19.16%    NJ           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
32146         7916.67    670-674                 17                     39621
311           5100.00    760-764                  4                      9366
38432         4000.00    675-679                  9                     16543
59266         7083.33    730-734                 13                     28324
75012         5000.00    705-709                 18                     13830

       Inquiries.in.the.Last.6.Months Employment.Length
32146                               1           6 years
311                                 4         10+ years
38432                               2           6 years
59266                               2         10+ years
75012                               0         10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
4502                8000                        7825        11.83%
21574              15000                       14900        19.74%
93066               8000                        8000        11.14%
100114             20675                       20675        14.33%
92036              30000                       30000        15.31%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
4502     36 months         credit_card                8.12%    FL
21574    60 months         credit_card               16.80%    TX
93066    36 months  debt_consolidation               11.59%    CA
100114   36 months         credit_card               23.12%    NM
92036    60 months         credit_card               16.99%    MN

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
4502             RENT         5417.00    730-734                  5
21574        MORTGAGE         5833.33    660-664                 14
93066            RENT         7000.00    685-689                  7
100114       MORTGAGE         4333.33    710-714                 12
92036        MORTGAGE         8500.00    695-699                 10

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
4502                       43799                               2
21574                       8587                               2
93066                       4729                               1
100114                      8393                               1
92036                      33770                               0

       Employment.Length
4502              1 year
21574            3 years
93066            3 years
100114         10+ years
92036            6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
21190             12000                       11875         7.66%   36 months
30864              5000                        5000         9.99%   36 months
68722              4750                        4750         8.90%   36 months
57199              6500                        6500        12.12%   36 months
30560             21600                       20550        10.59%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
21190  debt_consolidation               13.31%    NY       MORTGAGE
30864             wedding               21.33%    VA           RENT
68722    home_improvement                0.56%    PA            OWN
57199         credit_card               24.97%    TX            OWN
30560      major_purchase                9.40%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
21190         5416.67    740-744                  8                      9993
30864         5316.67    695-699                  7                     23818
68722         2833.33    760-764                  2                       767
57199         3500.00    680-684                  7                      6948
30560         9000.00    720-724                 16                     43362

       Inquiries.in.the.Last.6.Months Employment.Length
21190                               2           3 years
30864                               0           7 years
68722                               0           9 years
57199                               0            1 year
30560                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
3656               1900                        1900        12.84%   36 months
45245              6000                        6000         7.90%   36 months
45994              8500                        8500         7.62%   36 months
60625              9250                        9250        12.12%   36 months
33630              1875                        1875        13.49%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
3656     home_improvement               23.29%    UT       MORTGAGE
45245               house                6.68%    NY           RENT
45994         credit_card               13.67%    FL           RENT
60625  debt_consolidation               29.46%    TX       MORTGAGE
33630         credit_card               18.83%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
3656          2860.00    670-674                  9                     24209
45245        10416.67    710-714                  9                     20592
45994         4333.33    720-724                 11                     15284
60625         3333.33    685-689                 10                      5440
33630         1200.00    675-679                  8                      5342

       Inquiries.in.the.Last.6.Months Employment.Length
3656                                2          < 1 year
45245                               0         10+ years
45994                               0           4 years
60625                               0         10+ years
33630                               2            1 year
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
102314              2500                     2450.00        12.61%
2386               10000                    10000.00        13.47%
30138              25000                    25000.00        15.23%
28764               5000                     5000.00        13.99%
12007               6000                     5996.63        13.61%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
102314   36 months         educational                3.78%    MD
2386     36 months                 car                5.59%    TX
30138    60 months  debt_consolidation               17.97%    KS
28764    60 months  debt_consolidation               11.29%    NC
12007    60 months      major_purchase               20.85%    CA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
102314       MORTGAGE         1930.75    675-679                  4
2386             RENT         4583.00    690-694                  6
30138        MORTGAGE         8917.00    730-734                 10
28764        MORTGAGE         3083.00    710-714                  5
12007        MORTGAGE         2700.00    695-699                 10

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
102314                      1548                               3
2386                        2432                               1
30138                      22566                               1
28764                       1073                               2
12007                      10932                               2

       Employment.Length
102314           2 years
2386             4 years
30138          10+ years
28764            2 years
12007            2 years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
9061              10000                    10000.00        14.22%   36 months
79907              5375                     5325.00         6.62%   36 months
17217             19000                    18898.03        16.32%   60 months
3893               5500                     5500.00        11.89%   36 months
52929             10000                    10000.00        10.74%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
9061   debt_consolidation               12.24%    NJ           RENT
79907  debt_consolidation               20.93%    NV           RENT
17217  debt_consolidation               22.41%    NY           RENT
3893          credit_card               17.94%    MA           RENT
52929  debt_consolidation               18.15%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
9061          2541.67    680-684                  4                     13667
79907         3000.00    730-734                  7                      5640
17217         4333.33    700-704                  5                     23016
3893          3583.33    695-699                  8                      5668
52929         5833.33    700-704                 10                     16894

       Inquiries.in.the.Last.6.Months Employment.Length
9061                                0           8 years
79907                               0           3 years
17217                               1           2 years
3893                                3            1 year
52929                               0           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
10205              8800                     8800.00        13.11%   60 months
13809              9500                     9475.00        15.95%   60 months
16035             12000                     9294.21         5.79%   36 months
43936             16500                    16500.00        11.71%   36 months
36217             25000                    24875.00        11.71%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
10205      major_purchase                2.88%    AZ       MORTGAGE
13809         credit_card               24.88%    CA           RENT
16035  debt_consolidation                9.49%    VA       MORTGAGE
43936         credit_card               11.05%    CT       MORTGAGE
36217  debt_consolidation               13.42%    IL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
10205            2500    740-744                  3                       607
13809            6000    705-709                  6                     14621
16035            6700    765-769                 20                     11686
43936            7250    725-729                  8                     17247
36217            6250    755-759                  5                     18591

       Inquiries.in.the.Last.6.Months Employment.Length
10205                               0           2 years
13809                               2         10+ years
16035                               0           5 years
43936                               2         10+ years
36217                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
91571             24000                       24000        12.12%   36 months
16414              7000                        6875        10.36%   36 months
37386              1200                        1200        18.25%   36 months
96208             24175                       24175        13.11%   36 months
52255              2800                        2800         7.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
91571  debt_consolidation               16.24%    NJ           RENT
16414      major_purchase               13.94%    CA           RENT
37386               other               24.12%    OH           RENT
96208    home_improvement                7.66%    GA           RENT
52255         credit_card               17.16%    MA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
91571         4500.00    700-704                  8                     29098
16414         5000.00    690-694                  5                      1364
37386         1700.00    660-664                  2                         0
96208         6250.00    710-714                  8                      4681
52255         3583.33    720-724                 12                      5182

       Inquiries.in.the.Last.6.Months Employment.Length
91571                               1         10+ years
16414                               2         10+ years
37386                               3           4 years
96208                               1         10+ years
52255                               0           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
33923              4000                        4000        11.71%   60 months
93139             10000                       10000        12.12%   36 months
60943              7125                        7125        10.16%   36 months
797               10000                        9325         8.32%   36 months
98156             10000                       10000        13.11%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
33923                 car               13.17%    PA           RENT
93139  debt_consolidation               10.88%    CT       MORTGAGE
60943  debt_consolidation                4.95%    MA           RENT
797                 other                6.25%    FL       MORTGAGE
98156         credit_card                5.30%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
33923         3500.00    705-709                  6                      5915
93139         7500.00    665-669                  6                     24924
60943         2946.67    710-714                  6                      5015
797           6666.67    750-754                 10                      3248
98156         6250.00    695-699                  5                      9620

       Inquiries.in.the.Last.6.Months Employment.Length
33923                               0           3 years
93139                               0         10+ years
60943                               1           6 years
797                                 0          < 1 year
98156                               1           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
61906              4400                     4398.89        15.31%   36 months
85861             10000                    10000.00        12.12%   36 months
98601              9450                     9450.00        12.12%   36 months
58433              3500                     3500.00         7.62%   36 months
40639             24000                    24000.00        12.69%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
61906  debt_consolidation               21.51%    NC           RENT
85861  debt_consolidation               11.52%    CA           RENT
98601         credit_card               33.62%    FL           RENT
58433               other                1.83%    IL       MORTGAGE
40639    home_improvement               21.59%    FL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
61906         4625.00    670-674                  8                      5707
85861         4166.67    710-714                  7                      9817
98601         2750.00    700-704                 17                     14246
58433         7500.00    765-769                  4                      6944
40639        10000.00    725-729                 17                     42996

       Inquiries.in.the.Last.6.Months Employment.Length
61906                               1           6 years
85861                               1           4 years
98601                               0           6 years
58433                               0           9 years
40639                               0           5 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
31995              11750                       11750        10.99%
60151              30000                       24800        10.16%
60695              12000                       12000        18.75%
88646              13000                       13000        14.09%
103384              5000                        5000        13.48%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
31995    36 months  debt_consolidation               10.30%    NC
60151    36 months    home_improvement                2.21%    NY
60695    36 months  debt_consolidation               27.32%    GA
88646    36 months  debt_consolidation               17.99%    PA
103384   36 months         educational               11.21%    FL

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
31995            RENT         4583.33    700-704                  6
60151        MORTGAGE         9583.33    765-769                  7
60695        MORTGAGE        13333.33    665-669                 18
88646        MORTGAGE         7916.67    695-699                 14
103384           RENT         3800.00    710-714                  4

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
31995                       5613                               0
60151                       4454                               3
60695                      62069                               0
88646                      10723                               3
103384                      1575                               4

       Employment.Length
31995            3 years
60151          10+ years
60695            5 years
88646            8 years
103384           3 years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
87526             15000                       15000        14.33%   36 months
20799             16000                       15975        13.43%   60 months
24675             12000                       11975        15.23%   60 months
85918             10050                       10050        14.33%   36 months
25786             35000                       25850        15.23%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
87526  debt_consolidation               16.15%    CA           RENT
20799      major_purchase                6.80%    CA       MORTGAGE
24675    home_improvement               13.91%    NV       MORTGAGE
85918  debt_consolidation                7.97%    NV          OTHER
25786      major_purchase               22.74%    IL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
87526         9166.67    700-704                 15                     24563
20799         5000.00    745-749                 10                      1132
24675         7083.33    705-709                  7                      3923
85918         7266.67    675-679                  8                     24281
25786        10000.00    760-764                 13                     13651

       Inquiries.in.the.Last.6.Months Employment.Length
87526                               1          < 1 year
20799                               2          < 1 year
24675                               2           7 years
85918                               0           2 years
25786                               1         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
76078             30000                    30000.00        22.95%   60 months
6363              24250                    24175.00        12.18%   36 months
40971             16000                    16000.00         6.03%   36 months
3755               9000                     8996.01        15.05%   36 months
12350             17000                    16750.00        11.12%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
76078  debt_consolidation               30.56%    HI           RENT
6363   debt_consolidation               21.90%    NY            OWN
40971         credit_card                6.07%    NJ           RENT
3755   debt_consolidation               23.75%    CA           RENT
12350                 car               17.91%    MD       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
76078         7500.00    685-689                 12                     29756
6363          5000.00    740-744                 15                    100842
40971        12916.67    790-794                  8                     26635
3755          5166.67    675-679                  7                     15149
12350         8500.00    750-754                  9                     10324

       Inquiries.in.the.Last.6.Months Employment.Length
76078                               0         10+ years
6363                                1          < 1 year
40971                               1         10+ years
3755                                1            1 year
12350                               3           5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
17                 5400                         200         7.75%   36 months
79041             12000                       12000        12.12%   36 months
57986              2000                        2000        17.27%   36 months
40027             24000                       24000        12.69%   36 months
80804             16800                       16800        22.47%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
17            educational                   3%    GA           RENT
79041  debt_consolidation               26.96%    CA           RENT
57986  debt_consolidation                8.64%    CA           RENT
40027               other               19.53%    MN           RENT
80804  debt_consolidation               13.55%    OH       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
17             666.67    760-764                  4                      1321
79041         3833.33    690-694                 15                      6038
57986         1666.67    670-674                  5                      4595
40027         4583.33    710-714                  5                     21377
80804         4000.00    660-664                 12                     12179

       Inquiries.in.the.Last.6.Months Employment.Length
17                                  0          < 1 year
79041                               0           4 years
57986                               2               NaN
40027                               0           5 years
80804                               1         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
62160              3000                     3000.00        17.27%   36 months
39128              3500                     3500.00        12.69%   36 months
22200              4000                     3910.45         7.66%   36 months
68824             16000                    15975.00        16.29%   36 months
21164              8800                     8800.00        18.25%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
62160         credit_card               22.87%    NY           RENT
39128      major_purchase                5.36%    NC       MORTGAGE
22200    home_improvement               20.92%    NY       MORTGAGE
68824  debt_consolidation               32.91%    OH            OWN
21164  debt_consolidation               13.89%    KY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
62160         2750.00    660-664                  9                      7648
39128         7083.00    665-669                  6                     11616
22200         3600.00    725-729                  4                       594
68824         3333.33    695-699                 10                     24134
21164         2916.67    685-689                  5                      7794

       Inquiries.in.the.Last.6.Months Employment.Length
62160                               3           4 years
39128                               0         10+ years
22200                               0         10+ years
68824                               1           2 years
21164                               2           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
67672             19725                       19725         7.90%   36 months
42953             19750                       19725        15.96%   36 months
18017             19750                       19725        20.77%   60 months
17955             10000                       10000        16.32%   36 months
1034               5000                           0         8.63%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
67672  debt_consolidation                6.46%    CA       MORTGAGE
42953  debt_consolidation               24.14%    VA       MORTGAGE
18017  debt_consolidation               14.85%    KS           RENT
17955    home_improvement                1.69%    MA       MORTGAGE
1034   debt_consolidation                1.92%    NJ           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
67672         6916.67    755-759                  9                     16173
42953         5166.67    680-684                 12                     33368
18017         4000.00    670-674                  4                      1948
17955        10000.00    695-699                  3                      5624
1034          2600.00    730-734                 13                       814

       Inquiries.in.the.Last.6.Months Employment.Length
67672                               3           7 years
42953                               2         10+ years
18017                               1           3 years
17955                               0         10+ years
1034                                0           8 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
62763              9600                        9600         6.62%   36 months
65518             30000                       29975        21.49%   60 months
39131              7000                        7000        12.42%   36 months
54010              8400                        8400        10.74%   36 months
66459              5600                        5600        14.33%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
62763  debt_consolidation                3.82%    SC           RENT
65518  debt_consolidation               15.32%    NJ       MORTGAGE
39131         credit_card               15.11%    CA           RENT
54010  debt_consolidation                7.82%    LA           RENT
66459  debt_consolidation               25.29%    OH           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
62763         4333.33    760-764                  7                      1039
65518        12500.00    705-709                 12                     24124
39131         7083.33    685-689                 15                     16049
54010         2083.33    720-724                  7                      4282
66459         3333.33    675-679                  8                     17471

       Inquiries.in.the.Last.6.Months Employment.Length
62763                               1           3 years
65518                               2         10+ years
39131                               2         10+ years
54010                               1           9 years
66459                               1           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
9839              20000                       13175         7.88%   60 months
56271             15000                       15000        12.12%   36 months
13609             17500                       17500        13.23%   60 months
51025             32400                       32400        12.12%   60 months
80125             12000                       11975        12.12%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
9839                  car               12.51%    GA       MORTGAGE
56271            vacation                3.41%    NY           RENT
13609  debt_consolidation               23.03%    MD           RENT
51025    home_improvement                1.28%    CA       MORTGAGE
80125  debt_consolidation               10.84%    NJ           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
9839         19583.00    790-794                  9                      5213
56271         3166.67    720-724                  5                      3338
13609         3500.00    735-739                  6                     17734
51025         8750.00    790-794                  4                         7
80125         7083.33    685-689                 11                     20601

       Inquiries.in.the.Last.6.Months Employment.Length
9839                                0           4 years
56271                               0           3 years
13609                               0          < 1 year
51025                               0           5 years
80125                               0           4 years
CHUNK DF

        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
104069             10000                      9875.0        14.09%
9162               12300                     12275.0         7.88%
93455              15000                     15000.0        11.14%
102308              5000                      4446.5        11.97%
86201              20000                     20000.0        13.11%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
104069   36 months               other               16.40%    TX
9162     36 months  debt_consolidation               22.14%    OH
93455    36 months         credit_card               15.51%    GA
102308   36 months  debt_consolidation               20.76%    IL
86201    36 months         credit_card               14.87%    NY

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
104069           RENT         2250.00    680-684                  3
9162         MORTGAGE         4738.67    745-749                 18
93455        MORTGAGE         8750.00    690-694                  9
102308           RENT         2500.00    685-689                 14
86201            RENT        14166.67    695-699                 17

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
104069                     13398                               4
9162                       10666                               2
93455                      15207                               0
102308                     14536                               4
86201                      34115                               0

       Employment.Length
104069         10+ years
9162             5 years
93455          10+ years
102308           3 years
86201            3 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
72515             21725                       21725        16.29%   36 months
23214              5000                        5000        10.00%   60 months
86134             10300                       10300         8.90%   36 months
70024             14400                       14400        20.49%   36 months
31014             15000                       15000        16.49%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
72515         credit_card               29.11%    FL       MORTGAGE
23214                 car                9.28%    FL           RENT
86134  debt_consolidation               33.37%    GA       MORTGAGE
70024  debt_consolidation               18.84%    MO       MORTGAGE
31014         credit_card               14.92%    MA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
72515         9166.67    695-699                 15                     68397
23214         4000.00    735-739                  6                      3448
86134         2583.33    715-719                 19                     12475
70024         4166.67    660-664                  7                     10042
31014         6294.25    680-684                 11                     20270

       Inquiries.in.the.Last.6.Months Employment.Length
72515                               2         10+ years
23214                               0          < 1 year
86134                               0           7 years
70024                               3           9 years
31014                               1           3 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
89438             35000                       35000        19.72%   60 months
80444              7000                        7000        15.80%   36 months
34262             12500                       12500        15.96%   60 months
79308             18000                       18000        12.12%   36 months
3162               6000                        6000        11.89%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
89438         credit_card               22.38%    IL       MORTGAGE
80444  debt_consolidation               11.53%    FL       MORTGAGE
34262  debt_consolidation               13.87%    PA           RENT
79308  debt_consolidation               10.08%    CA           RENT
3162   debt_consolidation                9.77%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
89438        13333.33    690-694                 12                     46937
80444         3166.67    675-679                 11                      6658
34262         5300.00    695-699                  7                     11439
79308         6666.67    705-709                 13                     17773
3162          4166.67    695-699                 13                     15377

       Inquiries.in.the.Last.6.Months Employment.Length
89438                               0           3 years
80444                               2           3 years
34262                               3           5 years
79308                               0           7 years
3162                                1         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
42828             16000                       16000         8.90%   36 months
72220             35000                       34950        23.28%   60 months
51394             10000                       10000         6.62%   36 months
69651             21000                       21000        24.70%   60 months
54274              8000                        8000        12.12%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
42828         credit_card               14.85%    CA           RENT
72220  debt_consolidation               15.95%    OR       MORTGAGE
51394    home_improvement                3.16%    NY           RENT
69651         credit_card               25.87%    AK           RENT
54274    home_improvement                7.90%    NJ       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
42828         5750.00    725-729                  7                     14431
72220         8333.33    675-679                  8                     11229
51394        13166.67    735-739                 13                      5643
69651         9166.67    675-679                 25                     17811
54274         4166.67    705-709                  6                      7419

       Inquiries.in.the.Last.6.Months Employment.Length
42828                               0           6 years
72220                               1         10+ years
51394                               0           2 years
69651                               1           5 years
54274                               1               NaN
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
37228             33600                    32058.53        20.30%   60 months
2178              11050                    10878.55        14.74%   36 months
76450             16000                    16000.00        15.31%   36 months
37585             15000                    15000.00        14.65%   60 months
73523             12000                    12000.00        14.33%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
37228  debt_consolidation               13.56%    GA       MORTGAGE
2178   debt_consolidation               15.47%    CA           RENT
76450  debt_consolidation                  19%    CA       MORTGAGE
37585         credit_card               17.21%    NJ           RENT
73523  debt_consolidation               13.53%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
37228        20000.00    695-699                 12                     17285
2178          5250.00    675-679                 12                     27780
76450         7666.67    695-699                 16                     43692
37585         4583.33    730-734                  4                     13115
73523         8000.00    685-689                 13                     12968

       Inquiries.in.the.Last.6.Months Employment.Length
37228                               0           2 years
2178                                1          < 1 year
76450                               1         10+ years
37585                               1           8 years
73523                               1           3 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
103275              4000                     3975.00        14.96%
45094              12000                    12000.00        17.99%
18688              12000                    12000.00        10.36%
27095               7500                     7500.00         5.42%
14887              24000                    23568.65         7.88%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
103275   36 months               house                4.76%    PA
45094    36 months               other               19.89%    CA
18688    36 months  debt_consolidation               11.92%    PA
27095    36 months    home_improvement               22.26%    OH
14887    36 months         credit_card               14.41%    AZ

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
103275           RENT         1700.00    670-674                  4
45094            RENT         5129.00    660-664                  8
18688        MORTGAGE        10333.33    690-694                 16
27095        MORTGAGE         2583.33    785-789                 11
14887        MORTGAGE        11666.67    785-789                 10

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
103275                      2381                               5
45094                       8923                               0
18688                       8987                               0
27095                       2160                               0
14887                      33122                               0

       Employment.Length
103275          < 1 year
45094            5 years
18688            5 years
27095          10+ years
14887            4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
74945             16000                       16000        15.31%   36 months
48854             12200                       12200        21.48%   60 months
82729             12000                       12000        10.16%   36 months
89068             12000                       12000        15.31%   36 months
31343              9800                        9775         5.99%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
74945  debt_consolidation               19.92%    MA           RENT
48854         credit_card                9.12%    AK           RENT
82729  debt_consolidation               11.93%    CA           RENT
89068  debt_consolidation               25.86%    MA            OWN
31343  debt_consolidation               14.44%    AL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
74945         6000.00    690-694                 11                     10915
48854         6666.67    695-699                  9                     17282
82729         8054.50    710-714                 13                     14986
89068         3333.33    665-669                  9                     10310
31343         6666.67    765-769                  5                     11466

       Inquiries.in.the.Last.6.Months Employment.Length
74945                               1           7 years
48854                               0         10+ years
82729                               0         10+ years
89068                               0               NaN
31343                               0           3 years
CHUNK DF

       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
11258              7000                        7000        14.72%   36 months
32181             10000                       10000        11.71%   36 months
62270             10000                       10000        13.11%   36 months
29653             17000                       16975        11.99%   60 months
57430             18000                       17975        19.22%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
11258  debt_consolidation               11.39%    WI       MORTGAGE
32181              moving                2.18%    CA           RENT
62270         credit_card               19.38%    UT       MORTGAGE
29653  debt_consolidation               12.69%    NC       MORTGAGE
57430  debt_consolidation               16.04%    AZ       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
11258         6833.00    670-674                 11                      5537
32181         5500.00    720-724                  3                      5623
62270         4958.33    710-714                  9                     24598
29653         4666.67    745-749                 17                     11677
57430         4666.67    675-679                 14                     14878

       Inquiries.in.the.Last.6.Months Employment.Length
11258                               1           7 years
32181                               0           4 years
62270                               1           2 years
29653                               2         10+ years
57430                               3         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
840               15600                     6575.00        11.97%   36 months
1439              16750                     9445.58        12.41%   36 months
74632              7200                     7200.00        12.12%   36 months
30753              1500                     1500.00        12.99%   36 months
79198             13600                    13600.00        12.12%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
840    debt_consolidation                6.65%    CA       MORTGAGE
1439          credit_card               24.75%    FL           RENT
74632  debt_consolidation               18.61%    CA            OWN
30753               other               20.60%    MO       MORTGAGE
79198         credit_card               20.94%    WA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
840          15000.00    680-684                 14                     20237
1439          3750.00    720-724                  6                     28116
74632         3208.33    680-684                  8                      9849
30753         5000.00    690-694                 15                     38176
79198         5416.67    685-689                 15                     17117

       Inquiries.in.the.Last.6.Months Employment.Length
840                                 3           2 years
1439                                1         10+ years
74632                               0            1 year
30753                               1           4 years
79198                               0         10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
48489              30000                       30000        24.33%
98141              10000                       10000        17.77%
103353             10000                        9850        10.25%
37906              10000                       10000        11.71%
3178                7000                        6975        13.16%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
48489    60 months  debt_consolidation               11.24%    CA
98141    36 months  debt_consolidation               26.32%    CO
103353   36 months  debt_consolidation               13.98%    NJ
37906    36 months  debt_consolidation                5.98%    KS
3178     36 months                 car               22.32%    CA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
48489            RENT        11250.00    670-674                 12
98141            RENT         2500.00    680-684                  6
103353       MORTGAGE         5916.67    730-734                  8
37906        MORTGAGE         3746.58    695-699                  5
3178         MORTGAGE         3041.67    700-704                 13

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
48489                      41592                               0
98141                      17543                               1
103353                      6639                               4
37906                       9005                               0
3178                       15394                               1

       Employment.Length
48489            6 years
98141            7 years
103353            1 year
37906            2 years
3178            < 1 year
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
33208               4700                        4700         7.90%
32809              21200                       21200         9.91%
80071              15000                       14875        19.05%
22637               2800                        2800        14.17%
103450             15000                       14875        13.11%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
33208    36 months    renewable_energy               10.65%    OR
32809    36 months  debt_consolidation               25.23%    TX
80071    36 months  debt_consolidation               14.49%    CA
22637    36 months  debt_consolidation                   0%    MD
103450   36 months             wedding               13.75%    MI

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
33208            RENT         3416.67    760-764                  3
32809        MORTGAGE         7916.67    720-724                 18
80071            RENT         5000.00    665-669                 12
22637        MORTGAGE         3458.00    680-684                  3
103450       MORTGAGE         4166.67    700-704                 11

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
33208                       2297                               0
32809                       7252                               0
80071                      10679                               1
22637                          0                               2
103450                      8014                               4

       Employment.Length
33208          10+ years
32809             1 year
80071           < 1 year
22637          10+ years
103450           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
91807             24925                       24925        11.14%   60 months
34367             15000                       15000        11.71%   36 months
33046              9100                        9100         6.03%   36 months
79981             12000                       11950        12.12%   36 months
63703             16250                       16250        23.28%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
91807  debt_consolidation               24.80%    IN       MORTGAGE
34367  debt_consolidation               20.70%    NY            OWN
33046               house               14.66%    PA       MORTGAGE
79981         credit_card               22.98%    NY           RENT
63703               other               11.67%    CA            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
91807         6250.00    735-739                 20                     19245
34367         5416.67    705-709                 20                     25464
33046         3500.00    780-784                 18                      4315
79981         5416.67    690-694                  7                     13234
63703         4300.00    660-664                 10                     16444

       Inquiries.in.the.Last.6.Months Employment.Length
91807                               0           4 years
34367                               0           4 years
33046                               1         10+ years
79981                               0           4 years
63703                               0               NaN
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
86783             25000                    25000.00        18.49%   60 months
90684             30000                    30000.00        15.31%   36 months
1316               4800                      544.89        11.59%   36 months
54430              3000                     3000.00        12.12%   36 months
4691              17000                    16650.00        12.18%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
86783  debt_consolidation               10.08%    CA           RENT
90684  debt_consolidation                7.25%    CA       MORTGAGE
1316          credit_card               13.19%    MD       MORTGAGE
54430      major_purchase               14.93%    FL           RENT
4691   debt_consolidation               15.80%    GA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
86783         7666.67    715-719                 12                     14631
90684         9000.00    660-664                  8                     19430
1316          7083.33    680-684                 21                     44198
54430         6333.33    680-684                 13                      8682
4691          5292.00    715-719                  9                     21441

       Inquiries.in.the.Last.6.Months Employment.Length
86783                               2           3 years
90684                               0           9 years
1316                                0         10+ years
54430                               0           4 years
4691                                1         10+ years
CHUNK DF

       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
8716              12000                       12000        17.56%   36 months
88420             27575                       27575        19.05%   60 months
73164              5000                        5000         8.90%   36 months
59593              9000                        9000        13.11%   36 months
12157             12000                       11650        13.23%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
8716   debt_consolidation               21.81%    TX       MORTGAGE
88420    home_improvement               10.61%    MA       MORTGAGE
73164         credit_card               21.47%    CA           RENT
59593  debt_consolidation               12.67%    IL           RENT
12157                 car               20.76%    FL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
8716          5833.33    680-684                 10                     11074
88420        13125.00    670-674                 16                     25980
73164         3000.00    715-719                  4                     12841
59593         3466.67    680-684                 13                     11103
12157         5683.00    730-734                 15                     21583

       Inquiries.in.the.Last.6.Months Employment.Length
8716                                3           2 years
88420                               1           6 years
73164                               0           3 years
59593                               0           7 years
12157                               2           3 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
57551             16500                    16500.00         7.90%   36 months
2768              18000                    13003.66        11.89%   36 months
34282             30000                    29975.00        18.64%   60 months
55478             30000                    29975.00        20.50%   60 months
3362              10000                     7945.17        13.16%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
57551  debt_consolidation               27.23%    NY           RENT
2768   debt_consolidation               22.30%    OH       MORTGAGE
34282  debt_consolidation                4.47%    CA       MORTGAGE
55478  debt_consolidation               10.80%    NJ           RENT
3362   debt_consolidation               24.47%    MN           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
57551         4583.33    760-764                 11                      8176
2768          6000.00    745-749                 16                     23518
34282         5833.33    720-724                  7                      9249
55478         7083.33    705-709                 12                      9121
3362          3583.33    680-684                 16                     10193

       Inquiries.in.the.Last.6.Months Employment.Length
57551                               1            1 year
2768                                2           9 years
34282                               0           7 years
55478                               0         10+ years
3362                                0           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
88001             12000                       12000        15.80%   36 months
74388             10000                       10000        10.16%   36 months
46215              3800                        3800        14.65%   36 months
98493             18775                       18775        10.16%   36 months
79371              7200                        7200        17.27%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
88001         credit_card                9.33%    TX       MORTGAGE
74388               other               13.11%    NY           RENT
46215  debt_consolidation               22.58%    CA           RENT
98493  debt_consolidation               25.33%    AZ       MORTGAGE
79371  debt_consolidation               20.48%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
88001        10000.00    675-679                 11                     22312
74388         4285.50    710-714                 17                     11724
46215         3666.67    670-674                 11                     13883
98493         5850.00    715-719                 20                     27573
79371         2500.00    670-674                 14                      4539

       Inquiries.in.the.Last.6.Months Employment.Length
88001                               1         10+ years
74388                               0          < 1 year
46215                               1          < 1 year
98493                               0           3 years
79371                               1          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
31004             25450                       25425        13.99%   60 months
14434              6000                        5975        11.12%   36 months
28732              8000                        8000         5.99%   36 months
41109             10000                       10000        14.27%   36 months
41813              4800                        4800        14.65%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
31004         credit_card               26.38%    NC           RENT
14434      small_business               20.59%    NY            OWN
28732    home_improvement                9.59%    OH       MORTGAGE
41109  debt_consolidation               16.61%    OH       MORTGAGE
41813               other               22.38%    CO           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
31004         4416.67    720-724                 13                     31828
14434         5750.00    705-709                 18                     21440
28732         7250.00    760-764                  6                      4938
41109         4083.33    675-679                 15                      6418
41813         3333.00    695-699                  7                      4147

       Inquiries.in.the.Last.6.Months Employment.Length
31004                               2           3 years
14434                               0         10+ years
28732                               0         10+ years
41109                               2           6 years
41813                               2           3 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
75793              7000                        7000        12.12%   36 months
87367              9975                        9975         7.90%   36 months
59735             30075                       30050        22.95%   60 months
28642             10000                       10000        10.59%   36 months
80359             30000                       30000        12.12%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
75793  debt_consolidation               12.49%    MA           RENT
87367  debt_consolidation                7.13%    OH       MORTGAGE
59735  debt_consolidation               21.54%    WI       MORTGAGE
28642      major_purchase               17.08%    KY       MORTGAGE
80359  debt_consolidation               10.97%    MA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
75793         5166.67    675-679                 12                     10513
87367         5000.00    720-724                 17                      9773
59735         5083.33    680-684                 17                     20976
28642         8333.33    710-714                  9                     92399
80359         5833.33    750-754                  8                     10787

       Inquiries.in.the.Last.6.Months Employment.Length
75793                               0           6 years
87367                               2           5 years
59735                               1           4 years
28642                               0         10+ years
80359                               0         10+ years
CHUNK DF

       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
96479             16000                    16000.00        17.27%   60 months
66710             21200                    21175.00        18.49%   36 months
12150              6500                     6500.00         7.51%   36 months
59160             19000                    19000.00         9.76%   36 months
2148               6500                     5329.76        11.89%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
96479  debt_consolidation                8.44%    NY           RENT
66710         credit_card               30.62%    CA           RENT
12150               other                1.50%    KY       MORTGAGE
59160  debt_consolidation               16.43%    FL           RENT
2148   debt_consolidation                8.57%    NJ           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
96479         4666.67    695-699                  9                     15200
66710         4500.00    675-679                 15                     17250
12150         3208.33    805-809                  5                       269
59160         3833.33    725-729                 10                     22033
2148          1750.00    720-724                  8                      9317

       Inquiries.in.the.Last.6.Months Employment.Length
96479                               0         10+ years
66710                               0         10+ years
12150                               0         10+ years
59160                               1           7 years
2148                                1           6 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
100595              1500                        1500        21.49%
74460              24000                       24000        23.63%
81422              20000                       20000        18.75%
39548              10000                       10000        13.49%
338                10000                        6350         9.20%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
100595   36 months               other               13.59%    TX
74460    60 months  debt_consolidation               25.07%    OK
81422    36 months  debt_consolidation               17.36%    CA
39548    36 months         credit_card                5.88%    CA
338      36 months         credit_card                0.33%    NJ

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
100595           RENT         3583.33    685-689                  7
74460        MORTGAGE        11666.67    660-664                 21
81422            RENT         8333.33    675-679                  9
39548        MORTGAGE         4166.67    695-699                  5
338              RENT        13750.00    730-734                  5

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
100595                      4747                               1
74460                       9733                               3
81422                      31870                               2
39548                       8899                               2
338                           45                               0

       Employment.Length
100595          < 1 year
74460          10+ years
81422           < 1 year
39548          10+ years
338              2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
71492             10000                       10000        11.14%   60 months
39989              9000                        9000        19.91%   60 months
7558               4200                        4200        11.36%   36 months
77844              6625                        6625        17.77%   36 months
36497             15000                       15000        15.96%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
71492  debt_consolidation               15.82%    WI           RENT
39989  debt_consolidation               15.74%    SC       MORTGAGE
7558   debt_consolidation                7.49%    TX       MORTGAGE
77844  debt_consolidation               33.43%    IL           RENT
36497               house                4.32%    AL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
71492         3250.00    795-799                  5                     11319
39989         4333.33    670-674                  9                      5015
7558          2750.00    685-689                 12                      4898
77844         2916.67    665-669                 13                     11369
36497         8833.33    680-684                  6                       113

       Inquiries.in.the.Last.6.Months Employment.Length
71492                               1           6 years
39989                               0           6 years
7558                                1           5 years
77844                               0            1 year
36497                               3           8 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
33013               3825                        3825        14.27%
15538               4200                        4200         9.25%
101027             17325                       17325         8.90%
79542              25000                       25000        18.49%
25800               8000                        7925        17.49%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
33013    36 months  debt_consolidation               24.68%    CA
15538    36 months    home_improvement               15.83%    WA
101027   36 months         credit_card               18.28%    IL
79542    60 months  debt_consolidation               27.56%    VA
25800    36 months  debt_consolidation               18.72%    CA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
33013            RENT         2495.83    670-674                  8
15538        MORTGAGE         7000.00    700-704                  8
101027       MORTGAGE         3333.33    725-729                 17
79542        MORTGAGE         8606.56    720-724                 11
25800            RENT         2083.33    695-699                  4

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
33013                       4560                               1
15538                       7167                               0
101027                     11327                               0
79542                      15210                               3
25800                      20802                               0

       Employment.Length
33013            4 years
15538          10+ years
101027           9 years
79542            5 years
25800          10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
87287             12000                       12000         6.62%   36 months
33228              5000                        5000         6.03%   36 months
27391             14000                       14000         9.99%   36 months
49367             30000                       30000        22.78%   36 months
93501             10750                       10750         8.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
87287  debt_consolidation               12.36%    NY           RENT
33228         credit_card               15.74%    TX           RENT
27391  debt_consolidation               16.84%    MD           RENT
49367  debt_consolidation               17.90%    IL           RENT
93501  debt_consolidation                6.04%    FL            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
87287         4416.67    765-769                 12                      4117
33228         3125.00    765-769                 11                      4557
27391         4583.33    750-754                  4                        25
49367         8791.67    660-664                 13                     28012
93501         2750.00    765-769                  5                      4693

       Inquiries.in.the.Last.6.Months Employment.Length
87287                               1           3 years
33228                               0           6 years
27391                               0           2 years
49367                               2           6 years
93501                               0           5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
32119             24000                    23772.15        12.99%   60 months
70177             10000                    10000.00        15.31%   36 months
77324             16550                    16550.00        17.27%   36 months
31805              3300                     3300.00         5.99%   36 months
84318              8000                     8000.00        14.09%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
32119    home_improvement               15.54%    NC       MORTGAGE
70177  debt_consolidation               19.98%    OK       MORTGAGE
77324  debt_consolidation               32.56%    MN       MORTGAGE
31805    home_improvement               11.04%    NC       MORTGAGE
84318  debt_consolidation                  21%    NJ            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
32119         8333.33    740-744                 24                     56984
70177         6041.67    670-674                  7                      6458
77324         4333.33    675-679                 15                     12163
31805         2500.00    740-744                  9                     11144
84318         3500.00    675-679                 12                      7498

       Inquiries.in.the.Last.6.Months Employment.Length
32119                               0               NaN
70177                               0            1 year
77324                               1         10+ years
31805                               0           2 years
84318                               0            1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
27415             35000                    32117.00        16.89%   60 months
40866             14000                    14000.00        10.65%   36 months
91596             18000                    18000.00         8.90%   60 months
25235             10000                     9999.71        13.49%   60 months
32747              3600                     3600.00        16.77%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
27415  debt_consolidation               16.84%    LA           RENT
40866  debt_consolidation               24.53%    WA           RENT
91596  debt_consolidation                5.30%    OK       MORTGAGE
25235               other               17.80%    IL           RENT
32747            vacation               13.45%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
27415         5416.67    745-749                  5                     39934
40866         3200.00    720-724                  7                     21214
91596         8333.33    755-759                  8                      5211
25235         2500.00    720-724                  8                      3822
32747         8750.00    670-674                  8                     51176

       Inquiries.in.the.Last.6.Months Employment.Length
27415                               0            1 year
40866                               1           5 years
91596                               1           6 years
25235                               2           8 years
32747                               1            1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
17370             12000                    10928.83         5.79%   36 months
71470              4200                     4200.00        20.49%   60 months
5062               4200                     4200.00        14.61%   36 months
28205             11200                    11200.00        21.74%   60 months
28976             15000                    15000.00        15.99%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
17370    home_improvement                2.25%    GA       MORTGAGE
71470               other               28.80%    NV           RENT
5062          educational               15.28%    CA           RENT
28205  debt_consolidation                6.30%    NY           RENT
28976  debt_consolidation                7.68%    VA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
17370         8000.00    765-769                 12                      5193
71470         3166.67    660-664                 16                      7728
5062          6333.33    665-669                 11                     15578
28205         5583.33    660-664                 12                      7952
28976         4583.00    675-679                 10                     15821

       Inquiries.in.the.Last.6.Months Employment.Length
17370                               0           2 years
71470                               3            1 year
5062                                0            1 year
28205                               2         10+ years
28976                               0           2 years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
25084             12100                       12100        11.99%   36 months
14156             14000                       13975        13.98%   60 months
25665              4900                        4900         5.99%   36 months
83794             19200                       19200        12.12%   36 months
52698              8500                        8500         9.76%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
25084      small_business               24.78%    TX           RENT
14156            vacation               10.20%    GA           RENT
25665    home_improvement                6.64%    VA       MORTGAGE
83794         credit_card               29.58%    TX            OWN
52698  debt_consolidation                6.58%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
25084         8750.00    755-759                 10                      1642
14156         3145.83    715-719                  8                      3449
25665         2666.67    770-774                  5                      3455
83794         3583.33    715-719                 11                     29797
52698         5333.33    705-709                 10                      3432

       Inquiries.in.the.Last.6.Months Employment.Length
25084                               1            1 year
14156                               0          < 1 year
25665                               1           4 years
83794                               0           8 years
52698                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
7255              12000                    11875.00         7.88%   36 months
44426             21000                    21000.00        19.22%   60 months
24464             35000                    24868.47        17.99%   60 months
86039             10000                    10000.00        12.12%   36 months
23944             10000                     9975.00        17.99%   60 months

           Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
7255        educational               14.79%    CA           RENT
44426       credit_card               13.87%    IL       MORTGAGE
24464  home_improvement                6.39%    NH       MORTGAGE
86039       credit_card               15.60%    MI            OWN
23944               car                8.93%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
7255          3333.33    760-764                  8                      1357
44426         6000.00    680-684                 10                     17008
24464        14000.00    715-719                  7                      3936
86039         3833.33    685-689                  6                      4734
23944         4300.00    685-689                  4                        37

       Inquiries.in.the.Last.6.Months Employment.Length
7255                                0           2 years
44426                               1         10+ years
24464                               0         10+ years
86039                               0         10+ years
23944                               1         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
86982             12000                     12000.0        18.49%   36 months
28231             12000                     10325.0        11.99%   60 months
13795              4000                      3945.6         6.76%   36 months
70193             20000                     20000.0        19.72%   60 months
47862             24375                     24375.0        13.99%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
86982  debt_consolidation                9.44%    CA            OWN
28231  debt_consolidation                6.79%    CA           RENT
13795              moving               23.52%    KY           RENT
70193  debt_consolidation               24.78%    GA       MORTGAGE
47862  debt_consolidation               13.64%    PA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
86982         5746.00    660-664                 12                      9561
28231         4166.67    720-724                 11                      5934
13795         3350.00    755-759                  6                       627
70193         5416.67    675-679                 12                     33166
47862        11500.00    695-699                 16                     35461

       Inquiries.in.the.Last.6.Months Employment.Length
86982                               0           4 years
28231                               0           4 years
13795                               1            1 year
70193                               0         10+ years
47862                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
1336               7500                     4538.17         9.07%   36 months
51954              9550                     9550.00        10.74%   36 months
49851             25000                    24975.00        20.50%   60 months
5468               3600                     3600.00        12.87%   36 months
21651             10000                    10000.00        11.11%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
1336                other                4.86%    FL           RENT
51954  debt_consolidation               14.33%    AL       MORTGAGE
49851  debt_consolidation                9.59%    OH           RENT
5468   debt_consolidation                1.58%    NJ       MORTGAGE
21651  debt_consolidation               20.15%    NH           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
1336          5000.00    750-754                 10                      8575
51954         4000.00    700-704                  8                      9128
49851         5077.58    690-694                  6                     17946
5468          6333.00    690-694                  6                     12135
21651         6083.33    700-704                  3                       924

       Inquiries.in.the.Last.6.Months Employment.Length
1336                                1           8 years
51954                               0           3 years
49851                               0         10+ years
5468                                3          < 1 year
21651                               0          < 1 year
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
59355              20000                    20000.00         6.62%
52708              35000                    35000.00        10.74%
45529              12000                    12000.00        12.12%
102356              5600                     2025.01        14.82%
60190              20000                    20000.00         7.90%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
59355    36 months  debt_consolidation               11.12%    CA
52708    36 months    home_improvement                9.30%    PA
45529    36 months         credit_card                7.24%    NY
102356   36 months               other               20.60%    CA
60190    36 months  debt_consolidation                8.38%    CO

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
59355            RENT        10333.33    790-794                  8
52708        MORTGAGE         8300.00    740-744                  7
45529        MORTGAGE        10416.67    710-714                 10
102356           RENT         6083.33    655-659                  7
60190        MORTGAGE        15000.00    750-754                 11

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
59355                      12632                               0
52708                       4421                               1
45529                      31489                               1
102356                      2166                               2
60190                      14621                               2

       Employment.Length
59355            6 years
52708          10+ years
45529            2 years
102356           2 years
60190             1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
91073             18000                       18000        10.16%   36 months
13378              8000                        7575         7.51%   36 months
52665              4000                        4000         9.76%   36 months
33010              6000                        5975         7.90%   36 months
60968             15000                       15000        17.77%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
91073  debt_consolidation               26.08%    SC       MORTGAGE
13378  debt_consolidation                4.40%    TX       MORTGAGE
52665  debt_consolidation               15.89%    CA       MORTGAGE
33010      small_business               18.86%    PA           RENT
60968  debt_consolidation               13.34%    FL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
91073         5925.00    710-714                 14                     23378
13378         2430.00    765-769                  5                      2783
52665         4166.67    705-709                 17                     13745
33010         2100.00    715-719                  9                      4847
60968         4333.33    670-674                  9                     17264

       Inquiries.in.the.Last.6.Months Employment.Length
91073                               0         10+ years
13378                               0           2 years
52665                               1         10+ years
33010                               0           3 years
60968                               0         10+ years
CHUNK DF

       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
58987             20950                       20950        13.67%   60 months
50673             10625                       10625         7.90%   36 months
68284              9000                        9000        10.16%   60 months
4211              20000                       11800        11.48%   36 months
82804             25800                       25800        13.11%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
58987      major_purchase                8.90%    IL           RENT
50673  debt_consolidation               22.35%    OR       MORTGAGE
68284               other               14.77%    AZ           RENT
4211   debt_consolidation               23.52%    AL       MORTGAGE
82804         credit_card               18.99%    VT           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
58987         6666.67    745-749                  7                      5680
50673         3333.33    725-729                 15                     15946
68284         3500.00    755-759                  5                      3135
4211          4166.67    745-749                 11                     24123
82804         4833.33    715-719                  7                     31427

       Inquiries.in.the.Last.6.Months Employment.Length
58987                               1            1 year
50673                               0         10+ years
68284                               0           2 years
4211                                1          < 1 year
82804                               0           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
42421             10000                    10000.00         6.62%   36 months
3025              12000                     7595.31        11.58%   36 months
65055             18650                    18650.00        20.49%   36 months
76355             10000                    10000.00        12.12%   36 months
33155             14000                    14000.00        16.77%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
42421  debt_consolidation               11.45%    CA            OWN
3025       small_business               11.07%    CT           RENT
65055  debt_consolidation               20.07%    OH       MORTGAGE
76355         credit_card               16.93%    CO       MORTGAGE
33155         credit_card                9.67%    FL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
42421         4166.67    760-764                 20                     10385
3025          3333.33    715-719                  7                     17495
65055         4833.33    660-664                 12                     17740
76355         3816.67    710-714                  8                     10830
33155        12083.33    670-674                 13                     28318

       Inquiries.in.the.Last.6.Months Employment.Length
42421                               1           6 years
3025                                0            1 year
65055                               0         10+ years
76355                               2           7 years
33155                               0          < 1 year
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
72641              14000                    14000.00        14.09%
104001             14400                    13714.83        17.56%
69437               8000                     8000.00        14.33%
5511               12000                    11925.00        11.83%
62057              24375                    24375.00        13.11%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
72641    36 months      small_business               27.50%    CA
104001   60 months  debt_consolidation                7.06%    NY
69437    36 months  debt_consolidation               14.74%    CA
5511     36 months              moving               15.88%    VA
62057    36 months  debt_consolidation               10.86%    NV

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
72641            RENT         9166.67    695-699                 17
104001           RENT         5000.00    670-674                  6
69437            RENT         3108.00    690-694                  3
5511             RENT        10250.00    720-724                 15
62057             OWN        10416.67    705-709                 11

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
72641                      18813                               3
104001                       715                               4
69437                       3072                               0
5511                       46336                               2
62057                      19981                               0

       Employment.Length
72641            8 years
104001           3 years
69437            8 years
5511             5 years
62057            6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
33008              3500                        3500         7.90%   36 months
45527              7900                        7900        13.67%   36 months
78288             10000                       10000        12.12%   36 months
32628             10400                       10375        17.58%   60 months
9708               7500                        7450         7.14%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
33008               other               22.04%    VA       MORTGAGE
45527  debt_consolidation                8.40%    CA           RENT
78288  debt_consolidation               19.62%    CA           RENT
32628      small_business                8.93%    CA           RENT
9708   debt_consolidation                8.61%    KY       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
33008         7247.00    710-714                 11                      9592
45527         3000.00    675-679                  5                      8990
78288         3640.00    695-699                 11                     13124
32628         7110.42    725-729                  8                       856
9708          2916.67    755-759                  6                      7962

       Inquiries.in.the.Last.6.Months Employment.Length
33008                               0          < 1 year
45527                               0           2 years
78288                               0         10+ years
32628                               0         10+ years
9708                                0           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
66199             18800                       18800        14.33%   60 months
62657             21000                       21000        13.11%   36 months
54961              8500                        8500         6.62%   36 months
41326             13200                       13200        11.71%   36 months
57425              3000                        3000        19.99%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
66199  debt_consolidation               30.96%    AL           RENT
62657  debt_consolidation               18.44%    VA       MORTGAGE
54961                 car                7.24%    CA            OWN
41326         credit_card               15.74%    NY           RENT
57425               other               19.63%    VA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
66199         5000.00    720-724                 13                     16397
62657         7916.67    695-699                 10                      9734
54961         6300.00    750-754                 13                      9769
41326         3791.67    705-709                 10                     16187
57425         4416.67    710-714                  4                         0

       Inquiries.in.the.Last.6.Months Employment.Length
66199                               0           8 years
62657                               0           7 years
54961                               1           5 years
41326                               1           5 years
57425                               1           5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
85229             19200                       19200        22.47%   60 months
36931             13600                       13600        18.64%   60 months
12114              6000                        6000         7.88%   36 months
57120             22000                       22000        14.65%   60 months
85883             12000                       12000        15.31%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
85229         credit_card               10.39%    AZ           RENT
36931         credit_card               12.85%    MN           RENT
12114            vacation                9.60%    PA       MORTGAGE
57120  debt_consolidation               29.26%    NC       MORTGAGE
85883  debt_consolidation               13.80%    TX       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
85229         5666.67    670-674                  5                     17783
36931         5651.33    675-679                 13                     24383
12114         5500.00    730-734                  6                       790
57120         3912.00    705-709                  8                     21633
85883         3333.33    665-669                 10                     16181

       Inquiries.in.the.Last.6.Months Employment.Length
85229                               0          < 1 year
36931                               0         10+ years
12114                               1           3 years
57120                               0         10+ years
85883                               0         10+ years
CHUNK DF

       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
28326              5000                        5000        18.39%   36 months
74206             31050                       30750         7.90%   36 months
43999             10000                       10000         7.90%   36 months
87114             10000                       10000        14.09%   36 months
41413             13250                       13250         7.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
28326            vacation               13.71%    NJ           RENT
74206  debt_consolidation               18.82%    GA       MORTGAGE
43999      major_purchase               12.80%    NJ           RENT
87114  debt_consolidation               21.45%    CA           RENT
41413  debt_consolidation               22.64%    CO           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
28326         8125.00    675-679                  5                     29602
74206         6500.00    770-774                 15                     71549
43999         6666.67    730-734                 11                      9261
87114         3750.00    700-704                  4                     18621
41413         2500.00    740-744                  7                     12957

       Inquiries.in.the.Last.6.Months Employment.Length
28326                               0         10+ years
74206                               0           9 years
43999                               0            1 year
87114                               0         10+ years
41413                               0          < 1 year
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
43623               5000                        5000        14.27%
89511              14675                       14675        13.11%
22315               7000                        6875        10.00%
100288              6000                        6000        17.77%
43260              20000                       20000        12.69%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
43623    36 months  debt_consolidation               18.41%    CA
89511    36 months  debt_consolidation               24.74%    TX
22315    36 months    home_improvement                1.68%    CO
100288   36 months         credit_card               32.76%    MI
43260    60 months  debt_consolidation               17.96%    RI

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
43623            RENT         5208.33    695-699                  9
89511            RENT         3166.67    710-714                 14
22315            RENT         2375.00    745-749                  3
100288            OWN         1666.67    665-669                 12
43260        MORTGAGE         4500.00    735-739                 13

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
43623                      18055                               1
89511                       5727                               0
22315                        922                               0
100288                     15055                               2
43260                      22946                               1

       Employment.Length
43623            9 years
89511           < 1 year
22315           < 1 year
100288          < 1 year
43260          10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
76173              7000                        7000        12.12%   36 months
88026              1500                        1500        12.12%   36 months
83857             35000                       35000        18.49%   36 months
46337             20000                       20000        18.25%   60 months
34144             21000                       21000        14.27%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
76173  debt_consolidation               31.79%    SC       MORTGAGE
88026               other               15.37%    CA           RENT
83857  debt_consolidation               16.33%    NY           RENT
46337         credit_card               12.90%    PA            OWN
34144  debt_consolidation               11.27%    GA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
76173         3916.67    695-699                  9                     11648
88026         3625.00    695-699                  9                     11346
83857        11000.00    705-709                 15                     13766
46337         6666.67    695-699                 17                      8039
34144         5333.33    710-714                  8                     19431

       Inquiries.in.the.Last.6.Months Employment.Length
76173                               3         10+ years
88026                               1           5 years
83857                               1               NaN
46337                               1           6 years
34144                               0           8 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
53780              12500                       12475         6.03%
101800             25000                        2125        15.01%
17016               9600                        9600        14.46%
9639                8100                        8100        13.85%
42760              15000                       15000        14.65%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
53780    36 months                 car               14.82%    FL
101800   36 months  debt_consolidation               24.59%    GA
17016    60 months  debt_consolidation               10.27%    DE
9639     36 months  debt_consolidation               17.63%    FL
42760    36 months  debt_consolidation               20.07%    MI

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
53780            RENT         4944.92    755-759                 11
101800       MORTGAGE        15416.67    695-699                 24
17016            RENT         5500.00    680-684                  8
9639             RENT         4600.00    675-679                  9
42760        MORTGAGE         3666.67    690-694                 11

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
53780                       6014                               0
101800                    245886                               7
17016                       8359                               2
9639                        2963                               0
42760                      13843                               1

       Employment.Length
53780            2 years
101800           2 years
17016            3 years
9639             3 years
42760            5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
18362             15000                       14950        16.32%   60 months
98619             11000                       11000        11.14%   36 months
19598              9600                        9600        14.17%   36 months
94218             25000                       25000        13.11%   36 months
83646             14550                       14550        13.11%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
18362  debt_consolidation                7.53%    MA       MORTGAGE
98619  debt_consolidation               16.57%    NJ       MORTGAGE
19598         credit_card               18.61%    NY            OWN
94218  debt_consolidation               18.52%    CA           RENT
83646  debt_consolidation               21.34%    WA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
18362        14000.00    685-689                 14                      5469
98619         5000.00    695-699                 17                      8734
19598         5416.67    670-674                 21                     16278
94218         5000.00    775-779                 11                      4345
83646         4583.33    685-689                  7                     20141

       Inquiries.in.the.Last.6.Months Employment.Length
18362                               4           5 years
98619                               0           3 years
19598                               1           8 years
94218                               3           2 years
83646                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
56385             10000                       10000        10.74%   36 months
94994             24000                       24000        11.14%   60 months
38492             20000                       19950        10.65%   60 months
11868             25000                       24975        11.49%   36 months
71057              7200                        7200        17.77%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
56385  debt_consolidation               17.88%    CA           RENT
94994  debt_consolidation               20.98%    DC            OWN
38492  debt_consolidation               24.02%    KS            OWN
11868         credit_card               11.78%    CA       MORTGAGE
71057    home_improvement                2.18%    NC       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
56385            2500    700-704                  6                     11120
94994            8000    705-709                  9                     20247
38492            5200    745-749                 11                     15709
11868           25000    725-729                 14                     37719
71057            3250    670-674                  4                      1301

       Inquiries.in.the.Last.6.Months Employment.Length
56385                               0           3 years
94994                               0           2 years
38492                               0         10+ years
11868                               0           7 years
71057                               1           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
92024              5000                        5000        14.33%   36 months
30137             20000                       19975        16.49%   60 months
26323              5600                        5600         7.91%   36 months
48554             20000                       20000         7.90%   36 months
76933              6000                        6000         8.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
92024  debt_consolidation               11.12%    FL           RENT
30137  debt_consolidation               16.16%    MN       MORTGAGE
26323      major_purchase               20.21%    CA           RENT
48554         credit_card                1.30%    IL           RENT
76933               other               17.16%    NY       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
92024         2916.67    675-679                  5                      4114
30137         5000.00    710-714                 13                     20337
26323         3166.67    730-734                 12                     32987
48554        10400.00    750-754                  5                      6969
76933        12500.00    715-719                 12                     60368

       Inquiries.in.the.Last.6.Months Employment.Length
92024                               0         10+ years
30137                               3         10+ years
26323                               0           6 years
48554                               0            1 year
76933                               2          < 1 year
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
29775               3200                        3200        17.49%
100072             24375                       24375        14.09%
78792              25225                       25225        12.12%
13110              20000                       19900        15.95%
74037              30225                       30225        17.77%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
29775    60 months  debt_consolidation                7.90%    CA
100072   36 months         credit_card               26.36%    MT
78792    36 months  debt_consolidation               30.77%    CA
13110    60 months  debt_consolidation               12.20%    VA
74037    36 months         credit_card               28.15%    TX

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
29775            RENT         2609.00    670-674                  9
100072       MORTGAGE         4583.33    710-714                 11
78792        MORTGAGE         6500.00    715-719                  8
13110        MORTGAGE         6666.67    700-704                 12
74037        MORTGAGE         8333.33    710-714                 21

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
29775                       5382                               0
100072                     27379                               3
78792                      11736                               0
13110                      20744                               1
74037                      28631                               0

       Employment.Length
29775            3 years
100072           4 years
78792          10+ years
13110            5 years
74037          10+ years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
5465               7000                     7000.00         7.40%   36 months
23345             35000                    14869.55        15.65%   60 months
59271              7575                     7575.00         9.76%   36 months
54197             15000                    15000.00        13.11%   36 months
45525             24000                    24000.00        15.81%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
5465          credit_card                8.89%    AZ       MORTGAGE
23345    home_improvement               26.19%    FL       MORTGAGE
59271  debt_consolidation               10.99%    TX           RENT
54197               other               16.55%    PA           RENT
45525      small_business                0.62%    NY            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
5465          3352.00    770-774                 14                     14014
23345         6308.75    735-739                 14                     34883
59271         2375.00    725-729                  3                      5640
54197         4166.67    695-699                 11                      9066
45525        10000.00    725-729                  8                         0

       Inquiries.in.the.Last.6.Months Employment.Length
5465                                2          < 1 year
23345                               0         10+ years
59271                               0           3 years
54197                               0           2 years
45525                               3         10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
94545              19800                       19775        15.31%
10785               9250                        6475        10.75%
42562               6000                        6000        15.96%
70606               3500                        3500        15.31%
102226              7200                        5675        14.82%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
94545    60 months  debt_consolidation               15.03%    IL
10785    60 months      small_business                3.41%    CA
42562    36 months  debt_consolidation                6.38%    NC
70606    36 months               other                7.14%    NY
102226   36 months  debt_consolidation                9.67%    CA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
94545        MORTGAGE         6666.67    675-679                 10
10785        MORTGAGE         8500.00    755-759                  6
42562        MORTGAGE         6916.67    660-664                  7
70606            RENT         5000.00    685-689                  2
102226           RENT         4500.00    645-649                  7

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
94545                      46879                               3
10785                     105060                               0
42562                       6309                               1
70606                      14064                               0
102226                      6572                               1

       Employment.Length
94545            6 years
10785            4 years
42562            6 years
70606             1 year
102226           6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
56056             12000                       12000         6.03%   36 months
53245             20000                       20000         7.90%   36 months
71531              3900                        3900        12.12%   36 months
45828             16000                       16000        19.22%   60 months
28189             15000                       15000        15.99%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
56056             medical               22.57%    MT       MORTGAGE
53245         credit_card               13.59%    CA           RENT
71531  debt_consolidation                7.55%    HI       MORTGAGE
45828         credit_card               21.28%    NC           RENT
28189               other               11.34%    SC       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
56056         7500.00    760-764                  8                      5116
53245         7258.33    730-734                  5                     14268
71531         2583.33    685-689                  8                      3724
45828         3416.67    680-684                  8                     26060
28189         8583.33    675-679                  6                      3844

       Inquiries.in.the.Last.6.Months Employment.Length
56056                               0         10+ years
53245                               0           9 years
71531                               0            1 year
45828                               1         10+ years
28189                               2           7 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
55542             28200                       28200        20.50%   60 months
26424             15000                       14975        13.49%   36 months
27371              7400                        7400        13.99%   36 months
24445             15000                       15000        10.59%   36 months
25133              4500                        4500         5.99%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
55542  debt_consolidation               15.60%    NY       MORTGAGE
26424      small_business                3.44%    AK           RENT
27371               other               20.52%    NY           RENT
24445  debt_consolidation               14.66%    MA           RENT
25133  debt_consolidation               21.46%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
55542         4833.33    695-699                 18                     27158
26424         6666.67    705-709                  3                      2698
27371         4166.25    675-679                 17                      6653
24445         5150.00    730-734                  9                      5116
25133         3644.83    765-769                  8                      1058

       Inquiries.in.the.Last.6.Months Employment.Length
55542                               0           9 years
26424                               0          < 1 year
27371                               1               NaN
24445                               2           2 years
25133                               2          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
72072              3000                        3000        14.09%   36 months
43844              9000                        9000        14.27%   36 months
60894              4000                        4000         8.90%   36 months
59206             10000                       10000        17.27%   36 months
24426              6400                        6400        15.99%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
72072  debt_consolidation               12.36%    NC           RENT
43844  debt_consolidation               18.74%    TX           RENT
60894         credit_card               24.11%    FL           RENT
59206         credit_card               21.84%    MI       MORTGAGE
24426  debt_consolidation               24.43%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
72072         4789.33    680-684                  9                      1353
43844         5833.33    675-679                 13                     11637
60894         4583.33    705-709                 17                     11351
59206         2916.67    665-669                 18                     21245
24426         3500.00    690-694                  9                       973

       Inquiries.in.the.Last.6.Months Employment.Length
72072                               2         10+ years
43844                               3           8 years
60894                               0            1 year
59206                               0         10+ years
24426                               0           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
91173              4325                        4325        10.16%   36 months
56404             12000                       12000        13.11%   36 months
75634             10000                       10000        15.31%   36 months
93296             12000                       12000        10.16%   36 months
69885              6000                        6000        12.12%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
91173  debt_consolidation                1.79%    GA       MORTGAGE
56404  debt_consolidation               17.04%    WA       MORTGAGE
75634  debt_consolidation               10.40%    CA           RENT
93296    home_improvement                8.05%    MA       MORTGAGE
69885  debt_consolidation                4.94%    WI       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
91173        11000.00    715-719                  9                        75
56404         4583.33    695-699                  9                     41871
75634         9000.00    665-669                 12                      5141
93296         6250.00    720-724                  9                     11626
69885         4333.33    690-694                 12                      9656

       Inquiries.in.the.Last.6.Months Employment.Length
91173                               3               NaN
56404                               0           3 years
75634                               0         10+ years
93296                               0          < 1 year
69885                               2           5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
31787              2200                        2200        13.49%   36 months
38073              5000                        5000        14.27%   36 months
25600             12000                       12000        19.69%   60 months
36576              3000                        3000         7.90%   36 months
81991             30000                       30000        21.49%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
31787  debt_consolidation                3.27%    WA            OWN
38073  debt_consolidation                  17%    FL            OWN
25600  debt_consolidation               16.23%    NV           RENT
36576         credit_card               22.03%    PA       MORTGAGE
81991  debt_consolidation               16.89%    NY       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
31787         6666.67    700-704                  2                     10142
38073         5000.00    670-674                  9                     14748
25600         3376.00    665-669                 12                      8437
36576         5583.33    705-709                 15                     12968
81991        13999.17    700-704                 14                     61579

       Inquiries.in.the.Last.6.Months Employment.Length
31787                               0           5 years
38073                               3            1 year
25600                               1           4 years
36576                               0           3 years
81991                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
73434             10800                       10800        12.12%   36 months
50956             10500                       10500        18.25%   36 months
45189             10000                       10000         6.62%   36 months
80144             24000                       23950        12.12%   36 months
77251             16000                       16000        14.09%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
73434  debt_consolidation               26.70%    NJ           RENT
50956  debt_consolidation               11.52%    GA       MORTGAGE
45189  debt_consolidation                5.49%    CA       MORTGAGE
80144  debt_consolidation               26.68%    TX       MORTGAGE
77251  debt_consolidation                2.85%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
73434         5833.33    695-699                  6                     27585
50956         8750.00    660-664                 15                      9984
45189        10833.33    755-759                  5                     40827
80144         5791.67    715-719                 13                     34104
77251         3333.33    690-694                  6                      3909

       Inquiries.in.the.Last.6.Months Employment.Length
73434                               0           5 years
50956                               3           8 years
45189                               0           7 years
80144                               0         10+ years
77251                               0           7 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
49782              15000                       15000        13.99%
101411              9500                        9500        21.98%
81782              35000                       35000        19.05%
71268               5000                        5000         7.90%
38833              15000                       15000        11.71%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
49782    36 months  debt_consolidation               12.60%    MI
101411   36 months               other               16.01%    PA
81782    36 months  debt_consolidation               15.75%    FL
71268    36 months  debt_consolidation               21.82%    TX
38833    36 months  debt_consolidation               11.70%    FL

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
49782        MORTGAGE         3500.00    705-709                  7
101411           RENT         4500.00    660-664                  7
81782        MORTGAGE        18750.00    690-694                 21
71268        MORTGAGE         4166.67    725-729                  8
38833            RENT         6250.00    700-704                  6

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
49782                      13036                               1
101411                      3673                               1
81782                      73813                               1
71268                      15502                               1
38833                       6622                               0

       Employment.Length
49782          10+ years
101411           3 years
81782            4 years
71268                NaN
38833            6 years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
69249              5000                        5000        15.31%   36 months
5299              19000                       18975        11.14%   36 months
61835             11625                       11625        15.80%   36 months
64769             25000                       25000         7.62%   36 months
35250              8000                        8000        12.69%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
69249  debt_consolidation               17.37%    GA           RENT
5299   debt_consolidation               19.83%    CA           RENT
61835  debt_consolidation               31.12%    OK           RENT
64769             wedding               13.45%    NY           RENT
35250  debt_consolidation                7.67%    AL            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
69249         1750.00    675-679                  3                     10361
5299          4548.83    775-779                 12                     33809
61835         2860.00    680-684                 14                      8374
64769         6750.00    750-754                 16                     17193
35250         7916.67    685-689                  4                      1442

       Inquiries.in.the.Last.6.Months Employment.Length
69249                               0          < 1 year
5299                                1           5 years
61835                               2           7 years
64769                               0           5 years
35250                               0           6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
7007               9800                        9675         8.59%   36 months
2577               6000                        5975         8.00%   36 months
37863             10200                       10200        12.42%   36 months
34551             10500                       10500         6.62%   36 months
38905              5000                        5000         7.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
7007       major_purchase               14.99%    HI       MORTGAGE
2577              wedding                1.06%    NY           RENT
37863  debt_consolidation               17.86%    CO       MORTGAGE
34551             medical               16.26%    OK       MORTGAGE
38905      small_business                7.75%    IL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
7007          3583.33    760-764                 12                      5164
2577          5000.00    765-769                  6                      7161
37863         5833.33    705-709                  9                      9817
34551         4853.33    760-764                  9                      2816
38905         5500.00    725-729                 11                     16396

       Inquiries.in.the.Last.6.Months Employment.Length
7007                                0           3 years
2577                                0           3 years
37863                               2           4 years
34551                               1           3 years
38905                               3          < 1 year
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
53762              17500                       17500         7.90%
32323               4000                        4000        19.03%
49042              22000                       22000        12.12%
16346               5000                        4900         5.79%
100424              8000                        8000        16.29%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
53762    36 months      small_business                7.97%    CA
32323    36 months               other               10.56%    CA
49042    36 months  debt_consolidation               16.93%    NY
16346    36 months               other                9.18%    NY
100424   36 months         credit_card               29.19%    IL

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
53762            RENT         5416.67    810-814                  4
32323            RENT         1600.00    685-689                  2
49042            RENT         3916.67    715-719                  4
16346            RENT         5520.00    750-754                 10
100424       MORTGAGE         6916.67    685-689                 14

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
53762                         17                               0
32323                        299                               0
49042                      22142                               0
16346                       7351                               0
100424                     21498                               2

       Employment.Length
53762           < 1 year
32323            6 years
49042             1 year
16346            7 years
100424           4 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
75831              19125                       19125        18.49%
67863              16000                       16000        12.12%
103546              4500                        4500        14.59%
50874               5800                        5800        22.45%
101548             10000                         525        14.70%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
75831    60 months               other               29.10%    GA
67863    36 months  debt_consolidation               18.23%    NY
103546   36 months            vacation               17.35%    NY
50874    60 months               other               11.86%    CA
101548   36 months         credit_card                6.37%    FL

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
75831            RENT         4166.67    700-704                 14
67863            RENT         4166.67    700-704                 14
103546            OWN         6000.00    660-664                 18
50874            RENT         1416.67    665-669                  3
101548           RENT         5416.67    645-649                  4

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
75831                      28108                               3
67863                      16309                               0
103546                      5197                               4
50874                       6077                               2
101548                      2211                               6

       Employment.Length
75831            6 years
67863             1 year
103546           2 years
50874            6 years
101548          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
80841             16750                       16750        18.75%   36 months
65855              3600                        3600        12.12%   36 months
26919             10000                       10000        15.62%   36 months
31098              6000                        6000         5.42%   36 months
68962             10000                       10000         7.62%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
80841  debt_consolidation                8.84%    FL       MORTGAGE
65855  debt_consolidation               27.16%    CA            OWN
26919  debt_consolidation               12.19%    NY           RENT
31098            vacation                1.51%    MD            OWN
68962             medical               13.26%    MN       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
80841         5666.67    680-684                  8                     13567
65855         3333.33    695-699                 15                     12153
26919         7500.00    670-674                 12                     17133
31098         4250.00    800-804                 14                      1838
68962         7416.67    735-739                 12                     16297

       Inquiries.in.the.Last.6.Months Employment.Length
80841                               1           4 years
65855                               1         10+ years
26919                               1         10+ years
31098                               0         10+ years
68962                               2         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
61493             10000                    10000.00        17.77%   36 months
28574              5000                     5000.00         7.49%   36 months
69724             35000                    34950.00        23.76%   60 months
33068              7000                     7000.00         7.90%   36 months
1342               3000                     1647.62        10.20%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
61493         credit_card                5.80%    CO           RENT
28574    home_improvement               16.45%    VA       MORTGAGE
69724  debt_consolidation               24.22%    NY           RENT
33068             wedding               20.72%    CT           RENT
1342       major_purchase                0.33%    CT           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
61493         7166.67    685-689                  3                     15279
28574        18750.00    745-749                 10                    129071
69724         7331.25    665-669                 16                     28687
33068         6000.00    715-719                  9                      6659
1342          4583.33    800-804                  3                        37

       Inquiries.in.the.Last.6.Months Employment.Length
61493                               1         10+ years
28574                               0         10+ years
69724                               2           4 years
33068                               0          < 1 year
1342                                0          < 1 year

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
31200             28000                       28000        15.62%   36 months
10264             15200                        6800        15.58%   60 months
49920             15775                       15775        14.65%   36 months
30441             30000                       22425        10.59%   36 months
33148              3000                        3000         9.91%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
31200  debt_consolidation                5.70%    GA       MORTGAGE
10264    home_improvement               19.22%    DC       MORTGAGE
49920               other                3.37%    NY           RENT
30441    home_improvement                8.15%    MN       MORTGAGE
33148             wedding                4.75%    IL            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
31200         6250.00    695-699                  6                     11923
10264        12083.33    690-694                 20                     19712
49920         4000.00    710-714                 11                      4058
30441        22916.67    765-769                 13                      1945
33148         4166.67    710-714                  9                      7321

       Inquiries.in.the.Last.6.Months Employment.Length
31200                               1           3 years
10264                               2           2 years
49920                               1         10+ years
30441                               0           4 years
33148                               3           6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
79022             15350                       15350        18.49%   36 months
45222             26500                       26500         9.76%   60 months
22768              6400                        6400         6.00%   60 months
96412             13200                       13200        14.33%   36 months
29340             12000                       12000        11.49%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
79022  debt_consolidation               15.09%    GA       MORTGAGE
45222      small_business               17.19%    NY       MORTGAGE
22768    home_improvement                3.09%    FL       MORTGAGE
96412  debt_consolidation               28.75%    CA           RENT
29340  debt_consolidation               17.73%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
79022         4400.00    670-674                  7                     12823
45222         5416.67    785-789                 13                      9966
22768         6250.00    695-699                  5                       241
96412         3833.33    695-699                  9                      8568
29340         7300.00    705-709                  9                     38342

       Inquiries.in.the.Last.6.Months Employment.Length
79022                               0         10+ years
45222                               0         10+ years
22768                               0           3 years
96412                               1         10+ years
29340                               0           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
73863              4000                        4000         6.03%   36 months
32269              2500                        2500         6.62%   36 months
45097             28000                       27925        18.55%   36 months
62353              9000                        8975         8.90%   36 months
53042              6600                        6600         6.03%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
73863                 car               33.67%    GA       MORTGAGE
32269    home_improvement               10.96%    MD       MORTGAGE
45097  debt_consolidation                8.99%    LA       MORTGAGE
62353  debt_consolidation                7.33%    CA           RENT
53042    home_improvement               16.69%    NC       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
73863         7917.00    800-804                 19                     55123
32269         6166.67    730-734                 14                     24495
45097         6666.67    700-704                  6                     14189
62353        12500.00    730-734                  4                     12964
53042         6250.00    750-754                 14                     17258

       Inquiries.in.the.Last.6.Months Employment.Length
73863                               1         10+ years
32269                               0         10+ years
45097                               2               NaN
62353                               0           5 years
53042                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
92363             27050                       27050        17.27%   60 months
27374              4800                        4800        15.99%   36 months
67953              7550                        7550        10.16%   36 months
5880              10000                       10000         7.74%   36 months
3031              12500                       12275        11.26%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
92363         credit_card               27.59%    WA       MORTGAGE
27374      major_purchase                   0%    IL           RENT
67953  debt_consolidation                3.83%    CA       MORTGAGE
5880   debt_consolidation                0.17%    OR       MORTGAGE
3031          credit_card               12.21%    TX           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
92363         5025.00    705-709                 13                     40037
27374         4583.33    675-679                  2                         0
67953         8333.33    710-714                 10                     10204
5880          7083.33    775-779                  9                      2994
3031          4333.33    730-734                  6                     12568

       Inquiries.in.the.Last.6.Months Employment.Length
92363                               1         10+ years
27374                               0           6 years
67953                               0           2 years
5880                                0         10+ years
3031                                2           8 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
92244             27575                       27575        19.05%   36 months
61500             20000                       20000        13.11%   36 months
7002              15000                       14900        14.61%   36 months
53002             18000                       18000         8.90%   36 months
32737              5400                        5375         8.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
92244  debt_consolidation               19.30%    WI           RENT
61500  debt_consolidation                3.94%    IL       MORTGAGE
7002       major_purchase                9.17%    TX           RENT
53002    home_improvement               12.79%    NV       MORTGAGE
32737      small_business                6.27%    OH           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
92244         5166.67    660-664                  6                     14935
61500         7238.92    720-724                  6                     11751
7002          3000.00    730-734                  8                         0
53002        10500.00    730-734                 15                      4856
32737         3000.00    785-789                  2                        90

       Inquiries.in.the.Last.6.Months Employment.Length
92244                               1         10+ years
61500                               3         10+ years
7002                                2          < 1 year
53002                               2          < 1 year
32737                               2               NaN
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
47286             23000                       22950        15.81%   36 months
16577              8000                        7950         5.79%   36 months
35530              3000                        2950        12.69%   36 months
23575              7200                        7200         6.92%   36 months
99508             15350                       15350        15.80%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
47286         credit_card               16.02%    CA           RENT
16577    home_improvement               19.65%    FL            OWN
35530  debt_consolidation                4.25%    SC            OWN
23575         credit_card               11.72%    RI       MORTGAGE
99508         credit_card                7.41%    CO       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
47286         7083.33    695-699                  8                      9664
16577         5833.33    770-774                  8                         0
35530         1200.00    705-709                  4                      1643
23575         7083.33    780-784                  6                     15933
99508         5666.67    670-674                  6                      8128

       Inquiries.in.the.Last.6.Months Employment.Length
47286                               2           4 years
16577                               0           3 years
35530                               0          < 1 year
23575                               1           3 years
99508                               0            1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
72670              6000                     6000.00        12.12%   36 months
2882              15000                     8081.65        13.16%   36 months
20093              5000                     5000.00        12.68%   60 months
9020               2575                     2575.00         6.76%   36 months
52639              1800                     1800.00        13.67%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
72670             wedding               21.21%    GA           RENT
2882   debt_consolidation               13.16%    GA       MORTGAGE
20093              moving               12.59%    NY           RENT
9020          educational                4.80%    MA           RENT
52639            vacation               24.21%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
72670         3333.33    685-689                  8                      4638
2882          2583.33    755-759                  3                      4923
20093         4416.67    690-694                 13                      7686
9020          6875.00    760-764                  6                      4678
52639         4250.00    670-674                 11                      5757

       Inquiries.in.the.Last.6.Months Employment.Length
72670                               0           2 years
2882                                2           9 years
20093                               0          < 1 year
9020                                2           3 years
52639                               0           5 years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
76348             10000                       10000        14.09%   36 months
57727              7750                        7750        10.74%   36 months
91915             12000                       12000        16.29%   36 months
97696             10000                       10000         6.03%   36 months
51525              4950                        4950        13.67%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
76348               other               26.44%    WA       MORTGAGE
57727  debt_consolidation                6.51%    UT       MORTGAGE
91915  debt_consolidation               28.76%    CT           RENT
97696  debt_consolidation                  16%    KY       MORTGAGE
51525  debt_consolidation               14.11%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
76348         5416.67    700-704                  6                     18652
57727         2916.67    705-709                  5                      6889
91915         5666.67    660-664                 21                     16822
97696         8333.33    780-784                 11                     14832
51525         4166.67    665-669                 15                      8379

       Inquiries.in.the.Last.6.Months Employment.Length
76348                               1           6 years
57727                               0           6 years
91915                               2           3 years
97696                               0         10+ years
51525                               0           5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
41626              8400                        8350         6.03%   36 months
71634              3500                        3500        12.12%   36 months
51795             12000                       12000        16.29%   36 months
73201             18000                       18000        22.47%   60 months
31566             14675                       14650        12.99%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
41626             medical               15.34%    WA       MORTGAGE
71634               other               17.82%    CA       MORTGAGE
51795         credit_card               18.37%    TX       MORTGAGE
73201         credit_card               17.17%    OH       MORTGAGE
31566  debt_consolidation               29.18%    FL           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
41626         3200.00    760-764                  6                     10576
71634         5416.67    695-699                 15                      4067
51795         7083.33    665-669                 16                     16993
73201         5562.92    660-664                 13                     14866
31566         3167.00    725-729                  7                     21088

       Inquiries.in.the.Last.6.Months Employment.Length
41626                               0               NaN
71634                               3          < 1 year
51795                               2           7 years
73201                               3           7 years
31566                               1           6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
90826             13000                    13000.00        14.09%   36 months
64262             15000                    15000.00        13.11%   36 months
2749               8250                     8205.63         9.32%   36 months
73233              6900                     6900.00        14.09%   36 months
88842             35000                    35000.00        20.49%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
90826         credit_card               16.09%    CT           RENT
64262  debt_consolidation               33.12%    NY           RENT
2749          credit_card               24.45%    OH       MORTGAGE
73233         credit_card               17.78%    AR            OWN
88842  debt_consolidation               12.54%    PA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
90826         3250.00    675-679                  6                      6930
64262         4166.67    695-699                 10                     13198
2749          3300.00    755-759                 17                     29576
73233         4166.67    685-689                  9                      9720
88842        10416.67    685-689                 14                     26487

       Inquiries.in.the.Last.6.Months Employment.Length
90826                               0           2 years
64262                               0           9 years
2749                                2           8 years
73233                               1         10+ years
88842                               4           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
8773              25000                    23995.24        10.62%   36 months
94795              9600                     9600.00        11.14%   36 months
71783              9000                     8975.00         6.62%   36 months
65113              6500                     6500.00         8.90%   36 months
5189               1750                     1750.00        11.14%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
8773   debt_consolidation               12.21%    VA           RENT
94795  debt_consolidation               20.58%    NV       MORTGAGE
71783  debt_consolidation               17.11%    NY       MORTGAGE
65113         credit_card               31.45%    CO       MORTGAGE
5189          credit_card                8.02%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
8773         11166.67    750-754                  6                     28556
94795         3833.33    705-709                  9                     44403
71783         6750.00    755-759                  7                     12553
65113         6000.00    740-744                 14                     61865
5189          1833.33    720-724                  4                      1838

       Inquiries.in.the.Last.6.Months Employment.Length
8773                                0           7 years
94795                               1           5 years
71783                               2           7 years
65113                               2          < 1 year
5189                                0           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
20592              5000                        5000         5.42%   36 months
71038              6000                        6000        15.80%   36 months
72764             25000                       25000        14.09%   36 months
77043             13000                       13000        14.33%   36 months
51326              5875                        5875         7.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
20592             wedding               23.15%    OH           RENT
71038  debt_consolidation               16.40%    GA           RENT
72764  debt_consolidation               19.13%    CA           RENT
77043  debt_consolidation               11.08%    MN       MORTGAGE
51326               other               14.75%    NV           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
20592         2833.33    750-754                  7                      4573
71038         2500.00    670-674                  5                      5892
72764         6083.33    700-704                 19                     14666
77043         3358.33    690-694                  7                      6327
51326         5416.67    720-724                 15                      2617

       Inquiries.in.the.Last.6.Months Employment.Length
20592                               0           3 years
71038                               1           4 years
72764                               0         10+ years
77043                               1         10+ years
51326                               2           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
57788              5000                        5000        16.29%   36 months
13386             16000                        7925        16.45%   60 months
17877             12000                       12000         9.62%   60 months
88396             35000                       35000        12.12%   36 months
19466              4800                        4775         5.79%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
57788  debt_consolidation               20.77%    VA           RENT
13386  debt_consolidation               16.66%    MO       MORTGAGE
17877      small_business               14.12%    GA       MORTGAGE
88396  debt_consolidation               19.90%    FL       MORTGAGE
19466                 car               11.71%    NJ           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
57788         4583.33    660-664                 19                     11991
13386         5500.00    680-684                  6                      6842
17877         6666.67    730-734                 10                      6969
88396        13933.33    720-724                 18                     24288
19466         2800.00    735-739                  6                      9228

       Inquiries.in.the.Last.6.Months Employment.Length
57788                               1           6 years
13386                               0           9 years
17877                               1           4 years
88396                               0            1 year
19466                               0           3 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
19859               6500                        6500        11.11%
19297              25000                       25000        13.06%
82626               1000                        1000         7.62%
8078               16000                       16000        13.48%
102374              7675                        2275        15.13%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
19859    36 months         credit_card               13.98%    WY
19297    36 months               other                4.14%    MI
82626    36 months  debt_consolidation                5.59%    MD
8078     36 months  debt_consolidation               15.17%    KY
102374   36 months               other               18.08%    TX

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
19859        MORTGAGE         2253.00    680-684                 11
19297        MORTGAGE        11500.00    735-739                  4
82626        MORTGAGE         9333.33    785-789                  6
8078         MORTGAGE         4166.67    700-704                  6
102374       MORTGAGE        11666.67    645-649                 13

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
19859                       7558                               1
19297                       6578                               0
82626                        350                               4
8078                        1962                               1
102374                     12578                               0

       Employment.Length
19859            2 years
19297           < 1 year
82626            2 years
8078             2 years
102374           9 years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
78732             13600                    13600.00         8.90%   36 months
71751             12000                    12000.00        15.31%   36 months
20020             15000                    15000.00        10.37%   36 months
89844              7125                     7125.00        18.49%   36 months
35991             35000                    34977.35        21.67%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
78732  debt_consolidation               10.94%    WA           RENT
71751  debt_consolidation               32.91%    CA           RENT
20020               house               26.72%    AL       MORTGAGE
89844  debt_consolidation               11.18%    CT       MORTGAGE
35991               house               14.25%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
78732        10000.00    720-724                 15                     18028
71751         5500.00    680-684                 21                     13559
20020         5250.00    750-754                 11                     44850
89844         5636.75    675-679                 14                      5383
35991        20833.33    675-679                 12                     79792

       Inquiries.in.the.Last.6.Months Employment.Length
78732                               0         10+ years
71751                               1           3 years
20020                               1         10+ years
89844                               2           8 years
35991                               0           6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
92975             11575                    11575.00        13.11%   60 months
5274               5000                     5000.00         7.40%   36 months
48009              5000                     5000.00         7.62%   36 months
1046               5000                      527.49        13.24%   36 months
35719              7000                     7000.00         7.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
92975  debt_consolidation               18.37%    NY       MORTGAGE
5274       major_purchase               14.22%    GA           RENT
48009  debt_consolidation                3.04%    NY            OWN
1046   debt_consolidation               13.28%    NJ           RENT
35719  debt_consolidation               12.61%    VA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
92975            3750    725-729                 12                     18790
5274             6000    780-784                  7                      1751
48009            2500    735-739                  5                      4864
1046             4833    660-664                 10                      9816
35719            6250    720-724                 13                     19848

       Inquiries.in.the.Last.6.Months Employment.Length
92975                               1         10+ years
5274                                0           6 years
48009                               0           3 years
1046                                0           4 years
35719                               0         10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
102294             20000                    16755.89        14.50%
22561               7000                     7000.00         6.92%
7816               20000                    19900.00        10.25%
47745               6000                     6000.00         7.90%
21458              14000                    14000.00         7.66%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
102294   36 months  debt_consolidation               25.40%    MN
22561    36 months  debt_consolidation               17.15%    CA
7816     36 months  debt_consolidation               17.51%    DE
47745    36 months      major_purchase               20.13%    PA
21458    36 months      major_purchase               10.68%    FL

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
102294       MORTGAGE         6916.67    715-719                 10
22561            RENT         4583.33    735-739                 13
7816         MORTGAGE         7833.33    760-764                 14
47745        MORTGAGE         7750.00    725-729                 16
21458        MORTGAGE        21666.67    735-739                 14

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
102294                     26938                               0
22561                       6897                               0
7816                       49898                               0
47745                       7533                               1
21458                      13850                               3

       Employment.Length
102294         10+ years
22561            5 years
7816             5 years
47745            8 years
21458             1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
62166             30000                       30000        19.05%   36 months
42655             18225                       18200        17.58%   36 months
19255             12000                       12000         7.29%   36 months
51684             10000                       10000        12.12%   36 months
22667             16300                       16275        14.91%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
62166  debt_consolidation               14.77%    CO       MORTGAGE
42655  debt_consolidation               24.64%    TX       MORTGAGE
19255               other               16.15%    VA       MORTGAGE
51684  debt_consolidation               12.99%    CA       MORTGAGE
22667         credit_card               24.17%    FL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
62166         9166.67    685-689                 20                     22299
42655         5000.00    660-664                 12                     16398
19255        11667.00    720-724                  9                    113671
51684         5833.33    690-694                  8                     13885
22667         5222.00    675-679                 11                     40988

       Inquiries.in.the.Last.6.Months Employment.Length
62166                               1          < 1 year
42655                               2           7 years
19255                               0           4 years
51684                               0           6 years
22667                               1         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
587               11000                     2116.76        13.87%   36 months
13863             25000                    20850.00        15.58%   60 months
89627             24000                    24000.00        12.12%   36 months
32044              6000                     6000.00         7.49%   36 months
25141             10000                     9975.00        11.49%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
587    debt_consolidation               20.93%    NY            OWN
13863      small_business                0.60%    CA       MORTGAGE
89627  debt_consolidation               29.01%    MD       MORTGAGE
32044      major_purchase                8.81%    NY            OWN
25141  debt_consolidation               22.69%    NV       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
587           4167.00    670-674                 14                     17436
13863         5666.67    785-789                  2                         0
89627         7500.00    670-674                 12                     14804
32044         2462.75    715-719                 11                      8644
25141         5623.33    765-769                 11                     26898

       Inquiries.in.the.Last.6.Months Employment.Length
587                                 0           2 years
13863                               4         10+ years
89627                               1          < 1 year
32044                               0           2 years
25141                               1         10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
65250               2000                     2000.00         8.90%
87148               6625                     6600.00        11.14%
102167             20000                     6350.01        16.71%
3630               12000                    11925.00         9.63%
20690               4200                     4200.00         7.29%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
65250    36 months                 car               23.70%    MI
87148    36 months         credit_card               10.12%    PA
102167   36 months  debt_consolidation               20.83%    NY
3630     36 months               other                9.12%    WA
20690    36 months  debt_consolidation                6.58%    IL

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
65250             OWN         3000.00    730-734                  5
87148             OWN         1916.67    690-694                 10
102167           RENT         5333.33    660-664                 11
3630         MORTGAGE         6250.00    745-749                  8
20690            RENT         5133.33    765-769                  4

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
65250                       2117                               1
87148                       5449                               0
102167                     11881                               4
3630                        5212                               2
20690                       5475                               1

       Employment.Length
65250          10+ years
87148                NaN
102167            1 year
3630              1 year
20690            4 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
103394              6950                        6875        13.11%
32875               6000                        6000         7.51%
29116               8400                        8400        10.99%
14340               5000                        5000         7.88%
82457               4750                        4750        10.16%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
103394   36 months               other               12.51%    TX
32875    36 months      major_purchase                4.74%    IL
29116    36 months  debt_consolidation               24.85%    CA
14340    36 months    home_improvement               16.61%    NJ
82457    36 months         credit_card               32.49%    MO

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
103394       MORTGAGE         7916.67    715-719                  5
32875        MORTGAGE        10916.00    765-769                 18
29116        MORTGAGE         7583.00    700-704                  9
14340        MORTGAGE         5833.33    725-729                 18
82457        MORTGAGE         3500.00    695-699                 15

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
103394                      1593                               4
32875                       6317                               4
29116                        342                               0
14340                      19771                               2
82457                      36512                               0

       Employment.Length
103394         10+ years
32875            6 years
29116           < 1 year
14340          10+ years
82457          10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
12895             15000                       14925        10.75%   60 months
98544             12000                       12000        16.29%   36 months
1324               4000                           0         7.68%   36 months
16593             12800                       12700        12.61%   60 months
36466             12000                       11950         8.90%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
12895              moving               17.55%    NY           RENT
98544    home_improvement                5.07%    WI       MORTGAGE
1324                other               10.74%    GA           RENT
16593  debt_consolidation                9.02%    FL           RENT
36466                 car                9.75%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
12895         5761.00    785-789                 12                      2691
98544         2916.67    670-674                 13                     10360
1324          3417.00    790-794                 11                      2775
16593         5166.67    725-729                  7                      7942
36466         9866.00    795-799                  9                      2787

       Inquiries.in.the.Last.6.Months Employment.Length
12895                               2         10+ years
98544                               2           5 years
1324                                3            1 year
16593                               0           5 years
36466                               0           4 years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
37814              9425                     9425.00        13.49%   36 months
43682             28000                    28000.00        12.42%   36 months
70424             30000                    29975.00        21.00%   60 months
27552              9600                     9600.00        18.39%   36 months
3606               7800                     7242.07        12.84%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
37814         credit_card               15.71%    CA           RENT
43682  debt_consolidation                2.98%    NY       MORTGAGE
70424  debt_consolidation               17.12%    TX       MORTGAGE
27552  debt_consolidation               14.69%    VA       MORTGAGE
3606   debt_consolidation               16.77%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
37814         3750.00    670-674                 12                     15116
43682        27083.33    730-734                  5                     12888
70424         8666.67    710-714                  8                     47503
27552         5166.67    660-664                  8                     13041
3606          6000.00    695-699                  8                     13835

       Inquiries.in.the.Last.6.Months Employment.Length
37814                               0           8 years
43682                               1           5 years
70424                               0           6 years
27552                               1         10+ years
3606                                0           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
39094             12000                       12000        10.65%   36 months
83231              9600                        9600        15.31%   36 months
9533               6000                        6000        10.62%   36 months
19581              7500                        7500        11.11%   60 months
50339              7000                        6950         6.03%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
39094  debt_consolidation               26.06%    GA           RENT
83231  debt_consolidation               12.82%    PA       MORTGAGE
9533          credit_card               23.38%    VA       MORTGAGE
19581  debt_consolidation               23.63%    NY           RENT
50339  debt_consolidation                8.29%    FL            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
39094         5833.33    720-724                 15                     24893
83231         6000.00    675-679                 13                     11407
9533          5000.00    705-709                 15                     46125
19581         1820.00    720-724                 13                      4409
50339         2750.00    760-764                  8                     10860

       Inquiries.in.the.Last.6.Months Employment.Length
39094                               3         10+ years
83231                               2         10+ years
9533                                1           2 years
19581                               2           2 years
50339                               0           4 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
35460              10000                    10000.00        11.71%
102138              3200                     2799.99        12.61%
13279              13000                    12850.00        10.38%
71487              35000                    35000.00        24.70%
97364              20800                    20775.00         6.62%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
35460    36 months  debt_consolidation                5.85%    NY
102138   36 months         credit_card               16.72%    CA
13279    36 months  debt_consolidation               11.72%    VA
71487    60 months  debt_consolidation                8.26%    AL
97364    36 months         credit_card               15.64%    CA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
35460            RENT         4333.33    685-689                  8
102138       MORTGAGE         6476.00    665-669                 14
13279        MORTGAGE        10533.33    725-729                 13
71487        MORTGAGE        10000.00    660-664                 12
97364        MORTGAGE        10833.33    710-714                 11

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
35460                       7072                               0
102138                     80837                               4
13279                      37252                               0
71487                      21391                               2
97364                      15192                               0

       Employment.Length
35460          10+ years
102138         10+ years
13279           < 1 year
71487          10+ years
97364          10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
77135              1600                     1600.00        16.29%   36 months
67373             10050                     9900.00         6.03%   36 months
51379              8000                     7997.85        17.99%   36 months
97075             16000                    16000.00        12.12%   36 months
46056             11700                    11675.00         7.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
77135  debt_consolidation                7.80%    OR           RENT
67373      small_business               20.72%    TX           RENT
51379  debt_consolidation               21.11%    CA       MORTGAGE
97075  debt_consolidation               24.30%    CT           RENT
46056    home_improvement                5.63%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
77135         2666.67    660-664                  7                      5504
67373         2500.00    750-754                 11                     13669
51379         8583.33    670-674                 15                     14584
97075         6250.00    715-719                  8                     10304
46056         3320.83    720-724                 11                     14301

       Inquiries.in.the.Last.6.Months Employment.Length
77135                               2           6 years
67373                               0           9 years
51379                               3           5 years
97075                               2          < 1 year
46056                               0         10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
72277              13475                       13475        12.12%
31190              14500                       14500         5.42%
103224              5000                        5000        14.61%
53652              13600                       13575         6.62%
75321               2200                        2200         8.90%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
72277    36 months  debt_consolidation               28.27%    FL
31190    36 months    home_improvement                7.15%    OH
103224   36 months               other                6.36%    CA
53652    36 months  debt_consolidation               17.31%    CA
75321    36 months  debt_consolidation               14.02%    CA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
72277        MORTGAGE         5666.67    705-709                 12
31190        MORTGAGE        10000.00    800-804                  9
103224           RENT         3083.33    665-669                  8
53652        MORTGAGE        11250.00    750-754                 11
75321            RENT         7083.33    715-719                 10

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
72277                       7722                               1
31190                         40                               0
103224                      4680                               4
53652                      77377                               1
75321                      14980                               1

       Employment.Length
72277            7 years
31190          10+ years
103224           5 years
53652            4 years
75321          10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
49761              9000                        9000         9.76%   36 months
87513             27925                       27925        22.47%   60 months
80353              9450                        9450        14.33%   36 months
25236             15175                       15175        20.25%   60 months
30497             10000                       10000         7.49%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
49761         credit_card               18.67%    NY       MORTGAGE
87513  debt_consolidation                3.94%    FL       MORTGAGE
80353  debt_consolidation               24.51%    NY           RENT
25236  debt_consolidation               18.78%    WA           RENT
30497  debt_consolidation                7.77%    AZ           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
49761         5833.33    705-709                 12                     12035
87513         7000.00    685-689                 14                      9914
80353         2916.67    670-674                 12                     11555
25236         4333.33    665-669                  6                     18049
30497         3166.67    735-739                  4                         0

       Inquiries.in.the.Last.6.Months Employment.Length
49761                               0         10+ years
87513                               2               NaN
80353                               0           4 years
25236                               0           8 years
30497                               0            1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
96700             16000                       16000        16.29%   36 months
85272             13200                       13200        15.31%   36 months
60220             20000                       20000        18.75%   60 months
78437              8500                        8500        17.77%   36 months
40066              3000                        3000        14.27%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
96700  debt_consolidation               20.62%    FL           RENT
85272  debt_consolidation                8.61%    KY       MORTGAGE
60220               other                6.30%    PA           RENT
78437               other                  18%    MI           RENT
40066  debt_consolidation               10.77%    NY            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
96700         5416.67    680-684                 13                     14246
85272         3333.33    680-684                 10                      5400
60220        15416.67    695-699                 13                     15026
78437         2583.33    665-669                  9                     13718
40066         3833.00    670-674                 11                      5515

       Inquiries.in.the.Last.6.Months Employment.Length
96700                               1          < 1 year
85272                               3         10+ years
60220                               3          < 1 year
78437                               0           2 years
40066                               1          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
91905             10000                    10000.00        15.31%   36 months
99247             14075                    14075.00        16.29%   36 months
62996             19000                    19000.00        19.72%   60 months
2088              25000                    11696.88        12.84%   36 months
84001              9000                     9000.00        13.11%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
91905         credit_card               18.99%    FL       MORTGAGE
99247  debt_consolidation               11.02%    NY       MORTGAGE
62996         credit_card               19.85%    NY           RENT
2088       small_business                5.52%    IL       MORTGAGE
84001         credit_card               23.88%    GA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
91905         5583.33    675-679                 16                     12723
99247        10416.67    700-704                 10                      7653
62996         4500.00    680-684                 13                     11388
2088          8666.67    760-764                  9                      1900
84001         4229.17    685-689                 11                      7496

       Inquiries.in.the.Last.6.Months Employment.Length
91905                               1           2 years
99247                               3         10+ years
62996                               1           3 years
2088                                4         10+ years
84001                               0            1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
80275              6775                        6775        13.11%   36 months
24608              2200                        2200        15.23%   36 months
2891              10800                       10550         8.00%   36 months
94245             16800                       16800        14.33%   60 months
25703              3500                        3500        15.62%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
80275  debt_consolidation               10.20%    NC           RENT
24608  debt_consolidation               16.20%    CA           RENT
2891     home_improvement                6.82%    CA       MORTGAGE
94245  debt_consolidation               21.75%    WV       MORTGAGE
25703    home_improvement               14.41%    GA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
80275         6666.67    685-689                 14                      5457
24608         2500.00    675-679                  7                      2476
2891         11250.00    790-794                  7                     10232
94245         6666.67    675-679                 14                     23740
25703         6833.33    660-664                  7                     11526

       Inquiries.in.the.Last.6.Months Employment.Length
80275                               2          < 1 year
24608                               2           2 years
2891                                2          < 1 year
94245                               0            1 year
25703                               3           8 years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
24038              9250                        9250        18.79%   60 months
31842             23400                       23400         7.49%   36 months
81514             10375                       10375         7.90%   36 months
66437              9325                        9300        14.09%   36 months
49263             18000                       18000        21.48%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
24038  debt_consolidation               19.27%    AK       MORTGAGE
31842  debt_consolidation               15.66%    TX           RENT
81514  debt_consolidation               27.64%    MD       MORTGAGE
66437  debt_consolidation               21.35%    DC           RENT
49263  debt_consolidation               15.82%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
24038         4448.00    660-664                  9                     22704
31842         5580.00    740-744                  6                      2086
81514         4500.00    745-749                  7                         0
66437         3333.33    695-699                 10                     27007
49263         6500.00    665-669                 10                      4256

       Inquiries.in.the.Last.6.Months Employment.Length
24038                               0         10+ years
31842                               0            1 year
81514                               0           5 years
66437                               1          < 1 year
49263                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
68113              5375                        5375         8.90%   36 months
99898              3700                        3700        15.80%   36 months
65485             19125                       19125        18.49%   36 months
67349              1625                        1625        15.31%   36 months
39590             26000                       25975        16.77%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
68113  debt_consolidation               29.48%    NC           RENT
99898         credit_card               32.20%    NY           RENT
65485  debt_consolidation                9.10%    MA           RENT
67349      major_purchase                4.32%    TX            OWN
39590    home_improvement               11.77%    NC       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
68113         3416.67    720-724                  6                      3007
99898         3000.00    690-694                  9                     14151
65485         4166.67    675-679                  8                     19761
67349         1666.67    745-749                  3                      1759
39590         4416.67    730-734                  5                      7560

       Inquiries.in.the.Last.6.Months Employment.Length
68113                               2          < 1 year
99898                               0            1 year
65485                               3         10+ years
67349                               4           3 years
39590                               1         10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
36450               6650                     6650.00        18.25%
31456               1000                     1000.00        11.49%
2407               18000                    17896.62        14.42%
3841                8000                     7975.00        12.84%
103033              4575                     4575.00        15.65%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
36450    60 months  debt_consolidation               17.12%    OH
31456    36 months  debt_consolidation               21.36%    CA
2407     36 months             wedding                7.89%    TX
3841     36 months             wedding               16.73%    TX
103033   36 months         credit_card               14.31%    MS

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
36450        MORTGAGE         3084.00    680-684                 16
31456            RENT         4666.67    670-674                 16
2407         MORTGAGE         5833.33    720-724                  5
3841         MORTGAGE         3521.00    680-684                 13
103033          OTHER         5833.33    680-684                 25

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
36450                       5646                               2
31456                      26558                               0
2407                       18505                               1
3841                        4075                               0
103033                     82586                               2

       Employment.Length
36450            3 years
31456          10+ years
2407             3 years
3841             3 years
103033           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
52353             35000                       34950        21.97%   60 months
51625             10000                       10000        12.12%   36 months
91179             32350                       32350        18.49%   36 months
16680             16000                       16000        12.98%   36 months
73961             13750                       13750        14.09%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
52353  debt_consolidation               19.32%    RI       MORTGAGE
51625  debt_consolidation               12.46%    CA       MORTGAGE
91179  debt_consolidation               20.14%    CT            OWN
16680  debt_consolidation               15.86%    CA       MORTGAGE
73961         credit_card               24.77%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
52353        14166.67    690-694                 14                     51314
51625         4375.00    695-699                  7                     11070
91179         6000.00    660-664                 15                     39513
16680         3600.00    700-704                  9                     26357
73961         3000.00    690-694                 12                     16734

       Inquiries.in.the.Last.6.Months Employment.Length
52353                               3           3 years
51625                               0           5 years
91179                               1           3 years
16680                               2           3 years
73961                               1            1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
95827              5600                        5600        11.14%   36 months
79106             21000                       20950        23.76%   60 months
53903             12000                       12000         7.90%   36 months
31290             12000                       12000        13.49%   36 months
26608              3600                        3600        13.99%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
95827         credit_card               27.96%    NC       MORTGAGE
79106  debt_consolidation               24.82%    KS           RENT
53903    home_improvement               21.99%    MN       MORTGAGE
31290  debt_consolidation               16.29%    NV       MORTGAGE
26608               other                  10%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
95827        11666.67    665-669                 18                    194205
79106         7458.33    660-664                 14                     11973
53903         5416.67    730-734                  8                     28146
31290         6250.00    680-684                 13                     13528
26608         5750.00    670-674                  8                     10766

       Inquiries.in.the.Last.6.Months Employment.Length
95827                               0         10+ years
79106                               0         10+ years
53903                               0         10+ years
31290                               1           7 years
26608                               2           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
16549             25000                       15175        16.32%   60 months
16631              8400                        8400         9.25%   60 months
92743             24375                       24300        15.80%   60 months
83058              8575                        8575        15.80%   36 months
87620             13800                       13800        12.12%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
16549  debt_consolidation               22.19%    PA       MORTGAGE
16631                 car               22.47%    NM       MORTGAGE
92743  debt_consolidation               30.61%    PA       MORTGAGE
83058  debt_consolidation               34.41%    KY       MORTGAGE
87620  debt_consolidation               17.11%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
16549         7083.33    705-709                  8                      9133
16631         4833.33    760-764                  6                     19187
92743         4708.33    700-704                 18                     49136
83058         4541.67    675-679                 15                      5180
87620         4250.00    695-699                  8                     11366

       Inquiries.in.the.Last.6.Months Employment.Length
16549                               0           4 years
16631                               0           3 years
92743                               0         10+ years
83058                               1         10+ years
87620                               0          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
31254             17000                       17000        11.49%   36 months
58027             11000                       11000        13.67%   36 months
12131              7800                        7800        14.35%   36 months
30255              3725                        3725        10.59%   36 months
57001             11000                       11000        17.27%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
31254  debt_consolidation               13.69%    MI           RENT
58027  debt_consolidation               13.44%    LA       MORTGAGE
12131               other               21.89%    CA           RENT
30255         credit_card               18.57%    NY           RENT
57001               other               11.44%    WI       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
31254         5083.33    695-699                  9                     13883
58027         4666.67    675-679                  8                     10482
12131         2508.33    680-684                  5                     25780
30255        11666.67    695-699                 21                     43987
57001         5000.00    665-669                  7                     10070

       Inquiries.in.the.Last.6.Months Employment.Length
31254                               0           4 years
58027                               0           6 years
12131                               0          < 1 year
30255                               0         10+ years
57001                               3         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
61049              8500                        8500        15.31%   36 months
58569             10000                       10000         9.76%   36 months
37224             12000                       12000        11.71%   60 months
59159             31500                       31425        12.12%   60 months
84476             19000                       19000        15.31%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
61049  debt_consolidation                7.56%    CO           RENT
58569         credit_card                6.83%    MA           RENT
37224  debt_consolidation               23.30%    CT       MORTGAGE
59159               other               21.32%    IL           RENT
84476  debt_consolidation               27.65%    FL           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
61049         3333.33    670-674                  5                      8844
58569         4583.33    705-709                 14                     13511
37224         4000.00    725-729                  8                     15010
59159         5250.00    755-759                 10                     11936
84476         3617.21    705-709                  8                     25692

       Inquiries.in.the.Last.6.Months Employment.Length
61049                               0          < 1 year
58569                               0           7 years
37224                               0         10+ years
59159                               0         10+ years
84476                               0           3 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
94507             12000                       12000        10.16%   36 months
69461             19125                       19125        10.16%   36 months
8194               6525                        6500        16.07%   36 months
72283              8975                        8975         7.90%   36 months
32215              6000                        5975         6.03%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
94507  debt_consolidation               14.22%    CO       MORTGAGE
69461  debt_consolidation               25.58%    FL           RENT
8194                other               10.11%    MD           RENT
72283  debt_consolidation               21.51%    NJ       MORTGAGE
32215               other               11.41%    NY       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
94507         8791.67    695-699                 10                     17185
69461         4000.00    725-729                  5                         0
8194          3166.67    700-704                  3                      2494
72283         9166.67    725-729                 18                     61613
32215         6250.00    780-784                  9                     89985

       Inquiries.in.the.Last.6.Months Employment.Length
94507                               2           8 years
69461                               0           5 years
8194                                1            1 year
72283                               3         10+ years
32215                               2               NaN
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
47228             20800                       20800        19.22%   60 months
41426              8400                        8400        14.27%   36 months
79725             20000                       20000        18.49%   36 months
85720             18550                       18550        12.12%   36 months
65819              9600                        9600        12.12%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
47228         credit_card               15.50%    TX           RENT
41426  debt_consolidation               11.95%    NC       MORTGAGE
79725  debt_consolidation               12.83%    FL       MORTGAGE
85720  debt_consolidation               11.37%    FL       MORTGAGE
65819         credit_card               25.35%    CT           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
47228         6916.67    680-684                 20                     28764
41426         4166.67    680-684                 10                     16634
79725        13583.33    675-679                 17                     30679
85720         3941.00    710-714                 14                      9438
65819         4750.00    685-689                 11                     29475

       Inquiries.in.the.Last.6.Months Employment.Length
47228                               1         10+ years
41426                               1         10+ years
79725                               1          < 1 year
85720                               0               NaN

65819                               0           5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
60947              6000                     6000.00         6.03%   36 months
66542             14000                    14000.00        15.31%   36 months
17609             17000                    16573.33        12.98%   36 months
41569             13250                    13225.00        10.65%   36 months
53373             13000                    13000.00         9.76%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
60947      major_purchase               12.68%    TX       MORTGAGE
66542         credit_card               11.35%    AZ           RENT
17609  debt_consolidation               15.72%    AL           RENT
41569         credit_card               24.96%    NJ           RENT
53373         credit_card               24.50%    TX           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
60947         6666.67    775-779                 13                      8581
66542         7333.33    680-684                  7                      6229
17609         4333.33    705-709                  5                     19053
41569         3333.33    700-704                 13                     16192
53373         4166.67    705-709                 10                     15534

       Inquiries.in.the.Last.6.Months Employment.Length
60947                               0         10+ years
66542                               1          < 1 year
17609                               0         10+ years
41569                               0            1 year
53373                               0           6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
65052             20000                       20000        12.12%   36 months
63133              7000                        7000        15.31%   36 months
85485             12000                       12000        17.27%   36 months
49712              4200                        4200         7.62%   36 months
1973              15000                        7100        11.89%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
65052  debt_consolidation               16.35%    FL       MORTGAGE
63133         credit_card               15.64%    CO           RENT
85485  debt_consolidation               15.07%    CO       MORTGAGE
49712  debt_consolidation                6.75%    IL            OWN
1973   debt_consolidation               12.42%    FL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
65052         4166.67    700-704                  7                     15917
63133         2666.67    670-674                 11                     11529
85485         4166.67    665-669                  7                     12318
49712        10416.67    735-739                 15                     10819
1973          5000.00    715-719                 15                     31563

       Inquiries.in.the.Last.6.Months Employment.Length
65052                               0            1 year
63133                               0           5 years
85485                               1          < 1 year
49712                               1           2 years
1973                                3          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
17961              1775                        1775         6.54%   36 months
64307             10000                       10000        12.12%   36 months
37291             14400                       14375        12.69%   60 months
28276             16000                       13150         8.49%   36 months
9762              10000                        9975        13.48%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
17961  debt_consolidation               19.77%    OH           RENT
64307    home_improvement               18.81%    NY       MORTGAGE
37291  debt_consolidation               16.06%    GA           RENT
28276         credit_card               10.30%    FL           RENT
9762   debt_consolidation               14.57%    NV       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
17961         3333.33    725-729                 11                      2038
64307         3250.00    695-699                 10                     19354
37291         6250.00    730-734                  6                     28675
28276         5416.67    735-739                 15                     15119
9762          6307.42    680-684                 11                     18823

       Inquiries.in.the.Last.6.Months Employment.Length
17961                               0          < 1 year
64307                               0         10+ years
37291                               1           7 years
28276                               0           6 years
9762                                0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
16996              3000                        2950         5.79%   36 months
47673             20000                       20000         7.90%   36 months
95606              6000                        6000        15.80%   36 months
40351              7050                        7050        13.49%   36 months
70321             11325                       11325        12.12%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
16996      small_business                8.49%    CO           RENT
47673  debt_consolidation               20.95%    CA           RENT
95606  debt_consolidation                  21%    WI           RENT
40351  debt_consolidation               14.05%    PA       MORTGAGE
70321               other                8.61%    TX           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
16996         5416.67    745-749                 13                     10380
47673         4333.33    750-754                  9                     13169
95606         2176.67    685-689                 13                      4356
40351         5624.00    680-684                  6                      2530
70321         2833.33    725-729                  3                      9137

       Inquiries.in.the.Last.6.Months Employment.Length
16996                               1            1 year
47673                               1         10+ years
95606                               1           2 years
40351                               3           4 years
70321                               0         10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
62797               2000                     2000.00        16.29%
1760               11000                     6557.05        12.53%
95560              10000                    10000.00        14.33%
101158             15000                    15000.00        16.29%
38040              23000                    22975.00        18.64%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
62797    36 months    home_improvement               30.58%    OH
1760     36 months               other                1.62%    CA
95560    36 months  debt_consolidation               23.56%    WA
101158   36 months         credit_card               10.67%    CA
38040    60 months  debt_consolidation               21.17%    GA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
62797        MORTGAGE         4166.67    670-674                  9
1760             RENT         6667.00    690-694                  7
95560            RENT         2750.00    700-704                  4
101158           RENT         5000.00    665-669                 14
38040            RENT         5166.67    690-694                 13

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
62797                       3313                               1
1760                        4526                               0
95560                      14317                               0
101158                     13611                               0
38040                      23773                               0

       Employment.Length
62797            2 years
1760           10+ years
95560            2 years
101158           4 years
38040            6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
89677             10000                    10000.00        15.31%   36 months
15949              4000                     4000.00        12.23%   60 months
23710             13000                    12909.48        10.74%   36 months
10                 5000                      525.00         9.33%   36 months
38028              6400                     6400.00         7.51%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
89677         credit_card               26.03%    WA       MORTGAGE
15949               other                2.63%    CO       MORTGAGE
23710  debt_consolidation               19.25%    CA           RENT
10       home_improvement               11.93%    WI       MORTGAGE
38028      major_purchase                9.58%    IL           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
89677         5416.67    675-679                 12                      7161
15949         9417.00    705-709                  5                     13865
23710         3200.00    715-719                  7                     28032
10           15000.00    715-719                 16                     60568
38028         6400.00    735-739                 11                     12306

       Inquiries.in.the.Last.6.Months Employment.Length
89677                               3               NaN
15949                               0           5 years
23710                               1          < 1 year
10                                  1           2 years
38028                               1          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
49038              3825                        3800         7.90%   36 months
56804              8000                        8000        17.99%   36 months
41014              8000                        7975        17.27%   36 months
84840              6000                        6000        15.31%   36 months
35260              2500                        2500         8.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
49038      small_business                3.72%    NY           RENT
56804  debt_consolidation                3.96%    FL           RENT
41014  debt_consolidation                8.60%    FL       MORTGAGE
84840  debt_consolidation                6.26%    NJ           RENT
35260               other               22.49%    MO           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
49038         3333.33    745-749                  3                      5106
56804         7750.00    660-664                  9                      8080
41014         1833.33    665-669                  7                      2963
84840        11833.33    660-664                 21                     21567
35260         2583.33    715-719                  7                      5883

       Inquiries.in.the.Last.6.Months Employment.Length
49038                               0           5 years
56804                               1           5 years
41014                               1           3 years
84840                               0           5 years
35260                               3           2 years

CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
85721              10000                       10000        13.11%
46870              14600                       14600         9.76%
16032              24000                       23800        21.14%
100985              2200                        2200         7.90%
84917              10000                       10000        13.11%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
85721    36 months  debt_consolidation               18.72%    CO
46870    36 months         credit_card               29.51%    FL
16032    60 months               other               12.92%    MI
100985   36 months      major_purchase                8.16%    WA
84917    36 months  debt_consolidation               18.96%    CA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
85721            RENT         4625.00    685-689                 13
46870             OWN         2500.00    730-734                 14
16032            RENT         9166.67    660-664                  7
100985       MORTGAGE         5500.00    770-774                  8
84917            RENT         8744.26    680-684                 16

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
85721                       7411                               0
46870                      23616                               1
16032                       4324                               0
100985                      2927                               0
84917                      27086                               0

       Employment.Length
85721            2 years
46870            2 years
16032          10+ years
100985           3 years
84917           < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
57190              5000                        5000         9.76%   36 months
38205             12300                       12300         7.51%   36 months
5794               2500                        2500        13.22%   36 months
8628              15000                       14825        12.73%   36 months
46021              1000                        1000        10.74%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
57190         credit_card               28.28%    NC       MORTGAGE
38205  debt_consolidation               22.29%    FL           RENT
5794   debt_consolidation               15.60%    CA       MORTGAGE
8628                other               16.89%    PA       MORTGAGE
46021  debt_consolidation                   9%    UT           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
57190         4583.33    695-699                 15                     38092
38205         3750.00    735-739                  6                     27282
5794          3166.67    690-694                 10                      3777
8628          6691.67    700-704                 14                     14488
46021         1100.00    715-719                  5                      1314

       Inquiries.in.the.Last.6.Months Employment.Length
57190                               0         10+ years
38205                               1           7 years
5794                                2          < 1 year
8628                                3           3 years
46021                               0           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
33641             18000                    17975.00        11.71%   36 months
93511              5000                     5000.00        15.80%   36 months
15634              6000                     5956.31         9.99%   36 months
22510              2500                     2500.00        10.37%   36 months
80484              6000                     6000.00        10.16%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
33641  debt_consolidation               10.34%    AZ           RENT
93511  debt_consolidation               17.61%    CA           RENT
15634  debt_consolidation               17.86%    CO       MORTGAGE
22510  debt_consolidation               24.30%    NJ           RENT
80484    home_improvement                6.56%    NC       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
33641         3540.00    700-704                  8                     14960
93511         4583.33    700-704                  4                      4164
15634         4980.00    685-689                 10                     15280
22510         2000.00    705-709                 10                      1523
80484         2333.33    710-714                  6                       440

       Inquiries.in.the.Last.6.Months Employment.Length
33641                               0          < 1 year
93511                               2           7 years
15634                               1               NaN
22510                               0           2 years
80484                               3           8 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
325                7000                     5525.00         7.75%   36 months
23743              4200                     4200.00        13.06%   36 months
59901             12500                    12500.00        14.09%   36 months
10326             15400                     9458.33        16.32%   60 months
92989             30000                    30000.00        17.77%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
325    debt_consolidation               10.37%    NV           RENT
23743      major_purchase               13.82%    NJ       MORTGAGE
59901  debt_consolidation               21.50%    TX            OWN
10326               house               15.17%    VA           RENT
92989               other                9.41%    MN           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
325           4158.00    765-769                 13                      6634
23743         6500.00    680-684                 14                     23653
59901         2083.33    685-689                  9                     11967
10326         6500.00    695-699                 11                      9989
92989        10192.00    710-714                 12                     24188

       Inquiries.in.the.Last.6.Months Employment.Length
325                                 0           8 years
23743                               1         10+ years
59901                               0           6 years
10326                               1           4 years
92989                               0          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
98277             20700                       20700        16.29%   60 months
54017              7000                        7000        13.11%   36 months
45793              8000                        8000         7.90%   36 months
53635             18000                       18000        20.99%   60 months
34440             12000                       12000         6.62%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
98277  debt_consolidation               32.95%    CA           RENT
54017             medical               22.36%    IL       MORTGAGE
45793             medical                8.91%    NY           RENT
53635         credit_card               11.63%    CA           RENT
34440  debt_consolidation                4.73%    WA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
98277         6250.00    720-724                 20                     22277
54017         5833.33    685-689                  7                     28985
45793         3166.67    755-759                  4                       680
53635         9051.83    670-674                  5                     32394
34440         7083.33    745-749                  9                      6578

       Inquiries.in.the.Last.6.Months Employment.Length
98277                               1           7 years
54017                               1           5 years
45793                               0           6 years
53635                               2           4 years
34440                               1         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
43487              5500                        5500        12.69%   36 months
25993             18000                       17975        10.99%   60 months
37383              5400                        5400        16.29%   36 months
74054             18000                       18000        12.12%   60 months
49539              3000                        3000        10.74%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
43487         credit_card               19.33%    VA           RENT
25993  debt_consolidation               15.35%    CA           RENT
37383             medical               20.03%    GA           RENT
74054  debt_consolidation               19.16%    VA       MORTGAGE
49539               other               15.55%    DE           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
43487         1800.00    670-674                  6                     12567
25993         5666.67    750-754                 12                      1372
37383         2666.67    660-664                  9                     11114
74054         7583.33    730-734                 14                     26622
49539         2000.00    705-709                  5                      1750

       Inquiries.in.the.Last.6.Months Employment.Length
43487                               0           4 years
25993                               0           2 years
37383                               1            1 year
74054                               0           3 years
49539                               1           2 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
61152              21000                    21000.00         7.62%
61151               8000                     8000.00        17.77%
103989              1750                     1750.00         7.88%
988                 7500                      214.02         8.00%
47060               9500                     9500.00        14.65%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
61152    36 months  debt_consolidation                6.84%    IL
61151    36 months         credit_card               34.56%    IL
103989   36 months  debt_consolidation               23.35%    VA
988      36 months               other                7.17%    KS
47060    36 months  debt_consolidation                8.82%    CA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
61152        MORTGAGE         5333.33    775-779                  7
61151            RENT         3291.67    725-729                 26
103989       MORTGAGE         2000.00    735-739                 13
988          MORTGAGE         3750.00    795-799                 14
47060            RENT         5416.67    685-689                  4

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
61152                      19178                               0
61151                      18518                               0
103989                     13826                               5
988                         9409                               1
47060                       7831                               0

       Employment.Length
61152            7 years
61151            2 years
103989         10+ years
988              7 years
47060             1 year
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
71136              14500                       14500        14.09%
58346               4800                        4800        19.99%
30210               3800                        3800         6.99%
101065             20675                       20675        17.27%
101515              3500                         225        10.28%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
71136    36 months  debt_consolidation               27.78%    MI
58346    36 months  debt_consolidation               20.44%    NM
30210    36 months         credit_card                3.18%    NY
101065   60 months  debt_consolidation               13.30%    MD
101515   36 months               other                  10%    NY

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
71136        MORTGAGE         6250.00    705-709                9.0
58346        MORTGAGE         2500.00    660-664                4.0
30210            RENT         3583.33    740-744                9.0
101065           RENT         3916.67    710-714                5.0
101515           RENT        15000.00    685-689                NaN

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
71136                    46129.0                             0.0
58346                    21514.0                             1.0
30210                     3766.0                             0.0
101065                    2449.0                             0.0
101515                       NaN                             NaN

       Employment.Length
71136          10+ years
58346                NaN
30210            4 years
101065            1 year
101515          < 1 year

CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
101340             27050                       27050        19.05%
7167                8000                        7850        15.33%
39602               5300                        5300        15.27%
85090               5000                        5000         7.90%
90356              15500                       15500         8.90%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
101340   60 months  debt_consolidation               12.89%    MI
7167     36 months  debt_consolidation               16.04%    FL
39602    36 months         credit_card               24.88%    CT
85090    36 months  debt_consolidation               12.85%    PA
90356    36 months    home_improvement               16.36%    PA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
101340       MORTGAGE         5083.33    690-694                  8
7167         MORTGAGE         6416.67    675-679                  8
39602            RENT         2500.00    660-664                 11
85090             OWN         6666.67    730-734                 18
90356            RENT         9000.00    700-704                  8

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
101340                     15793                               0
7167                       25573                               3
39602                       7855                               2
85090                       9597                               2
90356                       4097                               4

       Employment.Length
101340           6 years
7167             6 years
39602             1 year
85090            3 years
90356          10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
26354              11200                       11200         7.91%
100217             16000                       16000        23.76%
83773              21850                       21850        15.80%
46350               2400                        2375         8.90%
23644               2700                        2700         5.79%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
26354    36 months  debt_consolidation               13.07%    GA
100217   60 months         credit_card               27.06%    TX
83773    36 months         credit_card               26.29%    NJ
46350    36 months  debt_consolidation               11.23%    NC
23644    36 months  debt_consolidation               19.81%    OH

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
26354        MORTGAGE         8500.00    720-724                  9
100217           RENT         5416.67    665-669                 18
83773            RENT        10000.00    690-694                 20
46350            RENT         2333.33    705-709                  8
23644        MORTGAGE         3958.33    750-754                 14

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
26354                       5439                               1
100217                     24610                               3
83773                      43173                               1
46350                       2075                               0
23644                      13159                               1

       Employment.Length
26354            3 years
100217            1 year
83773            4 years
46350            4 years
23644            8 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
33138             30100                    30100.00        19.42%   60 months
60512             20000                    20000.00        14.33%   60 months
48836              6000                     6000.00         6.62%   36 months
45033              2000                     2000.00        14.65%   36 months
1269               3200                      766.09        12.86%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
33138    home_improvement                3.31%    DC       MORTGAGE
60512  debt_consolidation               15.68%    CA           RENT
48836               house               16.03%    FL           RENT
45033  debt_consolidation               16.66%    CA            OWN
1269                other               14.77%    PA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
33138         8333.33    705-709                 15                      3737
60512         7083.33    720-724                  8                     17270
48836         4166.67    805-809                  5                        79
45033         2083.33    685-689                  5                      2566
1269          2824.00    670-674                  6                      3318

       Inquiries.in.the.Last.6.Months Employment.Length
33138                               3           6 years
60512                               0           5 years
48836                               0            1 year
45033                               1           5 years
1269                                1           7 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
29200             18000                       17950        13.49%   60 months
33736             15000                       15000        15.27%   36 months
24516              5000                        5000        11.99%   60 months
53112              7500                        7500        13.67%   36 months
57593             16000                       16000        17.99%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
29200  debt_consolidation               28.35%    MD       MORTGAGE
33736      small_business                7.85%    NJ           RENT
24516      major_purchase               14.85%    TX           RENT
53112         credit_card               15.97%    WV           RENT
57593  debt_consolidation                5.64%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
29200        13333.33    740-744                 23                     39592
33736        15416.67    680-684                 17                      8962
24516         4167.00    725-729                 10                      3489
53112         4833.33    700-704                  8                      3908
57593         7415.83    665-669                 10                     21686

       Inquiries.in.the.Last.6.Months Employment.Length
29200                               0          < 1 year
33736                               1           6 years
24516                               3           2 years
53112                               2           5 years
57593                               3         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
37095             20000                       20000         7.90%   36 months
89600             24000                       24000        15.80%   60 months
14080             25000                       24925        15.95%   36 months
39481              3000                        3000         6.03%   36 months
6717               8000                        7875        11.48%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
37095      small_business               21.42%    TX       MORTGAGE
89600  debt_consolidation               16.73%    NC       MORTGAGE
14080         credit_card               17.95%    MD           RENT
39481               other                5.50%    VA           RENT
6717                other               15.10%    FL            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
37095         5000.00    755-759                  6                      6264
89600         7500.00    665-669                 10                     24126
14080         7983.33    685-689                 14                     28330
39481         4166.67    750-754                  7                      9616
6717          3833.33    735-739                  4                     13415

       Inquiries.in.the.Last.6.Months Employment.Length
37095                               1           7 years
89600                               0           7 years
14080                               0           2 years
39481                               0           5 years
6717                                0           6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
27671             13000                       13000        10.99%   60 months
55501              8000                        8000         6.03%   36 months
56361             10000                       10000        12.12%   36 months
5166              20000                       19925        12.53%   36 months
87150             21700                       21700        15.31%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
27671    home_improvement               21.70%    GA       MORTGAGE
55501  debt_consolidation                4.51%    OR       MORTGAGE
56361    home_improvement               31.46%    NY       MORTGAGE
5166                other                3.65%    AZ       MORTGAGE
87150         credit_card               13.93%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
27671         6517.00    740-744                 14                      4663
55501         3500.00    815-819                  9                      6737
56361         5000.00    695-699                 16                     18921
5166          5200.00    780-784                  3                      9231
87150         5147.17    695-699                  6                      8795

       Inquiries.in.the.Last.6.Months Employment.Length
27671                               0           3 years
55501                               0         10+ years
56361                               0           6 years
5166                                0           7 years
87150                               2               NaN
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
29016               2500                     2500.00        11.99%
103215             10000                     9869.17        14.96%
43612              17000                    17000.00         7.90%
38534              10000                    10000.00         6.62%
46458              14100                    14100.00        18.55%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
29016    36 months  debt_consolidation                9.98%    RI
103215   36 months  debt_consolidation               17.79%    MA
43612    36 months                 car               27.41%    CA
38534    36 months  debt_consolidation               24.24%    IL
46458    36 months  debt_consolidation               22.70%    AL

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
29016            RENT         6250.00    680-684                 10
103215           RENT         3750.00    670-674                 16
43612            RENT         3083.33    735-739                 12
38534            RENT         3750.00    765-769                  9
46458             OWN         3000.00    665-669                  7

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
29016                      11131                               3
103215                      7201                               4
43612                      16756                               0
38534                       1623                               0
46458                      12114                               1

       Employment.Length
29016          10+ years
103215           4 years
43612          10+ years
38534            2 years
46458          10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
99787              26500                    26500.00        20.49%
87571              12000                    12000.00        12.12%
102444              2200                       -0.01        13.87%
67421               7200                     7200.00         7.62%
1076                6500                     1196.59         8.32%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
99787    60 months         credit_card               30.36%    MO
87571    36 months  debt_consolidation                9.70%    CA
102444   36 months         credit_card               10.35%    NJ
67421    36 months                 car                7.97%    CA
1076     36 months  debt_consolidation                5.43%    PA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
99787        MORTGAGE         5000.00    690-694                 14
87571        MORTGAGE        11166.67    710-714                 11
102444           RENT         3333.33    640-644                 10
67421            RENT         8333.33    730-734                 12
1076         MORTGAGE         3333.00    740-744                  9

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
99787                      10350                               0
87571                      19643                               1
102444                     11606                               1
67421                      25430                               0
1076                        9830                               5

       Employment.Length
99787            5 years
87571            3 years
102444           3 years
67421            6 years
1076           10+ years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
75473             19750                       19750        17.27%   60 months
22134             21000                       20975        14.91%   60 months
46017              3500                        3500        15.81%   36 months
26369              2650                        2650         7.49%   36 months
52860             15000                       15000        13.11%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
75473  debt_consolidation               13.39%    NY       MORTGAGE
22134  debt_consolidation                9.64%    CA           RENT
46017  debt_consolidation               13.14%    AR       MORTGAGE
26369  debt_consolidation               21.11%    WV            OWN
52860         credit_card               19.36%    CA            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
75473         6737.50    710-714                 14                     19070
22134         3476.80    725-729                 10                         0
46017        18333.33    665-669                  8                     11107
26369         1482.92    725-729                 15                      1808
52860         5000.00    695-699                 10                     16618

       Inquiries.in.the.Last.6.Months Employment.Length
75473                               3           4 years
22134                               1           4 years
46017                               2           7 years
26369                               2           4 years
52860                               0         10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
101246              4800                        4800        14.33%
53054              12000                       12000        17.99%
66184               6000                        6000         6.62%
34351              12000                       12000         7.90%
68999               1550                        1550        12.12%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
101246   36 months         credit_card               18.91%    IL
53054    36 months  debt_consolidation               17.37%    CT
66184    36 months  debt_consolidation                3.88%    NH
34351    60 months  debt_consolidation                1.88%    DE
68999    36 months               other               11.21%    CA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
101246       MORTGAGE         5833.33    695-699                 13
53054        MORTGAGE         3666.67    670-674                 10
66184        MORTGAGE         5000.00    760-764                  5
34351        MORTGAGE         6666.67    790-794                  6
68999            RENT         5083.33    680-684                  9

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
101246                     29287                               1
53054                       7393                               0
66184                       4242                               0
34351                       3364                               0
68999                       5755                               0

       Employment.Length
101246           5 years
53054            7 years
66184             1 year
34351            6 years
68999            6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
91334             35000                       35000        15.31%   36 months
7183               3000                        3000         7.14%   36 months
9928              15000                       14775        10.25%   36 months
90912             14400                       14400        18.49%   36 months
7565              12000                       12000         9.88%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
91334  debt_consolidation               19.59%    PA       MORTGAGE
7183   debt_consolidation               12.85%    PA           RENT
9928          credit_card                5.72%    CA       MORTGAGE
90912         credit_card               33.23%    FL           RENT
7565          educational                5.16%    OH       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
91334         7500.00    695-699                 11                     29953
7183          4916.67    730-734                  8                      3210
9928          9166.67    720-724                 13                     14887
90912         5166.67    665-669                 14                     11089
7565          3333.33    755-759                  7                      1117

       Inquiries.in.the.Last.6.Months Employment.Length
91334                               2            1 year
7183                                0           5 years
9928                                0           5 years
90912                               2           4 years
7565                                3           3 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
44547             20000                       19975        19.99%   36 months
19636             11700                       11650         7.66%   36 months
89378              7750                        7750        13.11%   36 months
35796             12000                       12000        19.91%   60 months
15164              6000                        5750         7.14%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
44547  debt_consolidation                6.81%    NY           RENT
19636  debt_consolidation               12.13%    MO       MORTGAGE
89378         credit_card               27.28%    TX       MORTGAGE
35796  debt_consolidation               11.73%    GA           RENT
15164  debt_consolidation                8.91%    CT       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
44547         5500.00    660-664                 11                      9028
19636         4583.33    745-749                 13                     26769
89378         4208.33    660-664                 14                     11840
35796         3000.00    660-664                 10                     10828
15164         4500.00    760-764                 10                      4561

       Inquiries.in.the.Last.6.Months Employment.Length
44547                               1           3 years
19636                               1         10+ years
89378                               0           2 years
35796                               0           4 years
15164                               1         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
48980              5000                        5000         7.90%   36 months
79282              6000                        6000        16.29%   36 months
15704             25000                       15925        10.36%   60 months
52129             23000                       23000         7.62%   36 months
75471             10000                       10000        13.11%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
48980    home_improvement               27.06%    LA       MORTGAGE
79282         credit_card               20.96%    TX       MORTGAGE
15704  debt_consolidation               11.22%    NJ           RENT
52129                 car                6.51%    CA       MORTGAGE
75471  debt_consolidation                9.14%    OH       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
48980         3333.33    720-724                 16                     11746
79282         4183.33    665-669                 10                      7335
15704         7916.67    755-759                  6                     36534
52129        25000.00    810-814                 10                       227
75471         5416.67    700-704                  6                      8119

       Inquiries.in.the.Last.6.Months Employment.Length
48980                               0           8 years
79282                               1           4 years
15704                               1           2 years
52129                               0         10+ years
75471                               1           7 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
11953              4800                        4800         7.88%   60 months
77074             20500                       20500        12.12%   36 months
23829             21000                       20950        18.79%   60 months
33557              7500                        7500         7.90%   36 months
20782             16800                       16800        16.40%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
11953      major_purchase                7.88%    CA       MORTGAGE
77074         credit_card               30.95%    NV       MORTGAGE
23829  debt_consolidation               20.31%    FL       MORTGAGE
33557      major_purchase               11.79%    MD            OWN
20782  debt_consolidation                7.02%    MO       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
11953         1600.00    765-769                  6                      4191
77074         4333.33    705-709                 14                     33294
23829         6750.00    690-694                 14                     24763
33557         2916.67    820-824                  2                       349
20782         6666.67    675-679                  8                     16211

       Inquiries.in.the.Last.6.Months Employment.Length
11953                               1               NaN
77074                               0         10+ years
23829                               0          < 1 year
33557                               0            1 year
20782                               1          < 1 year
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
476                10000                     8851.08        11.66%
25849              12000                    12000.00        16.49%
51979              17900                    17900.00        18.25%
102637             24000                     9675.00        17.15%
66528               9600                     9600.00        14.33%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
476      36 months  debt_consolidation                8.40%    CA
25849    60 months      small_business               18.63%    NY
51979    60 months  debt_consolidation                7.36%    TX
102637   36 months  debt_consolidation               12.70%    FL
66528    36 months  debt_consolidation               20.69%    MO

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
476          MORTGAGE         4133.33    685-689                  6
25849            RENT         4000.00    685-689                  9
51979            RENT         5000.00    705-709                  7
102637           RENT        18483.00    670-674                 14
66528        MORTGAGE         2750.00    670-674                 16

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
476                        11735                               2
25849                      11376                               0
51979                      10217                               0
102637                     40099                               6
66528                      11518                               0

       Employment.Length
476            10+ years
25849          10+ years
51979          10+ years
102637           5 years
66528          10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
20309              8000                        8000        12.68%   60 months
22312              9000                        9000        13.43%   36 months
32340             10000                       10000        14.65%   36 months
51429              8000                        8000        16.29%   36 months
11819             12000                       12000        16.32%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
20309         credit_card               18.78%    VT       MORTGAGE
22312      major_purchase               19.45%    NJ            OWN
32340      major_purchase               19.25%    OH       MORTGAGE
51429  debt_consolidation                9.75%    TX           RENT
11819      major_purchase                9.74%    TX           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
20309        11583.33    700-704                 13                     86700
22312         6750.00    690-694                  7                     26588
32340         8083.33    675-679                 14                      9246
51429         5250.00    665-669                 14                      6035
11819         5000.00    680-684                  9                      6852

       Inquiries.in.the.Last.6.Months Employment.Length
20309                               0         10+ years
22312                               1           4 years
32340                               1         10+ years
51429                               1           5 years
11819                               1           3 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
95994              20000                       19950        11.14%
103708              4800                        4800         7.88%
41417              28000                       27950        19.42%
77733              10000                       10000        11.14%
80219               7300                        7300         6.62%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
95994    36 months  debt_consolidation               17.37%    NH
103708   36 months  debt_consolidation               23.95%    FL
41417    60 months  debt_consolidation                4.56%    VA
77733    36 months    home_improvement                8.80%    NC
80219    36 months         credit_card               20.11%    GA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
95994        MORTGAGE         6650.00    715-719                  9
103708       MORTGAGE         3750.00    710-714                 19
41417        MORTGAGE        10813.17    685-689                  8
77733             OWN         4000.00    705-709                 17
80219        MORTGAGE         3416.67    730-734                 14

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
95994                      19955                               1
103708                    114509                               0
41417                       9397                               3
77733                      10750                               0
80219                      23030                               0

       Employment.Length
95994          10+ years
103708               NaN
41417          10+ years
77733            5 years
80219            4 years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
41948              8450                     8450.00         7.90%   36 months
65978             20000                    20000.00        21.98%   60 months
69027             16000                    16000.00        21.98%   60 months
42567             30000                    29950.00        17.27%   36 months
29901             12000                    11530.58        15.23%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
41948  debt_consolidation               10.93%    PA           RENT
65978    home_improvement               17.08%    TX       MORTGAGE
69027    home_improvement               10.99%    IL       MORTGAGE
42567  debt_consolidation               12.29%    TX           RENT
29901         credit_card               20.18%    WA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
41948         3000.00    730-734                  6                      7603
65978         5000.00    675-679                  5                     19780
69027         3466.67    665-669                  8                     13797
42567        10000.00    695-699                 17                     18680
29901         4166.67    700-704                 10                     18559

       Inquiries.in.the.Last.6.Months Employment.Length
41948                               1           3 years
65978                               1           2 years
69027                               1           7 years
42567                               0           3 years
29901                               1           7 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
6521               24500                    24450.00        11.83%
101612              3000                     2275.00        13.75%
78680               8000                     8000.00        15.31%
5923               17000                    16786.31         8.94%
35870               4200                     4200.00        11.71%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
6521     36 months               house               13.42%    NY
101612   36 months         educational                2.38%    FL
78680    36 months               other               18.62%    CO
5923     36 months            vacation                2.19%    CA
35870    36 months  debt_consolidation               15.97%    IL

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
6521              OWN        12500.00    810-814                 10
101612            OWN          588.50    640-644                  4
78680             OWN         3083.33    680-684                 14
5923         MORTGAGE        10000.00    775-779                 15
35870            RENT         6041.67    680-684                 11

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
6521                         346                               0
101612                       469                               0
78680                       1669                               2
5923                       63646                               1
35870                       5913                               0

       Employment.Length
6521           10+ years
101612           8 years
78680            4 years
5923            < 1 year
35870            8 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
32893              1400                        1400        14.27%   36 months
59277              2500                        2500        14.65%   36 months
48342             12000                       12000        15.31%   36 months
33055              2200                        2200        11.71%   36 months
93780             35000                       35000        16.29%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
32893             medical                3.05%    OR           RENT
59277  debt_consolidation               23.58%    FL            OWN
48342  debt_consolidation               18.24%    TX       MORTGAGE
33055    home_improvement                1.02%    NY       MORTGAGE
93780  debt_consolidation               19.92%    FL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
32893         2750.00    680-684                  3                      1276
59277         5130.42    670-674                 13                      5942
48342         3333.33    675-679                 12                      6209
33055         7167.92    725-729                  4                      2639
93780        14166.67    660-664                 12                    216561

       Inquiries.in.the.Last.6.Months Employment.Length
32893                               0            1 year
59277                               2           4 years
48342                               1           7 years
33055                               0           3 years
93780                               1         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
84644             12000                       12000        14.09%   36 months
50596              9600                        9575        13.99%   36 months
93374             16500                       16500         6.03%   36 months
10819             15000                       14450        11.86%   60 months
27369              1500                        1500        11.49%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
84644  debt_consolidation               10.21%    NY       MORTGAGE
50596               other               13.94%    MN           RENT
93374  debt_consolidation               22.65%    CA       MORTGAGE
10819  debt_consolidation               16.38%    MA       MORTGAGE
27369               other               15.90%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
84644        20833.33    695-699                 17                     23800
50596         3206.67    670-674                 10                      9824
93374         5416.67    815-819                 17                     14835
10819         6166.67    730-734                  6                     42971
27369         5555.08    685-689                 16                     21774

       Inquiries.in.the.Last.6.Months Employment.Length
84644                               2           4 years
50596                               0           9 years
93374                               0         10+ years
10819                               0         10+ years
27369                               2         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
89755              4000                        4000        12.12%   36 months
13183              4325                        4250        10.75%   36 months
16900              3600                        3575         6.91%   36 months
88332             28000                       28000         7.62%   36 months
49292             15000                       15000        13.11%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
89755  debt_consolidation               25.95%    WI       MORTGAGE
13183               other               17.77%    GA           RENT
16900  debt_consolidation               19.07%    CO           RENT
88332  debt_consolidation               19.21%    OH       MORTGAGE
49292         credit_card               18.73%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
89755         3333.33    705-709                  8                     24937
13183         4400.00    705-709                  7                      3365
16900         1500.00    715-719                  7                      4298
88332        14166.67    730-734                 10                     49026
49292         4000.00    695-699                  7                     15055

       Inquiries.in.the.Last.6.Months Employment.Length
89755                               0            1 year
13183                               0           2 years
16900                               0          < 1 year
88332                               0         10+ years
49292                               0           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
65245              5000                        5000        15.31%   36 months
48606             21000                       21000        13.67%   36 months
21688              5000                        5000        17.14%   60 months
77606             14400                       14400        10.16%   36 months
65358             13600                       13600        13.11%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
65245             wedding               10.28%    CA           RENT
48606  debt_consolidation               11.42%    SC       MORTGAGE
21688                 car                4.17%    WI       MORTGAGE
77606  debt_consolidation               28.54%    MD       MORTGAGE
65358  debt_consolidation               20.37%    HI           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
65245         1916.67    660-664                  8                      5982
48606        10700.00    710-714                 12                     16830
21688         3000.00    680-684                  4                       760
77606         5083.33    705-709                 12                      4292
65358         3666.67    680-684                 14                     20411

       Inquiries.in.the.Last.6.Months Employment.Length
65245                               0           5 years
48606                               2           2 years
21688                               1         10+ years
77606                               0           9 years
65358                               0           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
6908               7500                     7400.00         7.74%   36 months
90491             18000                    17975.00        19.05%   36 months
10594             15000                    10765.99         7.88%   36 months
49772              4800                     4800.00        12.12%   36 months
75838             10000                    10000.00        13.11%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
6908   debt_consolidation                7.72%    NJ            OWN
90491              moving               33.23%    GA       MORTGAGE
10594         credit_card                3.90%    OH           RENT
49772               other               16.94%    MD           RENT
75838  debt_consolidation               26.87%    CO           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
6908         10000.00    775-779                 14                      5195
90491         5416.67    685-689                 10                     15626
10594        10000.00    755-759                  8                      6055
49772         4800.00    680-684                  7                      2770
75838         3166.67    680-684                  6                      7271

       Inquiries.in.the.Last.6.Months Employment.Length
6908                                1           3 years
90491                               1         10+ years
10594                               2           5 years
49772                               0          < 1 year
75838                               0           7 years
CHUNK DF

       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
47896             26500                       26450        18.25%   60 months
6011              15800                       15450        11.14%   36 months
58595             20000                       20000         8.90%   36 months
54201              7000                        7000        15.31%   36 months
50633             24000                       24000         7.62%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
47896  debt_consolidation                3.67%    WA           RENT
6011   debt_consolidation               21.88%    OK            OWN
58595  debt_consolidation                3.18%    NC       MORTGAGE
54201         credit_card               14.74%    TX           RENT
50633    home_improvement               14.22%    OK       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
47896         4416.67    720-724                  3                      7628
6011          8333.33    745-749                  7                     29860
58595        17500.00    735-739                  6                     28579
54201        12208.33    685-689                 22                     25181
50633         6833.33    760-764                  8                     11058

       Inquiries.in.the.Last.6.Months Employment.Length
47896                               1           3 years
6011                                0          < 1 year
58595                               2           8 years
54201                               3         10+ years
50633                               0         10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
59083              12000                       12000        14.65%
101795             10000                         550        10.59%
27048              23000                       22975        11.99%
23087              14000                       13975        17.51%
84582              18000                       17975        18.75%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
59083    36 months  debt_consolidation               11.39%    AR
101795   36 months  debt_consolidation               10.22%    IN
27048    36 months         credit_card               20.81%    LA
23087    60 months    home_improvement               16.44%    NH
84582    60 months  debt_consolidation               23.34%    TX

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
59083            RENT         8333.33    685-689                 14
101795           RENT         2083.33    685-689                  4
27048        MORTGAGE         7000.00    725-729                 10
23087             OWN         4666.67    695-699                 11
84582        MORTGAGE         5416.67    695-699                 10

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
59083                      19696                               2
101795                      6552                               4
27048                      21598                               3
23087                      10948                               3
84582                      14744                               2

       Employment.Length
59083            6 years
101795          < 1 year
27048          10+ years
23087          10+ years
84582            2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
85509              7000                        7000        10.16%   36 months
34695             12700                       12700         7.90%   60 months
14152             12000                       11975        13.98%   60 months
82435              4500                        4475        11.14%   36 months
7254               1000                        1000         7.88%   36 months

           Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
85509             other               24.01%    CA       MORTGAGE
34695  home_improvement               19.47%    PA       MORTGAGE
14152       credit_card               18.41%    CA       MORTGAGE
82435             other               34.74%    WA           RENT
7254             moving               17.15%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
85509        10250.00    705-709                 15                     43306
34695         5833.33    775-779                 12                     14787
14152         4666.67    700-704                 14                     13616
82435         2700.00    690-694                 13                      6747
7254          6000.00    715-719                 11                     23572

       Inquiries.in.the.Last.6.Months Employment.Length
85509                               0           2 years
34695                               0         10+ years
14152                               0           8 years
82435                               0         10+ years
7254                                1           3 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
49690              1000                        1000        15.81%   36 months
67383             10550                       10525        12.12%   36 months
72091             17825                       17825        14.09%   36 months
83505             10750                       10750        14.09%   36 months
55812             13600                       13600         7.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
49690    home_improvement               24.40%    MD            OWN
67383  debt_consolidation               18.75%    NJ           RENT
72091  debt_consolidation               18.85%    TX       MORTGAGE
83505               other               26.14%    OH           RENT
55812    home_improvement               12.61%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
49690         3000.00    665-669                  5                      3430
67383         5583.33    685-689                  7                      9533
72091         6250.00    690-694                 12                     27554
83505         2666.67    720-724                  3                      9800
55812         6250.00    740-744                  7                     14524

       Inquiries.in.the.Last.6.Months Employment.Length
49690                               1           3 years
67383                               0         10+ years
72091                               0         10+ years
83505                               0           8 years
55812                               0               NaN
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
80906             20000                       20000        22.47%   60 months
88495             10050                       10050        14.33%   36 months
42455             30000                       30000         8.90%   36 months
63971             27575                       27575        17.27%   36 months
92524             14675                       14625        13.11%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
80906  debt_consolidation               23.94%    WA       MORTGAGE
88495  debt_consolidation               24.59%    MT       MORTGAGE
42455  debt_consolidation               26.65%    CA           RENT
63971         credit_card               33.47%    PA       MORTGAGE
92524  debt_consolidation               19.20%    MA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
80906         7000.00    670-674                  8                     19537
88495         2500.00    685-689                  9                     10421
42455         6666.67    740-744                  7                     10472
63971         5750.00    700-704                 21                     24705
92524         4416.67    695-699                 16                     17930

       Inquiries.in.the.Last.6.Months Employment.Length
80906                               1         10+ years
88495                               0           7 years
42455                               0          < 1 year
63971                               2               NaN
92524                               2         10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
79400              10000                    10000.00        14.09%
65957               7275                     7275.00         7.90%
88526               4200                     4200.00        17.27%
104012             25000                    24288.45        11.86%
30929              13500                    13500.00        19.69%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
79400    36 months  debt_consolidation               17.79%    CA
65957    36 months  debt_consolidation               25.41%    CA
88526    36 months         credit_card               14.78%    AK
104012   36 months  debt_consolidation                7.43%    TX
30929    60 months  debt_consolidation               15.08%    DC

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
79400            RENT         3333.33    675-679                  9
65957            RENT         7000.00    720-724                 13
88526            RENT         2083.33    660-664                  7
104012       MORTGAGE         5250.00    730-734                  9
30929            RENT         2666.67    665-669                  6

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
79400                      10525                               0
65957                       8532                               0
88526                       3690                               0
104012                     18318                               4
30929                      13341                               1

       Employment.Length
79400          10+ years
65957            4 years
88526           < 1 year
104012         10+ years
30929          10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
101002              2200                        2200        15.31%
54710              20000                       20000        13.99%
50817              14000                       14000        13.11%
88361              12000                       12000         6.62%
47163               4200                        4200        13.67%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
101002   36 months  debt_consolidation               28.84%    CA
54710    36 months  debt_consolidation                9.57%    CA
50817    36 months         credit_card               16.78%    CA
88361    36 months         credit_card               10.86%    WA
47163    36 months               other               12.52%    TX

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
101002           RENT            4750    675-679                 13
54710            RENT            3750    700-704                 13
50817            RENT            5500    680-684                 10
88361            RENT           12500    730-734                 12
47163             OWN            5000    710-714                  8

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
101002                     26552                               0
54710                       9775                               1
50817                       4919                               0
88361                      15445                               0
47163                       9234                               1

       Employment.Length
101002               NaN
54710          10+ years
50817            7 years
88361            3 years
47163            4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
74506              7100                      7100.0        11.14%   36 months
48636             15000                     15000.0        14.65%   36 months
2007              15000                      9364.4        10.95%   36 months
55042              9000                      8975.0        14.65%   36 months
63404             23300                     23275.0        23.83%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
74506  debt_consolidation               12.46%    GA       MORTGAGE
48636         credit_card                5.52%    WA       MORTGAGE
2007       small_business                2.77%    TX       MORTGAGE
55042         credit_card               14.36%    MI           RENT
63404  debt_consolidation               33.56%    GA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
74506         2183.33    690-694                  7                      7013
48636         5416.67    700-704                  9                     13775
2007          6666.67    750-754                 13                     11002
55042         2500.00    665-669                 10                     11540
63404        13666.67    660-664                 15                     72774

       Inquiries.in.the.Last.6.Months Employment.Length
74506                               0         10+ years
48636                               1         10+ years
2007                                1          < 1 year
55042                               0          < 1 year
63404                               1           9 years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
97210             20000                    20000.00        15.80%   60 months
56887              2000                     2000.00        13.99%   36 months
13181             25000                    20737.86        13.98%   60 months
15176             11975                    11975.00        15.21%   60 months
85370             10000                    10000.00        15.80%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
97210         credit_card               25.89%    CA           RENT
56887         credit_card               25.13%    NY           RENT
13181  debt_consolidation                8.91%    VA           RENT
15176  debt_consolidation               19.81%    MD       MORTGAGE
85370  debt_consolidation               13.57%    OH       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
97210         4166.67    690-694                 23                     34720
56887         7583.33    670-674                 11                     39656
13181        10833.33    720-724                 11                     35046
15176         5382.00    695-699                 11                      9475
85370         4583.33    675-679                 16                     24989

       Inquiries.in.the.Last.6.Months Employment.Length
97210                               0           5 years
56887                               0         10+ years
13181                               2          < 1 year
15176                               0           3 years
85370                               1         10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
4481                9000                     8800.00        11.48%
20862              15800                    15700.00        16.02%
363                10000                     4082.56        13.30%
102503              3600                        0.00        13.24%
60439              10000                    10000.00        13.11%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
4481     36 months         credit_card               18.93%    TX
20862    60 months  debt_consolidation               19.64%    CA
363      36 months      small_business                6.31%    TX
102503   36 months               other                9.14%    OK
60439    36 months         credit_card                7.23%    UT

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
4481             RENT         3750.00    715-719                  6
20862        MORTGAGE         7388.42    710-714                 13
363               OWN        10000.00    660-664                 11
102503           RENT         6290.00    655-659                  7
60439        MORTGAGE         3333.33    700-704                  6

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
4481                       14576                               0
20862                      32120                               1
363                        28653                               0
102503                      3453                               0
60439                      10793                               2

       Employment.Length
4481            < 1 year
20862          10+ years
363            10+ years
102503          < 1 year
60439             1 year
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
53648              19500                    19500.00        20.50%
26129              18000                    18000.00         7.49%
18058              22000                    21950.00         8.88%
240                22350                      486.13        14.07%
103248              5000                     5000.00        13.92%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
53648    36 months  debt_consolidation                2.93%    WA
26129    36 months         credit_card                8.52%    NY
18058    36 months  debt_consolidation               19.37%    MD
240      36 months    home_improvement                3.66%    NY
103248   36 months  debt_consolidation               10.80%    NY

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
53648        MORTGAGE         9250.00    675-679                  5
26129             OWN         4250.00    755-759                  5
18058        MORTGAGE         6041.67    725-729                  9
240               OWN        11250.00    670-674                  8
103248           RENT         2500.00    700-704                  7

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
53648                       8915                               1
26129                      19566                               0
18058                       6055                               1
240                        10753                               2
103248                      2050                               4

       Employment.Length
53648          10+ years
26129          10+ years
18058           < 1 year
240               1 year
103248          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
81211             20000                       20000         7.62%   36 months
77887              7000                        7000         8.90%   36 months
79088             15000                       15000        14.09%   60 months
20486             10000                        9975        10.00%   60 months
81840             25000                       25000        21.49%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
81211  debt_consolidation                6.61%    CA           RENT
77887    home_improvement               14.69%    KY       MORTGAGE
79088  debt_consolidation                2.67%    NY           RENT
20486  debt_consolidation                5.70%    KY       MORTGAGE
81840  debt_consolidation                8.76%    NJ           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
81211        10833.33    770-774                  7                     16092
77887         5416.67    720-724                 14                     15272
79088         7236.67    750-754                  3                      3335
20486         2333.33    805-809                 10                      5547
81840         6250.00    680-684                  5                     17213

       Inquiries.in.the.Last.6.Months Employment.Length
81211                               0           4 years
77887                               1           3 years
79088                               0           2 years
20486                               2          < 1 year
81840                               0           9 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
53284             14400                       14400        13.11%   36 months
43392             10000                       10000        10.65%   36 months
96514             19750                       19750        16.29%   36 months
41484             10000                       10000        11.71%   36 months
4873               4550                        4550        13.57%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
53284  debt_consolidation               20.52%    CA           RENT
43392  debt_consolidation               12.56%    TX           RENT
96514               other                4.68%    FL       MORTGAGE
41484         credit_card               12.03%    NC       MORTGAGE
4873              medical               17.46%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
53284         3333.33    700-704                  9                     14073
43392         2833.33    710-714                  5                     14087
96514         8333.33    700-704                  9                     11383
41484         4000.00    695-699                 11                      8413
4873         10833.33    680-684                 10                     66461

       Inquiries.in.the.Last.6.Months Employment.Length
53284                               1           3 years
43392                               0           5 years
96514                               0          < 1 year
41484                               0         10+ years
4873                                0          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
1340               7500                     6392.86        10.83%   36 months
27608             13075                    13075.00        11.99%   60 months
41287              7000                     7000.00         7.90%   36 months
27572              3000                     3000.00         7.49%   36 months
17946             18000                    17950.00        14.46%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
1340          credit_card               20.91%    VA       MORTGAGE
27608  debt_consolidation               22.52%    OH       MORTGAGE
41287         credit_card                7.65%    NY           RENT
27572               other               21.16%    PA           RENT
17946  debt_consolidation               23.85%    TX       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
1340          7500.00    745-749                 12                    120338
27608         7291.67    715-719                 14                     27622
41287         2916.67    710-714                  7                      4276
27572         2500.00    800-804                  3                      1298
17946         5166.67    685-689                  8                     24380

       Inquiries.in.the.Last.6.Months Employment.Length
1340                                0           2 years
27608                               0         10+ years
41287                               0           3 years
27572                               0           2 years
17946                               0          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
89690             14675                       14675        16.29%   36 months
98621             10000                       10000        14.09%   36 months
54692              9600                        9600        10.74%   60 months
88893             10000                       10000        13.11%   36 months
16926              1500                        1500         6.91%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
89690         credit_card               27.23%    IL           RENT
98621         credit_card                8.48%    SC       MORTGAGE
54692               other                3.58%    MI       MORTGAGE
88893         credit_card                3.01%    NY       MORTGAGE
16926  debt_consolidation               16.74%    WI       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
89690         3250.00    695-699                 14                      7525
98621         3750.00    675-679                  4                      3776
54692         8000.00    725-729                  7                      3207
88893         9166.67    660-664                  5                     10079
16926         5166.67    715-719                 13                      7453

       Inquiries.in.the.Last.6.Months Employment.Length
89690                               1           2 years
98621                               0           3 years
54692                               0           3 years
88893                               1           6 years
16926                               1           6 years
CHUNK DF

        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
95489              10000                    10000.00        14.09%
103355              7000                     6963.08        13.11%
103801              4000                     4000.00        16.82%
90659              16750                    16750.00         7.90%
102010              5600                     4350.00        12.92%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
95489    36 months  debt_consolidation               19.17%    WI
103355   36 months  debt_consolidation               13.11%    PA
103801   60 months  debt_consolidation               15.82%    WI
90659    36 months         credit_card               18.16%    CA
102010   36 months  debt_consolidation                8.20%    CA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
95489            RENT            3750    680-684                  8
103355           RENT            4325    685-689                  8
103801       MORTGAGE            4721    685-689                 18
90659             OWN            9125    710-714                 19
102010           RENT            2500    660-664                  6

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
95489                       9969                               2
103355                      8076                               4
103801                     11319                               7
90659                      33986                               1
102010                     18718                               2

       Employment.Length
95489           < 1 year
103355           3 years
103801         10+ years
90659            2 years
102010           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
74303             11950                       11950        14.33%   36 months
29601             12000                       12000        13.99%   60 months
36716              5000                        5000         7.51%   36 months
76218              3800                        3800        12.12%   36 months
43556              9000                        9000        10.65%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
74303               other               21.22%    RI       MORTGAGE
29601         credit_card               10.34%    CA           RENT
36716  debt_consolidation                9.53%    CO       MORTGAGE
76218  debt_consolidation               23.36%    SC            OWN
43556      small_business               21.53%    NC           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
74303         5833.33    700-704                 22                     15962
29601         4166.67    715-719                 13                     16069
36716         4333.33    755-759                  5                      1825
76218         2641.67    705-709                  3                      8467
43556         3000.00    700-704                  6                      4602

       Inquiries.in.the.Last.6.Months Employment.Length
74303                               1           8 years
29601                               1         10+ years
36716                               1           7 years
76218                               0           3 years
43556                               0          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
53046              5000                     5000.00         9.76%   36 months
14190              7000                     7000.00        11.86%   36 months
29227              5000                     5000.00        10.99%   36 months
28738             20000                    18126.99        11.99%   60 months
13689              2000                     2000.00        14.35%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
53046         credit_card               17.79%    OK       MORTGAGE
14190         credit_card               12.03%    CA           RENT
29227            vacation               14.66%    IL           RENT
28738  debt_consolidation               20.24%    IL       MORTGAGE
13689  debt_consolidation               22.06%    OH            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
53046         3333.33    695-699                  9                      5330
14190         3400.00    690-694                  8                      6163
29227         7333.33    725-729                 23                     35055
28738         4500.00    740-744                 15                     26424
13689         3600.00    665-669                 10                     14234

       Inquiries.in.the.Last.6.Months Employment.Length
53046                               0           6 years
14190                               1          < 1 year
29227                               1            1 year
28738                               0         10+ years
13689                               1           6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
91426             29175                    29175.00        13.11%   36 months
10852              9000                     8882.52        11.49%   60 months
47416             27000                    26975.00        18.55%   60 months
90687             20000                    20000.00        13.11%   60 months
94192             10000                    10000.00        10.16%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
91426  debt_consolidation               20.68%    CA           RENT
10852            vacation               13.87%    TX       MORTGAGE
47416  debt_consolidation               19.48%    AL       MORTGAGE
90687  debt_consolidation               17.76%    MN       MORTGAGE
94192  debt_consolidation               29.83%    OR           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
91426         5416.67    695-699                 10                     22811
10852        10000.00    750-754                 10                      4546
47416         6500.00    715-719                  9                     16294
90687         4853.33    720-724                 12                      1207
94192         4166.67    710-714                  9                     22207

       Inquiries.in.the.Last.6.Months Employment.Length
91426                               0         10+ years
10852                               0           3 years
47416                               1         10+ years
90687                               0           8 years
94192                               0           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
28201             10000                       10000         8.49%   36 months
61831              8000                        7975         6.03%   36 months
29670             12000                       12000         7.49%   36 months
97560             35000                       35000        17.27%   60 months
47488             11875                       11875         6.03%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
28201  debt_consolidation               20.27%    CT           RENT
61831    home_improvement               18.38%    NY       MORTGAGE
29670  debt_consolidation               13.40%    CA           RENT
97560  debt_consolidation               27.13%    MI            OWN
47488  debt_consolidation               20.80%    FL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
28201         6666.67    715-719                 14                     23061
61831         4250.00    755-759                 10                      4455
29670         5416.67    740-744                 13                     13953
97560        10000.00    705-709                 11                     42867
47488         2740.50    780-784                 16                     23490

       Inquiries.in.the.Last.6.Months Employment.Length
28201                               0           5 years
61831                               0           6 years
29670                               0           2 years
97560                               0            1 year
47488                               1         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
30840             20000                    19975.00        15.99%   60 months
1392              18000                     9516.78        11.78%   36 months
16291              8000                     7900.00        15.95%   60 months
18629             24000                    24000.00         6.54%   36 months
53465             11500                    11475.00        12.12%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
30840      small_business               16.16%    IL       MORTGAGE
1392   debt_consolidation               17.43%    TX       MORTGAGE
16291  debt_consolidation               20.16%    NY           RENT
18629  debt_consolidation                5.62%    OH       MORTGAGE
53465         credit_card               24.16%    FL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
30840         3750.00    700-704                  9                     19872
1392          7750.00    705-709                 17                     29046
16291         4500.00    665-669                 10                      2786
18629         9583.33    755-759                  9                     22725
53465         2458.33    695-699                  9                     21668

       Inquiries.in.the.Last.6.Months Employment.Length
30840                               1          < 1 year
1392                                0           3 years
16291                               1           5 years
18629                               2           3 years
53465                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
28315              2000                        2000        16.89%   36 months
32866             12800                       12800        16.77%   60 months
41589             10000                       10000        19.91%   36 months
12951              4800                        4800        16.82%   60 months
44836             10000                       10000        18.55%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
28315               other                3.31%    NJ           RENT
32866    home_improvement               19.12%    MD            OWN
41589  debt_consolidation               23.35%    CO       MORTGAGE
12951               house               14.84%    NY           RENT
44836         credit_card                6.24%    FL           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
28315         2750.00    675-679                  3                      3247
32866         4166.67    685-689                 15                     12693
41589         6000.00    680-684                 34                     19424
12951         4008.33    660-664                 18                      8828
44836         5416.67    670-674                  8                      9783

       Inquiries.in.the.Last.6.Months Employment.Length
28315                               2           2 years
32866                               2           5 years
41589                               1           5 years
12951                               0           8 years
44836                               2           3 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
99297             25000                       25000        14.33%   36 months
32654              5000                        5000        11.71%   36 months
62778              4800                        4775         7.90%   36 months
87968             16475                       16475        14.33%   60 months
78588              8000                        8000         7.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
99297         credit_card               27.88%    NM            OWN
32654      major_purchase               10.12%    GA           RENT
62778  debt_consolidation               13.74%    CA           RENT
87968  debt_consolidation               15.96%    GA       MORTGAGE
78588  debt_consolidation               22.83%    KS       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
99297         5416.67    710-714                 11                     18460
32654         9288.33    705-709                 17                       798
62778         6333.33    720-724                  6                      1782
87968         3333.33    725-729                  7                      5568
78588         3750.00    725-729                  8                      2719

       Inquiries.in.the.Last.6.Months Employment.Length
99297                               2         10+ years
32654                               1           3 years
62778                               0            1 year
87968                               1           8 years
78588                               2           6 years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
9349               5000                     4797.96        10.99%   36 months
81785             28350                    28350.00        19.72%   36 months
12788             16000                    15900.00        15.58%   60 months
13412             15000                    13885.68        17.93%   60 months
39115              6000                     5975.00         8.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
9349   debt_consolidation               19.88%    TX           RENT
81785  debt_consolidation               28.89%    NC           RENT
12788  debt_consolidation                5.21%    NY       MORTGAGE
13412  debt_consolidation                8.06%    HI           RENT
39115  debt_consolidation               17.48%    NJ           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
9349          3200.00    700-704                  7                       387
81785         5833.33    695-699                 11                     10119
12788        17500.00    700-704                  7                     12643
13412        12500.00    670-674                 14                      8296
39115         6996.17    700-704                 12                      6252

       Inquiries.in.the.Last.6.Months Employment.Length
9349                                0           3 years
81785                               0           9 years
12788                               1           5 years
13412                               0           7 years
39115                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
92536             21000                       21000        17.27%   60 months
45047              6000                        6000         7.90%   36 months
63234             10500                       10500        14.33%   36 months
90756             16000                       16000        15.80%   60 months
59014             10000                       10000        10.74%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
92536  debt_consolidation               31.48%    MO           RENT
45047  debt_consolidation               10.75%    SC       MORTGAGE
63234  debt_consolidation               27.80%    PA           RENT
90756  debt_consolidation               24.85%    IL       MORTGAGE
59014         credit_card               26.02%    MA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
92536         4583.33    680-684                 13                     32616
45047         2883.33    725-729                  8                      4813
63234         2500.00    670-674                  6                     16128
90756         5416.67    680-684                 10                      9638
59014         3750.00    720-724                  8                      6891

       Inquiries.in.the.Last.6.Months Employment.Length
92536                               1         10+ years
45047                               0           4 years
63234                               0          < 1 year
90756                               0         10+ years
59014                               1           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
3648               5000                     4975.00        11.58%   36 months
21477             30000                    29750.38        19.74%   60 months
16057             12000                    11975.00        14.46%   60 months
50389             35000                    35000.00        21.97%   60 months
32310             25200                    24999.92        20.30%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
3648   debt_consolidation               18.48%    AZ           RENT
21477  debt_consolidation               20.03%    GA            OWN
16057  debt_consolidation               20.50%    CA       MORTGAGE
50389  debt_consolidation               21.31%    MO       MORTGAGE
32310  debt_consolidation               14.90%    PA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
3648          7083.33    700-704                  6                      2591
21477         6250.00    700-704                  2                      7143
16057         5916.67    690-694                 11                      8244
50389         7833.33    685-689                 14                     27610
32310         7166.67    690-694                 11                     28481

       Inquiries.in.the.Last.6.Months Employment.Length
3648                                1           2 years
21477                               0         10+ years
16057                               0           7 years
50389                               1           5 years
32310                               0           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
83265              2000                        2000        13.11%   36 months
70270             12000                       11975        17.77%   36 months
54267             12500                       12500         8.90%   36 months
47705              8000                        7925         6.62%   36 months
48560              5000                        5000        12.12%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
83265      major_purchase               14.11%    NV           RENT
70270  debt_consolidation                9.81%    TX           RENT
54267  debt_consolidation               14.37%    TX           RENT
47705         credit_card               21.95%    IL       MORTGAGE
48560         credit_card               11.08%    NJ           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
83265         3750.00    680-684                  4                      1485
70270         4333.33    670-674                 12                     12837
54267         4154.17    715-719                  9                     10465
47705         3666.67    745-749                 11                     17907
48560         1833.33    685-689                  7                      5408

       Inquiries.in.the.Last.6.Months Employment.Length
83265                               0           3 years
70270                               1           2 years
54267                               0           4 years
47705                               1         10+ years
48560                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
56604             12800                       12800        14.65%   36 months
54487             33000                       33000         7.62%   36 months
27575             15000                       15000         6.99%   36 months
69095              5000                        5000         7.62%   36 months
9261               7000                        7000        14.22%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
56604            vacation               17.76%    TX           RENT
54487  debt_consolidation                0.26%    NY       MORTGAGE
27575             medical                6.64%    MO       MORTGAGE
69095  debt_consolidation               17.10%    FL           RENT
9261              medical                7.04%    AZ           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
56604        10000.00    680-684                 13                      5792
54487       102750.00    805-809                  7                     95435
27575         9083.33    810-814                 12                      1410
69095         1750.00    725-729                  7                      8162
9261          3010.00    670-674                  5                      3047

       Inquiries.in.the.Last.6.Months Employment.Length
56604                               1         10+ years
54487                               0         10+ years
27575                               0         10+ years
69095                               0           4 years
9261                                2          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
88031             13450                       13450        14.09%   36 months
73881             20375                       20375        14.09%   60 months
62753              1200                        1200        15.80%   36 months
88040             16000                       15975         6.03%   36 months
65110              2000                        2000        14.33%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
88031  debt_consolidation               12.93%    TX       MORTGAGE
73881  debt_consolidation               22.67%    CA       MORTGAGE
62753  debt_consolidation                9.99%    FL           RENT
88040  debt_consolidation                9.20%    FL           RENT
65110  debt_consolidation               22.48%    MN           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
88031         3333.33    685-689                  5                      5407
73881         5416.67    740-744                 17                     20980
62753         3833.33    665-669                 10                      6520
88040        12750.00    805-809                 16                     13690
65110         4333.33    675-679                  9                      8496

       Inquiries.in.the.Last.6.Months Employment.Length
88031                               0            1 year
73881                               2         10+ years
62753                               1         10+ years
88040                               1         10+ years
65110                               1           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
4587              11200                    11150.00        13.92%   36 months
93766             28000                    28000.00         7.62%   36 months
83592             28000                    27950.00        21.98%   60 months
2805               3000                     2322.59        15.05%   36 months
70589              7200                     7200.00        12.12%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
4587     home_improvement               18.07%    CT       MORTGAGE
93766         credit_card               12.19%    CA           RENT
83592  debt_consolidation               16.56%    TX       MORTGAGE
2805       major_purchase               18.95%    OK       MORTGAGE
70589         credit_card               29.38%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
4587          2773.33    680-684                  6                      6720
93766        11250.00    730-734                 10                     40302
83592        10166.67    680-684                 12                     43182
2805          3466.67    660-664                  9                      4285
70589         4166.67    680-684                 12                      5165

       Inquiries.in.the.Last.6.Months Employment.Length
4587                                3           5 years
93766                               1         10+ years
83592                               1           4 years
2805                                3           2 years
70589                               0         10+ years
CHUNK DF

       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
21690              4600                        4600         5.42%   36 months
29803              8000                        8000         6.99%   36 months
87162             20125                       20125        18.49%   36 months
70443             19050                       19050        14.33%   60 months
28432             21850                       21825        18.79%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
21690    home_improvement                3.38%    OH       MORTGAGE
29803      small_business                9.19%    CA       MORTGAGE
87162         credit_card               11.08%    NY       MORTGAGE
70443  debt_consolidation               11.08%    CA       MORTGAGE
28432         credit_card               20.32%    LA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
21690         3664.25    775-779                  6                      3127
29803         5833.33    790-794                  5                      4469
87162         8937.50    675-679                 14                     12418
70443         5000.00    740-744                 16                     19988
28432         4400.00    680-684                  7                      9171

       Inquiries.in.the.Last.6.Months Employment.Length
21690                               0         10+ years
29803                               2           3 years
87162                               0           2 years
70443                               4           3 years
28432                               0           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
13712              5000                        5000        10.38%   36 months
84889             12000                       12000        15.31%   36 months
40381              5800                        5800         6.03%   36 months
39867             10000                       10000        11.71%   36 months
75600              4800                        4800         7.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
13712              moving               19.10%    MA           RENT
84889  debt_consolidation                8.28%    MA           RENT
40381         credit_card                6.98%    MA           RENT
39867               other               13.41%    NJ           RENT
75600         credit_card               17.34%    NC       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
13712         4200.00    715-719                  7                      1109
84889         7750.00    670-674                 10                     16132
40381         5208.33    760-764                  7                      4965
39867         5800.00    710-714                  9                      4214
75600         6250.00    705-709                  7                      4195

       Inquiries.in.the.Last.6.Months Employment.Length
13712                               0           3 years
84889                               0         10+ years
40381                               0           4 years
39867                               0           3 years
75600                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
27623              8000                        8000        10.99%   36 months
69389              9750                        9750        16.29%   36 months
35351              4000                        4000        12.69%   36 months
29981              3000                        3000        10.99%   36 months
74258             16000                       16000        15.80%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
27623  debt_consolidation               17.12%    PA           RENT
69389  debt_consolidation               34.04%    TX       MORTGAGE
35351      major_purchase                1.34%    CA           RENT
29981  debt_consolidation               20.96%    CA           RENT
74258         credit_card               11.35%    TX           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
27623         2500.00    705-709                 13                      7027
69389         3119.92    670-674                 12                      8774
35351         9583.33    705-709                  8                      5304
29981         5583.33    695-699                  6                      1531
74258         5075.00    690-694                 15                     22380

       Inquiries.in.the.Last.6.Months Employment.Length
27623                               1           3 years
69389                               1           5 years
35351                               1           2 years
29981                               2         10+ years
74258                               2           3 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
3209              12000                    11725.00         9.63%   36 months
1364               7500                     5795.24        11.78%   36 months
68023              9600                     9600.00         7.90%   36 months
64660             23850                    23850.00        22.95%   60 months
59812              6250                     6250.00        14.09%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
3209                  car                  15%    GA       MORTGAGE
1364     home_improvement               17.72%    OR       MORTGAGE
68023  debt_consolidation                5.58%    AZ       MORTGAGE
64660  debt_consolidation               20.74%    TX       MORTGAGE
59812  debt_consolidation               19.70%    FL           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
3209          3000.00    750-754                  8                     20328
1364          2500.00    690-694                  7                      6349
68023         6500.00    725-729                  8                     23353
64660         5000.00    670-674                 13                     17587
59812         4248.33    680-684                  9                      9991

       Inquiries.in.the.Last.6.Months Employment.Length
3209                                0          < 1 year
1364                                1           4 years
68023                               3           6 years
64660                               1           4 years
59812                               2          < 1 year
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
14213              16750                    16359.69         7.88%
34627               4000                     4000.00        12.69%
55924              23500                    23500.00        19.22%
103315              3600                     3575.00        12.87%
22700               1900                     1900.00         7.29%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
14213    36 months  debt_consolidation               20.70%    TX
34627    36 months      major_purchase                2.50%    CA
55924    36 months         credit_card               20.37%    WA
103315   36 months         educational                3.40%    FL
22700    36 months               other               23.05%    FL

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
14213        MORTGAGE         3778.67    745-749                  9
34627            RENT         1600.00    730-734                  3
55924            RENT         6800.00    670-674                 17
103315           RENT         2000.00    705-709                  8
22700            RENT         2208.33    725-729                 11

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
14213                      22352                               0
34627                       1295                               3
55924                      31812                               3
103315                      2650                               4
22700                       8508                               1

       Employment.Length
14213          10+ years
34627           < 1 year
55924            2 years
103315               NaN
22700            3 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
51163             22500                       22500         7.90%   36 months
27554             12000                       12000         8.49%   60 months
34472             15000                       15000        12.69%   60 months
93022             32000                       32000        17.27%   36 months
49403             24000                       24000        24.20%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
51163               other               19.93%    IL            OWN
27554  debt_consolidation               11.03%    GA       MORTGAGE
34472  debt_consolidation               15.80%    NY       MORTGAGE
93022               other                9.96%    NH       MORTGAGE
49403  debt_consolidation               20.77%    VA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
51163         5208.33    755-759                  5                     22876
27554         4425.17    780-784                  9                     14816
34472         4500.00    730-734                 17                     18592
93022        19166.67    705-709                  8                     66885
49403         4583.33    665-669                 13                     28399

       Inquiries.in.the.Last.6.Months Employment.Length
51163                               0         10+ years
27554                               0         10+ years
34472                               2            1 year
93022                               1           5 years
49403                               1         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
78078              5500                        5500        15.80%   36 months
14052              7300                        7300         7.88%   36 months
44471             25000                       24975        13.11%   60 months
76696              4575                        4575        11.14%   36 months
7518              10000                       10000        14.96%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
78078            vacation               20.18%    CA           RENT
14052         credit_card               11.78%    FL           RENT
44471  debt_consolidation               28.15%    NY           RENT
76696         credit_card               21.33%    TX            OWN
7518   debt_consolidation               16.42%    FL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
78078         5416.67    670-674                 13                     13079
14052         3090.50    735-739                  5                     13459
44471         7250.00    740-744                 14                     19598
76696         1280.00    690-694                  8                      9484
7518          3416.67    685-689                 24                     16591

       Inquiries.in.the.Last.6.Months Employment.Length
78078                               3           9 years
14052                               0           7 years
44471                               0           6 years
76696                               0          < 1 year
7518                                0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
37177             20000                       19950        15.96%   60 months
93253             11100                       11100        11.14%   36 months
55625             17000                       17000        10.74%   60 months
55934             12000                       11975        13.67%   36 months
50756             24000                       24000        12.12%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
37177         credit_card               23.54%    CA       MORTGAGE
93253         credit_card               29.55%    NM       MORTGAGE
55625  debt_consolidation               11.12%    AL       MORTGAGE
55934  debt_consolidation               17.05%    CA           RENT
50756             wedding               22.66%    TX           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
37177         5000.00    705-709                 10                     20062
93253         4000.00    715-719                 10                     13410
55625         4166.67    760-764                 10                     19020
55934         2000.00    675-679                  6                      7552
50756         8750.00    715-719                 12                     29683

       Inquiries.in.the.Last.6.Months Employment.Length
37177                               3         10+ years
93253                               3           6 years
55625                               0         10+ years
55934                               0         10+ years
50756                               0           9 years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
90712              7000                        7000        17.77%   36 months
82079             10000                       10000        12.12%   36 months
47958             14000                       14000         6.62%   36 months
77601              3250                        3225         7.62%   36 months
82780             18000                       18000        11.14%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
90712         credit_card                8.02%    OK           RENT
82079  debt_consolidation               20.16%    CA           RENT
47958         credit_card               28.82%    NY           RENT
77601         credit_card                3.12%    CA           RENT
82780  debt_consolidation               11.81%    FL           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
90712         6000.00    690-694                  5                      6623
82079         5833.33    695-699                 16                     25687
47958         4250.00    745-749                 16                      1850
77601         2083.33    745-749                  6                      2114
82780         5100.00    715-719                  8                     17139

       Inquiries.in.the.Last.6.Months Employment.Length
90712                               0         10+ years
82079                               0           4 years
47958                               1           8 years
77601                               1           3 years
82780                               0            1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
67401             19500                       19500        21.00%   36 months
35797              5000                        5000         6.03%   36 months
34240             20000                       20000        17.58%   60 months
24846              6000                        6000        13.49%   36 months
63299             14300                       14300        14.09%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
67401  debt_consolidation               26.84%    VA       MORTGAGE
35797  debt_consolidation               29.86%    CA            OWN
34240  debt_consolidation               18.45%    OH           RENT
24846  debt_consolidation               19.68%    NJ           RENT
63299  debt_consolidation               21.74%    DE       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
67401         5125.00    660-664                 11                     29033
35797         2083.33    785-789                 12                     22141
34240         4250.00    700-704                 10                     11805
24846         7500.00    680-684                  6                      6686
63299         7750.00    695-699                 11                     25213

       Inquiries.in.the.Last.6.Months Employment.Length
67401                               0         10+ years
35797                               0               NaN
34240                               0           4 years
24846                               1         10+ years
63299                               2           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
60580             12800                       12800        12.12%   36 months
68850              3000                        2975         7.90%   36 months
72217             25000                       25000        13.11%   36 months
55800             18000                       18000        12.12%   36 months
86233              9750                        9750        15.31%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
60580         credit_card               10.10%    NC       MORTGAGE
68850      major_purchase               17.58%    LA           RENT
72217  debt_consolidation               18.36%    FL       MORTGAGE
55800         credit_card               22.34%    MA           RENT
86233  debt_consolidation               14.13%    MT            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
60580         5000.00    690-694                  9                     33085
68850         3458.33    720-724                  8                      2999
72217        14166.67    705-709                 21                     96169
55800         4583.33    700-704                 13                     17868
86233         2518.67    665-669                  7                     13209

       Inquiries.in.the.Last.6.Months Employment.Length
60580                               0         10+ years
68850                               0            1 year
72217                               0         10+ years
55800                               0         10+ years
86233                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
39482              5000                        5000        12.42%   36 months
45494              4000                        4000        13.11%   36 months
46604              1200                        1200         7.90%   36 months
96371             12000                       12000        17.27%   36 months
34831              5000                        5000        16.29%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
39482  debt_consolidation               23.84%    SC           RENT
45494                 car               22.15%    CO           RENT
46604  debt_consolidation                6.92%    CT           RENT
96371  debt_consolidation               20.07%    CA           RENT
34831         credit_card                9.79%    FL            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
39482         2500.00    695-699                  8                      7980
45494         2000.00    685-689                 16                      1625
46604         1300.00    710-714                  8                      1775
96371         5416.67    660-664                  7                      3747
34831         1733.33    665-669                 11                      4366

       Inquiries.in.the.Last.6.Months Employment.Length
39482                               2           2 years
45494                               3          < 1 year
46604                               0               NaN
96371                               0          < 1 year
34831                               3          < 1 year
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
54689              21700                       21700         7.90%
73287              21850                       21850        16.29%
10206              12000                       12000        11.36%
95580               7000                        7000        18.49%
101205             32000                       32000        23.76%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
54689    36 months  debt_consolidation                5.43%    CA
73287    60 months  debt_consolidation               32.13%    GA
10206    36 months    home_improvement               14.57%    MA
95580    36 months               other               16.15%    FL
101205   60 months              moving                8.14%    NC

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
54689        MORTGAGE        15000.00    780-784                  5
73287        MORTGAGE         4628.00    715-719                 17
10206        MORTGAGE         5833.33    705-709                  7
95580        MORTGAGE         4166.67    675-679                  7
101205       MORTGAGE        16666.67    700-704                  5

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
54689                     128707                               0
73287                      32103                               1
10206                       2701                               0
95580                       4167                               0
101205                     50330                               2

       Employment.Length
54689            2 years
73287          10+ years
10206            9 years
95580          10+ years
101205           8 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
35682             13000                       13000        14.27%   60 months
43071             12000                       12000        12.42%   36 months
41739             25475                       25375        19.03%   60 months
72931             10000                       10000        11.14%   36 months
45317              5000                        5000        12.12%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
35682  debt_consolidation               18.08%    WA           RENT
43071         credit_card               13.99%    AZ       MORTGAGE
41739  debt_consolidation               21.98%    FL           RENT
72931         credit_card               25.80%    CA           RENT
45317               other               24.74%    TX       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
35682         3302.00    720-724                  5                     15076
43071         2916.67    680-684                 10                     13576
41739         5000.67    680-684                 17                     24081
72931         2833.33    700-704                  8                      6521
45317         8416.67    695-699                 20                     58836

       Inquiries.in.the.Last.6.Months Employment.Length
35682                               3           4 years
43071                               0           5 years
41739                               1          < 1 year
72931                               0           7 years
45317                               1          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
12277             10000                        9725         7.51%   36 months
79495              4000                        4000        14.33%   36 months
11875              8000                        8000        10.38%   36 months
33968             35000                       35000        10.65%   36 months
735                9000                        7650        11.03%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
12277  debt_consolidation               18.72%    MA       MORTGAGE
79495  debt_consolidation               25.86%    OH       MORTGAGE
11875  debt_consolidation                1.82%    CA           RENT
33968  debt_consolidation                8.96%    MD       MORTGAGE
735           credit_card               12.72%    MI       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
12277         4300.00    760-764                 15                     24413
79495         3333.33    675-679                 12                     19443
11875         2800.00    720-724                  5                      2186
33968        18750.00    735-739                 13                     18528
735           5666.67    685-689                 22                     36164

       Inquiries.in.the.Last.6.Months Employment.Length
12277                               1         10+ years
79495                               1           9 years
11875                               0           3 years
33968                               3           6 years
735                                 1           8 years
CHUNK DF

       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
43702              9000                        9000         6.03%   36 months
99006             24000                       24000        17.27%   60 months
84307             18000                       18000        13.11%   60 months
21504              4000                        4000        13.80%   60 months
96798             15000                       15000         6.62%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
43702  debt_consolidation                5.87%    NY       MORTGAGE
99006  debt_consolidation               20.55%    GA            OWN
84307  debt_consolidation                  17%    CT           RENT
21504      major_purchase               13.26%    FL            OWN
96798  debt_consolidation                3.23%    NJ       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
43702         8333.33    775-779                  9                      1717
99006         6250.00    675-679                 10                     17780
84307         7083.33    750-754                  8                      2234
21504         3500.00    695-699                  5                      8518
96798         6250.00    755-759                  8                     13131

       Inquiries.in.the.Last.6.Months Employment.Length
43702                               0            1 year
99006                               0           7 years
84307                               2           6 years
21504                               1           3 years
96798                               0               NaN
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
83586               6075                        6075        17.27%
30986              13800                       13800        17.49%
37090              10000                       10000        18.64%
103512              8000                        7725        10.99%
57472              15000                       15000        17.27%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
83586    36 months  debt_consolidation               20.25%    NY
30986    60 months             medical                1.68%    NY
37090    60 months  debt_consolidation               12.19%    CA
103512   36 months         credit_card               13.40%    FL
57472    36 months  debt_consolidation               33.30%    WY

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
83586             OWN         2666.67    660-664                 15
30986            RENT         4166.67    710-714                  3
37090            RENT         6800.00    700-704                 24
103512       MORTGAGE         7000.00    735-739                  3
57472            RENT         3000.00    670-674                 20

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
83586                       7515                               2
30986                       2766                               0
37090                       8311                               1
103512                    175087                               1
57472                      15092                               0

       Employment.Length
83586           < 1 year
30986            8 years
37090            4 years
103512         10+ years
57472          10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
90568              4800                     4800.00         6.62%   36 months
17240             24250                    17431.82        12.23%   60 months
15315              7000                     6975.00         6.91%   36 months
60875             10500                    10500.00        12.12%   36 months
74855             25000                    24950.00        21.49%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
90568                 car               10.42%    TX       MORTGAGE
17240         credit_card               23.79%    OH       MORTGAGE
15315            vacation               21.23%    CA           RENT
60875      major_purchase                5.42%    NY           RENT
74855  debt_consolidation               23.79%    NV       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
90568         7291.67    815-819                 14                         0
17240         5833.33    730-734                  6                     31061
15315         3000.00    715-719                 12                     10784
60875         5000.00    700-704                  4                       502
74855         5666.67    690-694                  8                     27699

       Inquiries.in.the.Last.6.Months Employment.Length
90568                               0          < 1 year
17240                               2         10+ years
15315                               1           5 years
60875                               0           2 years
74855                               1           8 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
61143              21000                       21000        14.33%
103140             14400                       14400        14.26%
49664               9600                        9600        10.74%
17864              12000                       12000         8.88%
14831              10000                       10000        11.86%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
61143    60 months  debt_consolidation                6.16%    OH
103140   36 months  debt_consolidation               24.41%    PA
49664    36 months  debt_consolidation                8.62%    MA
17864    60 months         credit_card               19.38%    MT
14831    36 months      major_purchase               11.15%    GA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
61143        MORTGAGE         8333.33    715-719                 10
103140       MORTGAGE         5833.33    685-689                  9
49664            RENT         3458.33    720-724                  4
17864        MORTGAGE         4000.00    795-799                  7
14831             OWN        13333.00    705-709                 12

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
61143                      22196                               0
103140                     25515                               5
49664                       8915                               0
17864                     143151                               0
14831                      36672                               2

       Employment.Length
61143          10+ years
103140           8 years
49664          10+ years
17864            4 years
14831             1 year
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
35303               4000                     4000.00        14.65%
94468              20000                    20000.00        21.49%
100313             31300                    31300.00        22.95%
74445               6900                     6900.00         7.90%
23377              30000                    17982.94        17.88%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
35303    36 months              moving               22.38%    CA
94468    36 months  debt_consolidation               19.10%    FL
100313   60 months  debt_consolidation               34.06%    MD
74445    36 months    home_improvement               14.18%    MI
23377    60 months             wedding               24.36%    NY

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
35303            RENT         4000.00    665-669                 10
94468            RENT         6000.00    665-669                  7
100313            OWN         5833.33    665-669                 11
74445             OWN         2750.00    710-714                 14
23377            RENT         5632.33    690-694                 10

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
35303                      18833                               2
94468                      21202                               2
100313                     25344                               0
74445                       4087                               0
23377                      24217                               0

       Employment.Length
35303           < 1 year
94468          10+ years
100313           5 years
74445            6 years
23377            5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
32593              2000                        2000        12.42%   36 months
41282             12000                       12000         7.90%   36 months
22718              3300                        3300        10.37%   36 months
86599             25000                       25000        14.33%   36 months
10917              6000                        5950        10.38%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
32593             wedding                1.99%    NY           RENT
41282         credit_card               13.18%    NJ            OWN
22718      small_business                5.47%    AL           RENT
86599         credit_card               14.92%    CA       MORTGAGE
10917  debt_consolidation                6.61%    GA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
32593         2518.75    675-679                  5                       985
41282         5833.33    725-729                  8                      9866
22718         3125.00    690-694                  8                      2623
86599        10000.00    695-699                 16                     46708
10917         2300.00    720-724                  5                      4006

       Inquiries.in.the.Last.6.Months Employment.Length
32593                               0           7 years
41282                               0           4 years
22718                               0           7 years
86599                               0         10+ years
10917                               1           2 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
101429              3250                        3250        21.00%
16221              16500                       16175        12.23%
79704              31000                       31000        21.00%
94981               4000                        4000        14.33%
30378               6000                        6000        17.49%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
101429   36 months      small_business               31.84%    OR
16221    60 months    home_improvement                6.41%    MA
79704    60 months  debt_consolidation               11.48%    NY
94981    36 months  debt_consolidation                2.95%    KS
30378    36 months              moving                1.58%    MD

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
101429           RENT         2858.33    690-694                  5
16221        MORTGAGE         5833.33    715-719                  8
79704            RENT         5833.33    705-709                 12
94981        MORTGAGE         2916.67    750-754                  2
30378            RENT         4416.67    665-669                  3

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
101429                     17662                               0
16221                      30455                               2
79704                      27120                               0
94981                       2476                               0
30378                       2426                               2

       Employment.Length
101429           6 years
16221           < 1 year
79704           < 1 year
94981          10+ years
30378            8 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
101294              7500                        7500         6.62%
30341              12000                       11975         8.49%
99706              20000                       20000        18.49%
80944              24000                       24000        22.47%
54289               7500                        7500        19.99%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
101294   36 months  debt_consolidation               13.13%    PA
30341    36 months  debt_consolidation                8.36%    CA
99706    36 months  debt_consolidation               21.80%    CA
80944    60 months  debt_consolidation               30.97%    VA
54289    36 months  debt_consolidation               19.06%    CA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
101294       MORTGAGE         9583.33    710-714                 20
30341            RENT         4500.00    745-749                 12
99706            RENT         6666.67    685-689                 20
80944        MORTGAGE        10104.17    675-679                 14
54289            RENT         3348.00    660-664                  8

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
101294                     22464                               0
30341                       8422                               0
99706                      22990                               6
80944                      37686                               0
54289                       5322                               0

       Employment.Length
101294           4 years
30341          10+ years
99706          10+ years
80944          10+ years
54289          10+ years

CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
101647              6250                       900.0        17.54%
21203               5000                      4900.0         6.92%
18933              10000                     10000.0        10.74%
17315              12000                     11341.5         6.91%
2987                7000                      6775.0         9.32%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
101647   36 months  debt_consolidation               19.85%    IN
21203    36 months    home_improvement               10.59%    TX
18933    36 months      small_business               22.74%    NY
17315    36 months  debt_consolidation               17.92%    WA
2987     36 months  debt_consolidation                8.34%    CA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
101647           RENT         2916.67    655-659                 17
21203        MORTGAGE         7083.33    755-759                  9
18933        MORTGAGE         5416.67    710-714                  4
17315            RENT         5200.00    710-714                 16
2987             RENT         5000.00    745-749                  6

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
101647                     17659                               9
21203                          0                               3
18933                      20143                               1
17315                       8182                               0
2987                        3337                               1

       Employment.Length
101647          < 1 year
21203             1 year
18933          10+ years
17315           < 1 year
2987            < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
28478              4000                        4000         7.49%   36 months
66430              7800                        7800        13.11%   36 months
40357             15000                       15000        15.27%   36 months
68833             14125                       14125        18.49%   36 months
23553              8000                        8000         5.42%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
28478                 car                0.52%    CA           RENT
66430         credit_card               15.56%    FL       MORTGAGE
40357  debt_consolidation               15.58%    WV           RENT
68833  debt_consolidation                8.10%    NY           RENT
23553         credit_card                4.47%    CA            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
28478         5416.67    755-759                  4                       929
66430         5000.00    680-684                  8                     12889
40357         6666.67    680-684                 11                     23226
68833         3000.00    670-674                  6                      8992
23553         3936.00    780-784                  7                      5235

       Inquiries.in.the.Last.6.Months Employment.Length
28478                               0            1 year
66430                               0           5 years
40357                               1           2 years
68833                               1         10+ years
23553                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
29165              4325                        4325         7.49%   36 months
40616             15000                       15000        13.49%   36 months
63687             12000                       12000        10.16%   36 months
41195              6575                        6575         8.90%   36 months
78765              9000                        9000        10.16%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
29165         credit_card                5.47%    FL       MORTGAGE
40616                 car                9.73%    VA           RENT
63687  debt_consolidation               28.01%    NY           RENT
41195  debt_consolidation                4.39%    FL       MORTGAGE
78765  debt_consolidation               13.76%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
29165         3691.67    715-719                  9                      5074
40616         3000.00    705-709                  9                      7005
63687         2916.67    710-714                  8                      6913
41195         7500.00    710-714                  5                      6670
78765         5166.67    710-714                 10                      6490

       Inquiries.in.the.Last.6.Months Employment.Length
29165                               0         10+ years
40616                               1           4 years
63687                               0           3 years
41195                               0           8 years
78765                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
15631              4500                        4500         8.88%   36 months
9367              20000                       19875        10.25%   36 months
9658               1950                        1950        13.11%   36 months
41411             35000                       35000        16.29%   36 months
92344              8000                        8000        14.09%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
15631         credit_card                7.07%    OR       MORTGAGE
9367          credit_card               13.38%    FL       MORTGAGE
9658                other               15.08%    CA           RENT
41411  debt_consolidation               17.17%    NY       MORTGAGE
92344         credit_card               16.22%    OK           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
15631         5250.00    710-714                 10                      9356
9367         10000.00    750-754                 14                     25668
9658          2600.00    680-684                  6                      4100
41411        39583.33    705-709                 14                     55965
92344         4166.67    675-679                 12                     16838

       Inquiries.in.the.Last.6.Months Employment.Length
15631                               2           9 years
9367                                1           8 years
9658                                1           3 years
41411                               2         10+ years
92344                               0           5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
25040             15000                       15000        10.59%   36 months
20709              5650                        5650         7.66%   36 months
89473              6800                        6800        15.80%   36 months
97353              3000                        3000        19.05%   36 months
76770              5675                        5675        11.14%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
25040             medical                7.55%    CA           RENT
20709  debt_consolidation               16.49%    GA       MORTGAGE
89473  debt_consolidation               15.43%    NC           RENT
97353               other               28.74%    CA       MORTGAGE
76770  debt_consolidation               29.40%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
25040         8750.00    740-744                  6                      6056
20709         5100.00    700-704                  6                      9863
89473         2708.33    680-684                  5                      2964
97353         7116.25    660-664                  7                      7416
76770         2333.33    705-709                  6                      9687

       Inquiries.in.the.Last.6.Months Employment.Length
25040                               1           9 years
20709                               0            1 year
89473                               0            1 year
97353                               0         10+ years
76770                               1           5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
11185             12000                       12000        17.93%   60 months
91147             11100                       11100        15.31%   36 months
77149             16000                       16000        19.05%   60 months
29794              4800                        4800        10.59%   36 months
68987              6200                        6200        15.31%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
11185  debt_consolidation                0.72%    KY       MORTGAGE
91147  debt_consolidation               12.03%    WA       MORTGAGE
77149  debt_consolidation               17.82%    NY           RENT
29794  debt_consolidation               20.21%    IL           RENT
68987         credit_card               20.52%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
11185         6500.00    670-674                  4                      1549
91147         2666.67    680-684                 12                      8990
77149         6666.67    690-694                 16                     11232
29794         2666.67    710-714                  5                      3831
68987         1940.00    665-669                  5                     16850

       Inquiries.in.the.Last.6.Months Employment.Length
11185                               1         10+ years
91147                               0         10+ years
77149                               2           5 years
29794                               1           6 years
68987                               0               NaN
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
68857               6000                     6000.00        10.16%
17655               2250                     2250.00        10.36%
11779              24000                    14860.05        13.61%
60117              10000                    10000.00        12.12%
101061             10000                    10000.00        14.09%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
68857    36 months         credit_card               15.88%    CA
17655    36 months                 car               17.97%    GA
11779    60 months  debt_consolidation               10.77%    OH
60117    36 months  debt_consolidation                5.84%    PA
101061   36 months  debt_consolidation               17.15%    AZ

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
68857             OWN         5166.67    710-714                 13
17655             OWN         5833.33    680-684                 12
11779        MORTGAGE         7750.00    715-719                 11
60117            RENT         4333.33    695-699                  6
101061       MORTGAGE        10416.67    670-674                 12

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
68857                       8862                               3
17655                      14637                               0
11779                       2594                               2
60117                       4665                               0
101061                     12492                               4

       Employment.Length
68857            7 years
17655            2 years
11779            5 years
60117             1 year
101061         10+ years
CHUNK DF

       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
95951             12000                    12000.00        13.11%   36 months
99334             12000                    12000.00        13.11%   36 months
3079              20800                    13796.59        12.21%   36 months
33181              8000                     8000.00        12.69%   36 months
77578             10000                    10000.00        10.16%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
95951         credit_card                6.10%    IL       MORTGAGE
99334  debt_consolidation               18.32%    NC           RENT
3079          credit_card               16.94%    TX       MORTGAGE
33181  debt_consolidation               17.10%    SC       MORTGAGE
77578  debt_consolidation               11.98%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
95951         4833.33    665-669                  9                     12025
99334         3916.67    690-694                 14                     12134
3079          5833.33    750-754                 11                     14337
33181         7083.00    695-699                 11                      9345
77578         4166.67    705-709                  9                     10979

       Inquiries.in.the.Last.6.Months Employment.Length
95951                               0           9 years
99334                               0           8 years
3079                                0         10+ years
33181                               3           4 years
77578                               0           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
34744              6000                        6000        14.27%   36 months
81395              4500                        4500        12.12%   36 months
27061              3600                        3600         7.49%   36 months
70210             11200                       11200        15.80%   36 months
10441              4000                        3925        11.49%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
34744  debt_consolidation                7.64%    IL       MORTGAGE
81395  debt_consolidation               14.32%    AZ           RENT
27061             medical               15.72%    TX           RENT
70210  debt_consolidation               12.15%    FL           RENT
10441               other               13.98%    VA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
34744         5184.75    675-679                  8                     14422
81395         1250.00    675-679                  8                      6265
27061         2500.00    740-744                  8                       650
70210         2666.67    675-679                  9                      5666
10441         4700.00    695-699                  7                     19310

       Inquiries.in.the.Last.6.Months Employment.Length
34744                               0           2 years
81395                               0           5 years
27061                               0          < 1 year
70210                               1         10+ years
10441                               3               NaN
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
24517              6000                        6000        13.49%   60 months
76286             17000                       17000        13.11%   36 months
94792              8000                        8000        13.11%   36 months
4921               2800                        2800         7.40%   36 months
56382             12375                       12375         6.03%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
24517  debt_consolidation               14.34%    KY           RENT
76286  debt_consolidation               15.33%    CO       MORTGAGE
94792  debt_consolidation                6.74%    UT       MORTGAGE
4921          educational                7.96%    MD       MORTGAGE
56382  debt_consolidation               19.24%    PA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
24517         3458.00    690-694                  6                      2072
76286        10666.67    720-724                 18                     26539
94792         4583.33    665-669                 13                      9085
4921          4158.00    805-809                 12                       562
56382         6750.00    790-794                 11                      8135

       Inquiries.in.the.Last.6.Months Employment.Length
24517                               0         10+ years
76286                               1         10+ years
94792                               1         10+ years
4921                                0           8 years
56382                               0            1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
96461             18825                       18825        17.27%   60 months
82091              9600                        9600        11.14%   36 months
72589             14400                       14400        13.11%   36 months
14073              6000                        6000        17.56%   60 months
48356              9000                        9000         6.03%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
96461         credit_card               33.15%    MI       MORTGAGE
82091  debt_consolidation               23.62%    CO       MORTGAGE
72589         credit_card               10.75%    CA           RENT
14073            vacation               14.88%    NJ            OWN
48356      major_purchase                9.29%    NY       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
96461         3583.33    690-694                 12                     13426
82091         4389.92    715-719                 10                      2195
72589         5000.00    680-684                 13                     19772
14073         4416.67    660-664                  9                     28349
48356        14166.67    770-774                 13                     40909

       Inquiries.in.the.Last.6.Months Employment.Length
96461                               0           8 years
82091                               1           8 years
72589                               0           8 years
14073                               3         10+ years
48356                               0           4 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
14728              20000                       19850        11.86%
20698              15000                       15000        13.06%
94912              20000                       20000        11.14%
25018              13750                       13750        19.69%
103622              6000                        6000        17.19%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
14728    60 months             wedding               15.94%    NJ
20698    36 months               house               22.69%    FL
94912    60 months  debt_consolidation               23.27%    WA
25018    60 months             medical               22.01%    FL
103622   60 months    home_improvement               17.80%    VA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
14728            RENT         4166.67    735-739                 11
20698        MORTGAGE         3750.00    685-689                 12
94912        MORTGAGE         9166.67    735-739                 24
25018        MORTGAGE         2916.67    665-669                  7
103622       MORTGAGE        13625.00    675-679                 10

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
14728                       3202                               0
20698                      21016                               0
94912                      53494                               2
25018                       4690                               2
103622                     26688                               4

       Employment.Length
14728            3 years
20698          10+ years
94912          10+ years
25018            2 years
103622         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
49201             20000                       20000         7.90%   36 months
25680             12800                       12800        11.49%   60 months
71671              6000                        6000         6.03%   36 months
39314             12000                       12000         7.51%   36 months
96016             12500                       12500        13.11%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
49201  debt_consolidation               10.32%    AR       MORTGAGE
25680    home_improvement               20.04%    NC       MORTGAGE
71671  debt_consolidation                7.77%    NY       MORTGAGE
39314  debt_consolidation               13.30%    CA           RENT
96016         credit_card               27.76%    PA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
49201        10400.00    735-739                 14                     15626
25680         3333.33    720-724                 13                     24723
71671         3666.67    780-784                 19                      6275
39314         7166.67    735-739                 16                     13715
96016         3416.67    690-694                 12                     14174

       Inquiries.in.the.Last.6.Months Employment.Length
49201                               0           2 years
25680                               0           5 years
71671                               1           4 years
39314                               1           4 years
96016                               0           6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
37380              5000                        5000        17.58%   36 months
72539              4950                        4950        14.33%   36 months
63746             30000                       30000        13.11%   60 months
90871             10000                       10000        12.12%   36 months
46022              6000                        6000        14.65%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
37380               other                5.33%    AZ           RENT
72539  debt_consolidation                8.95%    FL            OWN
63746               other               16.32%    CA           RENT
90871  debt_consolidation               13.81%    IL       MORTGAGE
46022  debt_consolidation               11.89%    TX       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
37380         1800.00    665-669                  2                      1749
72539         2916.67    675-679                 11                      7931
63746        20416.67    755-759                  6                         0
90871         6083.33    670-674                 13                     19263
46022        14333.33    670-674                 11                     31640

       Inquiries.in.the.Last.6.Months Employment.Length
37380                               0          < 1 year
72539                               2           6 years
63746                               0           2 years
90871                               1           8 years
46022                               1         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
46841             24000                       24000         7.90%   36 months
20801             14000                       14000        10.00%   60 months
24542              6000                        6000         7.49%   36 months
76320             22400                       22400        13.11%   36 months
43622              8000                        8000         7.90%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
46841  debt_consolidation               20.87%    TX       MORTGAGE
20801  debt_consolidation               10.40%    NJ       MORTGAGE
24542         credit_card               19.33%    IL           RENT
76320  debt_consolidation               16.08%    PA           RENT
43622            vacation                   0%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
46841        10166.67    750-754                 15                     29523
20801        11333.33    745-749                  6                     27477
24542         2100.00    715-719                  8                      2376
76320         7375.00    690-694                  8                      9673
43622         7300.00    795-799                  2                         0

       Inquiries.in.the.Last.6.Months Employment.Length
46841                               1           2 years
20801                               0           4 years
24542                               0           2 years
76320                               0         10+ years
43622                               0         10+ years

CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
63810              24575                    24550.00        20.49%
104166              8000                     8000.00        14.83%
93723              10000                    10000.00        14.33%
38826              29000                    27884.92        10.65%
61123               5400                     5400.00         6.03%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
63810    36 months         credit_card               19.28%    CO
104166   60 months         credit_card                6.29%    NJ
93723    36 months  debt_consolidation               12.69%    FL
38826    60 months  debt_consolidation                3.90%    NH
61123    36 months         credit_card                4.16%    SD

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
63810        MORTGAGE         5166.67    665-669                  8
104166       MORTGAGE         4833.33    675-679                  8
93723        MORTGAGE         7916.67    670-674                 11
38826        MORTGAGE        15000.00    745-749                 12
61123             OWN         2333.33    805-809                  9

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
63810                      23157                               0
104166                      9676                               4
93723                       8271                               3
38826                      55964                               0
61123                       4224                               0

       Employment.Length
63810          10+ years
104166           6 years
93723            6 years
38826          10+ years
61123            6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
75477             12375                       12375         6.62%   36 months
54656             30000                       30000        16.29%   60 months
34996              5000                        5000         6.03%   36 months
38741              6200                        6200        18.64%   60 months
29942              7000                        7000         7.49%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
75477  debt_consolidation                  31%    PA       MORTGAGE
54656  debt_consolidation               21.20%    GA       MORTGAGE
34996      major_purchase                2.92%    NY           RENT
38741         credit_card               10.61%    WA       MORTGAGE
29942      major_purchase                7.26%    PA            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
75477         3500.00    735-739                 16                     14037
54656         6666.67    720-724                 14                     32854
34996         3033.00    770-774                  7                      3663
38741         4250.00    670-674                  9                      5936
29942         6280.00    750-754                 14                       353

       Inquiries.in.the.Last.6.Months Employment.Length
75477                               0           2 years
54656                               2         10+ years
34996                               0           8 years
38741                               3           9 years
29942                               0           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
73179             29175                    29175.00        21.00%   60 months
29754             35000                    33645.15        17.49%   60 months
24598              6000                     6000.00        16.89%   60 months
40139             35000                    35000.00        12.42%   60 months
3201              16400                    12136.46        13.79%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
73179         credit_card                8.83%    MA           RENT
29754  debt_consolidation                6.01%    NY       MORTGAGE
24598  debt_consolidation                9.04%    NY           RENT
40139  debt_consolidation               12.79%    OK       MORTGAGE
3201       small_business               17.43%    VA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
73179        12500.00    695-699                  9                     15308
29754        16133.33    725-729                 11                     32222
24598         2400.00    680-684                  7                      7261
40139        12083.33    730-734                 15                     18385
3201          6074.17    680-684                 14                     23831

       Inquiries.in.the.Last.6.Months Employment.Length
73179                               2           4 years
29754                               0           2 years
24598                               2           2 years
40139                               0          < 1 year
3201                                2            1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
28230              8450                        8450        13.49%   60 months
51424             18000                       18000        17.99%   36 months
28451             12375                       12325        13.49%   36 months
30070             10000                       10000         5.42%   36 months
87108              2000                        2000        14.09%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
28230      major_purchase               12.73%    TX       MORTGAGE
51424  debt_consolidation               20.18%    WA           RENT
28451  debt_consolidation               24.95%    AZ       MORTGAGE
30070    home_improvement                1.69%    CA       MORTGAGE
87108  debt_consolidation               28.46%    MI       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
28230         1375.00    775-779                  2                         0
51424         6916.67    665-669                 15                     23786
28451         4416.67    675-679                  7                     32725
30070         8000.00    795-799                  6                      8974
87108         3513.33    680-684                 18                     23635

       Inquiries.in.the.Last.6.Months Employment.Length
28230                               1           2 years
51424                               0         10+ years
28451                               0           9 years
30070                               0           3 years
87108                               3         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
98762             12000                       12000        21.98%   60 months
60055              5000                        5000         7.62%   36 months
34591             12000                       12000         6.03%   36 months
57677              6000                        6000        13.99%   36 months
24590             13000                       12975         9.99%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
98762  debt_consolidation               12.94%    OH       MORTGAGE
60055               other               16.32%    MA           RENT
34591      major_purchase                2.55%    MO       MORTGAGE
57677    home_improvement               12.98%    WY       MORTGAGE
24590    home_improvement                8.77%    OH       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
98762         2866.50    665-669                  5                      9626
60055         3750.00    740-744                  6                      1703
34591         3416.67    785-789                  6                      3732
57677        10000.00    665-669                  9                      8230
24590        10500.00    800-804                  8                      6810

       Inquiries.in.the.Last.6.Months Employment.Length
98762                               1         10+ years
60055                               3           8 years
34591                               0         10+ years
57677                               0           5 years
24590                               0         10+ years
CHUNK DF

       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
96693              4750                        4700        17.27%   36 months
71481             10000                        9925        18.49%   36 months
80956              1000                        1000        15.31%   36 months
92077              9600                        9600        16.29%   36 months
72346              3625                        3625        14.09%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
96693               other               18.33%    FL       MORTGAGE
71481      small_business               13.37%    OR       MORTGAGE
80956              moving               24.65%    NV            OWN
92077  debt_consolidation               26.50%    TX           RENT
72346  debt_consolidation               11.32%    FL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
96693         3583.33    755-759                 11                      2964
71481        11250.00    665-669                 13                     16740
80956         3176.00    675-679                  6                     10982
92077         5166.67    670-674                 14                      5639
72346         3895.00    665-669                  9                     12251

       Inquiries.in.the.Last.6.Months Employment.Length
96693                               2           5 years
71481                               2         10+ years
80956                               2           5 years
92077                               0           3 years
72346                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
96897             10000                       10000        13.11%   36 months
34644             19425                       19400        12.42%   60 months
56674              8400                        8400        13.67%   36 months
24980             10000                       10000        13.99%   36 months
13069              6000                        6000        13.23%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
96897  debt_consolidation                8.11%    CO            OWN
34644  debt_consolidation               18.45%    CA       MORTGAGE
56674         credit_card                  17%    TX           RENT
24980  debt_consolidation               18.14%    CA           RENT
13069  debt_consolidation               22.47%    FL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
96897         3500.00    685-689                 11                     11401
34644         3225.23    745-749                 10                      6782
56674         4583.33    695-699                 14                     20318
24980         4166.67    680-684                  9                     10545
13069         9367.00    685-689                 13                     33815

       Inquiries.in.the.Last.6.Months Employment.Length
96897                               1         10+ years
34644                               1           2 years
56674                               2           5 years
24980                               1           3 years
13069                               0            1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
70800             10000                       10000        14.33%   36 months
54229              6000                        6000        12.12%   36 months
89139             16000                       16000        15.31%   60 months
91401             22000                       21925        17.27%   36 months
15083             25000                       24950        21.27%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
70800  debt_consolidation               25.01%    NV           RENT
54229  debt_consolidation               16.39%    NM           RENT
89139      major_purchase               15.74%    NY           RENT
91401         credit_card               18.02%    CA       MORTGAGE
15083         credit_card                8.33%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
70800         4666.67    670-674                  9                     19479
54229         1312.08    675-679                  7                     12475
89139        11250.00    675-679                 10                     15550
91401         8666.67    660-664                 12                      9317
15083        12500.00    670-674                  3                     26057

       Inquiries.in.the.Last.6.Months Employment.Length
70800                               0         10+ years
54229                               0            1 year
89139                               0           2 years
91401                               2         10+ years
15083                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
84592             13200                       13200        19.72%   36 months
16548             24000                       14450         9.99%   60 months
3591              12250                        2200        15.05%   36 months
91669             21000                       21000        11.14%   60 months
66349              9000                        9000        14.33%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
84592         credit_card                9.07%    CA       MORTGAGE
16548  debt_consolidation                8.08%    AL       MORTGAGE
3591   debt_consolidation               23.80%    GA       MORTGAGE
91669  debt_consolidation               16.18%    NY       MORTGAGE
66349         credit_card               15.36%    CO       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
84592         5083.33    665-669                  5                     10771
16548         8083.33    765-769                  9                     13559
3591          7416.67    660-664                 13                     19136
91669         7083.33    705-709                  8                     22298
66349         7083.33    685-689                 19                     11077

       Inquiries.in.the.Last.6.Months Employment.Length
84592                               0         10+ years
16548                               0         10+ years
3591                                1           8 years
91669                               1           9 years
66349                               1           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
59388              5000                        5000        11.14%   36 months
44394             35000                       34975         8.90%   36 months
85008             20000                       20000        21.98%   60 months
91394             12000                       11975         7.90%   36 months
40061             10000                       10000        13.49%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
59388         credit_card               18.30%    OH           RENT
44394  debt_consolidation               17.90%    LA            OWN
85008         credit_card               25.48%    NY          OTHER
91394  debt_consolidation               12.78%    VA           RENT
40061         credit_card               22.08%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
59388         4665.83    690-694                 21                      4677
44394         8750.00    775-779                  8                     31600
85008         6416.67    670-674                 15                     14115
91394        10000.00    705-709                  9                     23474
40061         6000.00    680-684                  8                     11088

       Inquiries.in.the.Last.6.Months Employment.Length
59388                               0           4 years
44394                               3          < 1 year
85008                               0         10+ years
91394                               0          < 1 year
40061                               0           3 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
9216              10750                       10725        13.11%   36 months
17731              4000                        3975        14.83%   36 months
84394             10450                       10450        13.11%   36 months
74496              3000                        2950         8.90%   36 months
78960             11000                       11000        12.12%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
9216   debt_consolidation               14.02%    MI       MORTGAGE
17731              moving               22.09%    CA           RENT
84394  debt_consolidation               21.33%    TX           RENT
74496    home_improvement               16.80%    NY       MORTGAGE
78960  debt_consolidation                5.83%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
9216          4416.67    685-689                  6                     11525
17731         5600.00    680-684                  8                      7900
84394         2658.83    705-709                 10                     13371
74496         4166.67    725-729                  4                      8082
78960         4583.33    695-699                 11                     12361

       Inquiries.in.the.Last.6.Months Employment.Length
9216                                0         10+ years
17731                               1           5 years
84394                               1         10+ years
74496                               0           3 years
78960                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
76662              7500                        7500        13.11%   36 months
11174              7350                        7325        11.12%   36 months
44650             10000                       10000        10.74%   36 months
44434              8000                        8000        17.27%   36 months
78935             33600                       33600        23.83%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
76662  debt_consolidation                8.04%    NJ           RENT
11174  debt_consolidation               20.15%    OR       MORTGAGE
44650  debt_consolidation               10.42%    NY           RENT
44434               other               12.20%    MI           RENT
78935  debt_consolidation               19.11%    UT           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
76662         2796.80    690-694                  4                      4788
11174         4000.00    710-714                 17                     33178
44650         5000.00    720-724                  6                      5510
44434         1750.00    665-669                  9                      5828
78935         7666.67    660-664                 18                     12337

       Inquiries.in.the.Last.6.Months Employment.Length
76662                               0           7 years
11174                               0           4 years
44650                               2           3 years
44434                               0           4 years
78935                               0         10+ years
CHUNK DF

        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
36760              12000                       12000        15.27%
28305               5000                        5000        17.49%
83591              10000                       10000        11.14%
84575               2075                        2075        10.16%
103448             16000                       15825        16.82%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
36760    60 months         credit_card               16.85%    VA
28305    60 months                 car               16.71%    PA
83591    36 months         credit_card               11.64%    VA
84575    36 months  debt_consolidation                  22%    SC
103448   36 months         credit_card               20.30%    TX

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
36760            RENT         4333.33    700-704                 15
28305            RENT         2400.00    670-674                  6
83591        MORTGAGE        12083.33    715-719                 14
84575            RENT         2250.00    700-704                  5
103448       MORTGAGE         6250.00    665-669                 18

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
36760                      17997                               1
28305                       2023                               1
83591                      38378                               1
84575                       7195                               0
103448                     30772                               5

       Employment.Length
36760           < 1 year
28305            3 years
83591            2 years
84575            2 years
103448            1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
60833              6000                        6000        12.12%   36 months
55999              8600                        8600        13.99%   36 months
80302             16800                       16800         7.90%   60 months
44003              7200                        7200         7.51%   36 months
72532              9000                        9000        13.11%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
60833         credit_card               30.82%    CT       MORTGAGE
55999         credit_card                9.09%    CA           RENT
80302  debt_consolidation                3.34%    FL       MORTGAGE
44003             medical                4.43%    NJ           RENT
72532             wedding               24.88%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
60833         4166.67    695-699                  8                     13250
55999         4500.00    680-684                  6                     11183
80302        10666.67    815-819                  7                      4757
44003         3000.00    755-759                  6                        75
72532         5000.00    700-704                 12                      4621

       Inquiries.in.the.Last.6.Months Employment.Length
60833                               1               NaN
55999                               0           5 years
80302                               0         10+ years
44003                               1           6 years
72532                               3           6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
6211              10000                     9767.84        12.87%   36 months
77113             11350                    11350.00        14.09%   36 months
71064              6000                     6000.00        17.27%   60 months
62035              4000                     4000.00        12.12%   36 months
46097              6400                     6400.00        10.74%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
6211   debt_consolidation               21.28%    GA       MORTGAGE
77113  debt_consolidation               27.41%    AZ           RENT
71064    home_improvement               11.20%    TX       MORTGAGE
62035      small_business               18.44%    AL           RENT
46097  debt_consolidation               19.23%    DC           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
6211          8333.33    715-719                 24                      9470
77113         2783.33    675-679                 14                     11031
71064         8750.00    685-689                  5                     10980
62035         2250.00    680-684                  7                      1955
46097         3833.33    690-694                 13                     10451

       Inquiries.in.the.Last.6.Months Employment.Length
6211                                1          < 1 year
77113                               0          < 1 year
71064                               2           6 years
62035                               0          < 1 year
46097                               0          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
50231              3000                        3000        18.25%   36 months
15543              1125                        1125         5.79%   36 months
47985             28000                       27950        13.11%   60 months
90988              6000                        6000         8.90%   36 months
84341              5000                        5000         6.03%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
50231  debt_consolidation               23.18%    AL       MORTGAGE
15543         credit_card               17.68%    FL            OWN
47985      small_business                   0%    CO           RENT
90988         credit_card               24.57%    CA           RENT
84341               other                6.11%    TX       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
50231         4820.00    660-664                 23                      7949
15543         3083.33    750-754                  8                      3935
47985         4806.00    795-799                  6                         0
90988         6666.67    685-689                 22                      6462
84341         5416.67    795-799                 13                      4956

       Inquiries.in.the.Last.6.Months Employment.Length
50231                               3           7 years
15543                               0           6 years
47985                               1           4 years
90988                               0           2 years
84341                               0           8 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
39507             20000                       19975        20.30%   60 months
31960              9200                        9200         7.49%   36 months
84317             35000                       35000        13.11%   60 months
77987             18000                       18000        20.49%   60 months
29223              8250                        8250         7.49%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
39507  debt_consolidation               20.91%    AK            OWN
31960         credit_card               21.52%    PA           RENT
84317               other               12.02%    CA       MORTGAGE
77987  debt_consolidation               29.25%    CA           RENT
29223         credit_card               24.19%    CO           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
39507         4916.67    665-669                 16                     32137
31960         2416.67    730-734                 10                     21323
84317        20833.33    740-744                 13                     40765
77987         3750.00    675-679                 18                      8165
29223         2100.00    720-724                  7                      9469

       Inquiries.in.the.Last.6.Months Employment.Length
39507                               2         10+ years
31960                               1         10+ years
84317                               0           5 years
77987                               0           6 years
29223                               0            1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
26120              1200                        1200         7.49%   36 months
20433             10000                       10000         9.63%   36 months
92965             35000                       35000        17.27%   60 months
71638             18000                       18000        15.31%   36 months
29100             20000                       19975        18.39%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
26120               other               17.88%    AL            OWN
20433         credit_card               17.96%    NY           RENT
92965  debt_consolidation               15.30%    MA       MORTGAGE
71638  debt_consolidation               15.56%    NM       MORTGAGE
29100  debt_consolidation               15.61%    MD       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
26120         1666.67    710-714                 10                      9154
20433         7500.00    705-709                  8                     52045
92965         9000.00    700-704                  8                     41226
71638         6666.67    690-694                 10                     21174
29100         7000.00    705-709                  6                     20642

       Inquiries.in.the.Last.6.Months Employment.Length
26120                               0         10+ years
20433                               0         10+ years
92965                               1         10+ years
71638                               0         10+ years
29100                               2         10+ years
CHUNK DF

       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
68581              5500                        5500        11.14%   36 months
97449             35000                       35000        22.47%   60 months
78139             35000                       35000        21.98%   60 months
74944             20950                       20875        21.49%   60 months
19701              1500                        1500         9.63%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
68581         credit_card               32.16%    PA            OWN
97449  debt_consolidation               18.95%    FL            OWN
78139         credit_card               14.68%    NY           RENT
74944  debt_consolidation               27.56%    NY       MORTGAGE
19701               other               16.98%    AZ       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
68581         1666.67    690-694                  7                      8826
97449         9583.33    660-664                  9                     14184
78139         9166.67    695-699                 12                     37424
74944         4500.00    675-679                 15                     24210
19701         7725.00    695-699                 14                     30626

       Inquiries.in.the.Last.6.Months Employment.Length
68581                               0           3 years
97449                               1               NaN
78139                               0           3 years
74944                               1           6 years
19701                               0           6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
52814             12000                       12000        19.99%   36 months
66454             10000                        9975        14.33%   36 months
60768              9750                        9750        18.49%   36 months
29410              5600                        5575         7.49%   36 months
44334             11200                       11200        13.11%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
52814  debt_consolidation               15.16%    KY           RENT
66454  debt_consolidation                  13%    CA       MORTGAGE
60768  debt_consolidation               11.59%    TX            OWN
29410  debt_consolidation               24.74%    WA           RENT
44334  debt_consolidation               11.73%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
52814         4458.33    660-664                  8                     13935
66454         3625.00    690-694                 10                      8464
60768         2666.67    660-664                  7                      8172
29410         2583.00    740-744                  6                      2454
44334         3333.33    720-724                  8                      8747

       Inquiries.in.the.Last.6.Months Employment.Length
52814                               1           4 years
66454                               2          < 1 year
60768                               0           3 years
29410                               1           2 years
44334                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
20640              4000                        3975        13.43%   36 months
45821              7000                        7000         8.90%   36 months
91412             18000                       18000         6.03%   36 months
17850              5000                        5000        12.61%   36 months
15285             10000                        9975         9.25%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
20640      small_business                7.60%    PA           RENT
45821      small_business               15.79%    PA       MORTGAGE
91412  debt_consolidation               10.75%    CA       MORTGAGE
17850  debt_consolidation               13.40%    CA           RENT
15285      small_business                5.60%    VA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
20640         1750.00    670-674                  7                      7178
45821         4700.00    700-704                 12                      7012
91412         7916.67    735-739                 13                     14007
17850         2000.00    695-699                  9                      1753
15285         4000.00    705-709                  7                      8528

       Inquiries.in.the.Last.6.Months Employment.Length
20640                               3          < 1 year
45821                               0            1 year
91412                               2           7 years
17850                               0           2 years
15285                               0          < 1 year
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
26894               9800                        9800        19.69%
98259              20000                       19975        12.12%
102079              5100                        4950        18.29%
60684               8875                        8875        11.14%
27607               4400                        4400         5.99%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
26894    60 months  debt_consolidation               14.89%    RI
98259    36 months         credit_card               19.82%    UT
102079   36 months  debt_consolidation               25.67%    NJ
60684    36 months  debt_consolidation               31.70%    TX
27607    36 months      major_purchase               17.93%    PA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
26894        MORTGAGE         5340.25    665-669                  8
98259        MORTGAGE         6750.00    685-689                 14
102079           RENT         3000.00    640-644                 14
60684            RENT         2160.00    700-704                 19
27607             OWN         4000.00    765-769                  6

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
26894                       5350                               1
98259                      21637                               0
102079                      5004                               6
60684                      17422                               0
27607                       9945                               1

       Employment.Length
26894            2 years
98259            5 years
102079          < 1 year
60684          10+ years
27607            5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
38688             35000                       23350        11.71%   60 months
72991              3000                        3000        18.49%   36 months
36061              4800                        4800        12.42%   36 months
40081              5375                        5375        11.71%   36 months
30824             14000                       14000        11.99%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
38688      small_business                8.07%    CA       MORTGAGE
72991         credit_card               16.07%    NJ            OWN
36061              moving                5.31%    NY           RENT
40081  debt_consolidation               28.75%    KY       MORTGAGE
30824  debt_consolidation               19.52%    TX       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
38688         7500.00    745-749                  6                      5660
72991         2916.67    660-664                  9                      6403
36061         3500.00    690-694                  8                      5093
40081         2166.67    720-724                  5                     15475
30824         6333.33    705-709                 12                     32213

       Inquiries.in.the.Last.6.Months Employment.Length
38688                               0           3 years
72991                               0          < 1 year
36061                               0           5 years
40081                               1           8 years
30824                               0          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
14118             19800                    19775.00        13.23%   36 months
57483             13025                    13025.00        13.11%   36 months
74764             18000                    18000.00        18.49%   36 months
1670               2500                     2275.77         7.68%   36 months
15094              5000                     4985.44         7.14%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
14118         credit_card               20.09%    MO       MORTGAGE
57483         credit_card                7.75%    UT       MORTGAGE
74764  debt_consolidation               20.56%    CA           RENT
1670       major_purchase               17.59%    OR       MORTGAGE
15094  debt_consolidation               11.40%    CT            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
14118         6666.67    730-734                  8                     31220
57483         4333.33    675-679                  6                     13029
74764         9333.33    675-679                 12                     37526
1670          3666.67    785-789                  6                       406
15094         4166.67    755-759                  6                     16666

       Inquiries.in.the.Last.6.Months Employment.Length
14118                               0          < 1 year
57483                               0         10+ years
74764                               1           6 years
1670                                0         10+ years
15094                               1           5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
63651              4500                        4500        11.14%   36 months
72750             15000                       15000         8.90%   36 months
85468             35000                       35000        20.49%   60 months
31815              4500                        4500         8.49%   36 months
75818              4500                        4500        17.27%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
63651         credit_card                9.73%    CT           RENT
72750  debt_consolidation                8.56%    MO           RENT
85468  debt_consolidation               11.84%    TX       MORTGAGE
31815         credit_card                2.54%    TX           RENT
75818  debt_consolidation               16.59%    PA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
63651         2916.67    685-689                 13                      4265
72750         7500.00    740-744                  8                      8343
85468        18750.00    715-719                 14                     41707
31815         2166.67    795-799                  2                       527
75818         4666.67    675-679                 24                       893

       Inquiries.in.the.Last.6.Months Employment.Length
63651                               0           4 years
72750                               1          < 1 year
85468                               2            1 year
31815                               1           3 years
75818                               1           3 years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
14231              1450                        1450         7.51%   36 months
4537               6000                        6000        14.96%   36 months
16023              4500                        4500         6.54%   36 months
36134             14000                       14000         6.62%   36 months
87110             15000                       15000         6.03%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
14231               other               22.20%    MA           RENT
4537       small_business               11.55%    TX           RENT
16023             medical               15.82%    NC       MORTGAGE
36134  debt_consolidation               20.18%    TX           RENT
87110  debt_consolidation                8.72%    MA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
14231          833.33    740-744                  9                       709
4537          7083.33    760-764                  7                      5341
16023         3250.00    725-729                 16                      6049
36134         4583.33    750-754                 15                     15890
87110        12000.00    800-804                 17                     13151

       Inquiries.in.the.Last.6.Months Employment.Length
14231                               0               NaN
4537                                0           2 years
16023                               0         10+ years
36134                               1         10+ years
87110                               0           2 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
28467              22000                       14550        10.99%
928                10000                        1300        11.03%
84897              35000                       35000        20.49%
63224              10000                       10000        20.49%
103951              6000                        6000        13.98%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
28467    60 months  debt_consolidation               15.83%    TX
928      36 months         credit_card               11.03%    GA
84897    36 months  debt_consolidation               20.82%    TX
63224    36 months  debt_consolidation               18.75%    TX
103951   60 months             medical               24.29%    CA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
28467        MORTGAGE         5243.75    760-764                 18
928          MORTGAGE         6666.67    695-699                  8
84897        MORTGAGE        12333.33    700-704                 23
63224            RENT         5250.00    685-689                 25
103951           RENT         2400.00    695-699                 11

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
28467                      14115                               0
928                        43712                               0
84897                      36870                               0
63224                       3802                               1
103951                      6069                               4

       Employment.Length
28467            2 years
928              4 years
84897          10+ years
63224            3 years
103951           9 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
72766              10000                    10000.00        15.80%
4843               10000                     9950.00         8.94%
101907             12000                     3639.28        13.30%
40756               9600                     9600.00        14.65%
27030              17800                    17775.00        22.11%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
72766    36 months  debt_consolidation               13.10%    AK
4843     36 months  debt_consolidation               13.73%    CO
101907   36 months  debt_consolidation               12.77%    CA
40756    36 months         credit_card                2.21%    CA
27030    60 months  debt_consolidation                5.86%    NC

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
72766        MORTGAGE         4458.33    675-679                  7
4843             RENT         3125.00    785-789                  5
101907           RENT         3000.00    660-664                 15
40756            RENT         5833.33    675-679                  7
27030            RENT         7000.00    660-664                  9

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
72766                       6413                               1
4843                         417                               2
101907                      8480                               4
40756                       5879                               1
27030                       6708                               0

       Employment.Length
72766           < 1 year
4843              1 year
101907           6 years
40756            7 years
27030            6 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
69983               2000                     2000.00         7.62%
100440             18825                    18825.00        21.00%
21657               3000                     2509.17        13.06%
78336               2000                     2000.00        13.11%
83749               9000                     9000.00        17.77%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
69983    36 months      major_purchase               24.69%    TX
100440   60 months  debt_consolidation               19.22%    CT
21657    36 months               house               12.06%    NV
78336    36 months  debt_consolidation               19.13%    KY
83749    36 months  debt_consolidation               13.72%    CA

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
69983        MORTGAGE         4333.33    765-769                 10
100440           RENT         4583.33    680-684                  8
21657            RENT         2571.42    705-709                  2
78336            RENT         2916.67    670-674                  7
83749            RENT         4583.33    670-674                 14

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
69983                       2792                               4
100440                     17292                               2
21657                          0                               3
78336                       4376                               0
83749                      21175                               1

       Employment.Length
69983          10+ years
100440         10+ years
21657            6 years
78336          10+ years
83749            5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
96051              5750                        5750        13.11%   36 months
55598             21725                       21725        19.22%   60 months
92347             20000                       20000         7.90%   36 months
34650             15350                       15325        13.49%   60 months
63101              8400                        8400        14.33%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
96051         credit_card               24.24%    NY           RENT
55598  debt_consolidation               22.48%    LA            OWN
92347  debt_consolidation               33.28%    NY           RENT
34650  debt_consolidation               28.63%    WA       MORTGAGE
63101  debt_consolidation               11.61%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
96051         1675.00    705-709                 18                      8035
55598         3629.58    675-679                  7                     19685
92347         8666.67    725-729                  9                     33067
34650         3200.00    730-734                  6                      9946
63101         3333.33    670-674                 11                      2060

       Inquiries.in.the.Last.6.Months Employment.Length
96051                               0           4 years
55598                               0         10+ years
92347                               0           3 years
34650                               1         10+ years
63101                               0          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
29797              4500                        4500         7.49%   36 months
58924              9950                        9950        15.31%   36 months
42772             15000                       15000         7.90%   36 months
8626              10000                        9850        10.99%   36 months
20234             12000                       10400        18.25%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
29797         credit_card               27.63%    OR           RENT
58924             wedding                7.84%    CA           RENT
42772  debt_consolidation               20.75%    IL       MORTGAGE
8626                other               19.23%    VA       MORTGAGE
20234                 car               12.11%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
29797         2700.00    720-724                 13                      9341
58924         2833.33    675-679                  7                      4904
42772         2583.33    725-729                 10                      9608
8626          9150.00    705-709                 16                     43256
20234         5600.00    660-664                  7                      2409

       Inquiries.in.the.Last.6.Months Employment.Length
29797                               0           4 years
58924                               2               NaN
42772                               0           3 years
8626                                2         10+ years
20234                               1           3 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
1677                8000                     3862.32        12.21%
35161               3000                     3000.00         6.03%
64339              15000                    15000.00        14.33%
100635             12700                    12700.00        17.77%
23566              16000                    15745.73        11.11%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
1677     36 months               other               13.29%    GA
35161    36 months  debt_consolidation               11.03%    NY
64339    36 months  debt_consolidation               27.25%    TX
100635   36 months  debt_consolidation               23.94%    AL
23566    60 months  debt_consolidation                9.90%    MO

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
1677         MORTGAGE        12500.00    695-699                 10
35161        MORTGAGE         7500.00    765-769                 13
64339        MORTGAGE         7500.00    680-684                 13
100635       MORTGAGE         3333.33    685-689                 14
23566            RENT         2958.33    765-769                  6

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
1677                       93265                               1
35161                      10585                               0
64339                      27872                               0
100635                      9655                               3
23566                       8943                               2

       Employment.Length
1677           10+ years
35161                NaN
64339          10+ years
100635               NaN
23566           < 1 year

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
60832              7200                        7200         7.90%   36 months
29595             30000                       30000        20.25%   60 months
48620             20125                       20125        14.65%   36 months
40753             12000                       12000        15.27%   36 months
9820               5000                        4950        10.62%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
60832  debt_consolidation               21.74%    TX           RENT
29595  debt_consolidation               10.46%    VA       MORTGAGE
48620  debt_consolidation               17.88%    FL       MORTGAGE
40753         credit_card               16.46%    PA            OWN
9820     home_improvement               11.23%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
60832         4300.00    710-714                  7                     33189
29595        12500.00    695-699                 10                     43491
48620        10353.33    695-699                 11                     23698
40753         2516.67    670-674                  9                      2174
9820          5200.00    745-749                  6                      1941

       Inquiries.in.the.Last.6.Months Employment.Length
60832                               0         10+ years
29595                               3           5 years
48620                               1           7 years
40753                               2           5 years
9820                                1           5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
7606               8000                     7989.96        11.36%   36 months
32191              3600                     3600.00         6.62%   36 months
3414               8800                     8350.00         9.63%   36 months
51742             18000                    17925.00        19.22%   60 months
98167             20000                    20000.00        23.76%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
7606                other                5.27%    CA       MORTGAGE
32191         credit_card                9.35%    TX           RENT
3414              wedding                4.89%    GA       MORTGAGE
51742  debt_consolidation               21.36%    CA           RENT
98167  debt_consolidation               18.75%    VA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
7606         13389.15    705-709                  6                      7351
32191         2000.00    735-739                 17                      1710
3414          5479.00    755-759                  5                      6055
51742         6867.92    690-694                 13                     19446
98167         6266.67    660-664                 25                     10784

       Inquiries.in.the.Last.6.Months Employment.Length
7606                                1           3 years
32191                               0            1 year
3414                                0           6 years
51742                               0         10+ years
98167                               3         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
31654              4350                        4350         5.99%   36 months
26652             12000                       11975        10.99%   60 months
54076              5400                        5400        13.67%   36 months
19695             12000                       11950        12.68%   60 months
62644             12000                       12000        17.77%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
31654               house                3.12%    CA            OWN
26652    home_improvement                4.04%    NY       MORTGAGE
54076  debt_consolidation               15.42%    CA           RENT
19695  debt_consolidation               22.72%    NY           RENT
62644  debt_consolidation               24.48%    MI            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
31654         2600.00    780-784                  5                       866
26652         3416.67    735-739                 10                      6935
54076         1666.67    680-684                  6                      2533
19695         5000.00    700-704                 19                      9002
62644         3333.33    665-669                 12                     16984

       Inquiries.in.the.Last.6.Months Employment.Length
31654                               0          < 1 year
26652                               0          < 1 year
54076                               0           4 years
19695                               0               NaN
62644                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
53454              6700                        6700         7.90%   36 months
40692              3750                        3750        11.71%   36 months
55177              8000                        8000        13.67%   36 months
24187              4500                        4500        11.49%   36 months
20979              6000                        5975        17.14%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
53454         credit_card               22.19%    KS           RENT
40692  debt_consolidation               16.98%    CA           RENT
55177               other               23.50%    NJ           RENT
24187               other                9.26%    CA           RENT
20979      small_business                6.60%    FL       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
53454         2708.33    705-709                 10                      6627
40692         1650.00    675-679                  6                      8101
55177         2791.67    685-689                  5                     27151
24187         3500.00    695-699                  5                      7247
20979         2500.00    660-664                  5                      5087

       Inquiries.in.the.Last.6.Months Employment.Length
53454                               0           2 years
40692                               0           4 years
55177                               0          < 1 year
24187                               0           2 years
20979                               0           8 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
81254             19400                       19400        23.28%   60 months
13413             25000                       15600        17.93%   60 months
34871              8800                        8800        14.27%   36 months
44681              4800                        4800        13.99%   36 months
73773              5175                        5175        17.77%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
81254         credit_card                9.30%    NC       MORTGAGE
13413      small_business               19.94%    CA           RENT
34871  debt_consolidation                9.57%    IL           RENT
44681             medical                7.39%    OH           RENT
73773         credit_card               22.93%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
81254         6000.00    660-664                  5                     28921
13413         5416.67    690-694                 13                     24810
34871         3833.33    695-699                  4                      8130
44681         5833.33    680-684                  9                       170
73773         1500.00    660-664                  9                      8577

       Inquiries.in.the.Last.6.Months Employment.Length
81254                               0         10+ years
13413                               0         10+ years
34871                               1           4 years
44681                               2            1 year
73773                               1           5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
12248             10000                     9999.36        10.75%   60 months
83704             12000                    12000.00        11.14%   36 months
43610              5000                     5000.00         7.51%   36 months
43017             33600                    33600.00        17.27%   60 months
80198             10000                    10000.00        13.11%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
12248    home_improvement                4.05%    MD       MORTGAGE
83704               other                7.85%    VA           RENT
43610               other               11.40%    FL           RENT
43017  debt_consolidation               15.08%    NY           RENT
80198  debt_consolidation               29.13%    TX       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
12248         8750.00    795-799                  7                         0
83704         6666.67    720-724                 11                      4428
43610         1666.67    750-754                  4                      7968
43017         5416.67    730-734                  5                     20514
80198         8750.00    700-704                 13                     11125

       Inquiries.in.the.Last.6.Months Employment.Length
12248                               1           2 years
83704                               2           9 years
43610                               0         10+ years
43017                               1           8 years
80198                               2          < 1 year
CHUNK DF

       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
91989             12000                       11975        16.29%   36 months
87119              4000                        4000        14.33%   36 months
66132             20000                       20000        15.80%   36 months
73203             12000                       12000        14.09%   36 months
76842             17500                       17500        21.00%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
91989               other               14.29%    AZ       MORTGAGE
87119    renewable_energy               22.74%    MD           RENT
66132         credit_card               13.13%    CT           RENT
73203  debt_consolidation               19.49%    CA           RENT
76842    home_improvement                1.78%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
91989         8541.67    695-699                  5                      5890
87119         1666.67    665-669                  7                       278
66132         5000.00    690-694                 10                     17981
73203         6166.67    675-679                 13                      6499
76842         4166.67    685-689                  7                      3377

       Inquiries.in.the.Last.6.Months Employment.Length
91989                               3         10+ years
87119                               0           3 years
66132                               1           3 years
73203                               0           6 years
76842                               3         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
41741             10000                    10000.00        11.71%   36 months
8127               3000                     3000.00        14.22%   36 months
4750               5600                     5592.37         8.59%   36 months
93711             10000                    10000.00        15.80%   36 months
28368              5000                     5000.00         8.49%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
41741         credit_card               21.18%    FL            OWN
8127               moving               10.05%    MA           RENT
4750          credit_card                8.34%    NJ       MORTGAGE
93711  debt_consolidation               13.32%    AZ           RENT
28368  debt_consolidation               22.53%    WA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
41741         3333.33    690-694                  8                      7579
8127          9166.67    665-669                 15                     22698
4750          3250.00    735-739                  9                      2639
93711         5000.00    670-674                 16                     11286
28368         3000.00    720-724                  9                      3388

       Inquiries.in.the.Last.6.Months Employment.Length
41741                               0            1 year
8127                                2           6 years
4750                                1           5 years
93711                               1          < 1 year
28368                               2         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
66425             16000                       16000        21.49%   60 months
13652              4800                        4800        10.75%   36 months
66166             24925                       24925        18.75%   60 months
73128              4825                        4825        12.12%   36 months
42032             18750                       18750        18.25%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
66425      small_business               25.76%    NY       MORTGAGE
13652               other               22.63%    MA           RENT
66166  debt_consolidation                8.51%    AK       MORTGAGE
73128  debt_consolidation                4.76%    CT       MORTGAGE
42032  debt_consolidation               12.54%    CO       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
66425         5000.00    670-674                 14                     10881
13652         1750.00    710-714                  6                     11234
66166         5250.00    710-714                  7                     15288
73128         5416.67    680-684                  8                      6883
42032         4833.33    675-679                 13                     11232

       Inquiries.in.the.Last.6.Months Employment.Length
66425                               0           5 years
13652                               0           5 years
66166                               0         10+ years
73128                               0           8 years
42032                               2         10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
101034              5000                     5000.00        15.31%
102595              7500                      224.99        13.17%
12429              10000                    10000.00        16.82%
36084               5300                     5300.00         7.90%
3219                5000                     5000.00         9.63%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
101034   36 months    home_improvement               20.54%    CT
102595   36 months               other                1.03%    CT
12429    60 months  debt_consolidation               12.54%    MA
36084    36 months  debt_consolidation                9.67%    TX
3219     36 months         educational               11.81%    AZ

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
101034       MORTGAGE         4166.67    675-679                 18
102595       MORTGAGE         8750.00    675-679                  3
12429            RENT         4417.00    680-684                  9
36084            RENT         1945.00    760-764                  3
3219         MORTGAGE         9166.67    730-734                 16

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
101034                     12929                               3
102595                      3607                               4
12429                       6630                               2
36084                       5360                               0
3219                       23658                               2

       Employment.Length
101034         10+ years
102595           6 years
12429            3 years
36084            8 years
3219           10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
15120             25000                    15051.09        13.23%   60 months
3246               9250                     9200.00        11.89%   36 months
14851             19000                    18725.00        10.75%   60 months
45929              2000                     2000.00         6.03%   36 months
62740              7200                     7200.00        20.49%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
15120  debt_consolidation               20.11%    TX       MORTGAGE
3246   debt_consolidation               16.28%    OH       MORTGAGE
14851    home_improvement                6.19%    MD       MORTGAGE
45929  debt_consolidation                8.01%    NY           RENT
62740               other               15.14%    NJ           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
15120         6666.67    735-739                 11                     33084
3246          5416.67    745-749                 14                     10111
14851         7500.00    775-779                 12                      1142
45929         5833.33    750-754                  7                      2031
62740         5166.67    670-674                 10                     14585

       Inquiries.in.the.Last.6.Months Employment.Length
15120                               0         10+ years
3246                                6           6 years
14851                               1           8 years
45929                               0          < 1 year
62740                               3           3 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
70648              8000                        8000        14.09%   36 months
33500             13000                       12875        11.71%   36 months
55755              8000                        8000        16.29%   36 months
3158              14000                       13675         9.63%   36 months
40127              1400                        1400        12.69%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
70648  debt_consolidation               19.60%    CO       MORTGAGE
33500  debt_consolidation               16.20%    NJ           RENT
55755             wedding                2.92%    CT       MORTGAGE
3158   debt_consolidation               13.06%    CA       MORTGAGE
40127               other                5.93%    NJ            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
70648         5292.00    695-699                 13                      8903
33500         6932.92    685-689                 21                     27852
55755         4250.00    670-674                  5                      4454
3158          9083.33    760-764                 21                     46017
40127         4583.33    700-704                  3                      1029

       Inquiries.in.the.Last.6.Months Employment.Length
70648                               1               NaN
33500                               0           9 years
55755                               2         10+ years
3158                                3         10+ years
40127                               0            1 year
CHUNK DF

       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
77444              9500                     9500.00         8.90%   36 months
74186             12700                    12700.00        11.14%   36 months
45644             10000                    10000.00         9.76%   36 months
2868               6000                     5691.36        11.89%   36 months
28280              5200                     5200.00        13.99%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
77444  debt_consolidation               27.72%    CO            OWN
74186  debt_consolidation               10.53%    NJ            OWN
45644  debt_consolidation               18.31%    NJ           RENT
2868       major_purchase               11.55%    PA           RENT
28280  debt_consolidation               23.18%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
77444         5000.00    735-739                  4                     18393
74186         3333.33    705-709                  6                      8948
45644         2916.67    725-729                  6                      5670
2868          2917.00    735-739                  4                      1003
28280         5000.00    680-684                 17                     28118

       Inquiries.in.the.Last.6.Months Employment.Length
77444                               1           6 years
74186                               0          < 1 year
45644                               1         10+ years
2868                                2            1 year
28280                               2           5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
50921              9000                     8975.00        15.81%   36 months
2425              12000                    11854.04        14.74%   36 months
1337               6600                     3800.00         9.07%   36 months
56391             10000                    10000.00        13.99%   36 months
27919              1800                     1800.00        11.49%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
50921  debt_consolidation               10.69%    MO           RENT
2425   debt_consolidation                4.62%    NY           RENT
1337                other                1.84%    FL            OWN
56391  debt_consolidation                8.62%    NJ       MORTGAGE
27919  debt_consolidation               16.64%    WY       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
50921         3750.00    675-679                  7                      6599
2425          4500.00    695-699                  3                      7956
1337          2667.00    740-744                 16                      4889
56391         6458.33    670-674                 13                      7200
27919         4250.00    695-699                 11                     26267

       Inquiries.in.the.Last.6.Months Employment.Length
50921                               1         10+ years
2425                                0         10+ years
1337                                1          < 1 year
56391                               0           9 years
27919                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
78789             19000                       19000        18.75%   60 months
85290             24000                       24000        20.49%   60 months
63588             11500                       11475        11.14%   36 months
47887             12100                       12100        13.67%   36 months
28055             12000                       12000        17.99%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
78789    home_improvement               17.40%    MN            OWN
85290  debt_consolidation                8.69%    NJ       MORTGAGE
63588  debt_consolidation               23.40%    FL            OWN
47887  debt_consolidation               12.85%    FL           RENT
28055  debt_consolidation               23.44%    TX           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
78789         4000.00    695-699                  7                      5246
85290         5833.33    685-689                  9                     23006
63588         2833.33    700-704                  8                     17324
47887         5000.00    690-694                  8                     12026
28055         3916.67    675-679                  8                      8860

       Inquiries.in.the.Last.6.Months Employment.Length
78789                               2         10+ years
85290                               0         10+ years
63588                               0               NaN
47887                               0           4 years
28055                               0          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
44231             12000                       12000        15.31%   36 months
88584             10000                       10000        19.72%   36 months
61697              8875                        8875        15.31%   36 months
64440             10625                       10625        17.77%   36 months
3320              12000                        3725        14.11%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
44231  debt_consolidation               10.69%    MA       MORTGAGE
88584               other               27.53%    MN       MORTGAGE
61697  debt_consolidation               30.15%    NC           RENT
64440  debt_consolidation               22.10%    FL            OWN
3320          credit_card                7.23%    GA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
44231         4416.67    675-679                 18                     13194
88584         2916.67    665-669                 14                     11506
61697         2291.67    680-684                 11                     11798
64440         2633.33    660-664                  9                     12156
3320          3750.00    670-674                  6                     13018

       Inquiries.in.the.Last.6.Months Employment.Length
44231                               2           3 years
88584                               0         10+ years
61697                               1           2 years
64440                               0          < 1 year
3320                                3            1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
95536             10000                       10000        17.27%   36 months
98428             12000                       12000        20.49%   36 months
26457             14000                       12225        11.99%   60 months
43465             16000                       15975        17.58%   60 months
53930             10000                       10000        15.81%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
95536  debt_consolidation               28.91%    FL       MORTGAGE
98428         credit_card               28.84%    IL           RENT
26457  debt_consolidation               14.01%    AR       MORTGAGE
43465  debt_consolidation               12.26%    MO       MORTGAGE
53930  debt_consolidation               20.89%    TX           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
95536         3500.00    660-664                 11                      9059
98428         3980.33    660-664                 12                     19234
26457         4583.33    720-724                  9                      3539
43465         2666.67    705-709                 12                     18008
53930         5541.67    670-674                 14                     10443

       Inquiries.in.the.Last.6.Months Employment.Length
95536                               1           7 years
98428                               2           5 years
26457                               0           3 years
43465                               1          < 1 year
53930                               1           9 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
92051              3625                     3625.00        16.29%   36 months
78391              8400                     8400.00        12.12%   36 months
1766               1600                     1334.54        15.05%   36 months
82223              3600                     3600.00        16.29%   36 months
19226             14000                    14000.00        17.51%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
92051      small_business               21.75%    NY       MORTGAGE
78391  debt_consolidation               22.32%    MA           RENT
1766       major_purchase               14.15%    FL           RENT
82223  debt_consolidation               24.90%    NY            OWN
19226         credit_card                9.37%    DC           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
92051         6666.67    720-724                 12                      3226
78391         3333.33    690-694                  7                      5500
1766          2000.00    665-669                  5                      9603
82223         3666.67    665-669                 16                     11927
19226         7916.67    680-684                  3                     13522

       Inquiries.in.the.Last.6.Months Employment.Length
92051                               5           2 years
78391                               0           4 years
1766                                1          < 1 year
82223                               3         10+ years
19226                               0          < 1 year
CHUNK DF

       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
63697             15675                    15675.00         6.03%   36 months
2947               6000                     5546.81        11.89%   36 months
91702             10000                    10000.00         8.90%   36 months
50924             29000                    29000.00         7.90%   36 months
35615              4800                     4800.00        12.42%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
63697      small_business                8.86%    FL       MORTGAGE
2947                other               19.38%    NY           RENT
91702    home_improvement               11.17%    GA       MORTGAGE
50924  debt_consolidation               19.25%    NY       MORTGAGE
35615  debt_consolidation               17.98%    UT       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
63697         4166.67    795-799                  9                     13020
2947          7250.00    725-729                  6                     42987
91702         6666.67    695-699                 15                     14593
50924         9166.67    765-769                 18                     75212
35615         4500.00    670-674                  9                     30895

       Inquiries.in.the.Last.6.Months Employment.Length
63697                               1           7 years
2947                                1         10+ years
91702                               1           6 years
50924                               1          < 1 year
35615                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
6084               5000                     4900.00         8.94%   36 months
3862               7000                     6894.01        12.53%   36 months
49409             20000                    19975.00        16.29%   60 months
89809              9000                     9000.00        12.12%   36 months
33275              4400                     4400.00        12.42%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
6084          educational               13.27%    NY            OWN
3862   debt_consolidation                6.64%    NJ       MORTGAGE
49409  debt_consolidation               24.05%    MD       MORTGAGE
89809  debt_consolidation               10.05%    NY           RENT
33275      small_business                  19%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
6084          4166.67    740-744                  5                      4676
3862          5000.00    695-699                  7                     11391
49409         7416.67    705-709                 11                     14944
89809        11666.67    690-694                  8                      9490
33275         2000.00    715-719                  9                      2411

       Inquiries.in.the.Last.6.Months Employment.Length
6084                                0           3 years
3862                                1           5 years
49409                               1           3 years
89809                               1          < 1 year
33275                               3           5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
36803              3000                        3000        11.71%   36 months
61587              6250                        6250        14.33%   36 months
32249             14000                       14000         6.03%   36 months
39908             30000                       30000        14.27%   36 months
33029             19600                       19600        12.42%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
36803      major_purchase               16.80%    GA           RENT
61587         credit_card               20.40%    FL       MORTGAGE
32249  debt_consolidation                   9%    IL       MORTGAGE
39908  debt_consolidation                8.51%    TX       MORTGAGE
33029  debt_consolidation               22.99%    AZ           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
36803         3083.33    695-699                  4                       413
61587         1750.00    675-679                 10                      7845
32249         8733.33    770-774                 11                     15108
39908         9166.67    715-719                 10                     28967
33029         4166.67    745-749                  9                     14783

       Inquiries.in.the.Last.6.Months Employment.Length
36803                               0           2 years
61587                               0           4 years
32249                               0           6 years
39908                               0         10+ years
33029                               2          < 1 year
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
7603                1600                     1600.00        13.11%
57519               8000                     8000.00        13.99%
102277              2500                     2125.00        12.92%
64419              16075                    16075.00        16.29%
5651                4900                     4888.24        14.26%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
7603     36 months  debt_consolidation               18.99%    WA
57519    36 months      major_purchase               18.17%    CA
102277   36 months  debt_consolidation               22.32%    MI
64419    36 months  debt_consolidation               17.58%    KS
5651     36 months  debt_consolidation               23.75%    CT

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
7603         MORTGAGE            3459    670-674                  9
57519             OWN            7500    670-674                 13
102277       MORTGAGE            3750    670-674                 21
64419        MORTGAGE            4125    695-699                  7
5651             RENT            2240    720-724                  5

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
7603                        6281                               3
57519                       5987                               0
102277                      4744                               9
64419                      15781                               1
5651                       17998                               1

       Employment.Length
7603           10+ years
57519           < 1 year
102277           7 years
64419            2 years
5651              1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
27901             14400                       14400        11.99%   36 months
80404              7750                        7750        20.49%   36 months
23537              4200                        4200         5.79%   36 months
22289             35000                       34950        12.68%   60 months
48048             12800                       12800        12.12%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
27901  debt_consolidation               13.48%    KY       MORTGAGE
80404         credit_card                   9%    CA       MORTGAGE
23537  debt_consolidation                8.10%    MD       MORTGAGE
22289    home_improvement               23.99%    WV       MORTGAGE
48048  debt_consolidation               21.53%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
27901        10408.00    710-714                  9                     34354
80404         2000.00    660-664                  3                      5399
23537         6089.44    750-754                  7                     18861
22289         7083.33    785-789                 19                     30725
48048         4750.00    695-699                 16                     14291

       Inquiries.in.the.Last.6.Months Employment.Length
27901                               1           5 years
80404                               0           5 years
23537                               2           8 years
22289                               1         10+ years
48048                               0          < 1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
83570              8000                     8000.00         8.90%   36 months
39692             25000                    23477.53        18.64%   60 months
23911              5000                     5000.00         8.49%   36 months
11625              4000                     4000.00        11.49%   36 months
72919              2875                     2875.00        18.49%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
83570  debt_consolidation               26.56%    AZ       MORTGAGE
39692  debt_consolidation               14.61%    NV       MORTGAGE
23911         credit_card               16.89%    NJ       MORTGAGE
11625  debt_consolidation                4.16%    MA           RENT
72919         credit_card               14.11%    AZ           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
83570         4416.67    720-724                 15                      6701
39692         5833.33    695-699                  8                     13785
23911         6706.41    730-734                 19                     43734
11625         2666.67    720-724                  4                      3239
72919         1084.00    665-669                  3                      3824

       Inquiries.in.the.Last.6.Months Employment.Length
83570                               0            1 year
39692                               0         10+ years
23911                               1           8 years
11625                               0            1 year
72919                               0               NaN
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
23766              1800                        1800        16.02%   36 months
34802              7200                        7200        13.49%   36 months
68503              6000                        6000        12.12%   36 months
44737             15000                       14975         7.90%   36 months
62824             10375                       10375        14.33%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
23766      small_business                4.19%    AL           RENT
34802  debt_consolidation               14.60%    CA           RENT
68503         credit_card                8.16%    PA           RENT
44737                 car               20.73%    NY           RENT
62824  debt_consolidation               26.42%    MD           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
23766         4246.67    660-664                  2                         0
34802         5000.00    725-729                  4                     17268
68503         3333.33    680-684                  6                      8442
44737         5416.67    745-749                 14                      9756
62824         2479.17    680-684                  6                     13411

       Inquiries.in.the.Last.6.Months Employment.Length
23766                               0           9 years
34802                               0            1 year
68503                               0         10+ years
44737                               0            1 year
62824                               0           5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
97264             25000                    25000.00        15.80%   60 months
6143               7900                     7782.65         8.59%   36 months
59807             10000                    10000.00        15.31%   36 months
1888               6000                     4450.00         7.68%   36 months
99967              7000                     7000.00        17.77%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
97264  debt_consolidation               24.04%    CA            OWN
6143          credit_card               15.20%    CA       MORTGAGE
59807  debt_consolidation               14.61%    CA           RENT
1888   debt_consolidation                8.40%    NY           RENT
99967  debt_consolidation               30.30%    TX           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
97264         7750.00    700-704                 10                     20215
6143          7583.33    810-814                 14                      3950
59807         3750.00    680-684                 18                     13051
1888          5417.00    780-784                 10                      6047
99967         4333.33    675-679                 16                      6922

       Inquiries.in.the.Last.6.Months Employment.Length
97264                               5           2 years
6143                                0         10+ years
59807                               1           5 years
1888                                1         10+ years
99967                               1           4 years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
6259               5500                     5473.88        14.61%   36 months
73978              7000                     7000.00        14.33%   36 months
65041             12000                    11975.00         6.62%   36 months
26914             10000                     9975.00         6.99%   36 months
22573              9800                     9800.00        14.91%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
6259                other               20.38%    SC       MORTGAGE
73978  debt_consolidation                5.46%    PA           RENT
65041      major_purchase                1.43%    CA           RENT
26914    home_improvement               27.92%    CA       MORTGAGE
22573         credit_card               12.89%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
6259          5116.67    665-669                 11                     14103
73978         3333.33    690-694                  4                      8889
65041         9666.67    750-754                  5                      4693
26914         2500.00    780-784                  5                      1230
22573         2708.33    690-694                 11                      8111

       Inquiries.in.the.Last.6.Months Employment.Length
6259                                0            1 year
73978                               1           2 years
65041                               0            1 year
26914                               2            1 year
22573                               0           3 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
93394             15000                       15000        13.11%   36 months
26312             12000                       12000         7.91%   36 months
17242             19000                       18975        13.72%   36 months
43527             10000                       10000        13.49%   36 months
8698              14725                       14725        19.41%   36 months

         Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
93394     credit_card               29.63%    GA           RENT
26312     credit_card                4.51%    CA           RENT
17242     credit_card               13.50%    CA           RENT
43527  small_business               18.84%    AL       MORTGAGE
8698   major_purchase                2.14%    VA            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
93394         4083.33    690-694                 20                     23565
26312         3500.00    725-729                 16                      6015
17242         2964.67    705-709                  9                     11219
43527         3333.33    690-694                  9                     14247
8698         18333.33    660-664                 11                     82265

       Inquiries.in.the.Last.6.Months Employment.Length
93394                               4         10+ years
26312                               1          < 1 year
17242                               0         10+ years
43527                               1           7 years
8698                                2            1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
75525             17500                     17475.0        14.09%   36 months
6712              10000                     10000.0        12.53%   36 months
22982             12000                     11998.2        10.37%   36 months
76797             32550                     32550.0         6.62%   36 months
95522             17475                     17450.0        12.12%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
75525  debt_consolidation               34.88%    NY           RENT
6712   debt_consolidation               10.81%    CA           RENT
22982  debt_consolidation               16.98%    CT           RENT
76797  debt_consolidation                8.52%    IL       MORTGAGE
95522  debt_consolidation               14.82%    NC       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
75525         3750.00    690-694                  6                     18485
6712          7158.33    700-704                 15                     23152
22982         3916.67    705-709                 10                      7489
76797         9166.67    805-809                  9                      2670
95522         4500.00    680-684                 10                     12588

       Inquiries.in.the.Last.6.Months Employment.Length
75525                               0            1 year
6712                                0           6 years
22982                               0           3 years
76797                               0         10+ years
95522                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
47097              7200                     7200.00         7.90%   36 months
92717              7125                     7125.00         7.62%   36 months
10176             20500                    19861.23        14.96%   60 months
72251             18000                    18000.00        19.72%   60 months
47570             15000                    15000.00        18.25%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
47097  debt_consolidation               12.13%    NJ           RENT
92717    home_improvement                7.96%    GA            OWN
10176  debt_consolidation               10.76%    CA           RENT
72251  debt_consolidation               17.37%    AL           RENT
47570  debt_consolidation               22.45%    NV       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
47097         2333.33    725-729                  7                      6262
92717         2500.00    805-809                  5                       577
10176         2500.00    730-734                  2                       109
72251        10583.33    695-699                 13                     55691
47570         5078.75    665-669                 19                     13205

       Inquiries.in.the.Last.6.Months Employment.Length
47097                               1           2 years
92717                               0            1 year
10176                               0           2 years
72251                               0           5 years
47570                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
20885             14000                       14000        10.37%   60 months
3768               4800                        4750        12.21%   36 months
85464              8000                        8000        14.33%   36 months
45728             35000                       34900        18.25%   60 months
6326               3600                        3600         7.74%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
20885  debt_consolidation                8.69%    MA           RENT
3768              wedding                9.41%    CA           RENT
85464            vacation                4.48%    TX           RENT
45728  debt_consolidation               20.56%    GA       MORTGAGE
6326       major_purchase                1.41%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
20885         5833.33    785-789                  4                       961
3768          6250.00    695-699                 10                     21069
85464         6250.00    670-674                  8                     14607
45728         5666.67    725-729                  8                     22290
6326          5666.67    735-739                  6                      2907

       Inquiries.in.the.Last.6.Months Employment.Length
20885                               0           5 years
3768                                0          < 1 year
85464                               0            1 year
45728                               0         10+ years
6326                                0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
14469             20000                       19950        11.49%   36 months
58576             20000                       20000        22.45%   60 months
42148             10000                        9950        14.27%   36 months
38373             10000                       10000         9.91%   36 months
11626              4500                        4500         7.51%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
14469  debt_consolidation                8.84%    NY           RENT
58576  debt_consolidation               24.30%    VT           RENT
42148  debt_consolidation               12.63%    CA           RENT
38373         credit_card               14.98%    WA           RENT
11626              moving               13.90%    CA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
14469         7500.00    715-719                 11                      8848
58576         3666.67    660-664                  9                      9194
42148         7166.67    680-684                 11                     10309
38373         5000.00    710-714                  8                     16908
11626         3000.00    765-769                 10                       387

       Inquiries.in.the.Last.6.Months Employment.Length
14469                               0         10+ years
58576                               1            1 year
42148                               1          < 1 year
38373                               0         10+ years
11626                               0          < 1 year

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
42374              8000                        8000         7.90%   36 months
54073              7425                        7425         9.76%   36 months
97524             12000                       12000         6.03%   36 months
43444              9000                        9000        15.27%   36 months
80167             28000                       28000        16.29%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
42374         credit_card               23.69%    TX       MORTGAGE
54073  debt_consolidation                7.32%    NV       MORTGAGE
97524  debt_consolidation               18.75%    SC       MORTGAGE
43444  debt_consolidation               24.06%    AZ           RENT
80167         credit_card               19.62%    NV       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
42374         7083.33    725-729                 17                     15497
54073         2500.00    705-709                  6                      5045
97524        13000.00    725-729                 22                     20197
43444         4500.00    670-674                 10                      8533
80167         7083.33    710-714                 12                     38194

       Inquiries.in.the.Last.6.Months Employment.Length
42374                               1            1 year
54073                               1           4 years
97524                               0           5 years
43444                               1         10+ years
80167                               1         10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
47926              15575                    15550.00        13.67%
85685              10500                    10500.00        12.12%
102645              8500                     6727.42        16.83%
95322               3600                     3600.00        19.72%
19133              12000                    12000.00         7.29%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
47926    36 months      major_purchase                  18%    TX
85685    36 months  debt_consolidation               11.18%    OR
102645   36 months  debt_consolidation               14.68%    IL
95322    36 months              moving               10.72%    TX
19133    36 months      small_business               27.15%    NC

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
47926        MORTGAGE         6250.00    710-714                 18
85685            RENT         6666.67    710-714                 16
102645           RENT         5000.00    680-684                  9
95322            RENT         7000.00    665-669                  7
19133            RENT         6250.00    740-744                  7

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
47926                       5591                               2
85685                       7738                               1
102645                         0                               9
95322                       6263                               4
19133                      59089                               0

       Employment.Length
47926           < 1 year
85685            7 years
102645         10+ years
95322            6 years
19133            2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
6466              24250                    24144.61        11.83%   36 months
35596             20000                    20000.00        12.69%   36 months
62011             14000                    14000.00        12.12%   36 months
34411             10000                    10000.00         6.03%   36 months
39996              8000                     8000.00        12.42%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
6466       major_purchase                4.79%    CA           RENT
35596  debt_consolidation               15.55%    MN           RENT
62011               house                7.64%    TX           RENT
34411      major_purchase                5.01%    MD       MORTGAGE
39996  debt_consolidation                9.73%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
6466         12000.00    755-759                 10                      2097
35596         6166.67    710-714                  6                     22739
62011         6883.33    695-699                  7                      9715
34411        13750.00    775-779                 12                      4357
39996         3750.00    705-709                  8                     16212

       Inquiries.in.the.Last.6.Months Employment.Length
6466                                1          < 1 year
35596                               2          < 1 year
62011                               0           2 years
34411                               0         10+ years
39996                               2           6 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
19961             20000                       15000        17.51%   60 months
60353              3500                        3500        12.12%   36 months
34538             30000                       29975        20.89%   60 months
91639             12000                       12000        17.77%   36 months
41828             12250                       12250        19.03%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
19961         credit_card               15.97%    NV       MORTGAGE
60353  debt_consolidation               10.87%    TX       MORTGAGE
34538  debt_consolidation               15.86%    VA       MORTGAGE
91639  debt_consolidation               22.32%    CA           RENT
41828  debt_consolidation               23.18%    TX       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
19961         5373.33    695-699                 18                     25058
60353         4333.33    675-679                  9                      9971
34538        17917.00    695-699                 14                     86385
91639         4575.08    675-679                 13                      8048
41828         6550.00    660-664                 15                     22493

       Inquiries.in.the.Last.6.Months Employment.Length
19961                               0           3 years
60353                               0         10+ years
34538                               0           2 years
91639                               2          < 1 year
41828                               0           3 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
10721              9000                     9000.00         7.88%   60 months
66064             31825                    31825.00        14.09%   60 months
36798             24000                    23975.00        19.03%   60 months
5906              12800                    12787.71         8.94%   36 months
24044             20000                    20000.00        13.99%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
10721               other                   8%    MN       MORTGAGE
66064      major_purchase                4.37%    CA       MORTGAGE
36798  debt_consolidation               22.58%    NC       MORTGAGE
5906   debt_consolidation                0.18%    AZ       MORTGAGE
24044  debt_consolidation               21.33%    MO            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
10721         4750.00    800-804                 14                      5348
66064         6666.67    750-754                  4                     10864
36798         5416.67    680-684                 12                     13066
5906          2833.33    815-819                  7                       306
24044         4167.00    745-749                  8                     11372

       Inquiries.in.the.Last.6.Months Employment.Length
10721                               0         10+ years
66064                               0           4 years
36798                               0            1 year
5906                                0           4 years
24044                               3           9 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
41244             15000                       15000        12.69%   36 months
19585             15000                       14950        14.17%   36 months
384                5000                        3150        13.93%   36 months
74981             14000                       14000        14.09%   36 months
54428             21000                       21000        13.67%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
41244  debt_consolidation               14.02%    NY           RENT
19585      small_business                8.46%    OR       MORTGAGE
384                   car               22.57%    MN       MORTGAGE
74981               house               15.19%    MI           RENT
54428               other                8.08%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
41244         3916.67    705-709                 11                     16355
19585         6666.67    690-694                  8                      1073
384           6000.00    660-664                 17                     29877
74981         5416.67    690-694                  6                      4211
54428         7916.67    705-709                  6                      6524

       Inquiries.in.the.Last.6.Months Employment.Length
41244                               1           7 years
19585                               2           5 years
384                                 2         10+ years
74981                               0           5 years
54428                               1            1 year
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
19348              5000                        5000         6.92%   36 months
82882              5000                        5000        12.12%   36 months
91562              8000                        8000        11.14%   36 months
75837             10000                       10000        22.47%   36 months
26195              7000                        7000         6.99%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
19348  debt_consolidation               18.39%    MA            OWN
82882         credit_card               20.26%    RI       MORTGAGE
91562         credit_card                5.98%    DE       MORTGAGE
75837  debt_consolidation               34.26%    MD       MORTGAGE
26195  debt_consolidation               14.32%    CA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
19348         3333.33    725-729                  8                      5806
82882         6250.00    675-679                 19                     33500
91562         4333.33    710-714                  5                     11822
75837         6200.00    675-679                 36                     28850
26195         5166.67    775-779                  6                         0

       Inquiries.in.the.Last.6.Months Employment.Length
19348                               0          < 1 year
82882                               0         10+ years
91562                               2         10+ years
75837                               1           3 years
26195                               1         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
60761             11000                    11000.00         6.03%   36 months
78382             28000                    28000.00        20.49%   60 months
9618              24000                    21963.64        10.99%   36 months
82216             15000                    15000.00         8.90%   36 months
87554             24000                    23950.00        24.89%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
60761  debt_consolidation               12.04%    NC       MORTGAGE
78382      small_business                4.36%    MI           RENT
9618     home_improvement               19.27%    GA       MORTGAGE
82216  debt_consolidation               13.59%    CA       MORTGAGE
87554  debt_consolidation               29.46%    NH       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
60761         5836.67    790-794                 12                       420
78382         8416.67    710-714                 11                      1327
9618         12500.00    740-744                 11                     45989
82216         9583.33    735-739                 10                     13427
87554        10737.50    660-664                 26                     34602

       Inquiries.in.the.Last.6.Months Employment.Length
60761                               0          < 1 year
78382                               0           5 years
9618                                0         10+ years
82216                               3           5 years
87554                               2         10+ years

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
33095              5000                     5000.00        15.96%   36 months
26087             10000                    10000.00        10.59%   36 months
49619             16000                    16000.00        18.55%   36 months
2164              10000                     6301.07        14.11%   36 months
94183              8000                     8000.00        18.49%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
33095              moving               14.36%    NY           RENT
26087  debt_consolidation                9.68%    NY            OWN
49619  debt_consolidation               23.88%    MD           RENT
2164   debt_consolidation               16.52%    CO          OTHER
94183  debt_consolidation               23.37%    OH            OWN

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
33095         8166.67    660-664                  7                      7900
26087         8333.33    730-734                  5                     35968
49619         5653.67    660-664                 12                     16223
2164          4583.00    680-684                 16                     18707
94183         5000.00    670-674                 17                     18248

       Inquiries.in.the.Last.6.Months Employment.Length
33095                               1         10+ years
26087                               1         10+ years
49619                               0           5 years
2164                                1           3 years
94183                               1         10+ years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
39492              10000                       10000        11.71%
15510               5000                        5000         5.79%
45453              20000                       19975        22.78%
103374              3700                        3600         7.88%
68176              15000                       15000        17.77%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
39492    36 months               other                8.69%    NY
15510    36 months      major_purchase               15.69%    NY
45453    60 months         credit_card               24.42%    NV
103374   36 months               other               10.17%    CO
68176    36 months  debt_consolidation               22.45%    HI

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
39492            RENT         2750.00    695-699                  6
15510             OWN         5416.67    760-764                 11
45453        MORTGAGE         5666.67    665-669                 15
103374       MORTGAGE         4985.00    720-724                  6
68176            RENT         3500.00    670-674                 11

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
39492                       6621                               0
15510                       4979                               0
45453                      18451                               0
103374                     11586                               4
68176                       9868                               0

       Employment.Length
39492            3 years
15510          10+ years
45453            7 years
103374               NaN
68176            7 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
18049              9700                        9700        14.09%   36 months
70427              8450                        8450        18.49%   36 months
80246             25000                       25000        20.49%   60 months
34730             25000                       24950        13.49%   60 months
65776             15000                       15000        17.77%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
18049  debt_consolidation                9.52%    CA           RENT
70427      small_business               21.98%    CA            OWN
80246  debt_consolidation                9.15%    NY           RENT
34730  debt_consolidation               19.97%    CO            OWN
65776  debt_consolidation               18.24%    GA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
18049         7333.33    665-669                  9                     14723
70427         2083.33    660-664                 14                      7352
80246         5833.33    690-694                  7                     14953
34730         4166.67    745-749                  4                     17849
65776         6000.00    670-674                 16                     14513

       Inquiries.in.the.Last.6.Months Employment.Length
18049                               0           3 years
70427                               2           3 years
80246                               0           9 years
34730                               0           3 years
65776                               2         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
73194             14575                       14575        19.05%   36 months
86479             14775                       14775        21.00%   60 months
12976              2000                        2000        11.49%   36 months
62891              2575                        2575        10.16%   36 months
63768              4200                        4200        14.33%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
73194  debt_consolidation               24.23%    OR           RENT
86479  debt_consolidation               27.59%    CT       MORTGAGE
12976      major_purchase                2.44%    CA           RENT
62891  debt_consolidation               27.54%    NY           RENT
63768                 car               14.16%    NJ           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
73194         3833.33    660-664                 13                     13753
86479         4473.33    675-679                 10                     33869
12976         2500.00    700-704                  4                        67
62891         4166.67    695-699                 12                     18499
63768         3850.00    700-704                  4                      5718

       Inquiries.in.the.Last.6.Months Employment.Length
73194                               0         10+ years
86479                               3         10+ years
12976                               0           2 years
62891                               0           2 years
63768                               0           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
6711               8000                     8000.00        20.52%   36 months
24353              9500                     9500.00        14.79%   60 months
9115              16750                    16445.93         9.88%   36 months
83807             12300                    12300.00        13.11%   36 months
89837              4000                     4000.00        17.27%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
6711       small_business                8.12%    CT           RENT
24353  debt_consolidation               12.13%    OK           RENT
9115          credit_card               10.25%    IL       MORTGAGE
83807  debt_consolidation                8.01%    MD            OWN
89837  debt_consolidation               16.29%    TX       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
6711          2500.00    675-679                  5                      7327
24353         3000.00    710-714                  4                     14227
9115          3338.00    750-754                 10                     18696
83807         3083.33    685-689                  6                      6162
89837         3750.00    665-669                  7                     13284

       Inquiries.in.the.Last.6.Months Employment.Length
6711                                2          < 1 year
24353                               1           3 years
9115                                1           5 years
83807                               0           9 years
89837                               1           4 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
11723             20000                       20000        18.30%   60 months
22659             12000                       12000        12.68%   60 months
69872              4375                        4375        14.33%   36 months
9163               3000                        3000        14.59%   36 months
59011             13000                       13000         6.62%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
11723  debt_consolidation               15.91%    NY       MORTGAGE
22659         credit_card                9.55%    VA       MORTGAGE
69872  debt_consolidation                  12%    MI           RENT
9163                other               19.59%    NJ           RENT
59011                 car                5.95%    NJ       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
11723         5833.00    690-694                  5                     16140
22659         9750.00    705-709                  9                     17259
69872         3333.33    675-679                 10                      2440
9163          4073.00    660-664                  8                      6941
59011        11666.67    750-754                 16                     11451

       Inquiries.in.the.Last.6.Months Employment.Length
11723                               1         10+ years
22659                               0           8 years
69872                               2          < 1 year
9163                                2           5 years
59011                               1           7 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
92954             16200                       16200         8.90%   36 months
90560             11400                       11375         8.90%   36 months
79820             25875                       25875        18.49%   60 months
13767             15000                       15000        19.04%   60 months
79164             20950                       20950        22.95%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
92954  debt_consolidation               22.76%    NY       MORTGAGE
90560  debt_consolidation               14.27%    CA       MORTGAGE
79820  debt_consolidation               13.83%    NM       MORTGAGE
13767  debt_consolidation               16.69%    CA           RENT
79164  debt_consolidation               12.51%    MA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
92954         4666.67    725-729                  8                     15503
90560         5641.67    740-744                  9                     11092
79820         6000.00    715-719                  8                     12316
13767         5250.00    680-684                  7                      8615
79164        10416.67    665-669                 14                     12460

       Inquiries.in.the.Last.6.Months Employment.Length
92954                               0           7 years
90560                               1         10+ years
79820                               2         10+ years
13767                               1           2 years
79164                               3               NaN
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
26867             14000                       12800        14.79%   60 months
3508               2000                        2000        16.00%   36 months
52759             25000                       25000         7.90%   36 months
72356             28200                       28150        10.16%   60 months
42253             20000                       19925        18.64%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
26867               other                8.37%    MI           RENT
3508              medical                2.55%    OR           RENT
52759  debt_consolidation                1.73%    OR           RENT
72356    home_improvement               10.35%    CA       MORTGAGE
42253      small_business               15.41%    MO       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
26867         6166.67    710-714                  5                      2697
3508          2000.00    665-669                  8                         0
52759         7500.00    765-769                  4                      4329
72356         5900.00    780-784                 13                     20670
42253         6250.00    680-684                  5                      3105

       Inquiries.in.the.Last.6.Months Employment.Length
26867                               2          < 1 year
3508                                0          < 1 year
52759                               0           4 years
72356                               0         10+ years
42253                               1         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
98954             24000                       24000        16.29%   36 months
98510             21850                       21850        17.27%   60 months
5821              20000                       19850        13.22%   36 months
8692              16000                       15875        13.85%   36 months
94839             10000                       10000        11.14%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
98954  debt_consolidation               29.05%    VT       MORTGAGE
98510  debt_consolidation               21.94%    MD            OWN
5821   debt_consolidation                9.07%    GA           RENT
8692   debt_consolidation               12.50%    IL           RENT
94839         credit_card               19.61%    PA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
98954         5577.26    690-694                 10                     13393
98510         4166.67    710-714                 14                     20971
5821          5458.33    705-709                  7                     15389
8692          6750.00    685-689                 12                      6799
94839         3916.67    720-724                  9                      6395

       Inquiries.in.the.Last.6.Months Employment.Length
98954                               1           2 years
98510                               0           4 years
5821                                0           2 years
8692                                2           7 years
94839                               1           2 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
68406             20000                       20000        14.09%   36 months
86117              1000                        1000         7.90%   36 months
14044              3500                        3500        11.49%   36 months
43056             15000                       15000         7.90%   36 months
45519             19000                       19000        13.67%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
68406         credit_card                9.16%    NJ       MORTGAGE
86117    home_improvement               17.07%    FL       MORTGAGE
14044    home_improvement               14.43%    MI       MORTGAGE
43056         credit_card               22.24%    CA           RENT
45519  debt_consolidation               15.12%    PA           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
68406        19583.33    710-714                 12                     31277
86117         3333.33    720-724                  8                      3186
14044         9166.67    690-694                 12                     34944
43056         2666.67    735-739                 15                     11105
45519         3544.67    685-689                 21                      9503

       Inquiries.in.the.Last.6.Months Employment.Length
68406                               1           7 years
86117                               1           3 years
14044                               2         10+ years
43056                               0          < 1 year
45519                               0          < 1 year

CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
45424             12000                     11950.0         6.03%   36 months
92038             22750                     22750.0        22.47%   60 months
21716              9800                      9747.5         7.29%   36 months
19492              3500                      3500.0         7.29%   36 months
22132             20000                     17724.9        10.74%   60 months

           Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
45424  home_improvement                9.61%    NV            OWN
92038  home_improvement               29.03%    CO            OWN
21716       credit_card                8.96%    OR           RENT
19492             other               15.54%    CA       MORTGAGE
22132            moving                3.07%    NC       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
45424         3100.00    755-759                  7                     11076
92038         4333.33    670-674                 15                     11567
21716         2333.33    730-734                  8                     11459
19492         6333.00    715-719                 12                     41602
22132         6125.00    755-759                  5                     17797

       Inquiries.in.the.Last.6.Months Employment.Length
45424                               0               NaN
92038                               1            1 year
21716                               0           5 years
19492                               0         10+ years
22132                               0           2 years
CHUNK DF
        Amount.Requested  Amount.Funded.By.Investors Interest.Rate  \
84265              20000                    20000.00        22.95%
80231              19000                    19000.00         7.90%
49533              17300                    17250.00        22.45%
102514              7000                      711.54        15.13%
78618               7200                     7200.00        18.75%

       Loan.Length        Loan.Purpose Debt.To.Income.Ratio State  \
84265    60 months  debt_consolidation                7.10%    NJ
80231    36 months  debt_consolidation                9.76%    RI
49533    60 months             wedding                3.58%    PA
102514   36 months      major_purchase               18.91%    CO
78618    36 months  debt_consolidation               16.21%    MI

       Home.Ownership  Monthly.Income FICO.Range  Open.CREDIT.Lines  \
84265            RENT         6750.00    665-669                  6
80231        MORTGAGE         5166.67    770-774                 18
49533        MORTGAGE         5500.00    685-689                 11
102514       MORTGAGE         3833.00    650-654                 13
78618            RENT         8333.33    660-664                  8

        Revolving.CREDIT.Balance  Inquiries.in.the.Last.6.Months  \
84265                      16104                               1
80231                      43617                               2
49533                       2306                               3
102514                     12634                               0
78618                      28916                               0

       Employment.Length
84265            7 years
80231          10+ years
49533            4 years
102514           2 years
78618          10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
86953             10000                       10000        14.09%   36 months
80129              4000                        3925        14.09%   36 months
85216             17500                       17500         8.90%   36 months
38247             20000                       20000        11.71%   36 months
91245             16200                       16200        15.80%   60 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
86953      major_purchase                9.71%    CO           RENT
80129         credit_card               12.27%    FL       MORTGAGE
85216  debt_consolidation               10.94%    UT       MORTGAGE
38247         credit_card                9.58%    SD       MORTGAGE
91245  debt_consolidation                7.92%    PA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
86953         4583.33    675-679                  6                      3859
80129         8583.33    675-679                  9                     36943
85216        25000.00    730-734                  9                     34545
38247         5416.67    725-729                 12                     18267
91245         4833.33    680-684                 12                     12313

       Inquiries.in.the.Last.6.Months Employment.Length
86953                               0          < 1 year
80129                               1         10+ years
85216                               0           6 years
38247                               1           4 years
91245                               2         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
53041             10000                       10000         6.03%   36 months
63051             27000                       27000         6.62%   36 months
14446              4500                        4475         7.51%   36 months
68628             15875                       15875        14.33%   36 months
98758             15000                       15000        10.16%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
53041      small_business               13.03%    FL           RENT
63051  debt_consolidation               12.21%    OH       MORTGAGE
14446      small_business               20.27%    VA       MORTGAGE
68628      small_business               17.44%    MD       MORTGAGE
98758         credit_card               28.28%    OH       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
53041         5000.00    760-764                  8                      3952
63051         9250.00    810-814                 12                      4211
14446         7075.50    720-724                 15                     68618
68628         3416.67    675-679                 11                     15891
98758         6666.67    690-694                 15                     14880

       Inquiries.in.the.Last.6.Months Employment.Length
53041                               0           2 years
63051                               0           5 years
14446                               2         10+ years
68628                               0           2 years
98758                               0         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
13070             25000                       24950        10.75%   36 months
45836              7000                        7000        17.27%   36 months
52330             15000                       15000        19.99%   36 months
48243             17000                       17000        15.81%   36 months
63256             19075                       19075        18.75%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
13070  debt_consolidation               20.48%    OR       MORTGAGE
45836               other               18.38%    NY            OWN
52330             wedding               18.05%    CA           RENT
48243  debt_consolidation               17.01%    CO           RENT
63256  debt_consolidation               15.23%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
13070         7083.33    765-769                 10                     25429
45836         2464.37    665-669                  9                      7089
52330         8000.00    660-664                  6                     45976
48243         3833.33    685-689                  6                     15484
63256         5166.67    670-674                 17                     13749

       Inquiries.in.the.Last.6.Months Employment.Length
13070                               0           6 years
45836                               0           3 years
52330                               1           2 years
48243                               1           6 years
63256                               3         10+ years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
42124             10000                       10000        11.71%   36 months
78043              8475                        8475         7.62%   36 months
925                6400                        6350        10.08%   36 months
74047             30000                       30000        23.28%   60 months
49957             24000                       23975        14.65%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
42124  debt_consolidation                8.40%    CA           RENT
78043  debt_consolidation               15.88%    CA           RENT
925    debt_consolidation                8.11%    NJ       MORTGAGE
74047               other               12.10%    IL       MORTGAGE
49957  debt_consolidation               15.29%    WA       MORTGAGE

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
42124         4500.00    710-714                  8                      8404
78043         3983.33    720-724                  9                      6882
925           5166.67    710-714                  5                      5815
74047         7083.33    675-679                 16                     17969
49957         6666.67    685-689                 13                     17521

       Inquiries.in.the.Last.6.Months Employment.Length
42124                               1           3 years
78043                               0               NaN
925                                 2         10+ years
74047                               1         10+ years
49957                               0           5 years
CHUNK DF
       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
23735             30000                    29950.00        16.77%   60 months
65882             16000                    16000.00        14.09%   60 months
55610             10000                    10000.00        13.99%   36 months
38576              6000                     6000.00        12.42%   36 months
3116               9000                     5242.75        13.79%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
23735  debt_consolidation               19.23%    NY       MORTGAGE
65882    home_improvement               21.54%    MD            OWN
55610  debt_consolidation                4.89%    PA       MORTGAGE
38576      major_purchase               16.66%    NJ           RENT
3116   debt_consolidation                6.76%    NY           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
23735         9250.00    705-709                 15                     45880
65882         8903.25    740-744                 18                     18898
55610         2166.67    680-684                  4                      4544
38576         3500.00    675-679                  8                      7753
3116          3875.00    670-674                  7                      7589

       Inquiries.in.the.Last.6.Months Employment.Length
23735                               1           8 years
65882                               1         10+ years
55610                               0         10+ years
38576                               0           5 years
3116                                0         10+ years

In [343]:
new_df = pd.DataFrame(columns=df.columns)
for df in pd.read_csv('/root/data/loansData.csv', chunksize=5):
    results = df.groupby(['Loan.Purpose']).count()
    new_df = pd.concat([new_df, results])

/root/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

In [344]:
new_df

,Amount.Funded.By.Investors,Amount.Requested,Debt.To.Income.Ratio,Employment.Length,FICO.Range,Home.Ownership,Inquiries.in.the.Last.6.Months,Interest.Rate,Loan.Length,Loan.Purpose,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,State
credit_card,1,1,1,1,1,1,1,1,1,NaN,1,1,1,1
debt_consolidation,4,4,4,4,4,4,4,4,4,NaN,4,4,4,4
credit_card,3,3,3,3,3,3,3,3,3,NaN,3,3,3,3
debt_consolidation,1,1,1,1,1,1,1,1,1,NaN,1,1,1,1
other,1,1,1,1,1,1,1,1,1,NaN,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
debt_consolidation,4,4,4,3,4,4,4,4,4,NaN,4,4,4,4
other,1,1,1,1,1,1,1,1,1,NaN,1,1,1,1
debt_consolidation,3,3,3,3,3,3,3,3,3,NaN,3,3,3,3
home_improvement,1,1,1,1,1,1,1,1,1,NaN,1,1,1,1
major_purchase,1,1,1,1,1,1,1,1,1,NaN,1,1,1,1

## Data cleaning and Tidying

In [1]:
import pandas as pd
gap = pd.read_csv('/root/Supervised learning/gapminder.tsv', sep='\t')

FileNotFoundError: [Errno 2] File b'/root/Supervised learning/gapminder.tsv' does not exist: b'/root/Supervised learning/gapminder.tsv'

## Melting dataframe /Unpivot

In [1]:
import pandas as pd
unpivot = pd.read_excel('unpivot.xlsx')

In [2]:
unpivot.head()

    Product  Quarter 1  Quarter 2  Quarter 3  Quarter 4
0    Apples       1682        993       1203       1984
1   Bananas        852       1321        243       3427
2     Bread        192       1767       2853       1937
3  Brocolli       2363       2703       2403       1302
4   Oranges        286       1703        148       1254

In [4]:
new = pd.melt(id_vars='Product', var_name= 'Quarter', value_name='sales' )

TypeError: melt() missing 1 required positional argument: 'frame'